[2019-02-27 21:06] swiftdiaries opened #3 "Port over ksonnet components to kustomize"
Related issue: https://github.com/kubeflow/kubeflow/issues/2566

[2019-02-27 21:06] swiftdiaries commented on #3
/assign @swiftdiaries

[2019-02-27 23:55] swiftdiaries opened #4 "Thinking around kustomize layout"
This is to explain the thought process around directory organization in the repo.

The kustomization.yaml at the root of the project contains the list of components with the variants that are to be deployed in the cluster.

A new user workflow would look like this:
[code]
For an advanced user, the goal is to allow for maximum flexibility.

The overlays inside each component allows an advanced user

[2019-03-05 20:13] kkasravi opened #6 "Add inference-model-manager kustomize manifests into kubeflow, kfctl"
See https://github.com/kubeflow/kubeflow/issues/2594

[2019-03-14 04:19] swiftdiaries opened #7 "Profiles controller kustomize manifest depends on https://github.com/kubeflow/kubeflow/pull/2692"
Once this PR gets merged we should update the base in the kustomization at the root of the repo.

[2019-03-19 15:54] cliveseldon opened #10 "Seldon Core conversion"
We'd like to convert the Seldon KSonnet components. Happy to do a PR for this. Any advice/docs on what you did for the existing components to convert them?

[2019-03-21 00:30] swiftdiaries commented on #10
I did a `ks show <environment name> -c <component name> > component.yaml`
And then for the directory layout, I think you can look at the existing manifests and model them around that.
We currently bake in most of the ksonnet parameters so that the resulting manifest is more or less ready to use off the shelf

[2019-03-21 00:33] swiftdiaries commented on #10
But I think long term, we need to think about providing a converter so that we can ease migration for end-users like David mentioned at the community meeting.

[2019-04-15 21:44] lluunn opened #18 "convert TF serving manifest to kustomize"
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/tf-serving
we need
- tf-serving-service-template.libsonnet
- tf-serving-template.libsonnet

tf-serving.libsonnet is old one and can be removed

[2019-04-16 14:24] jlewi commented on #18
Are we sure we want to do this? How useful is a kustomize manifest for TFServing (TFJob, Katib, and other Kubeflow resources) compared to just providing specific examples in the form of YAML that people can copy and paste for their particular use case?

[2019-04-16 14:25] jlewi opened #19 "cert-manager isn't GCP specifc; refactor package organization"
#13 is putting the cert-manager package in a GCP component.

But cert-manager isn't GCP specific so we should probably refactor that.

[2019-04-16 14:30] jlewi opened #20 "admission hook for credentials should not be in GCP package"
As part of generalizing the admission controller for injecting credentials we should move it out of the GCP package.

/cc @zabbasi

[2019-04-16 14:40] jlewi opened #21 "Move Application CR definition out of metacontroller package"
Follow on to #13. Application controller was added to the metacontroller package.

Historically we were using the metacontroller as the application controller. With 0.6 I think the plan is to use the application controller provided by sig-apps.

So it probably makes sense to move the application cr out of the metacontroller package.

[2019-04-18 17:25] jlewi opened #23 "Should argo overlay just let users override the complete configmap rather than exposing all the individual parameters?"
Follow on to #13
See [comment](https://github.com/kubeflow/manifests/pull/13#pullrequestreview-227224066)

Here is the ConfigMap for Argo specified in #13
https://github.com/kubeflow/manifests/blob/a66ff97af0a505af086965f498917b1f5a3e2db4/argo/base/config-map.yaml

Every field in the config map is exposed as a parameter. These parameters are then set in the kustomization.yaml.

Instead of paramete

[2019-04-18 17:30] jlewi opened #24 "Demo script just install TFJob - don't use kfctl"
I think one of the overarching goals in Kubeflow is to make Kubeflow less monolithic and easier for people to install the particular applications they want e.g. TFJob.

I think a good way to evaluate our use of kustomize would be to see how easy it is to install just a particular CR.

I think a good exercise would be to create a doc with the instructions for installing just TFJob.

It might be nic

[2019-04-18 23:08] hougangliu commented on #24
@jlewi make sense

[2019-04-19 06:56] hougangliu opened #26 "ambassador should be dropped"
since kubeflow 0.6 will drop ambassador as [here](https://github.com/kubeflow/kubeflow/issues/3021#issuecomment-484724088), I think maybe we should drop ambassador manifest, too.

[2019-04-19 07:18] hougangliu opened #27 "how to customize a manifest by params"
Take the example as [here](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-training/tf-job-operator.libsonnet#L99-L110),  whether`--namespace` and `--enable-gang-scheduling`  are appended into args is based on two params.

For kustomize manifest counterpart, 4 overlays is need to cover all the cases of its [ksonnet version](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-

[2019-04-19 15:33] kkasravi commented on #27
@hougangliu @jlewi @swiftdiaries these won't be covered by overlays, rather by vars that are inserted into a ConfigMap.

I'll do this component and update the manifests README.md to show how this was done as an example. I'll open the PR this morning or early afternoon.

[2019-04-19 20:24] swiftdiaries commented on #26
Once a VirtualService is defined for all existing components (that use Ambassador) in Istio and Istio is also added to the manifests, we'll be well placed to remove Ambassador

[2019-04-19 20:28] swiftdiaries commented on #24
Just to clarify, Do we want to go from a k8s cluster with nothing to installing TFJob both with and without kfctl?

[2019-04-19 20:54] kkasravi commented on #27
@hougangliu @jlewi @swiftdiaries @ashahba the enableGangScheduling boolean which, if true, updates the ClusterRole rules sections and adds a flag to the command in the deployment podtemplate will likely be done using a device overlay.
I'm thinking of enabling different overlays in the app.yaml under componentParams for example
app.yaml
[code]

Currently if a platform is specified to kfctl (kftcl i

[2019-04-19 23:05] kkasravi commented on #24
Great idea. We should add to the README.md a section on deploying a single component either in manifests or some other kustomize target

[2019-04-22 00:27] hougangliu commented on #27
@kkasravi good idea!

[2019-04-22 13:38] jlewi commented on #27
Might this (gang scheduling) be a case where users have to define a new overlay combining the different options?

Can you describe the example in more detail? E.g what are the parameters and what are they controlling?

If IUUC there are different roles and bindings and different command line arguments.

What if we provided different overlays/manifests for the roles and bindings and added users to

[2019-04-22 14:00] jlewi commented on #24
@swiftdiaries This issue is about installing a single application e.g. TFJob. I'd like to understand what the UX is without using kfctl. My initial expectation is that installing just TFJob using kubectl and kustomize would be pretty straightforward. If its not, I'd like to understand what exactly the pain points/friction is. If its not straightforward to install just via kubectl/kustomize then it

[2019-04-26 13:22] kkasravi commented on #27
i'll have a PR this morning

[2019-04-29 21:17] kkasravi commented on #27
@jlewi

This is the approach being taken in #34.

[code]

The cluster overlay adds cluster-role and cluster-role-binding resources, the namespaced overlay
adds role and role-binding resources. For cluster, both deployments are modified to add KUBEFLOW envs

[code]

However, I'm not sure I entirely understand how deploymentNamespace parameter should work with Profiles.
My understand was that we wou

[2019-04-29 21:28] kkasravi commented on #27
In both cases above, the 'deploymentNamespace' would only be used to specify a different namespace other that 'kubeflow' which - would we ever use this?. And (unless I'm missing something), the tf-operator is missing information on where to launch the TFJob for Profiles.

[2019-05-01 04:14] jlewi opened #37 "Sync centraldashboard roles"
See:
https://github.com/kubeflow/kubeflow/pull/3097

Those changes will need to be ported over.

/cc @prodonjs @avdaredevil

[2019-05-02 19:34] prodonjs commented on #37
/assign @prodonjs
/area front-end
/area centraldashboard

[2019-05-02 19:34] prodonjs commented on #37
/cc @avdaredevil

[2019-05-06 14:08] kkasravi opened #44 "Include unit tests in CI"
Unit tests are part of PR #34 but need to be added to prow for CI and should also include
- [ ] testing of different parameters
- [ ] negative testing

[2019-05-06 21:01] #37 closed

[2019-05-06 21:54] kkasravi opened #48 "define naming and best practices for kustomize manifests"
We should add a document that is linked from README.md that defines
- [ ] what the kustomization file should look like
- [ ] what each section does including
  - [ ] commonLabels
  - [ ] resources
- [ ] when overlays are used
- [ ] how multiple overlays are used and their constraints
- [ ] naming of resources, groupings of resources if preferred

[2019-05-07 01:45] kkasravi opened #49 "add unit tests and test harness"
kustomize has a test harness that we should leverage and automate test case generation

[2019-05-07 08:13] kkasravi opened #51 "Restructure istio/ambassador as overlays"
Move both the Service and VirtualService under overlays

Theses overlays will be included based on the useIstio flag in ‘kfctl init ...’

[2019-05-07 11:28] kkasravi opened #52 "Change the Role verbs of a Profile user to prevent the user from getting a Profile"
The Role should be

[code]

[2019-05-07 17:13] kunmingg commented on #52
Which user should this role be bind to? Admin or normal user?
For example on GCP normal user's default permission:
https://github.com/kubeflow/kubeflow/issues/2982

[2019-05-08 09:50] kkasravi opened #53 "iap-ingress is missing parameters used in ksonnet"
/manifests/gcp/iap-ingress/overlays/gcp is missing the parameters from ksonnet

ipName=
secretName=envoy-ingress-tls
hostname=
issuer=letsencrypt-prod
oauthSecretName=kubeflow-oauth
istioNamespace=istio-system
ingressName=envoy-ingress

[2019-05-08 10:05] kkasravi opened #54 "basic-auth-ingress is missing from gcp"
from ksonnet gcp/prototypes/basic-auth-ingress.jsonnet

parameters are

namespace=
ipName=
hostname=
secretName=envoy-ingress-tls
ingressSetupImage=gcr.io/kubeflow-images-public/ingress-setup:latest
privateGKECluster=false
ingressName=envoy-ingress
issuer=letsencrypt-prod

[2019-05-08 10:24] kkasravi opened #55 "document missing kustomize targets that need to be ported from ksonnet"
the list of ksonnet prototypes is

./application/prototypes/application.jsonnet
./argo/prototypes/argo.jsonnet
./automation/prototypes/release.jsonnet
./aws/prototypes/aws-alb-ingress-controller.jsonnet
./aws/prototypes/aws-efs-csi-driver.jsonnet
./aws/prototypes/aws-efs-pv.jsonnet
./aws/prototypes/aws-fsx-csi-driver.jsonnet
./aws/prototypes/aws-fsx-pv-dynamic.jsonnet
./aws/prototypes/aws-fsx-pv-s

[2019-05-08 15:52] kkasravi opened #57 "extend the test harness to incorporate parameters and negative testing"
currently the test harness is a pending PR #50 that generates golang test cases which compare the concatenation of all resources with the output of `kustomize build`.  This has a few limitations:

- [ ] the parameters most targets take should be passed into the target
- [ ] the other parts of the kustomization file: vars, configMapGenerator, patchesStrategicMerge, patchesJson6902 shouldn't be igno

[2019-05-08 18:08] kkasravi commented on #52
@kunmingg normal user (gcp). So the user can only submit Profiles to the kubeflow namespace. The user then gets an admin role in their profile namespace. The user has 2+ rolebindings - one in kubeflow, one in his/her profile namespace(s). But the user has no clusterrolebindings.

[2019-05-08 20:31] kkasravi commented on #57
steps Ebi and I will collaborate on

- [ ] checkout PR #50
- [ ] cd tests
- [ ] run make
- [ ] fix any recently merged breakages
- [ ] convert scripts under hack: gen-test-target,gen-test-targets,utils to golang in #50
- [ ] create a plugin entry point
- [ ] add parameters and other things in kustomization.yaml like vars, createConfigMapGenerator, patchesJson6902 and make tests for them

[2019-05-09 22:59] #49 closed

[2019-05-10 00:11] ashahba commented on #57
- [ ] setup prow for gating the repo when new manifests are added or existing ones are modified

[2019-05-10 00:12] ashahba commented on #57
+ @hougangliu

[2019-05-10 05:50] kkasravi opened #60 "Resource ordering isn't considered when adding overlays"
this is related to kubeflow/kubeflow/issues/3207 where the deployment of k8s fails because basic-auth-ingress has a dependency on cloud-endpoints resource: crd.yaml. During deployment basic-auth fails due to CloudEndpoint not having the CRD registered.

[2019-05-10 07:37] hougangliu commented on #57
once https://github.com/kubernetes/test-infra/pull/12579 merged, I will create PR from [this branch](https://github.com/hougangliu/manifests/tree/prow-setup) to enable prow.

[2019-05-10 20:49] kkasravi opened #61 "move gcp components from overlays/gcp to base"
currently under manifests the gcp targets are organized as overlays

[code]

This is no longer necessary since we define the gcp overlay in bootstrap/config/overlays/gcp

the new directory layout should look like

[code]

[2019-05-12 23:24] #54 closed

[2019-05-13 00:46] jlewi commented on #3
Duplicate of kubeflow/kubeflow#2566

[2019-05-13 00:46] #3 closed

[2019-05-13 06:30] kkasravi opened #66 "add application-controller and application overlays"
the application controller will be deployed as a stateful-set.

kustomize targets register their application as an overlay.

this feature could be enabled via an annotation on KfDef (app.yaml)

[2019-05-13 13:50] #61 closed

[2019-05-13 14:32] kkasravi commented on #66
/assign @kkasravi

[2019-05-13 14:43] kkasravi commented on #20
/assign @zabbasi

[2019-05-13 18:23] kkasravi commented on #51
/priority p1

[2019-05-14 23:53] kkasravi opened #71 "jupyter_test.go and profiles_test.go are replacing overlays and causing errors in run-tests"
below is the output of run-tests under /manifests/tests/scripts

[code]

[2019-05-15 03:49] kkasravi commented on #71
/close

[2019-05-15 03:49] #71 closed

[2019-05-15 04:14] kkasravi opened #74 "create a new 'fake' package that shows best practices"
It should be paired with the docs/KustomizeBestPractices.md so that the user can walk through different kustomize manipulations.

could be presented during community meeting

[2019-05-15 04:22] kkasravi opened #75 "create a migration guide that shows how to migrate from ksonnet"
this should be along side docs/KustomizeBestPractices.md.

The 2 documents should be treated independently to minimize confusion.

[2019-05-15 14:06] #48 closed

[2019-05-15 22:16] gabrielwen commented on #51
no, I don't think we need to do this.  Discussed with @lluunn before I started adding VirtualService manifests, we assume that we don't need `useIstio` flag after we migrate to kustomize.  That is, our assumption is we will fully migrate to ISTIO in v0.6

[2019-05-15 22:32] kkasravi commented on #51
ok i can close this unless we want to isolate the service layer in this way

[2019-05-15 23:18] jlewi commented on #51
I agree with @gabrielwen

[2019-05-16 03:04] kkasravi commented on #51
ok, thanks. I'll close.

[2019-05-16 03:04] #51 closed

[2019-05-16 03:09] #20 closed

[2019-05-17 18:06] #57 closed

[2019-05-17 20:11] kkasravi opened #81 "test_harness: checkin the generated golang tests"
the test_harness will create golang tests for all manifest targets.
Resources are embedded within the golang code as part of the generation.
This needs to be versioned so test/scripts/run-tests.sh will just run the
`make test` - comparing changes in resources (actual) with expected.

[2019-05-17 20:11] kkasravi commented on #81
/assign @ashahba

[2019-05-17 20:11] kkasravi commented on #81
/assign @hougangliu

[2019-05-17 20:12] kkasravi commented on #81
/unassign @ashahba

[2019-05-17 20:12] kkasravi commented on #81
/unassign @hougangliu

[2019-05-17 20:12] kkasravi commented on #81
/assign @kkasravi

[2019-05-17 20:42] kkasravi opened #83 "add resource schema validation to unit tests"
taking the output of `kustomize build` and piping it to `kubectl apply --validate --dry-run -f -` will validate resource schemas. This should be added to the test harness

[2019-05-17 20:42] kkasravi commented on #83
/assign @kkasravi

[2019-05-17 21:06] kkasravi commented on #44
fixed by #65

[2019-05-17 21:07] kkasravi commented on #44
/close

[2019-05-17 21:07] #44 closed

[2019-05-17 21:09] kkasravi commented on #19
this has been merge

[2019-05-17 21:09] kkasravi commented on #19
/close

[2019-05-17 21:09] #19 closed

[2019-05-17 21:40] kkasravi opened #84 "run unit tests as a test overlay"
kustomize plugins are explained in several places
[plugins.md](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins.md)
[doc.go](https://github.com/kubernetes-sigs/kustomize/blob/master/plugin/doc.go)

kustomize plugins will be used to generate unit tests for the targets under manifests.

unit tests should emulate kfctl which generates a kustomization.yaml at the root of the kusto

[2019-05-17 21:42] kkasravi commented on #84
/assign @kkasravi

[2019-05-18 00:02] kkasravi commented on #83
/assign @ashahba

[2019-05-18 00:31] #81 closed

[2019-05-18 00:33] kkasravi opened #85 "provide documentation on how the tests work"
create a document under docs, link in the README.md explaining the current unit tests, how to regenerate the code, how to test. Some upcoming improvements, etc.

[2019-05-18 14:32] kkasravi opened #86 "unit tests should test for custom resources"
An example is the CRD Notebook. The example in the [README.md](https://github.com/kubeflow/kubeflow/pull/3308) had incorrectly specified the securityContext and ttlSecondsAfterFinished. This should be caught within the unit tests where custom resources are included in the unittests as examples and their schemas can be checked

[2019-05-20 17:52] kkasravi opened #87 "provide clear resource naming suggestions in the BestPractices document"
goals:

- [ ] reduce possible naming conflicts from different kustomize targets
- [ ] allow possible automation in naming
- [ ] aid in searches when the name of a given resource is predictable

[2019-05-20 20:25] #53 closed

[2019-05-21 20:31] gabrielwen opened #96 "iap-enabler failure - envoy-ingress-tls not found"
![image](https://user-images.githubusercontent.com/4784270/58128553-c75fcd00-7bcc-11e9-8f1f-ba5b8d0c43ca.png)

[2019-05-21 20:32] gabrielwen commented on #96
/kind bug

[2019-05-21 20:32] gabrielwen commented on #96
/priority p0

[2019-05-21 20:33] gabrielwen opened #97 "minio not able to instantiate - PVC missing"
![image](https://user-images.githubusercontent.com/4784270/58128698-1279e000-7bcd-11e9-8d1c-3dea93b75316.png)

[2019-05-21 20:34] gabrielwen commented on #97
/kind bug

[2019-05-21 20:34] gabrielwen commented on #97
/priority p0

[2019-05-21 20:35] gabrielwen opened #98 "ml-pipeline api server crashes - missing flag MYSQL_SERVICE_HOST"
[code]

[2019-05-21 20:35] gabrielwen commented on #98
/kind bug

[2019-05-21 20:35] gabrielwen commented on #98
/priority p0

[2019-05-21 20:37] gabrielwen opened #99 "ISTIO related deployments are deployed to wrong namespace"
Should be in `istio-system`, but it's deployed to `kubeflow` instead.

example:
[code]

[2019-05-21 20:37] gabrielwen commented on #99
/kind bug

[2019-05-21 20:38] gabrielwen commented on #99
/priority p0

[2019-05-21 20:40] gabrielwen opened #100 "ml-pipeline-mysql unschedulable: PVC missing"
`persistentvolumeclaim "ml-pipeline-mysql-persistent-volume-claim" not found`

[2019-05-21 20:40] gabrielwen commented on #100
/kind bug

[2019-05-21 20:40] gabrielwen commented on #100
/priority p0

[2019-05-21 20:47] gabrielwen commented on #96
/assign @gabrielwen

[2019-05-21 21:10] gabrielwen commented on #99
/assign @gabrielwen

[2019-05-21 23:08] gabrielwen commented on #99
/remove-assign @gabrielwen

[2019-05-21 23:10] gabrielwen commented on #99
/unassign @gabrielwen

[2019-05-21 23:10] gabrielwen commented on #99
/assign @kkasravi

[2019-05-21 23:14] kkasravi opened #101 "reorganize gcp/iap-ingress so that istioNamespace is done as an overlay"
if istioNamespace != the value of --namespace (default kubeflow) then use an overlay to define the namespace for all resources that would be put in that namespace.

[2019-05-22 01:26] #52 closed

[2019-05-22 14:43] kkasravi commented on #99
@gabrielwen

Here is my suggestion, which is similar to how I'm implementing 'applications'.
I thought I would outline the approach here, the implementation is in progress (can be aborted/changed/discussed).

When useIstio == true (cli option)

- kubeflow bootstrap/config changes
   - add a config/overlays/istio
   - this overlay adds new components istio-install, istio to app.yaml
   - this overl

[2019-05-22 17:20] ashahba commented on #101
/assign @ashahba

[2019-05-22 18:42] gabrielwen commented on #99
/cc @lluunn @jlewi

A few things:
- We will remove ambassador in v0.6 so I don't think we need to consider `useIstio == false`.
- I think there is pushback on moving dependencies/istio to manifests but I'll leave this for @lluunn and @jlewi to decide.  My only concern is that although it'd be good that we can keep all manifests in the same place, I don't see an obvious benefit to do this.  Plus, t

[2019-05-22 19:05] kkasravi commented on #99
thanks for weighing in. I'm about to submit the PR(s) - also answering comments below. We can probably continue within the scope of the PR(s).

+1

one goal is to minimize special processing in kfctl that could be done by kustomize Another argument is the yaml is rendered at generate time. The only kustomize processing would be adding namespace - it's possible to do more (labels, nameprefix) but w

[2019-05-23 17:56] gabrielwen commented on #97
/assign @gabrielwen

[2019-05-23 17:56] gabrielwen commented on #100
/assign @gabrielwen

[2019-05-23 20:44] #96 closed

[2019-05-24 00:06] #97 closed

[2019-05-24 00:06] #100 closed

[2019-05-24 00:07] gabrielwen commented on #98
@IronPan could you give me some pointers how `MYSQL_SERVICE_HOST` is set currently?  Somehow api-server doesn't have this ENV when deploying with kustomize.

[2019-05-24 00:07] gabrielwen commented on #98
/assign @gabrielwen

[2019-05-24 18:07] gabrielwen commented on #98
turns out it's most likely naming issue.

[2019-05-28 20:15] #98 closed

[2019-06-04 21:17] #21 closed

[2019-06-04 21:44] xyhuang opened #111 "Rework kubebench manifests for v1alpha2"
The manifests need to be reworked for kubebench v1alpha2.
Things to do:
- cleanup unneeded manifests for old kubebench-job
- add manifests for installing kubebench operator and corresponding rbac, etc.

[2019-06-04 21:44] xyhuang commented on #111
/assign @Akado2009

[2019-06-07 19:47] kkasravi opened #115 "move istio components into their own package"
since istio can be installed w/o a platform we should move the istio components into an istio package

[2019-06-10 02:14] jlewi commented on #24
Should we punt this to 0.7?

[2019-06-10 02:15] jlewi commented on #23
Should we punt this to 0.7?

[2019-06-10 13:04] jlewi opened #116 "Delete JupyterHub kustomize manifest"
It looks like
https://github.com/kubeflow/manifests/tree/master/jupyter/jupyter

is providing a manifest for jupyterhub.

But jupyterhub was removed in 0.5.

I suggest deleting that manifest to avoid confusion about whether jupyterhub is supported or not.

@ashahba Interested?

[2019-06-10 13:32] jlewi opened #117 "Katib needs an Application CR"
The katib kustomize package doesn't currently contain an Application custom resource.
https://github.com/kubeflow/manifests/tree/master/katib/base

We should add an Application CR to provide meta information.

[2019-06-10 13:33] jlewi opened #118 "Pipelines needs an Application CR"
There is currently no Application CR defined in the pipeline package
https://github.com/kubeflow/manifests/tree/master/pipeline

[2019-06-10 13:35] jlewi opened #119 "TFJob needs an Application CR"
TFJob needs an Application CR
https://github.com/kubeflow/manifests/tree/master/tf-training/tf-job-operator/base

[2019-06-10 13:36] jlewi commented on #99
@kkasravi Is this fixed?  Do we have an E2E verifying that kustomize + ISTIO is working?

[2019-06-10 13:38] jlewi opened #120 "PyTorch Job needs an Application CR"
Need an Application CR in the pytorch package.
https://github.com/kubeflow/manifests/tree/master/pytorch-job

[2019-06-10 14:41] kkasravi commented on #99
yes we are running kfctl e2e tests on master when we merged #102 and kubeflow/kubeflow#3375

[2019-06-10 14:41] kkasravi commented on #99
/close

[2019-06-10 14:41] #99 closed

[2019-06-11 06:46] #111 closed

[2019-06-11 14:38] jlewi opened #122 "Port spark operator manifest to kustomize"
We have a ksonnet manifest for spark here:
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/spark

@holdenk @rawkintrevo what are your thoughts on whether we should port this to kustomize or not?

If a user wants to install and use the spark-operator with Kubeflow it seems perfectly reasonable to point them at the i[nstructions] (https://github.com/GoogleCloudPlatform/spark-on-k8s-operato

[2019-06-11 14:44] jlewi opened #123 "Port weaveflux to kustomize?"
We have a weaveflux ksonnet package here
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/weaveflux

If a user wants to install and use weaveflux with Kubeflow it seems perfectly reasonable to point them at the i[nstructions] (https://github.com/weaveworks/flux) for how to install it on a K8s cluster.

I think we only need a kustomize manifest if we want to be able to install it by defaul

[2019-06-12 01:15] jlewi opened #126 "centraldashboard needs an Application CR"
https://github.com/kubeflow/manifests/tree/master/common/centraldashboard/base

[2019-06-12 01:15] jlewi opened #127 "spartakus needs an Application CR"
https://github.com/kubeflow/manifests/tree/master/common/spartakus/base

[2019-06-12 13:52] holdenk commented on #122
I'm happy to do the port. I think having a tool to do distributed data prep that isn't tied to GCP is useful. cc @texasmichelle

[2019-06-12 20:47] kunmingg opened #130 "kfam API: kustomize support"
Need to support consuming kfam API via kustomize.

[2019-06-13 02:50] jlewi commented on #122
@holdenk sounds good.

FYI; The Flink Operator would also be useful https://github.com/lyft/flinkk8soperator.

In the near term, Flink is the most viable option for running Beam and thus TFX off GCP. (see also  kubeflow/kubeflow#1583)

[2019-06-14 18:48] zabbasi opened #133 "admission-webhook/bootstrap fails to deploy due to a hard-coded selector lable"
[This stateful-set](https://github.com/kubeflow/manifests/blob/master/admission-webhook/bootstrap/base/stateful-set.yaml) component uses a hard-coded selector. However [its kustomization manifest](https://github.com/kubeflow/manifests/blob/master/admission-webhook/bootstrap/base/kustomization.yaml)  already adds a comonLabel to all the underlying components. This causes the bootstrap component fai

[2019-06-14 22:01] #133 closed

[2019-06-17 01:40] jlewi opened #135 "Run kfctl E2E tests on kubeflow/manifests presubmits"
Right now we don't run the kfctl E2E tests on presubmits to kubeflow/manifests.

As a result, we can end up submitting changes that break kubeflow deployments.
See for example: kubeflow/kubeflow#3475

To address this we should run the kfctl E2E tests as pre/post submit tests on kubeflow/manifests

@swiftdiaries Any chance you could take  look at this? I think this is high priority to help stabiliz

[2019-06-17 12:26] jlewi opened #136 "Refactor katib packages into katib/v1alpha1 and katib/v1alpha2"
#131 created two top level directories for different versions of the Katib package
katib-v1alpha1
katib-v1alpha2

The alternative proposal was to create subdirectories
katib/
       /v1alpha1
       /v1alpha2

I think the reason we went with toplevel packages was because the way [KfDef](https://github.com/kubeflow/kubeflow/blob/5f1762a5a973d3441f010096357ba882f2c9386e/bootstrap/pkg/apis/apps/kfdef

[2019-06-17 12:31] jlewi commented on #136
See kubeflow/kubeflow#3478

[2019-06-17 14:43] yanniszark opened #137 "jupyter-web-app: VirtualService and Service mismatch"
The service in front of the Jupyter Web App deployment is called `jupyter-web-app-service`.
https://github.com/kubeflow/manifests/blob/fea53c8c0e7ea84a31b6935129fb643d53090b13/jupyter/jupyter-web-app/base/service.yaml#L16
https://github.com/kubeflow/manifests/blob/fea53c8c0e7ea84a31b6935129fb643d53090b13/jupyter/jupyter-web-app/base/kustomization.yaml#L12

The Istio VirtualService for the Jupyter

[2019-06-17 16:04] jlewi commented on #137
@prodonjs @avdaredevil  Can we open up a separate issue to add E2E tests that verify the apps are accessible on the appropriate URLs?

[2019-06-17 16:17] prodonjs commented on #137
Yes, we currently have https://github.com/kubeflow/kubeflow/issues/3398 in progress which should be revamped to ensure that all top-level UIs are accessible and render appropriate content when brought up within a new deployment in an E2E test. I'm hoping to spend some time on this this week.

[2019-06-17 16:56] yanniszark commented on #137
@jlewi @prodonjs thanks for the quick answers.
I have submitted a fix for this in #138

[2019-06-17 17:03] swiftdiaries commented on #135
I'll take a look at this.
/assign @swiftdiaries

[2019-06-18 10:53] kimwnasptd opened #143 "jupyter-web-app: Update the manifest for the new UI"
The [new Jupyter UI](https://github.com/kubeflow/kubeflow/pull/3448) is ready to be merged, but will need a modification to the `config.yaml` which holds the default values of the form.

After updating this file, the new UI will be deploy-able with kustomize via the `kfctl` executable

[2019-06-18 10:53] kimwnasptd commented on #143
/assign kimwnasptd

[2019-06-18 11:41] yanniszark opened #144 "tests: ACTUAL is printed as EXPECTED and vice-versa"
While looking at a failed test for the MySQL component (`tests/mysql-overlays-mysqlPd_test.go`), I noticed that the EXPECTED column was the actual output after my changes and the ACTUAL column was the text it was expecting to find.

Since the tests are autogenerated, I expect this may happen with other tests as well.

[2019-06-18 17:17] yanniszark opened #145 "jupyter-web-app: update image in manifests"
The image for the Jupyter Web App should be updated.
The current image is broken and looks for PodPresets, which don't exist.

In ksonnet, we had a script that automatically generated PRs for updating the image.
Can we do something like this for kustomize as well?

cc @jlewi seems important for ksonnet turndown.

[2019-06-18 19:04] kkasravi opened #146 "cannot generate manifests due to error in pipeline/minio"
steps to reproduce

1. build kfctl on master
2. run `kfctl init ~/dls-kf --platform gcp --project XXX --package-manager kustomize --version master --namespace=dls-kf --skip-init-gcp-project --verbose --use_basic_auth`
3. cd ~/dls-kf
4. run `kfctl generate all --zone=us-west1-a`

error is
Error: couldn't generate KfApp:  (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize:

[2019-06-18 19:05] kkasravi commented on #146
/priority p0

[2019-06-18 19:05] kkasravi commented on #146
/assign @yanniszark

[2019-06-18 19:05] kkasravi commented on #146
/area kfctl

[2019-06-18 19:11] kkasravi opened #147 "centraldashboard should provide a nameprefix"
centraldashboard creates a configMapGenerator with the name parameters.
It should provide a nameprefix so the name is unique

[2019-06-18 19:11] kkasravi commented on #147
/area kustomize

[2019-06-18 19:11] kkasravi commented on #147
/priority p0

[2019-06-18 19:12] kkasravi commented on #147
/assign @kkasravi

[2019-06-18 19:26] yanniszark commented on #146
Opened https://github.com/kubeflow/kubeflow/issues/3490 because this may be a kfctl issue.

[2019-06-18 22:45] lluunn commented on #146
cc

[2019-06-18 22:46] lluunn commented on #146
we need https://github.com/kubeflow/manifests/issues/135!

[2019-06-18 23:22] #146 closed

[2019-06-19 14:46] yanniszark opened #151 "v1alpha2 katib-ui istio overlay is wrong"
The v1alpha2 katib-ui istio overlay needs parameters for the VirtualService host:
https://github.com/kubeflow/manifests/blob/808f00dcfd5f7d010a1e8418bbc22d81dcc65682/katib-v1alpha2/katib-ui/overlays/istio/katib-ui-virtual-service.yaml#L18

However, these paremeters are not passed, as evident from the lack of the `vars` field from kustomization.yaml and the lack of the `params.env` file.
https://gi

[2019-06-19 15:05] yanniszark commented on #151
The package is correct.
I was wrong in my understanding that vars from base are not available from overlays.
They are!

[2019-06-19 15:05] #151 closed

[2019-06-19 18:56] yanniszark opened #152 "centraldashboard: clusterrole and clusterrolebinding are not created"
The centraldashboard needs a ClusterRole+ClusterRoleBinding.
These were added in this commit (https://github.com/kubeflow/manifests/commit/bb185e61a93b94e29205bc4b7306f52ef0131f83#diff-cc9344bde3bcc826a388ee4735ab5d58).

However, they weren't added to the  kustomization.yaml resources and so they are not created.

/priority p1

cc @kkasravi @jlewi

[2019-06-19 22:04] #119 closed

[2019-06-20 12:07] yanniszark commented on #137
@kunmingg does your PR (https://github.com/kubeflow/manifests/pull/155) close this?
If yes, please also close the PR I had submitted (#138)

[2019-06-20 13:04] prodonjs commented on #152
My apologies when created that previous PR for not including them in the resources section. #159 should resolve this.

[2019-06-20 17:12] #152 closed

[2019-06-21 07:40] #120 closed

[2019-06-21 12:54] yanniszark opened #164 "update profile-controller image"
The image used by the profile controller is old (last updated 2 months ago) and throws errors like:
[code]

The code in master doesn't throw these errors.

/cc @kunmingg @lluunn

[2019-06-21 13:58] yanniszark commented on #164
/priority p1

[2019-06-21 16:49] #143 closed

[2019-06-21 21:50] kunmingg opened #167 "Jupyter web app config not compatible with latest jupyter web app image"
Got error when click `New Server`
`KeyError: 'notebook-name'`

`notebook-name` is not in client side request.

Related:
https://github.com/kubeflow/manifests/pull/163

[2019-06-21 21:50] kunmingg commented on #167
@abhi-g
@kimwnasptd

[2019-06-24 18:28] holdenk commented on #122
I agree Flink would be useful for supporting TFX off GCP but I think given the lack of reasonable Beam Flink Python support that for people building data pipelines in the next year or so that isn't a realistic option. But once Beam Flink Python works well I think making an opperator to allow submissions of Beam jobs to either Flink or Dataflow would be of great use in allowing portable TFX pipelin

[2019-06-24 19:34] kimwnasptd commented on #167
@kunmingg the new config is not compatible with the old implementation of the UI. It was meant for the [new](https://github.com/kubeflow/kubeflow/pull/3448) one.

Try it out with the new image which has the `dcaeee7` tag

[2019-06-25 16:20] holdenk opened #171 "gen-test-targets should function regardless of checkout name"
Currently `gen-test-targets.sh` checks that the directory name it is run in is `manifests` as a way of checking it is run in the root of the project. Instead we could allow it to run if it's in a directory name `manifests` or there is `.git` file present.

[2019-06-25 16:32] holdenk opened #172 "Clarify that we must be checked out in a directory called manifests"
If we're checked out in a different directory the generate tests script fail.

[2019-06-25 18:02] kunmingg opened #176 "Resolve pkg inconsistency between ksonnet and manifests."
Seems now ksonnet has more pkgs than manifests.
including:
- [ ] nvidia-inference-server
- [ ] pachyderm
- [x] seldon
- [ ] spark
- [ ] tf-batch-predict
- [ ] tf-serving

And under pkg `gcp` manifests still missing:
- [ ] google-cloud-filestore-pv
- [ ] metric-collector
- [x] prometheus

Training components:
- [ ] chainer
- [ ] MPI
- [ ] Mxnet
- [ ] XGBoost

[2019-06-25 18:02] kunmingg commented on #176
/priority p1

[2019-06-26 12:16] yanniszark opened #177 "access-management-api: add userid-header and userid-prefix cli flags to parameters"
Sub-issue for https://github.com/kubeflow/kubeflow/issues/3553.
Add parameters to configure:
* Which header we read for the user info (now it's only X-Goog-Authenticated-User-Email)
* What prefix is expected (now it's expected to be in the form of accounts.google.com:<user>, so the prefix is accounts.google.com:)

These are controlled by the cli flags `userid-header` and `userid-prefix`.

/priorit

[2019-06-26 12:16] yanniszark opened #178 "central-dashboard: add userid-header and userid-prefix cli flags to parameters"
Sub-issue for https://github.com/kubeflow/kubeflow/issues/3553.
Add parameters to configure:
* Which header we read for the user info (now it's only X-Goog-Authenticated-User-Email)
* What prefix is expected (now it's expected to be in the form of accounts.google.com:<user>, so the prefix is accounts.google.com:)

These are controlled by the cli flags `userid-header` and `userid-prefix`.

/priorit

[2019-06-26 12:20] yanniszark opened #179 "access-management-ui: add userid-header and userid-prefix cli flags to parameters"
Sub-issue for https://github.com/kubeflow/kubeflow/issues/3553.
Add parameters to configure:
* Which header we read for the user info (now it's only X-Goog-Authenticated-User-Email)
* What prefix is expected (now it's expected to be in the form of accounts.google.com:<user>, so the prefix is accounts.google.com:)

These are controlled by the cli flags `userid-header` and `userid-prefix`.

/priorit

[2019-06-26 12:21] yanniszark opened #180 "jupyter-web-app: add userid-header and userid-prefix cli flags to parameters"
Sub-issue for https://github.com/kubeflow/kubeflow/issues/3553.
Add parameters to configure:
* Which header we read for the user info (now it's only X-Goog-Authenticated-User-Email)
* What prefix is expected (now it's expected to be in the form of accounts.google.com:<user>, so the prefix is accounts.google.com:)

These are controlled by the cli flags `userid-header` and `userid-prefix`.

/priorit

[2019-06-26 12:22] yanniszark opened #181 "profile-controller: add userid-header and userid-prefix cli flags to parameters"
Sub-issue for https://github.com/kubeflow/kubeflow/issues/3553.
Add parameters to configure:
* Which header we read for the user info (now it's only X-Goog-Authenticated-User-Email)
* What prefix is expected (now it's expected to be in the form of accounts.google.com:<user>, so the prefix is accounts.google.com:)

These are controlled by the cli flags `userid-header` and `userid-prefix`.

/priorit

[2019-06-26 12:29] jlewi commented on #55
Duplicate of #176.

[2019-06-26 12:29] #55 closed

[2019-06-26 12:31] jlewi commented on #176
@kunmingg Can we split this into multiple issues it will make it easier to track.

* tf-serving

   * I don't think we need a kustomize package for this; users can just create the YAML spec directly.
   * We should probably just add docs/examples with the spec.

* nvidia-inference-server

   * Same argument as for TFServing; I think the better pattern is to just provide example YAML specs which us

[2019-06-26 12:32] jlewi commented on #176
#10 for Seldon Core.

[2019-06-26 12:33] jlewi commented on #10
@cliveseldon any chance you could pick this up in the next day or two? Hopefully it should be pretty straightforward.

[2019-06-26 12:34] jlewi commented on #176
#18 for TFServing

[2019-06-26 12:35] #18 closed

[2019-06-26 12:41] jlewi commented on #135
@swiftdiaries any update on this? What's blocking #139?

[2019-06-26 12:42] cliveseldon commented on #10
There is a PR #36 to add Seldon Kustomize waiting for approval - plus one in kubelow https://github.com/kubeflow/kubeflow/pull/3527

I was following the notes provided kindly by @kkasravi

[2019-06-26 15:55] whiletruelearn commented on #116
I would like to take this up. Can I pick it up @jlewi

[2019-06-26 16:09] #126 closed

[2019-06-26 18:14] swiftdiaries commented on #135
I'm getting a kubeconfig not found error. I'm not sure where it originates from

[2019-06-26 21:58] kunmingg opened #183 "prometheus entry in manifests"
We need to provide prometheus entry in manifests and verify it's configured to collect metrics from services with prometheus annotation.

[2019-06-26 21:59] kunmingg commented on #183
/priority p0

[2019-06-26 21:59] kunmingg commented on #176
For monitoring / prometheus:
https://github.com/kubeflow/manifests/issues/183

[2019-06-28 04:03] #183 closed

[2019-07-02 01:27] swiftdiaries opened #190 "Make E2E tests run flexible enough to run off of kubeflow/kubeflow"
Right now, we're copying over the workflow manually to run the E2E tests. We need to make changes to the workflow definition in kubeflow/kubeflow so that this can be avoided. This is important to avoid duplicated code and ease maintainability.
Reference issue: https://github.com/kubeflow/manifests/issues/135

[2019-07-02 01:27] swiftdiaries commented on #190
/priority p1

[2019-07-03 01:52] jlewi opened #193 "Pipeline minio artifact secret - named mlpipeline-minio-artifact; workflow expects minio-artifact"
I tried running the pipelines sample exit on run and the containers failed to start.

[code]

I have a secret named "mlpipeline-minio-artifact"

[code]

My guess is kustomize is adding mlpipeline as a common prefix.

We recently upgraded the pipelines to the latest image. Not sure if that changed things.

[2019-07-03 17:42] yanniszark commented on #137
Fixed by #155

[2019-07-03 17:42] #137 closed

[2019-07-03 22:24] #193 closed

[2019-07-03 23:39] adepuravikrishna commented on #116
I closed PR since other people on the list already. apologies on that.

[2019-07-08 01:02] jlewi commented on #135
@swiftdiaries It looks like #139 has been merged. Can we close this? Are the tests running as expected on presubmit?

[2019-07-15 00:27] jlewi commented on #181
/assgin @yanniszark

@yanniszark Why would the profile controller need to be aware of which header contains the user id? The profile controller doesn't handle http requests that go through the ISTIO gateway. The user only interacts with the profile controller by creating profile resources.

@yanniszark Can we close this?

[2019-07-15 00:28] jlewi commented on #180
/assign @kimwnasptd

[2019-07-15 00:32] jlewi commented on #180
@kimwnasptd based on kubeflow/kubeflow#3556 what is the current status of identity awareness in the jupyter-web-app?

Is the jupyter-web-app enforcing some kind of access check that won't pass if the request doesn't contain the email?

Is there a way to disable auth checks in the jupyter web app?

[2019-07-15 00:35] jlewi commented on #180
Looks like @kimwnasptd already answered my question [here](https://github.com/kubeflow/kubeflow/issues/3556#issuecomment-509717702)

IIUC the web app should gracefully handle the case where no user id is provided.

Therefore I think we can downgrade this to P1 because I don't think its release blocking

* On platforms where the userid header and prefix aren't set it will just fall back to not enfo

[2019-07-15 00:51] jlewi commented on #135
@swiftdiaries ping?

[2019-07-15 17:08] swiftdiaries commented on #135
/close
Closing as pre-submits are running as expected.

[2019-07-15 17:08] #135 closed

[2019-07-15 22:42] sarahmaddox commented on #176
Please would you add the instructions to this doc, including example of YAML file:
https://www.kubeflow.org/docs/components/serving/tfserving_new/

[2019-07-16 14:33] yanniszark commented on #181
@jlewi it's needed for the IstioServiceRoleBinding.
See here in the code:

https://github.com/kubeflow/kubeflow/blob/7ca3cfb39368eb49042992f4e16215e41e1953c6/components/profile-controller/pkg/controller/profile/profile_controller.go#L308

[2019-07-16 20:46] #115 closed

[2019-07-17 01:04] xyhuang opened #216 "Kubebench does not install correctly"
- incorrect config mount in operator deployment
- wrong crd name / api group
- wrong service account config
- needs cleanup

[2019-07-17 01:05] xyhuang commented on #216
/assign

[2019-07-17 01:05] xyhuang commented on #216
/assign @Akado2009

[2019-07-17 14:03] jlewi opened #217 "metadata needs an application CR"
The metadata package needs to define an application resource

/cc @neuromage
/cc @zhenghuiwang

[2019-07-17 14:04] jlewi commented on #217
We should cherry pick this onto the v0.6-branch

[2019-07-17 14:06] jlewi commented on #117
@gaocegege @johnugeorge @richardsliu PTAL

[2019-07-17 14:06] jlewi commented on #117
/assign @johnugeorge
/assign @richardsliu

[2019-07-17 14:06] gaocegege commented on #117
SGTM

[2019-07-18 02:10] gaocegege commented on #117
/assign @wuchunghsuan

[2019-07-18 18:55] zhenghuiwang commented on #217
/assign @zhenghuiwang

[2019-07-18 23:43] Jeffwan opened #222 "Make istio package vendor indepedent"
I am writing manifests for aws components and in 0.6 I think we can reuse istio components like
`istio-install` and `istio-crds`. I have a question for `istio`. Does it have GCP specific changes?
https://github.com/kubeflow/manifests/blob/63ef9891337a1b44cef88e1815fa0bfee608343c/istio/istio/base/kf-istio-resources.yaml#L39-L103

If that's true, could we make it vendor independent?

[2019-07-19 13:40] mattnworb commented on #172
This tripped me up as a first-time contributor - and it is made more confusing by the fact that `make generate` in the `tests` directory continues to execute the rest of the make target after `hack/gen-test-targets.sh` errors out:

[code]

Can I suggest that instead of enforcing that the basename of $PWD has a certain value, to prevent the following lines that assume a certain PWD from erroring ou

[2019-07-19 14:38] mattnworb commented on #172
Alternatively the script could test that `dirname $0` is `hack`.

[2019-07-21 23:40] #117 closed

[2019-07-22 00:52] jlewi commented on #176
Thanks @sarahmaddox
Filed kubeflow/website#958

[2019-07-22 00:59] jlewi commented on #176
kubeflow/website#959 for nvidia inference server

[2019-07-22 01:05] jlewi commented on #176
kubeflow/website#842 for updating cloud filestore

[2019-07-22 01:08] jlewi opened #227 "Create a kustomize package for the mpi-operator"
We had a ksonnet package
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/mpi-job

But we don't have a kustomize package yet.

/cc @Jeffwan

[2019-07-22 01:08] jlewi commented on #176
#227 for mpi job

[2019-07-22 01:11] jlewi opened #228 "Create a kustomize package for the mxnet operator"
We had an mpi-job here
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/mxnet-job

But no kustomize package yet.

/cc @suleisl2000

[2019-07-22 01:12] jlewi commented on #176
#228 for mxnet

[2019-07-22 01:15] jlewi opened #229 "xgboost operator should have kustomize manifest"
Code is here:
https://github.com/kubeflow/xgboost-operator

It looks like there is YAML specs in the repo
https://github.com/kubeflow/xgboost-operator/tree/master/config

I think those could be easily turned into a kustomize manifest.

KfDef and Kfctl on master support installing kustomize packages from other repositories; so the kustomize package could continue to live in xgboost-operator rather

[2019-07-22 01:18] jlewi commented on #176
#229 for xgboost

[2019-07-22 01:22] jlewi opened #230 "kustomize package for prometheus"
Do we need a kustomize package for prometheus?

We had one in ksonnet
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/prometheus.libsonnet

The docs still refer to it.
https://www.kubeflow.org/docs/gke/monitoring/

[2019-07-22 01:24] jlewi opened #231 "[GCP] kustomize package for metrics-collector for IAP endpoint"
We have a metrics-collector
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/metric-collector.libsonnet

That reports metrics about the availability of the IAP endpoint.
We need to update that to work with kustomize.

We should also update the instructions
https://www.kubeflow.org/docs/gke/monitoring/

[2019-07-22 01:24] jlewi commented on #176
#230 for prometheus
#231 for metrics collector

[2019-07-22 01:25] jlewi opened #232 "kustomize package for chainer"
We had a ksonnet package for chainer
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/chainer-job

We should port that to kustomize.

[2019-07-22 01:25] jlewi commented on #176
#232 for chainer

[2019-07-22 01:27] jlewi opened #233 "kustomize package for pachyderm"
We should port the kustomize package for pachyderm to kustomize to make it easy to install.
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/pachyderm

/cc @TimZaman

[2019-07-22 01:27] jlewi commented on #176
#233 for pachyderm

[2019-07-22 01:28] jlewi commented on #176
Closing this issue since we now have individual issues.

[2019-07-22 01:28] #176 closed

[2019-07-22 01:47] jlewi commented on #122
@holdenk any update on this?

[2019-07-22 01:48] jlewi commented on #118
@IronPan @swiftdiaries any interest in picking this up?

[2019-07-22 01:52] jlewi commented on #116
@adepuravikrishna @whiletruelearn Does one of you want to pick this up? If you do just go ahead and send out a PR please and make a note on the issue; you can "/assign the PR to me".

We will want to delete the entire directory
jupyter/jupyter

Since that whole package is for JupyterHub.

[2019-07-22 08:10] IronPan commented on #118
There is a pending PR working on related item
https://github.com/kubeflow/pipelines/pull/1621/files#diff-e091ae768869edf8e76f6bfabbb1a67a

Should consider merge with the manifest/ directory

[2019-07-23 18:20] nihir27 opened #236 "Minio and Mysql Overlays require GCE Volumes"
Running `kfctl apply k8s` will error out complaining about GCE volumes when running vanilla k8s not on GCP:

`Error: couldn't apply KfApp:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: couldn't create resources from minio Error: persistentvolumes "m
inio-pv" is forbidden: error querying GCE PD volume dls-kf-storage-artifact-st

[2019-07-24 09:49] LukasBlank opened #237 "kfctl init failed -- unknown config flag"
was following https://www.kubeflow.org/docs/started/getting-started-k8s/ trying to install kubeflow on an existing cluster but already got an error running <code>kfctl init ${KFAPP} --config=${CONFIG} -V</code> looking like this:<br>
<pre><code>
Error: unknown flag: --config
Usage:
  kfctl init <[path/]name> [flags]

Flags:
      --disable_usage_report    disable_usage_report disable anonymous usa

[2019-07-24 12:14] yanniszark commented on #237
Hi @LukasBlank.
Did you download the latest, v0.6.0 version of kfctl?
https://github.com/kubeflow/kubeflow/releases/tag/v0.6.0

[2019-07-24 13:57] #236 closed

[2019-07-25 05:54] LukasBlank commented on #237
This worked, thanks. Actually i thought that the documentation of how to deploy on an existing cluster was a lot older so that this could not be the reason but i guess i was wrong :$

[2019-07-25 05:54] #237 closed

[2019-07-26 17:41] jlewi opened #241 "Cleanup organization of KfDef spec files and cloud config and move to kubeflow/manifests"
Our config files are currently here
https://github.com/kubeflow/kubeflow/tree/master/deployment

And our kfdef is currently here
https://github.com/kubeflow/kubeflow/tree/master/bootstrap/config

Should we move all of these config files into kubeflow/manifests?

How should we organize?

Since KfDef is like a K8s style controller maybe we should treat it like a kustomize package

e.g.

[code]

[2019-07-30 01:31] stpabhi commented on #227
/assign

[2019-07-30 18:45] Jeffwan commented on #227
Seem @stpabhi already pick it up. I can help on the code review.

[2019-08-04 23:42] jlewi commented on #10
#36 was merged so I'm closing this out.

[2019-08-04 23:42] #10 closed

[2019-08-05 00:10] jlewi commented on #217
@zhenghuiwang Any progress on this?

[2019-08-06 20:42] mattnworb opened #256 "ConfigMap named "ui-parameters" generated by both pipelines-ui and metadata"
I am trying to install 0.6.1 for the first time and I noticed that two different components are trying to generate configmaps with the base name of `ui-parameters`:

https://github.com/kubeflow/manifests/blob/7cf5587dd9e2ec523bbdc99642d530f42fec4361/metadata/base/kustomization.yaml#L6-L8

https://github.com/kubeflow/manifests/blob/e2e7d42c4a95b374da674980542b019c7ed6fcad/pipeline/pipelines-ui/base

[2019-08-10 10:46] krishnadurai opened #267 "Integrate Dex Auth with Multi User Story"
Current Dex implementation needs to integrate well with Multi-User Story in the following areas:

- User RBAC is generated as per the roles created through ProfilesController
- Ingress Auth is enabled for Dex based Auth

Reference issue/PR:
https://github.com/kubeflow/manifests/pull/195

/cc @jlewi @kkasravi

/assign @krishnadurai

[2019-08-12 17:46] jlewi commented on #267
@krishnadurai Can you please add

* Priority for this issue
* Area for this issue
* A kind (bug, enhancement etc...)
* Any projects that this should belong to

[2019-08-12 17:47] jlewi commented on #267
I think one of the issues that came up in PR #195 was reconciling the default RBAC and ISTIO RBAC roles and bindings created in #195 with the roles and bindings created by the profile custom resource

[2019-08-12 23:29] lluunn opened #271 "Presubmit failure: recipe for target 'fmt' failed"
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-manifests-presubmit-kfctl-go-270-f0eca4e-6320-a7d4?tab=workflow&nodeId=kubeflow-manifests-presubmit-kfctl-go-270-f0eca4e-6320-a7d4-3707457994&sidePanel=logs%3Akubeflow-manifests-presubmit-kfctl-go-270-f0eca4e-6320-a7d4-3707457994%3Amain
from https://github.com/kubeflow/manifests/pull/270

Also in https://github.com/kubeflow/ma

[2019-08-13 00:22] lluunn commented on #271
Verified on kubeflow master, `make build-kfctl` failed
[code]

cc @jlewi
seems related to https://github.com/kubeflow/kubeflow/pull/3830

[2019-08-13 00:31] lluunn commented on #271
cc @kunmingg

[2019-08-13 07:02] xaniasd commented on #233
I think I can have a PR ready in 2 weeks.

[2019-08-13 13:01] krishnadurai commented on #267
/priority p1
/area cuj/multiuser
/kind enhancement

[2019-08-13 19:26] Jeffwan commented on #228
/assign @Jeffwan I will take this one

[2019-08-13 21:31] lluunn commented on #271
dup of https://github.com/kubeflow/kubeflow/issues/3883

[2019-08-13 21:31] #271 closed

[2019-08-14 11:07] krishnadurai opened #272 "Create Dex Ingress Gateway and Virtual Service to expose dex and related services through Istio"
Dex and all related services: Dex Login Application and LDAP are being exposed through NodePort. One of the suggested ways to expose these are through creating an Istio Gateway and mapping these through virtual services.

/priority p1
/area manifests

**Related Issues:**
#195

/cc @yanniszark

[2019-08-14 11:09] krishnadurai commented on #272
/assign @krishnadurai

[2019-08-17 10:28] krishnadurai opened #283 "Upgrade Istio to 1.2+"
/area manifests
/priority p1

Istio manifests in master branch are at 1.1.6. It would be good to upgrade them to 1.2.4 so that few issues get resolved:

kiali/kiali#1154

/assign @lluunn
/assign @krishnadurai

Related Issues:
#281

[2019-08-18 17:05] kkasravi opened #284 "create tektoncd manifests for e2e"
in testing/py/kubeflow/testing/run_e2e_workflow.py we are defining a new type of workflow.
An example is shown below:
[code]

For a workflow that launches a tektoncd pipeline we will define the following
[code]

Note: It's likely we'll need additional context - eg fixtures for individual tests so kw_args may need a more complex structure - probably defined by a CRD.

[2019-08-18 17:06] kkasravi commented on #284
/assign @kkasravi

[2019-08-19 02:02] jlewi commented on #116
@whiletruelearn it would be great to get #253 fixed and merged; I just think the tests need to be updated.

[2019-08-19 19:44] jlewi commented on #230
We have a prometheus application
https://github.com/kubeflow/manifests/tree/master/gcp/prometheus/base

[2019-08-19 19:44] #230 closed

[2019-08-19 21:37] #217 closed

[2019-08-20 11:43] yanniszark opened #288 "Multiple packages may generate the same parameters ConfigMap resource"
A pattern we use in kubeflow/manifests is defining a ConfigMap and using its values as variables, to achieve variable substitution.

In addition, there is no CI test to check if two packages in manifests generate the same ConfigMap resource (or any resource for that matter).

Normally, it is rare to have collisions between resources created in different packages.
However, for the parameters Config

[2019-08-21 02:10] kkasravi commented on #288
thanks for opening this @yanniszark !

[2019-08-21 09:37] #177 closed

[2019-08-21 09:37] #178 closed

[2019-08-21 09:37] #179 closed

[2019-08-21 09:37] #180 closed

[2019-08-21 09:37] #181 closed

[2019-08-21 14:27] yanniszark opened #296 "Unit tests in v0.6-branch are not up-to-date and updating them makes tests fail"
Steps to reproduce:
* Checkout to v0.6-branch (eab125dd42c08b0e2495b7b2d7a7010ac64d3774).
* Regenerate tests:
[code]

Immediately, you will notice changes.
This means that the tests were out of sync, but tests passed either way.

* Run unit tests:

[code]

Tests fail:
[code]
This essentially means that tests on v0.6-branch are broken.

@jlewi @kkasravi why didn't CI catch this?

/priority p0

[2019-08-21 17:38] kkasravi commented on #296
i believe this may be due to not rebasing from master.

I think we add this to the PR template form

1. git fetch upstream master
2. git rebase -i upstream/master
3. cd tests
4. make generate
5. make test

[2019-08-21 17:45] yanniszark commented on #296
@kkasravi this is not master though.
This is v0.6-branch.
Shouldn't the E2E tests catch this ?

[2019-08-21 18:42] kkasravi commented on #296
yes - we need to update the e2e to do the following

mv tests tests_check
make generate
see if any *.go files differ between tests tests_check
if yes
  fail
else
  make test
fi

[2019-08-21 19:45] kkasravi commented on #296
@gabrielwen you'll need to update run-tests.sh along the lines of what I [suggested](https://github.com/kubeflow/manifests/issues/296#issuecomment-523597616)

[2019-08-21 22:11] kkasravi commented on #296
Adding liuhougang6@126.com and adhita.selvaraj@gmail.com

I think this means that something was merged w/o doing a generate.

There is a flaw in the template we use for the PR, any PR should do the following
git fetch upstream master
git rebase -i upstream/master
cd tests
make generate
make test
Yannis do you know how to update the PR template?

From: Yannis Zarkadas <notifications@github.com>
Rep

[2019-08-21 22:37] swiftdiaries commented on #296
The test workflow seems to be running this [run-tests.sh](https://github.com/kubeflow/manifests/blob/master/tests/scripts/run-tests.sh)
But make generate is not part of that, is that intended ?

[2019-08-23 17:52] jlewi opened #306 "How do we manually verify that the expected value in the unittests is correct?"
How are we supposed to verify that the expected values used by unittests is correct?

As an example:  kubeflow/kubeflow#3986 appears to be due to a bug in the kustomize manifest resulting in environment variables not being set correctly to the variable value; instead they remained set to the variable name e.g. `$(userid-prefix)

I would expect this is something we test in the unittest.

So my expe

[2019-08-23 18:05] jlewi commented on #306
What is this code doing?
https://github.com/kubeflow/manifests/blob/76bd875d65d39960ab2d75daa2ba2b7a2a9e82a4/tests/jupyter-web-app-base_test.go#L451

Looks like we are running kustomize to get the expected value.

[2019-08-23 19:30] kkasravi commented on #306
if values aren't replaced and one or more warnings are emitted
[code]
we should FAIL on that unit test.

[2019-08-23 19:44] kkasravi opened #308 "unit test improvements"
the following improvements should be implemented

- [ ] emulate kfctl's generate so that the top level kustomization.yamls are produced at each target directory
- [ ] the go unit test should use these generated kustomization.yaml's
- [ ] different unit tests should be called for all supported config files (kfctl_gcp_iap.yaml, ...)
- [ ] any non-resolved vars should result in a FAIL with failure in

[2019-08-23 19:45] kkasravi commented on #306
@jlewi I've opened #308 PTAL

[2019-08-24 01:17] jlewi opened #313 "presubmits are being skipped on the v0.6-branch"
It looks like presubmit tests are not being run on the v0.6-branch and this causing broken code/tests to creep in.

[2019-08-24 01:19] jlewi commented on #313
Here's the problem.
https://github.com/kubernetes/test-infra/blob/7b305797c331aedd8856726c7e79c707634ab4a9/config/jobs/kubeflow/kubeflow-presubmits.yaml#L302

Our prow jobs are only enabled on the master branch.

[2019-08-24 20:30] jlewi commented on #306
thanks @kkasravi

What is a support config file in this case? Do you mean all support KfDef YAML files?

All of your comments sound like sound improvements. I'm still not clear how we would ensure that the expected values are correct.

How do we fix the unittests so that its easy to verify by manual inspection that the expected values are correct?

[2019-08-25 00:02] kkasravi commented on #306
As far as vars go - it would be easy to grep for '\$(' values

[2019-08-25 21:57] jlewi commented on #306
How does grepping for "$(" allow me to verify that the expected output is correct?

Shouldn't the unittests be doing something like taking a kustomization.yaml, params.env as input running kustomize build and then ensuring the generated output matches some expected golden output?

Here's the deployment for the profiles controller
https://github.com/kubeflow/manifests/blob/master/profiles/base/depl

[2019-08-25 21:59] jlewi opened #315 "Update SeldonCore manifests to 0.4"
We need to update the SeldonCore manifests to 0.4.

There was an attempt to update the manifests in #273

But this appeared to break the kubeflow/kubeflow E2E tests (see kubeflow/kubeflow#4001).

So we rolled back the change to the seldon manifests in #312

The break should have been caught by kubeflow/manifests presubmits but I suspect it wasn't because the presubmits aren't using the correct ver

[2019-08-25 22:01] jlewi commented on #315
/cc @cliveseldon

[2019-08-25 22:12] jlewi opened #316 "E2E tests aren't testing the correct commit of the repo"
Our E2E tests aren't testing the commit of kubeflow/manifests for which they are triggered.

Our E2E tests run kfctl_go_test.py on kubeflow/kubeflow to deploy kubeflow using kfctl.
kfctl should be using the commit of kubeflow/manifests that triggered the E2E test run.

But that's not happening because kfctl_go_test.py pulls the KFDef from master and doesn't modify KFDef.Spec.Repos to point at the

[2019-08-25 22:13] jlewi commented on #315
kubeflow/manifests/issues/316 is why the presubmits didn't catch the break in the original PR.

[2019-08-25 22:35] kkasravi commented on #306
so some kind of output like

[code]

and
[code]

with the substitutions in red or something?

[2019-08-25 22:54] jlewi commented on #306
What does in read mean? Can we follow the normal structure of go uniitests?

The normal structure of a go unittest would be to define a testCase struct that captures input and expected output.  So in our case that might be something like the following

[code]

So kustomization would be the input to a kustomization file and params would be a list of the parameters, and kustomizeAppDir would be the

[2019-08-25 22:58] jlewi opened #317 "Why does 'make generate' need to be run from GOPATH? - Document how to run the tests"
Right now we need to run `make generate` to regenerate the tests after any changes.

It looks like I need to run the tests from

[code]

i.e. we have to the manifests repo under ${GOPATH}/src.

Why does the code need to be under ${GOPATH} other programs like kfctl appear to build just fine when they aren't in the GOPATH src tree?

At a minimum we should probably document this in a README.

@kkasra

[2019-08-25 23:00] jlewi commented on #308
Do we need to call kfctl generate? If we call kfctl generate that adds a lot of complexity; makes our unittests more like E2E tests.

Instead of calling kfctl; can we write one or more kustomization.yaml files equivalent to what we expect kfctl to generate?

[2019-08-26 00:45] kkasravi commented on #308
ok, i've updated the description

[2019-08-26 00:47] kkasravi commented on #306
ok, I'll implement in #308

[2019-08-26 02:01] jlewi commented on #296
@kkasravi Are you saying that if PR authors don't run appropriate commands then our presubmits won't catch test failures?

[2019-08-26 02:19] kkasravi commented on #296
Presubmits should catch failures. The unit tests are using the last snapshot (the last time generate was called). That is compared with what's in the current repo (eg PR request).

Each unit test embeds the content of current files in the unit test - for example
profiles-base_test.go contains the following files
[code]

this is run through `kustomize build` and the current files run through `kusto

[2019-08-26 02:20] jlewi commented on #313
Need to verify the tests are running on presubmits and then we can close this.

[2019-08-26 08:02] cliveseldon commented on #315
Does kfctl modify the manifests in any way? As there is no PersistenVolumeClaim in the file:

https://github.com/kubeflow/manifests/blob/76bd875d65d39960ab2d75daa2ba2b7a2a9e82a4/seldon/seldon-core-operator/base/seldon-operator-controller-manager-statefulset.yaml

The kustomize works on its own. What's the correct way to test with kfctl PRs to manifests repo so we can find what the issue is?

[2019-08-26 09:20] cliveseldon commented on #315
I tested with master kfctl modified to print out what its creating and I see a VolumeClaimTemplate
[code]
Its appended at the end of the resource:
[code]
This is not in the original manifests. Could it be something to do with automatic handling of secrets?

[2019-08-26 09:33] cliveseldon commented on #315
This is the offending yaml printed more nicely:

[code]

[2019-08-26 09:33] cliveseldon commented on #315
@kkasravi @jlewi

[2019-08-26 09:55] kkasravi commented on #315
Adding an empty volumeClaimTemlpates to the end of the StatefulSet is a suggested workaround for Kustomize v2.0.3. See this [issue](https://github.com/kubernetes-sigs/kustomize/issues/677#issuecomment-477898336)

[2019-08-26 11:10] cliveseldon commented on #315
Thanks @kkasravi

Should be fixed in https://github.com/kubeflow/manifests/pull/322

[2019-08-27 02:50] hemantha-kumara commented on #229
@jlewi I am working in my organisation to make xgboost dist training available on kubeflow. I am interested to take this PR.

[2019-08-27 12:05] xaniasd commented on #233
@jlewi working on it!

[2019-08-28 01:06] yanniszark opened #326 "Stateful Applications (minio, mysql) are using Deployment instead of StatefulSet"
/kind bug

**What steps did you take and what happened:**

I noticed that the Minio and MySQL databases used in manifests are using a Deployment instead of a StatefulSet.
The problem with using a Deployment is that it is not guaranteed that only 1 replica is running, despite that being the spec.
There are scenarios where more than 1 replica might be running.

**What did you expect to happen:**

St

[2019-08-28 06:57] merlintang commented on #229
@hemantha-kumara <https://github.com/hemantha-kumara> thanks for your
efforts.

On Tue, Aug 27, 2019 at 10:52 AM Yuan Tang <notifications@github.com> wrote:

[2019-08-28 15:29] kkasravi opened #329 "Create device manifests for profiles"
The Profile CRD needs to embed device resource quotas for devices at the namespace level in order to allow device settings to be used within Jobs.

[2019-08-28 23:39] jlewi commented on #326
/cc @IronPan

[2019-08-29 09:19] johnugeorge commented on #229
@hemantha-kumara You could take a look at manifests of other operators - TFJob/PyTorchJOb

[2019-08-29 09:49] hemantha-kumara commented on #229
@johnugeorge  Thanks, Yes I was referring TfJob operator. Once I do some progress I will update the status here.

[2019-09-04 14:54] kkasravi opened #341 "the application.yaml in application overlays should have a unique name for app.kubernetes.io/instance"
setting a unique name is required for the application instance in order to cleanup correctly

[2019-09-04 23:25] kunmingg opened #343 "Profile & Kfam: add Application CR"
Profile & Kfam: add Application CR

[2019-09-04 23:44] jlewi commented on #267
@krishnadurai What are the next steps here? I believe the existing_arrikto.yaml config is already using Dex and ISTIO.

I think one question that came up is can we generalize what's used in existing_arrikto.yaml to make it easier to compose the Dex setup with installations? (see #3739).

For GCP we would like to get rid of our custom basic auth setup and just install Dex with an appropriate authen

[2019-09-05 00:49] krishnadurai commented on #267
@jlewi keycloak-gatekeeper is being used as an authentication proxy for Kubeflow like what IAP does for GCP IAP config. This will also be used to add additional headers required for multi-user in the future. For now, I've been able to make this proxy work on the web UI for Authentication (login/logout) flow. I'm finalizing it to work with kfctl and HTTPS. Soon Multi-User support will follow.

Dex

[2019-09-06 22:29] kunmingg opened #345 "web socket traffic is not redirected to Istio."
Currently ambassador -> istio redirect is missing websocket requests.
We should fix it

[2019-09-06 23:17] #345 closed

[2019-09-08 22:42] jlewi commented on #313
Here's a run on a recent PR.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/347/kubeflow-manifests-presubmit/1170119128028024832/

So presubmits are now being triggered on the v0.6-branch.

[2019-09-08 22:42] #313 closed

[2019-09-08 22:57] jlewi opened #348 "E2E tests broken for v0.6-branch; need to pin to particular commit of kubeflow/testing"
Here's an example of a failed presubmit on the v0.6-branch
https://github.com/kubeflow/manifests/pull/347
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/347/kubeflow-manifests-presubmit/1170119128028024832/

Here are the failed logs from the build step.

[kubeflow-manifests-presubmit-kfctl-go-347-0c70cb7-4832-ad25-2147270051.log.txt](https://github.com/kubeflow/man

[2019-09-08 23:43] jlewi commented on #316
Fixed by kubeflow/kubeflow#4009

[2019-09-08 23:43] #316 closed

[2019-09-09 22:52] jlewi commented on #241
We will probably need to do this in pieces.

And we might want to file separate bugs for the different clouds.

For GCP

1. The path and repo containing the deployment manager configs is currently hardcoded [here](https://github.com/kubeflow/kubeflow/blob/5b652b18892c7b49af48ecc365b0af1080e0cb06/bootstrap/pkg/kfapp/gcp/gcp.go#L1294).

    * We will need to update that code. We should probably upda

[2019-09-09 22:54] jlewi commented on #241
We can probably do a bulk copy of
https://github.com/kubeflow/kubeflow/tree/master/deployment to kubeflow/manifests

[2019-09-10 00:02] jlewi commented on #348
It looks like #299 broke the workflow.

[2019-09-10 00:29] jlewi commented on #296
#299 is being rolled back.

I think we should rethink how the unittests work per #306

[2019-09-10 01:16] #116 closed

[2019-09-10 07:15] krishnadurai commented on #267
Refer discussion here: https://kubeflow.slack.com/archives/C7REE0EHK/p1568033731165800

[2019-09-11 10:04] hemantha-kumara commented on #229
@terrytangyuan @merlintang @johnugeorge
Submitted manifests changes to xgboost-operator repo
 https://github.com/kubeflow/xgboost-operator/pull/35

[2019-09-11 13:12] terrytangyuan commented on #229
Thank you! @hemantha-kumara

[2019-09-13 12:31] hemantha-kumara commented on #229
In my opinion it will be good if we move xgboost kustomize manifest under kubeflow/manifests. as you pointed out it will convinient for users to list in kfdef.

[2019-09-13 13:10] terrytangyuan commented on #229
How do we make sure it's always in sync? How do other operators deal with this?

[2019-09-13 14:18] jlewi commented on #241
After the following PRs are merged

kubeflow/kubeflow#4121
kubeflow/manifests#354

We should create a PR deleting the old configs in kubeflow/kubeflow to decrease confusion.

[2019-09-13 21:54] kkasravi opened #356 "unit test generation isn't properly escaping embedded backticks"
the generator for go unit tests embeds the code in the unit test using the golang multi-line backtick. When embedding code that has backticks, the generator tries to use a unicode sequence. However the correct approach is to surround the backtick with double-quotes.
See https://stackoverflow.com/questions/21198980/golang-how-to-escape-back-ticks

[2019-09-15 00:41] jlewi opened #361 "kubeflow manifests missing postsubmit and periodic jobs"
We are missing postsubmit and periodic jobs for kubeflow/manifests
https://k8s-testgrid.appspot.com/sig-big-data

It looks like these are not defined in the kubernetes/test-infra repository.

[2019-09-15 00:44] jlewi commented on #361
It looks like testgrid might be defined automatically by annotations in the job.

[2019-09-15 00:56] jlewi commented on #283
It looks like #323 is being reverted in #357

[2019-09-15 01:06] jlewi commented on #348
Verification

It looks like postsubmits aren't defined for kubeflow/manifests see #361

There's a presubmit dashboard
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-manifests-presubmit

It looks like its not easy to tell what branch PRs are for from the test grid.

Here's a successful presubmit run
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/346/kubeflow

[2019-09-15 01:06] #348 closed

[2019-09-15 02:46] jlewi commented on #229
@terrytangyuan right now its a manual process. We are working on building Tekton workflows to automate updating the manifests see kubeflow/kubeflow#4112.

The tekton workflow would be used to do things like

1. Trigger on postsubmit of a PR updating the operator
1. Build a new docker image
1. Update the kustomize manifest to use the new image
1. Create a PR checking in that manifest

So once we ha

[2019-09-15 03:43] jlewi commented on #267
@krishnadurai Do you want to add a link your doc?

[2019-09-15 08:09] terrytangyuan commented on #229
Sounds great!

[2019-09-15 08:57] krishnadurai commented on #283
I think we can reapply the commit after #358 is fixed.

[2019-09-15 09:11] krishnadurai commented on #267
Here's the doc which describes the approaches to have an Auth Proxy/OIDC flow with Dex: http://bit.ly/2kxbgbE

[2019-09-15 16:33] krishnadurai commented on #267
@jlewi @yanniszark @quanjielin I think one way of moving ahead is to define what solution we should pursue for 0.7 and then if required make changes for 1.0, since we have limited time for the release.
If we can make a decision for this early this week we should be able to implement and test this for 0.7.

[2019-09-16 23:14] #356 closed

[2019-09-18 12:29] krishnadurai opened #365 "Upgrade cert-manager to v0.10.0"
The current version of cert-manager is at v0.4.0 and doesn't support flags like 'isCA' for Issuer resource.

Refer PR: #362

/assign @krishnadurai
/cc @yanniszark

[2019-09-19 14:01] krishnadurai commented on #267
@jlewi @yanniszark @quanjielin can we please move ahead on this?

[2019-09-19 16:30] yanniszark commented on #267
@krishnadurai what is the decision from the aforementioned doc?
I believe that any decision we make should satisfy all user requirements mentioned in the doc.
I'm also copying them below for clarity.

We have confirmed that the solution using the OIDC AuthService satisfies those requirements.
I am currently refactoring the existing_arrikto config to satisfy those requirements and they will be avai

[2019-09-19 17:27] krishnadurai commented on #267
@yanniszark As discussed in the on-prem meeting - we should go ahead with Ambassador OIDC and let us add it to the dex-auth manifest. I'll remove keycloak-gatekeeper as soon as Ambassador OIDC Authservice is in.

@jlewi can we look to include the Ambassador OIDC repository in Kubeflow?

https://github.com/arrikto/ambassador-auth-oidc

[2019-09-19 21:52] jlewi commented on #267
@krishnadurai Is this #1 or #2 in your design doc?

#2 Seems better to me because not every request goes through the AuthService; only ones which don't have credentials

[2019-09-19 22:24] kunmingg opened #371 "upgrade cert manager to v0.9.0+"
This is a dependency for our CRD multi-API support:
https://book.kubebuilder.io/multiversion-tutorial/deployment.html

related:
https://github.com/kubeflow/kubeflow/issues/4150

[2019-09-19 22:25] kunmingg commented on #371
@lluunn
@jlewi

[2019-09-19 22:30] kunmingg commented on #371
dup of https://github.com/kubeflow/manifests/issues/365

[2019-09-19 22:30] #371 closed

[2019-09-19 22:31] kunmingg commented on #365
Thanks!
This is a dependency for our CRD multi-API support:
https://book.kubebuilder.io/multiversion-tutorial/deployment.html

related:
kubeflow/kubeflow#4150

[2019-09-19 22:32] kunmingg commented on #365
@lluunn
Do we install cert manager by default after switch to managed cert?

[2019-09-20 00:28] kkasravi opened #372 "upgrade manifests to work with kustomize-v3.0.1"
- the unit test generation uses kustharness_test.go which needs to be updated to kustomize-v3.0.1
- the hack/gen-test-target.sh needs to write out kustomize3 code, not kustomize
- tests/scripts/run_tests.sh does a `go get sigs.k8s.io/kustomize` and should be changed to get kustomize-v3.0.1

[2019-09-20 00:30] kkasravi commented on #372
/area kfctl

[2019-09-20 00:30] kkasravi commented on #372
/priority p0

[2019-09-20 11:32] krishnadurai commented on #267
It is the second approach.

With this approach, JWT checking is done once only by the AuthService instead of Istio. AuthService provides the added facility to start the OIDC login flow if credentials are missing or incorrect.

[2019-09-20 11:38] krishnadurai commented on #365
@kunmingg GCP IAP and basic auth configs have removed cert-manager installation by default in preference to managed cert.
https://github.com/kubeflow/kubeflow/pull/3871/files

[2019-09-20 12:58] jlewi commented on #267
Great.

[2019-09-20 13:17] krishnadurai commented on #267
Sure, I'll just make a note of it there.

I've made kubeflow/kubeflow#4160 to track adding Ambassador OIDC repository in Kubeflow organisation.

[2019-09-20 14:02] yanniszark opened #373 "kfdef: remove kubeflow repo"
Alll manifests (including deployment configs for cloud providers) now live in kubeflow/manifests.
After kubeflow/kubeflow#4121 is merged, kfctl plugins are configured to use the manifests repo instead of kubeflow.
As such, all configs under kfdef should not specify the kubeflow repo anymore.

/assign @yanniszark

[2019-09-20 14:24] jlewi commented on #373
Related to: kubeflow/manifests#241

[2019-09-20 15:25] jlewi commented on #241
Update this is almost done.

Remaining work

* #4121 merge changes to kfctl
* Update manifests to no longer download kubeflow/kubeflow kubeflow/manifests#373
* Delete KFDef specs from kubeflow/kubeflow

[2019-09-22 02:18] jbrette opened #375 "Numerous kubeflow manifests can't deploy on Kubernetes 1.16"
Old declaration of key objects such as DaemonSet, StatefulSet and Deployment can't be deployed on Kubernetes 1.16 anymore if they are using the old apiVersion such as extensions/v1beta<X> or the apps/v1beta<X>

- Deployments are supposed to use apps/v1 since kubernetes 1.9. => Need updates.
- Ingress will using extensions/xxx will be rejected in kubernetes 1.20 => Need updates.
- CRD definition ju

[2019-09-22 04:07] jbrette commented on #375
ran
[code]
For each directory in the kustomize directory, run kubectl apply -k followed by kubectl delete -k

[code]

[2019-09-23 02:53] jbrette commented on #372
@kkasravi I think we could close this bug.

[2019-09-23 14:06] kkasravi commented on #372
thanks @jbrette

[2019-09-23 14:06] #372 closed

[2019-09-24 02:27] jbrette commented on #375
Changes to apiVersion statefulset, daemonset and deployment have been made.
Ingress have been left to extensions but roles have been adjusted.

[2019-09-24 18:45] jbrette commented on #317
@jlewi One of the main issues is that we don't have a go.mod. If you don't have a go.mod you most of the time have to run from GOPATH/src

[2019-09-25 00:29] kkasravi opened #384 "upgrade tektoncd to release 0.7"
tektoncd is at 0.5.2 - we should upgrade to get podTemplate and other features

[2019-09-25 02:21] kkasravi commented on #317
We had a go.mod, I can add it back in

[2019-09-25 10:01] cliveseldon opened #385 "Certificates for Webhooks when no Cert-Manager"
Operators created with the latest [Kubebuilder V2 assume cert-manager](https://book.kubebuilder.io/cronjob-tutorial/cert-manager.html) by default for provisioning Webhook certificates.

As Cert Manager has been removed in some configurations how will certificates be provided by GCP whose managed certificates seem more focused on ingress situations?

[2019-09-25 12:18] krishnadurai commented on #385
@cliveseldon there's a possibility of cert-manager being brought back to configs through #365 . See Kunming's comment.

[2019-09-25 12:50] cliveseldon commented on #365
I just want to reiterate this as any new Operator built using Kubebuilder V2 will work easiest out of the box with cert-manager. The core reasons is certificates for webhooks: https://book.kubebuilder.io/cronjob-tutorial/cert-manager.html

Maybe the solution for ingress certificates can be separated from those needed by internal Operators?

@jlewi

[2019-09-25 16:12] #373 closed

[2019-09-25 17:52] axelborja opened #386 "Add `host` and `subnets` options to istio-ingress Kustomize component."
Supporting these 2 options are mandatory to expose the Kubeflow Dashboard without performing manual ingress modification through `kubectl`.

Moving from KSonnet to Kustomize makes disappear the istio-ingress `hostname` option that filled `spec/rules/host` section.

Moreover, the `alb.ingress.kubernetes.io/subnets` annotation is also mandatory to expose easily the kubeflow dashboard.

[2019-09-25 22:17] jlewi commented on #241
#4182 actually deleted the AWS config files.

The deployment directory no longer exists in kubeflow/kubeflow.

KFDef specs have been updated in kubeflow/manifests to no longer download the kubeflow/kubeflw repo.

So everything is fixed; closing this issue.

[2019-09-25 22:17] #241 closed

[2019-09-27 03:42] kkasravi opened #391 "split each app by cluster level resources and namespace resources"
per best practices [Separate cluster scoped and namespace scoped resources](https://github.com/kubeflow/community/blob/master/guidelines/application_requirements.md) we should split app resources into these 2 groups.

We currently tend to split by crds - for example
[code]

we should rename these from -crds to -cluster and add things like cluster-role-binding, cluster-role, etc.

[2019-09-27 03:42] kkasravi commented on #391
/priority p2

[2019-09-27 03:43] kkasravi commented on #391
/enhancement

[2019-09-27 03:43] kkasravi commented on #391
/area usage

[2019-09-27 23:20] holdenk opened #395 "Manifests README still references old process for how app.yaml is generated"
Seeing as https://github.com/kubeflow/manifests/tree/master/kfdef now exists, the current https://github.com/kubeflow/manifests/blob/master/README.md description no longer seems accurate.

I'm now very confused how app.yaml is generated and where to make the changes needed.

[2019-09-28 19:59] holdenk opened #399 "Add Spark to KFDEF"

[2019-10-01 15:53] #341 closed

[2019-10-01 16:29] kkasravi opened #408 "finish remaining manifests for app instance"
- [x] cloud-endpoints.yaml
- [x] gpu-driver.yaml
- [x] iap-ingress.yaml
- [x] istio-crds.yaml
- [x] istio-install.yaml
- [x] istio.yaml
- [x] kfserving-crds.yaml
- [x] kfserving-install.yaml
- [x] knative-crds.yaml
- [x] knative-install.yaml
- [x] metacontroller.yaml
- [x] metadata.yaml
- [x] metrics-collector.yaml
- [x] pytorch-job-crds.yaml
- [x] spartakus.yaml
- [x] tf-job-crds.yaml

[2019-10-02 03:07] #408 closed

[2019-10-02 13:42] kkasravi opened #411 "add e2e tests for applications"
verify each application is reporting status if it has been deployed
[code]

[2019-10-02 13:43] kkasravi opened #412 "upgrade tektoncd to v0.7.0, add dashboard"
tektoncd is at v0.5.2 and should be upgraded.
The dashboard component should be added under manifests/tektoncd

[2019-10-02 15:23] Snapple49 opened #415 "Remove tensorboard manifest and from KFDef"
Hi!

Was poking around in the generated kubeflow installation based on the `kfctl_k8s_istio.yaml` manifest, which, in the version I have, by default contains a Tensorboard deployment. When I asked about it @jlewi pointed out that it should not be there by default and asked me to post an issue about it. I can't find a version number for it, I don't remember what version of kfctl I was using at the

[2019-10-02 21:08] yanniszark opened #417 "e2e: check kustomization images fields on presubmits"
In order to make sure the images field of the kustomizations is correct, we should run the `tests/scripts/extract_images.py` script, which automatically fills any missing images.

A way to do that would be:
* Run the script.
* Make sure the git diff is empty.

@swiftdiaries I remember that you had done something similar for the go test generation but it was reverted. Any idea where this method wen

[2019-10-03 05:29] kkasravi opened #420 "error when deploying istio"
several problems when adding the application overlay to istio manifests: istio-crds, istio-install

1. istio-crds shouldn't set the namespace to be istio-system and use the default namespace. This is because the application overlay for istio-crds will attempt to add the application CR and ConfigMap to istio-system which isn't created until istio-install. The error is below:

[code]

2. During isti

[2019-10-03 05:30] kkasravi commented on #420
istio-crds creates a ConfigMap but should use the default namespace (kubeflow)

[2019-10-03 05:51] swiftdiaries commented on #420
/cc @swiftdiaries

[2019-10-03 06:43] kkasravi opened #422 "getting error when calling webhook "pilot.validation.istio.io""
the error is
[code]

According to this bug filed with istio https://github.com/istio/istio/issues/17162, it seems related to api-server proxy settings and deploying kf within a vpn setting. The bug seems to suggest we remove the the validatingwebhookconfiguration

additional info
https://istio.io/docs/ops/setup/validation/

[2019-10-03 06:50] kkasravi opened #423 "update the README.md under /manifests"
the README.md should reflect the latest KfDef structure

[2019-10-03 20:22] kkasravi opened #425 "application CR's istio-install and knative-serving-install do not deploy"
both fail for different reasons

knative-serving-install deployment seems to wait forever
istio-install seems to not resolve all $(generateName)'s

[2019-10-03 20:23] kkasravi commented on #425
/priority p1

[2019-10-03 20:23] kkasravi commented on #425
/kind bug

[2019-10-03 22:14] jlewi opened #426 "kubeflow/manifests @ master is broken - uber issue"
Master of kubeflow/manifests appears to be broken.

There appear to be three known issues

1. #420 and #425 are breaking the ISTIO and knative install
1. #342 pinned kubeflow/manifests in kfctl to some presubmits

At issue appears to be some very large PRs #342 and #410 that touched a number of different components.

[2019-10-03 22:17] kunmingg commented on #426
We can
1. set test config to
[code]
2. revert broken PRs.

[2019-10-03 22:19] jlewi commented on #426
I think we need to roll back all PRs on kubeflow/manifests 1 by 1 so that we roll back master to
3e85b3c83de12fed7d675151d0d4f8474eb04790.

[2019-10-03 22:46] jlewi commented on #426
I suspect that one reason the presubmits didn't catch the breaks to ISTIO is we don't run the test_endpoint test are part of our presubmits.

[2019-10-03 23:24] jlewi commented on #426
I manually deployed using
https://github.com/kubeflow/manifests/pull/429

I hit https://github.com/kubeflow/kfserving/issues/399 but when I retried kfctl apply it succeeded.

I'm still waiting for my endpoint to be ready but otherwise everything looks good.

[2019-10-03 23:41] jlewi commented on #426
#429 is merged.

Here's the follow on work

* Roll forward #424 metadata fix
* Roll forward #401 update jupyter images

Not sure what to do about the 3 other massive PRs

* #342 app instance
* #410 first pass remaining applications
* #405 missing images to kustomization

#405 was probably not the culprit but #342 and #410 were probably causing problems.

Should we improve the testing before rollin

[2019-10-03 23:41] jlewi commented on #426
@yanniszark @neuromage @Tabrizian FYI that your PRs were at least temporarily rolled back see above.

[2019-10-04 04:13] jlewi commented on #317
I was getting

[code]

when I tried to run the tests.

Here's what I ended up doing to run the tests. We should probably document this

1. Create a symbolic link in ${GOPATH}/src/github.com/kubeflow/manifests to point to where I checked out the rep

[code]

1.  Initialize a go.mod file

[code]

1. Run the tests

[code]

[2019-10-04 21:46] jlewi opened #436 "kubeflow/manifests presubmit failures - problem importing kubeflow.kubeflow"
Example https://github.com/kubeflow/manifests/pull/430

kfctl_go_test.py fails with

[code]

This is happening because kubeflow/kubeflow#4187 refactored kfctl_go_test.py and it now imports kubeflow.kubeflow.

This requires updating the python path on the kfctl_go_test.py script.

kubeflow/kubeflow#4187 updated the workflow in that repo to make this change but kubeflow/manifests isn't using that.

[2019-10-05 23:59] #412 closed

[2019-10-07 15:38] yanniszark commented on #426
@jlewi I have #444 made to revert #405.

[2019-10-07 18:13] gabrielwen commented on #399
could you add some explanation why spark op should be a default?

[2019-10-07 23:23] kkasravi opened #445 "provide recommended labels that allow upgrades"
recommended labels are described [here](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels)

[2019-10-08 00:37] #445 closed

[2019-10-08 13:40] jlewi commented on #426
I'm going to close this issue.

* Master has been fixed
* All the PRs that should be rolled forward either have been rolled forward or are out for review
* @kkasravi is working on revising his PRs to define Application resources for all apps and will break it up into smaller PRs.

[2019-10-08 13:40] #426 closed

[2019-10-08 17:32] #436 closed

[2019-10-08 20:44] jlewi opened #449 "extract_images.py doesn't work with digest"
#444 added extract_images.py to pull out all images and make sure they are listed in kustomization.yaml.

This doesn't appear to handle digest correctly

The kustomization.yaml file looks like this

``
- name: gcr.io/kubeflow-images-public/notebook-controller
   newName: gcr.io/kubeflow-images-public/notebook-controller
   digest: sha256:6490f737000bd1d2520ac4b8cbde2b09749cdb291b1967ddda95d05131db

[2019-10-08 22:34] kkasravi opened #450 "add application overlay for notebook-controller"
required for upgrade and delete

[2019-10-08 23:08] kkasravi opened #452 "add application overlay for admission-webhook"
for both admission-webhook/{webhook,bootstrap}

[2019-10-09 00:31] #452 closed

[2019-10-09 00:59] kkasravi opened #454 "add application overlay for argo"
update config files, add overlay

[2019-10-09 01:05] kkasravi opened #456 "add application overlay for aws"
overlays for
[code]

[2019-10-09 14:22] kkasravi opened #459 "update application overlays for centraldashboard"
update the version, instance tags

[2019-10-09 14:49] #454 closed

[2019-10-09 18:54] jlewi opened #463 "Update centraldashboard image in master"
The central dashboard image on kubeflow/manifests master is outdated. Its still using a v0.5.0 tag which looks like its older then the image on v0.6-branch.

[2019-10-09 18:54] jlewi commented on #463
/assign @jlewi

[2019-10-09 20:40] kkasravi opened #464 "add application overlay for kubebench"

[2019-10-09 21:27] holdenk commented on #399
@gabrielwen See the discussion the PR. The tl;dr is we need data prep that works outside of GCP. The current functioning option is Spark.

[2019-10-09 22:37] kkasravi opened #467 "add application overlay for basic-auth-ingress"

[2019-10-09 22:56] #464 closed

[2019-10-09 23:29] kkasravi opened #469 "add application overlays for pipeline"
[code]

[2019-10-09 23:38] kkasravi opened #472 "add application overlays for gcp"
[code]

[2019-10-09 23:48] kkasravi opened #474 "add application overlays for kfserving"
[code]

[2019-10-09 23:50] kkasravi opened #476 "add application overlays for knative"
[code]

[2019-10-10 01:52] #463 closed

[2019-10-10 02:27] #474 closed

[2019-10-10 03:39] #476 closed

[2019-10-10 04:43] kkasravi opened #479 "add application overlay to spartakus"

[2019-10-10 04:46] kkasravi opened #480 "update application overlay for metadata"

[2019-10-10 04:50] kkasravi opened #481 "update application overlay for mpi-operator"

[2019-10-10 04:52] kkasravi opened #482 "add application overlays for profiles"

[2019-10-10 04:58] kkasravi opened #483 "add application overlay for pytorch-job-crds"

[2019-10-10 05:02] kkasravi opened #484 "update application overlay for seldon-core-operator"

[2019-10-10 05:03] kkasravi opened #485 "add application overlay for spark-operator"

[2019-10-10 05:05] kkasravi opened #486 "add application overlay for tensorboard"

[2019-10-10 05:10] kkasravi opened #487 "update application overlay for tf-job-operator"

[2019-10-10 05:11] kkasravi opened #488 "add application overlay for tf-job-crds"

[2019-10-10 05:12] kkasravi opened #489 "add applications overlays"
- [x] add application overlays for gcp #472
- [x] add application overlays for pipeline #469
- [x] add application overlay for basic-auth-ingress #467
- [x] update application overlays for centraldashboard #459
- [x] add application overlay for aws #456
- [x] add application overlay for notebook-controller #450
- [x] add application overlay to spartakus #479
- [x] update application overlay for me

[2019-10-10 12:01] #472 closed

[2019-10-11 00:43] #469 closed

[2019-10-11 02:15] #482 closed

[2019-10-11 03:31] #456 closed

[2019-10-11 04:38] kkasravi opened #495 "document istio workaround for 'Internal error occurred: failed calling admission webhook "pilot.validation.istio.io"'"
We see this error in pipeline manifest testing as shown below:
[code]

The workaround is documented in istio/istio#17162
We should note in our istio manifest where this has been done

[2019-10-12 00:42] #459 closed

[2019-10-12 00:42] #308 closed

[2019-10-12 05:30] #483 closed

[2019-10-12 18:19] jlewi opened #508 "[GCP] Unpin GKE from 1.14.6-gke.2 when 1.14.6-gke.14 is available cut RC"
Context: kubeflow/kfctl#48
GKE 1.14.6-gke.13 had a bug that caused the GKE metadata servers to crash which prevents workload identity from working.

To fix that we pinned to GKE 1.14.6-gke.2.

This bug is tracking unpinning from GKE 1.14.6-gke.2

[2019-10-12 21:27] jlewi opened #509 "make generate - assumptions about remote names"
#466 modified the script to generate the updated tests to only generate tests for what's changed.

I get the following error

[code]

It looks like the script is making assumptions about the remote name that is used for the fork and the upstream.

A more robust approach is to find the remote based on the remote URL rather than assuming its  named upstream.

I thought we had a shell script that was

[2019-10-12 21:32] jlewi opened #510 "make generate ends up deleting a bunch of tests."
When I try to regenerate the tests by running `make generate` it ends up deleting a bunch of tests.
Seems related to #466

Here's the diff on my branch compared to master

[code]

When I run make generate

[code]

Running git_status I see a bunch of deleted files

[code]

/cc @kkasravi

[2019-10-12 22:04] kkasravi opened #512 "additional improvements to manifests generation"
- [ ] add an option '--all' to hack/gen-test-targets
- [ ] --dry-run show also apply to --add-app

[2019-10-13 20:32] #487 closed

[2019-10-13 20:40] richardsliu commented on #488
/close

[2019-10-13 20:40] #488 closed

[2019-10-14 05:07] Jeffwan opened #517 "Miss application name for some of components"
I get two empty names when we deploy applications. I found I forgot to have a name field for seldon and mpi-operator

https://github.com/kubeflow/manifests/blob/bc64c99dbdbbe7833812f20232e48010d963e163/kfdef/kfctl_aws.yaml#L249-L260

This is only for aws kfdef files.

[code]

[2019-10-14 20:07] Jeffwan opened #520 "Use pods IAM in aws components"
EKS release feature

https://aws.amazon.com/opensource/?sc_ichannel=ha&sc_icampaign=acq_awsblogsb&sc_icontent=opensource-resources

We can deprecated all IAM policy attachment process and leverage this feature to improve the user experiences.

[2019-10-14 20:44] jlewi opened #521 "[GCP] Can we get rid of scripts setting the health check path?"
We currently use scripts to set the health check used by the ingress.
https://github.com/kubeflow/manifests/blob/529c6c302a3eaa7b19f9e34ba6bc0431522ccd59/gcp/iap-ingress/base/config-map.yaml#L176

I think this was necessary in the past because of race conditions where if the ingress was created before the deployment it wouldn't pick up the path of the health check as used by the deployment.

We sh

[2019-10-14 20:48] jlewi opened #522 "[GCP] disable http traffic completely"
Now that we are using managed certificates we no longer need to allow any http traffic.
We can use an annotation to disable http altogether on our GCP ingresses
https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#disabling_http

[2019-10-14 21:09] #467 closed

[2019-10-14 21:29] #495 closed

[2019-10-14 21:29] #510 closed

[2019-10-14 21:31] kkasravi opened #524 "upgrade all application instance labels to v0.7.0"
$ ☞  vgrep 'v0.6'|grep -v tests
admission-webhook/webhook/overlays/application/kustomization.yaml
admission-webhook/webhook/overlays/application/application.yaml
admission-webhook/bootstrap/overlays/application/kustomization.yaml
admission-webhook/bootstrap/overlays/application/application.yaml
application/application/overlays/application/kustomization.yaml
application/application/overlays/applica

[2019-10-14 21:36] richardsliu commented on #524
Can we put this in a 1-line script?

[2019-10-14 21:39] kkasravi commented on #524
yep

[2019-10-14 22:01] #479 closed

[2019-10-14 23:19] #450 closed

[2019-10-14 23:55] kkasravi opened #525 "add an option to hack/gen-test-targets.sh to update the application overlay version"
Only the version and instance labels should be updated in application.yaml and kustomization.yaml

[2019-10-15 08:39] krishnadurai commented on #521
/cc @krishnadurai

[2019-10-15 09:52] krishnadurai commented on #267
Increasing this issue's priority for making it a part of manifests for 0.7 release.

/priority p0

[2019-10-15 10:18] krishnadurai opened #527 "hack/get-test-targets is not able to pick files from configMapGenerator fields in kustomization.yaml"
/kind bug

Or could be a feature as well.

Related to: #413

Example kustomization:

[code]

Currently, `make generate` or hack/get-test-targets picks files in a kustomization folder based on these `sed` commands:

https://github.com/kubeflow/manifests/blob/9e78376476d6377fd4194eaec77209dadb0dcd84/hack/gen-test-target.sh#L46

The commands here do not process the configMapGenerator file resources a

[2019-10-15 16:06] kkasravi commented on #527
thanks @krishnadurai

/assign @kkasravi

[2019-10-15 16:22] yanniszark opened #528 "tests: go generates invalid tests for platform configs"
The current test generation code generates tests for platform configs (aws infra configs, gcp deployment manager configs).
These are invalid tests that will fail.

/cc @kkasravi @swiftdiaries
/priority p0

[2019-10-16 00:54] #524 closed

[2019-10-16 03:20] #528 closed

[2019-10-16 04:32] kkasravi opened #536 "disable the kustomize generator in profiles/overlays/test"
the kustomization.yaml should look like

[code]

[2019-10-16 06:20] jbrette opened #538 "kustomize syntax "env: params.env" deprecated in next release of kustomize; kubeflow stuck on kustomize 3.2.1"
Heads up, just learned the hard way:

the following syntax is not supported anymore (since 10/15/2019)

[code]

It needs to be:

[code]

Will have to enforce that the user uses a very specific version of kustomize until the manifests are updated.

[2019-10-16 09:20] yanniszark commented on #538
@jbrette thanks for the heads up!
I think that means that we have to pin to a certain version in kfctl, correct?

[2019-10-16 18:13] krishnadurai opened #539 "Consistent naming style for parameters in kustomization.yaml"
/priority p2

Parameters in kustomization.yaml across applications have different naming styles varying from camel case, snake case, to all caps for environment variables. It would be better to have all manifests follow the same convention as these parameters roll up to KfDefs.

[2019-10-16 21:36] jlewi opened #540 "Cross namespace ownership will cause resources to be GC'd; are we setting owner references for any cluster scoped resources?"
@IronPan  pointed out the following potential issue to me

K8s garbage collection has the following requirements:
Cross-namespace owner references are disallowed by design. This means: 1) Namespace-scoped dependents can only specify owners in the same namespace, and owners that are cluster-scoped. 2) Cluster-scoped dependents can only specify cluster-scoped owners, but not namespace-scoped owners

[2019-10-16 21:51] kkasravi commented on #540
applications are not trying to claim cluster level resources, but I can verify by deploying kf

[2019-10-16 22:15] jlewi commented on #540
@kkasravi I see; so just to double check; we are relying on the application controller to set owner references. We aren't doing it manually. So presumably the application controller should be adhering to appropriate policies when setting owner references.

So if the application controller was claiming cluster level resources in violation of K8s guidelines that would arguably be a bug in the applic

[2019-10-16 22:23] kkasravi commented on #540
correct. For example here is jupyter's application
[code]

Notice the addOwnerRef at the bottom and the lack of any cluster level resources listed in the componentKinds. If we were to add a cluster level resource like

[code]

it shouldn't claim it and I don't believe it does based on the reconcile loop -  it's watching in a namespace. But if it did it would be incorrect as you said.

Note that cl

[2019-10-16 23:21] jlewi commented on #540
@kkasravi I think you can cherry pick it into the v0.7-branch.

[2019-10-17 01:10] kkasravi commented on #540
Great, thanks.

[2019-10-17 11:28] #365 closed

[2019-10-17 15:25] krishnadurai opened #543 "Failures for CertManager deployment through kfctl when webhook is not ready"
/kind bug
/priority p1

Cert Manager v0.11.0 base files are deployed with ValidatingWebhookConfiguration on. This was chosen due to [Simplified Webhook Bootstrapping](https://github.com/jetstack/cert-manager/releases/tag/v0.10.0) (scroll down the page for the section).

Whenever cert-manager isn't ready with the webook, kfctl apply fails with the error:

Second time apply for KFDef through kfctl a

[2019-10-17 15:26] krishnadurai commented on #543
/assign @krishnadurai

[2019-10-17 18:29] kunmingg opened #544 "add "ZONE" to kfctl_gcp_iap.yaml and kfctl_gcp_basic_auth.yaml"
User should be able to specify target Zone by editing config file

[2019-10-17 19:09] #480 closed

[2019-10-17 19:12] richardsliu commented on #489
@kkasravi We can close this now right?

[2019-10-17 20:54] kkasravi commented on #489
yes - i can close

[2019-10-17 20:54] #489 closed

[2019-10-17 22:49] #540 closed

[2019-10-18 11:18] krishnadurai commented on #543
Found the root cause of this problem

The order of deployment for cert-manager with overlays self-signed or lets-encrypt is:
[code]

Since `clusterissuer` requires `validatingwebhookconfiguration` to be ready for validation, the config apply for it fails with the error:
[code]

/cc @jbrette @yanniszark

[2019-10-18 12:49] yanniszark commented on #543
I found this commit in kustomize: https://github.com/kubernetes-sigs/kustomize/commit/a09b42b3640839968408a9c4f75fcea332e3a07b

It would fix our issue since validating webhook is applied last, however that would mean that it's not validating the created objects.

I think the behavior we want is for kustomize to just honor the order declared in the `kustomization.yaml`. This way, we can be explicit

[2019-10-18 14:20] kkasravi commented on #543
Yes we need to change the reorder to none, this can be done in kfctl, kustomize.go where we are setting it to legacy

[2019-10-18 14:28] krishnadurai commented on #543
Let me quickly try removing:

https://github.com/kubeflow/kubeflow/blob/8a2c452d8576449e8459648ca24c4e2780d30f52/bootstrap/pkg/kfapp/kustomize/kustomize.go#L944-L947

And deploy KfDef and see if the deployment is stable.

[2019-10-18 15:26] kkasravi commented on #543
@krishnadurai yes that should work since we're not doing any ordering

[2019-10-18 15:43] krishnadurai commented on #543
@kkasravi @yanniszark  Here's is order after I remove those lines:

[code]

And this is 'as-is' as defined in kustomization.yaml, just that the overlay files are being given precedence over base resources. Since CRDs are created the ClusterIssuer resource is accepted by the API server.

Just let me know if overlays being applied first should be the correct order.

[2019-10-18 15:59] yanniszark commented on #543
@krishnadurai @kkasravi the reason that the overlay files come first is because we still use the deprecated bases field.
Some things are declared as bases, others as resources and resources come before bases.

In order to honor the ordering, we should edit the kustomization merge code to use resources for everything.
@kkasravi can you take a look at the merged kustomization.yaml and confirm?

[2019-10-18 19:05] jbrette commented on #543
@yanniszark @krishnadurai @kkasravi @jlewi Have a look at [this PR](https://github.com/kubeflow/kubeflow/pull/4347)

I do believe this will solve most of your issues because it gives you control on the order and allows to filter directly in kfctl. I left the "legacy" order right now.

Moreover that code is compatible so could potentially be loaded as a kustomize external transformer (but I do beli

[2019-10-19 00:35] kkasravi commented on #543
thanks @jbrette, i can pick up the PR.

@yanniszark we can't switch out bases for resources w/o making a few other changes otherwise we'll get errors from kustomize. Hoping to get our kustomize targets fully compatible with kustomize-v3 for our point release

[2019-10-19 19:10] kkasravi opened #547 "Add finalizers to roles, change argo executor to k8sapi"
PR #276 submitted by @willb blublinsky

New PR is #501 since we had difficulties getting his PR in.

[2019-10-20 09:01] Jeffwan opened #548 "Update pipeline subcomponent applications name with prefix pipeline"
https://github.com/kubeflow/manifests/tree/master/pipeline

All these are pipeline components and It makes people confusing sometimes.
I would suggest to use  `pipelines-api-service`, `pipeline-persistent-agent`, `pipeline-scheduledworkflow` as applications names and make sure they have same pattern.

[code]

Minio and mysql are a little bit different as they maybe used somewhere else.

[2019-10-21 17:26] gabrielwen commented on #544
it's in `KfGcpPlugin`?

[2019-10-21 17:50] kunmingg commented on #544
Can user specify zone by editing config file?

[2019-10-21 17:57] gabrielwen commented on #544
yea they just need to put it in `KfPluginSpec.Zone`: https://github.com/kubeflow/kubeflow/blob/e60ee44ca13820fd256e16f4d717cb82f47f52df/bootstrap/pkg/kfapp/gcp/gcp_plugin.go#L30

[2019-10-21 18:12] gabrielwen commented on #544
added a comment for zone.

[2019-10-21 22:41] #544 closed

[2019-10-23 09:39] krishnadurai commented on #267
/reopen

[2019-10-23 09:44] krishnadurai commented on #267
@yanniszark I think it would be better to keep this issue open until the entire setup is working in a seamless manner.

There are a few things left in that note:
1. Have the endpoint work through HTTPS rather than HTTP. #362 aims to address this.
2. Change ingress gateway kubeflow-gateway to work through 443 instead of 80.
3. Verify if this setup works through NodePort as well -  this does not see

[2019-10-23 13:14] jlewi opened #561 "[GCP] iap-enabler won't pick up changes to the backend id in JWT policy"
IAP enabler script will not pick up changes to the backend id.
https://github.com/kubeflow/manifests/blob/973fba5a2012e7c9e305092727b2da446a2b6b81/gcp/iap-ingress/base/config-map.yaml#L92

We don't reset backend id and backend name each time through the loop so if backend id or backend changes it won't get picked.

The behavior was recently changed #551 to periodically check and update the value

[2019-10-23 19:42] yanniszark opened #566 "istio, dex: make ingress service types configurable"
For Services that are intended to be exposed (eg istio-ingressgateway, dex) we should have some kind of parameter/overlay to customize them.
Some users work in restrictive environments (eg healthcare https://github.com/kubeflow/kubeflow/issues/4348) and might want to only work through port-forward.

Some other users may want to use a LoadBalancer to expose those Services.

[2019-10-24 00:45] #517 closed

[2019-10-24 14:29] jlewi commented on #375
@jbrette it looks like we are still getting reports that Kubeflow doesn't work on 1.16
Looks like the deployments might be an issue

See: kubeflow/kubeflow#4386 for example.

Can we create an E2E test to verify that Kubeflow is working on 1.16.

It doesn't look like GKE supports 1.16 yet so we either need to

1. Wait for GKE to support 1.16
1. Start to build an E2E test that uses something like ko

[2019-10-24 21:54] lluunn commented on #561
weird, after my 2nd apply, I got origin authentication failed (which is expected).
But after a while it's back and working.

[2019-10-24 21:55] lluunn commented on #561
I checked the pod logs, the backend id never changes.
Not sure why I got origin authentication failed.

[2019-10-24 23:21] #399 closed

[2019-10-25 02:25] #561 closed

[2019-10-25 03:07] jlewi commented on #508
Here's the latest available

[code]

[2019-10-25 13:33] krishnadurai commented on #543
This issue has been resolved by kfctl apply retries in PR kubeflow/kubeflow#4360. The ordering wasn't the root cause of this issue as mutating webhook wasn't ready until cluster issuer is applied. Ordering cluster issuer before mutating webhook wouldn't have been a clean solution.

As for the ordering issue, I have created a tracker issue: kubeflow/kfctl#65
This still requires to be addressed as t

[2019-10-25 22:08] jlewi commented on #508
1.14.6 is no longer a valid master version.

And cluster creation is failing.

[code]

[2019-10-25 22:27] jlewi commented on #508
Looks like 1.14.7 is only available in some zones; looks like we are in the middle of a GKE release.

[code]

So customers will need to pick a zone where 1.14.7 is available.

[2019-10-25 22:59] jlewi commented on #508
Confirmed that workload identity seems to be working with 1.14.7
https://github.com/kubeflow/manifests/pull/577#issuecomment-546538755

[2019-10-26 00:21] #216 closed

[2019-10-27 14:04] patsadow2 commented on #543
Which version is working corretly ?

[2019-10-27 15:32] krishnadurai commented on #543
@patsadow2 cert-manager v0.11.0 is working correctly if you apply it through KfDef (kfctl) since it retries on failures as its webhook becomes ready.

[2019-10-29 12:51] yanniszark opened #585 "metadata: grpc server deployment uses apps/v1beta2 which breaks K8s 1.16"
In the metadata package, the grpc server Deployment uses the `apps/v1beta2` API Group which was retired in K8s 1.16.
https://github.com/kubeflow/manifests/blob/ded8022544963b53d7d68ced02982350c392d650/metadata/base/metadata-envoy-deployment.yaml#L1

User bumping into the issue:
https://kubeflow.slack.com/archives/C7REE0EHK/p1571994295197200

/cc @zhenghuiwang @jlewi

Would be nice to get this in v

[2019-10-29 15:13] saschagrunert commented on #585
Yeah there are multiple manifests which still have `apps/v1beta2`, this should be fixed.

[2019-10-29 20:39] krishnadurai opened #587 "Clashes with fixed ports in NodePort based services"
Ran kfctl apply on a fresh GKE cluster and encountered this issue:

[code]

Apparently, `default-http-backend` in `kube-system` had already taken port number 31380:

[code]

We have a rare risk of running into this problem in case if a service deployed earlier occupies the NodePort of a fixed NodePort numbered service to be deployed later.
In our case, `istio-ingressgateway` service uses the port

[2019-10-29 22:34] #585 closed

[2019-10-31 01:19] Ark-kun commented on #256
/assign @neuromage

[2019-10-31 01:20] Ark-kun opened #591 ""metadata-configmap" is not deployed with KF deployment"
/assign @neuromage

[2019-10-31 13:43] jlewi commented on #267
What about docs and testing for this?

[2019-10-31 13:49] jlewi opened #593 "[GCP] 0.7 - basic auth 502's backend is unhealthy"
Using basic auth on GCP with
kubeflow/manifests - v0.7.0-rc.2-16-gd6dad08
kubeflow/kubeflow - v0.4.0-rc.1-802-gd66f8b97

Accessing the central dasbhoard results in 502s.  The GCP backend reports 0 healthy backends.
It looks like the health check is set to "/".

I suspect this is related to kubeflow/manifests#513

[2019-10-31 14:11] jlewi commented on #593
Pod is using

[code]

Not seeing any rolebindings for it in the istio-namespace. Lets try creating one

[code]

So that fixed the issue but now the code is stuck here unable to get a backend
https://github.com/kubeflow/manifests/blob/127dacce625e5dfc7630302ea82cf8ad56f9b6dd/gcp/basic-auth-ingress/base/config-map.yaml#L33

[code]

[2019-10-31 17:20] jlewi commented on #593
The code is

[code]

So it looks like node port is empty.

[2019-10-31 17:30] jlewi commented on #593
Looks like the code is slightly different from what we do for IAP.
https://github.com/kubeflow/manifests/blob/127dacce625e5dfc7630302ea82cf8ad56f9b6dd/gcp/iap-ingress/base/config-map.yaml#L81

It looks like we didn't get the node port because of the RBAC permission

[code]
I deleted the pod to force a restart and now the script worked and the backend was updated

The health check path ended up get

[2019-10-31 21:03] jlewi commented on #593
Looks like we have a role and role binding defined for the kustomize package
https://github.com/kubeflow/manifests/blob/127dacce625e5dfc7630302ea82cf8ad56f9b6dd/gcp/basic-auth-ingress/base/cluster-role-binding.yaml

[2019-10-31 22:16] jlewi opened #595 "Presubmits failing No module named testing.tf_job_simple_test"
[code]

This code was remove in kubeflow/kubeflow#4437 because it was failing and no longer relevant.

The E2E tests in kubeflow/manifests are depending on the kfctl E2E tests but they depend on the code being duplicated rather than importing it so the workflow in kubeflow/manifests is now out of date.

The long term solution here is to

* Move to using Argo as opposed to ksonnet for the tests
* i

[2019-10-31 23:43] jlewi commented on #595
We will need to cherry pick the fix onto the v0.7-branch

[2019-11-01 00:42] jlewi commented on #595
#598 cherry picks into the release branch.

[2019-11-01 08:59] krishnadurai commented on #595
Thanks for filing this @jlewi, I've lgtm-ed the release branch PR.

[2019-11-01 11:35] krishnadurai commented on #267
@jlewi as discussed the docs and testing are pending and will be created soon.

[2019-11-01 16:15] yanniszark opened #599 "Refactor existing_arrikto into a community supported config"
There seems to be a community agreement that Kubeflow needs a config in the lines of
existing_arrikto.
Since our intention was for it to be a community config from the start, we refactor it into a community-supported config.

The proposed new name is `kfctl_istio_dex.yaml`.

What is included:
* **Kubeflow components:** the intention is for this config to be a batteries-included config, with all th

[2019-11-01 16:38] krishnadurai commented on #599
Thanks, @yanniszark for filing this issue. Let me link @jlewi's comment which summarizes this:

Currently kfctl_k8s_istio.yaml is a configuration that works for everyone but is not identity aware and doesn't have a good story for how you access it from outside the cluster (kubectl port-forward works but isn't great).

Is the proposal to change that to

* Exposing the istio ingress gateway on an IP

[2019-11-01 16:41] krishnadurai commented on #599
It follows from here that we would stop supporting kfctl_k8s_istio.yaml and replace it with kfctl_k8s_istio_dex.yaml

[2019-11-01 16:42] jlewi commented on #599
Thanks @yanniszark; I'd like to propose one additional

* **Basic Auth** use Dex basic auth by default

  * kfctl should look for environment variables KUBEFLOW_USERNAME and KUBEFLOW_PASSWORD and use them to configure basic auth

   *  This is what GCP basic auth does today so we could refactor that [code](https://github.com/kubeflow/kubeflow/blob/cfc6d8b1fe5901e699fbfd81d19d1967f71c3713/bootstrap

[2019-11-01 16:48] krishnadurai commented on #599
One important assumption we need to note is that with 0.7 release is that the identity at Kubeflow gateway and Kubernetes' API are assumed to be the same for a user.
The reference architecture needs to support the same Identity at both ends.

[2019-11-01 22:39] #283 closed

[2019-11-02 20:15] jlewi commented on #593
I successfully deployed using basic auth using

kubeflow/kubeflow - v0.7.0-rc.7-3-g8dbde9d8
kubeflow/manifests - v0.7.0-rc.2-19-g317c0d8

So marking this fixed.

[2019-11-02 20:15] #593 closed

[2019-11-02 21:20] jlewi commented on #595
This is fixed.

[2019-11-02 21:20] #595 closed

[2019-11-04 13:29] jlewi commented on #508
kubeflow/manifests#577 unpinned master
on v0.7-branch we are using 1.14
https://github.com/kubeflow/manifests/blob/317c0d826e809cca409bb5455b17082a20609563/gcp/deployment_manager_configs/cluster-kubeflow.yaml#L34

[2019-11-04 13:29] #508 closed

[2019-11-04 19:13] duoduo-ai commented on #227
The web page https://www.kubeflow.org/docs/components/training/mpi/ still need to be updated.

[2019-11-04 23:36] jlewi commented on #375
I think we should treat 1.16 support as P0 for Kubeflow 1.0.
1.16 was released in September (https://github.com/kubernetes/sig-release/tree/master/releases/release-1.16).

And Kubernetes 1.17 is slated for December
https://github.com/kubernetes/sig-release/tree/master/releases/release-1.17

So by January 2020 (ETA for Kubeflow 1.0) it will be approximately 4 months old and 1.17 will likely be here

[2019-11-05 00:20] jlewi commented on #361
No results in the postsubmit dashboard
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-manifests-postsubmit

periodic dashboard doesn't look right erither
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-manifests-periodic-master

[2019-11-05 22:33] Jeffwan commented on #227
@duoduo-ai I will submit a follow up PR for it

[2019-11-06 22:00] neuromage commented on #591
/assign @dushyanthsc

[2019-11-07 16:31] barambani commented on #484
Hi, I noticed that the application overlay's structure of `seldon-core` ([here](https://github.com/kubeflow/manifests/blob/master/seldon/seldon-core-operator/overlays/application/application.yaml)) has some of the specs at root level instead of being in `descriptor`. Is that covered by this ticket or it this about something else ? Thanks.

[2019-11-07 22:22] jlewi commented on #272
@krishnadurai any update on this? Is this issue still relevant given recent discussions about the on prem istio and dex config?

[2019-11-07 22:32] jlewi commented on #127
This is fixed.
https://github.com/kubeflow/manifests/tree/master/common/spartakus/overlays/application

[2019-11-07 22:32] #127 closed

[2019-11-07 22:34] jlewi commented on #118
This is fixed.

[code]

[2019-11-07 22:34] #118 closed

[2019-11-08 20:58] jlewi opened #613 "e2e presubmit needs to be updated to use kfctl from kubeflow/kfctl"
The presubmit for kubeflow/manifests tries to build kfctl and deploy Kubeflow.

This is now failing because kfctl has moved to kubeflow/kfctl but the test hasn't been updated yet.

We need to update the test. We should model it on
https://github.com/kubeflow/kfctl/blob/6c3fbeaf081a481d4324ea1ac1748eb7c6edae82/prow_config.yaml#L20

We probably want to replace the test with a py_func workflow that i

[2019-11-14 00:30] krishnadurai commented on #599
We've thought of introducing Istio with this config.
Add E2E tests for Istio 1.3.1: #4480
Upgrade kfctl_istio_dex kfdef to use Istio 1.3.1 and update tests: #4501

[2019-11-14 00:52] krishnadurai commented on #267
Using #599 to track this.

/close

[2019-11-14 00:52] #267 closed

[2019-11-14 23:31] yanniszark opened #616 "v0.7-branch: cherry-pick oidc-authservice and cert-manager PRs for kfctl_existing_arrikto"
Cherry pick the following PRs so that kfctl_existing_arrikto (kfctl_istio_dex) can use the v0.7-branch.
* #529 (cherry pick in #615)
* #549 (cherry pick in #617)

[2019-11-15 16:36] kkasravi opened #618 "add icons and authors to Application CRs"
not all applications have authors and many applications can include icons
See screen shot
<img width="1093" alt="Screen Shot 2019-11-15 at 8 36 21 AM" src="https://user-images.githubusercontent.com/146453/68959532-1012d000-0783-11ea-8abd-06455facee30.png">

[2019-11-15 16:37] kkasravi commented on #618
fyi @richardsliu

[2019-11-15 18:42] jlewi commented on #616
@yanniszark Can you provide me a little bit more context? I tried looking through the linked issues and PRs but couldn't find an overarching explanation of the feature or bug being addressed here.

My high level question is what's the motivation for cherry-picking these changes onto the v0.7-branch? Especially given that next week is Kubecon and we just published our 0.7 blog post is it possible t

[2019-11-15 18:46] jlewi commented on #616
@yanniszark regarding this comment
https://github.com/kubeflow/manifests/pull/447#issuecomment-553682723

Could you please summarize the current state of the the v0.7 release of existing_arrikto.

/cc @krishnadurai

[2019-11-15 19:03] richardsliu opened #619 "Metadata component in kfdef should add application overlay"
https://github.com/kubeflow/manifests/blob/v0.7-branch/kfdef/kfctl_gcp_iap.0.7.0.yaml#L107

[2019-11-15 19:58] krishnadurai commented on #616
@jlewi @yanniszark

This is what I gather from looking at the 0.7 branch:

Existing Arrikto is pinned on a commit from master branch for downloading manifests:

https://github.com/kubeflow/manifests/blob/v0.7-branch/kfdef/kfctl_existing_arrikto.0.7.0.yaml#L329

Unlike GCP IAP config, which is referring to 0.7 branch:

https://github.com/kubeflow/manifests/blob/v0.7-branch/kfdef/kfctl_gcp_iap.0.7.0

[2019-11-20 21:36] AndriiNeverov opened #625 "Update Argo manifests to 2.4.x"
2.4.0 introduces a new WorkflowTemplate CRD.

The changes which worked well for me locally:

- newTag in kustomization.yaml
- added the new CRD from https://github.com/argoproj/argo/blob/release-2.4/manifests/base/crds/workflow-crd.yaml
- made changes to the ClusterRole based on https://github.com/argoproj/argo/blob/release-2.4/manifests/cluster-install/workflow-controller-rbac/workflow-controller

[2019-11-21 07:03] #591 closed

[2019-11-25 23:21] kunmingg opened #629 "prometheus: update to standard prometheus with side cars."
Currently our GCP prometheus image was published by stackdriver, the actual server will collect metrics and use stackdriver as storage.
Now stackdriver has updated their integration with prometheus: use standard prometheus server, and forward metrics with side car.
We should update our prometheus components for 2 benefits:
1. `prometheus` can belong to it's own dir as it now works with any platfor

[2019-11-29 18:59] yanniszark opened #632 "oidc-authservice: add readiness check"
The OIDC Authservice has a readiness endpoint but the current manifests are not using it.

/assign @yanniszark

[2019-12-04 04:55] devgrok opened #636 "oidc-authservice deployment strategy should be recreate"
oidc-authservice's deployment strategy needs to be Recreate, as changes to the Deployment that trigger a rolling up get blocked by the persistent volume claim.
The mysql Deployment uses the same strategy.
This may just be limited to AWS with EBS.

[2019-12-04 14:52] yanniszark commented on #636
@devgrok this interesting, that's the first time I bump into this.
I have made changes that require rolling updates many times and it has worked (eg change the image).
I deploy on GKE and use Persistent Disk volumes, so similar to EBS.
Could you give more info on the error you're getting?

[2019-12-04 16:02] #632 closed

[2019-12-05 00:20] AndriiNeverov commented on #375
Getting a number of errors with Seldon CRD on Kubernetes 1.16.3. Noticed some differences to https://github.com/SeldonIO/seldon-core/blob/master/helm-charts/seldon-core-operator/templates/customresourcedefinition_seldondeployments.machinelearning.seldon.io.yaml:

[code]

vs

[code]

WARN[0010] Encountered error during apply:  (kubeflow.error): Code 500 with message: Apply.Run  Error error when cre

[2019-12-05 05:11] jlewi commented on #636
@yanniszark Could you triage this issue please?
https://github.com/kubeflow/community/blob/master/proposals/issue_triage.md

[2019-12-05 05:16] jlewi opened #643 "Pin 0.7.0 manifests in preparation for 0.7.1"
We want to cut a v0.7.0 release. Before we do that, all of the KFDef
*.0.7.0.yaml files
https://github.com/kubeflow/manifests/tree/v0.7-branch/kfdef

Should be updated to point to a specific commit of the kubeflow/manifests v0.7-branch for the kubeflow-manifests repository.

This way cherry picking changes to the manifests on the branch won't break things.

e.g https://github.com/kubeflow/manifest

[2019-12-05 12:57] yanniszark opened #644 "istio: document procedure that generated the manifests"
Since Istio comes with many available options, it's important to document which were used during generation of the istio we use in manifests.

@krishnadurai can you provide more info on the procedure you followed for the istio 1.3.1 package?
What is the source?
What arguments were used in helm?

/cc @jlewi @kkasravi @apyrgio

[2019-12-05 14:45] yanniszark commented on #636
/priority p2
/kind bug
/platform aws

Generally, more information is needed at this point.
/cc @Jeffwan who could provide some more info.

[2019-12-05 19:53] krishnadurai commented on #644
@yanniszark glad that bring this up. I'll look to soon document how I generated the manifests. Overall, I used the helm charts being maintained at [istio/istio](https://github.com/istio/istio/tree/master/install/kubernetes/helm).
Using kustomize converter - https://github.com/ContainerSolutions/helm-convert - I was able to get these manifests converted to Kustomize manifests and later had to combi

[2019-12-06 13:41] vpavlin opened #647 "Customize a single manifest from multiple components"
Hi,

I am trying to do something that might not be supported, but it should work with Kustomize, but the magic in `kfctl` breaks it in Kubeflow.

What I am trying to achieve is to be able to have a component (e.g. `openshift-scc`) which has a resource that contains some configuration and a list of users (e.g. `ServiceAccounts`) for whom this config should be applied.

To keep things flexible I cam

[2019-12-09 02:18] devgrok commented on #636
I added some detail on how to reproduce it and the output here:
https://github.com/kubeflow/manifests/pull/637#issuecomment-562443714

[2019-12-09 02:19] devgrok commented on #636
FYI: the kubernetes docs have section covering [Run a Single-Instance Stateful Application](https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/#updating)
So `strategy: type: Recreate` is the recommended approach.

[2019-12-09 10:47] devgrok opened #652 "HTTPS for AWS ingress without auth"
Create overlay for the **aws-alb-ingress-controller** allowing the Load Balancer to be created with HTTPS with it performing no auth.

This is one set of changes to switch from using cognito on the ALB to using the oidc-authservice because in the current setup the users come through without any identity (anonymous).
See https://github.com/devgrok/kubeflow-manifests/blob/aws-istio-oidc-cognito/kfde

[2019-12-09 15:18] kimwnasptd opened #654 "jupyter-web-app: Add permissions for SubjectAccessReviews"
Context [kubeflow/2981](https://github.com/kubeflow/kubeflow/issues/2981). We want Jupyter Web App to use k8s `SubjectAccessReviews` for enforcing authorization.

For this we will need to give JWA's ServiceAccount permissions to create `SubjectAccessReviews`.

/assign kimwnasptd
cc @yanniszark @jlewi

[2019-12-09 20:23] jlewi commented on #654
@kimwnasptd Could you please triage this issue?

[2019-12-09 20:24] jlewi commented on #652
@Jeffwan could you triage this issue please?
https://github.com/kubeflow/community/blob/master/proposals/issue_triage.md

[2019-12-10 09:14] cliveseldon commented on #375
@AndriiNeverov Can you try installing the latest Seldon as discussed at https://docs.seldon.io/projects/seldon-core/en/latest/workflow/install.html

This should work on 1.16.2.

We will update the kubeflow Manifests for Seldon to match the latest.

[2019-12-10 11:55] kimwnasptd commented on #654
@jlewi I currently don't have permissions to add labels. I'll let @cspavlou add the labels for now and I'll also create a PR to add myself to the maintainers in order to be able to triage future issues.

Chris the labels for this one are: `enhancement`, `p1`, `area/jupyter`

[2019-12-11 00:14] jlewi commented on #654
@kimwnasptd you should not need to be a member of the maintainers group to add labels. You can use  the prow chat bot commands to add labels.

https://prow.k8s.io/command-help

[2019-12-11 01:28] AndriiNeverov commented on #375
@cliveseldon Followed the Kustomize section against v0.5.1, installed, adjusted ISTIO_ vars to match Kubeflow, created a deployment and posted a request with no issues. Please update the Manifests. Thanks!

[2019-12-11 09:03] kimwnasptd commented on #654
I was under the impression that I had to be in the `project-maintainers` to add labels and completely missed the prow way. Will use prow for the labels from now on.

[2019-12-12 02:32] Bobgy opened #663 "Profile controller doesn't have GCP permission to bind workload identities"
Hi, when trying to use profile controller (when creating a new profile), I got this error in profiles-manager:
[code]

I tried adding roles/iam.serviceAccountAdmin to multiuser-kfp-only-admin and it works afterwards. I believe this is a missing GCP permission that should be added to kubeflow-admin service accounts in https://github.com/kubeflow/manifests/blob/master/gcp/deployment_manager_configs/

[2019-12-12 02:37] Bobgy commented on #663
/kind bug

[2019-12-12 06:01] Jeffwan commented on #652
@jlewi  Yeah. This should be a feature request and I saw @devgrok already file a PR. I will help review it

[2019-12-12 06:49] jlewi commented on #663
@kunmingg can you take a look at this?

[2019-12-12 07:02] jlewi commented on #172
Duplicate of #171

[2019-12-12 07:02] #172 closed

[2019-12-12 20:17] gaoning777 commented on #663
BTW, the profile controller we deployed is based on the master instead of the 0.7. Could it be that the 0.7 works but there's feature regression on the master?

[2019-12-12 22:13] kunmingg commented on #663
Hi Yuan,

Currently if profile controller is deployed with kfctl:
* profile controller will be using `<deploy>-admin` gcp identity
* default `gcpServiceAccount` in profile `WorkloadIdentity` will be `<deploy>-user` gcp identity.
* kfctl will make `<deploy>-admin` the owner of `<deploy>-user`: https://github.com/kubeflow/kfctl/blob/f3d60cff40406f656621349977499896b070d6b8/pkg/kfapp/gcp/gcp.go#L857

[2019-12-12 22:15] kunmingg commented on #663
Can you try update your profile spec with `multiuser-kfp-only-user@ml-pipeline-dogfood.iam.gserviceaccount.com`?

[2019-12-13 02:34] jlewi commented on #306
I'm still not sure how I'm supposed to verify that the expected output is correct. It looks like make generate is creating a kustomize package
https://github.com/kubeflow/manifests/blob/67eabbfd907dbb212b2fa39baeddb3a4b7e9e743/tests/application-base_test.go#L91

And not generating the expected output of kustomize.

See also @krishnadurai 's comment

https://github.com/kubeflow/manifests/pull/665#i

[2019-12-13 04:10] Bobgy commented on #663
@kunmingg Thank you for the explanation. Now I understand the design choice.

When multiple users are all using `multiuser-kfp-only-user@ml-pipeline-dogfood.iam.gserviceaccount.com`. There's no GCP permission difference.

If we also want to separate GCP permission for different users and let Profile controller bind workload identity automatically, we have two choices:
1. Let <deploy>-admin own the

[2019-12-13 17:44] gaoning777 commented on #663
@kunmingg Thanks.
The Option 1, as it is right now, is secure and good for default configuration. A good documentation is all that is needed such that admin of the cluster can grant reasonable permissions to the admin gsa in a particular k8s cluster.
WDYT?

[2019-12-13 18:55] jlewi commented on #26
https://github.com/kubeflow/manifests/tree/master/common/ambassador/base

@kunmingg Are we still using Ambassador for basic auth?

Related: kubeflow/kubeflow#3833

[2019-12-13 18:56] jlewi opened #670 "Remove Ambassador annotations from Jupyter web app"
We can get rid of the Ambassador annotations on the jupyter web app
https://github.com/kubeflow/manifests/blob/67eabbfd907dbb212b2fa39baeddb3a4b7e9e743/jupyter/jupyter-web-app/base/service.yaml#L5

because we no longer use Ambassador to route traffic.

Ref: kubeflow/kubeflow#3833

[2019-12-13 18:57] jlewi commented on #670
@kimwnasptd could you take care of this?

I think we want to get this done before 1.0 just to prevent anyone from depending on Ambssador.

[2019-12-13 18:59] kunmingg commented on #663
Agree, will update doc on website for this use case.

[2019-12-13 18:59] jlewi opened #671 "Remove Ambassador annotations from pipelines-ui manifest"
We should remove the Ambassador annotations from the pipeline-UI manifest
https://github.com/kubeflow/manifests/blob/88ff5440fecf7d6c946411a500eb4b3162c9497e/pipeline/pipelines-ui/base/service.yaml#L7

Ref: kubeflow/kubeflow#3833

[2019-12-13 19:03] jlewi commented on #415
We should remove tensorboard from our KFDef's
https://github.com/kubeflow/manifests/blob/67eabbfd907dbb212b2fa39baeddb3a4b7e9e743/kfdef/kfctl_gcp_iap.yaml#L193

And remove the corresponding manifest
https://github.com/kubeflow/manifests/tree/master/tensorboard

This is just causing confusion. All its doing is deploying a single instance of tensorboard. This is harmless but useless and confusing.

[2019-12-13 19:39] kunmingg commented on #26
The basic auth still depend on Ambassador, need to switch it to Istio before dropping Ambassador

[2019-12-13 19:41] krishnadurai commented on #306
One of the ways of generating kustomize output is by using '-o' flag as suggested by the this PR: kubernetes-sigs/kustomize#960. This generates individual output files and can dump them into a folder.

I suggest we could use this kustomize feature in `gen-test-target.sh` instead of trying to interpret kustomization.yaml.

This will allow us to maintain a set of golden output files and compare agai

[2019-12-16 06:54] kimwnasptd commented on #670
Yes, I'll make a PR for this one to remove it.
/assign kimwnasptd

[2019-12-16 08:58] Bobgy commented on #663
Thank you! That would be helpful.

[2019-12-16 14:24] jlewi commented on #613
#660 has been merged.

Here's a presubmit indicating the E2E tests were triggered and run.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/675/kubeflow-manifests-presubmit/1206529100970201088/

[2019-12-16 14:24] #613 closed

[2019-12-16 14:46] jlewi opened #676 "Support GKE release channels in our DM configs"
We should probably switch our DM configs to use GKE release channels as opposed to pinning to a master version
https://cloud.google.com/kubernetes-engine/docs/concepts/release-channels

Release channels are the new recommended way of doing things.

We are currently using GKE 1.14 which is available in the regular channel.
1.13 is available in stable
1.16 is available in rapid
https://cloud.google.

[2019-12-16 14:47] jlewi commented on #375
GKE 1.16.0 is now available via the rapid channel.
https://cloud.google.com/kubernetes-engine/docs/release-notes-rapid

So it should now be possible to begin testing against 1.16 using GKE.

Anyone interested in picking this up?

kubeflow/manifests#676 should unblock being able to test against 1.16 with GKE.

[2019-12-16 17:36] jlewi opened #677 "Create OWNERs file for Jupyter Manifests"
Jupyter needs an OWNERs file
https://github.com/kubeflow/manifests/tree/master/jupyter

It should include @kimwnasptd and @lluunn.

/assign @kimwnasptd
/assign @lluunn

[2019-12-16 20:19] jlewi opened #679 "Create OWNERs file for kfdef"
We should have an OWNERs file for KFDef files
https://github.com/kubeflow/manifests/tree/master/kfdef

@yanniszark or @krishnadurai does one of you want to take on adding an appropriate OWNERs file?

[2019-12-16 20:23] jlewi opened #680 "All top level directories in kubeflow/manifests should have OWNERs file"
Every top level directory in kubeflow/manifests should have an OWNERs file that specifies appropriate OWNERs for that package.

Reviews should rarely hit the root OWNERs file
https://github.com/kubeflow/manifests/blob/master/OWNERS

Once we have top level OWNERs files in all directories we should probably significantly reduce the number of global approvers in the root file
https://github.com/kubef

[2019-12-16 20:39] #677 closed

[2019-12-16 21:49] #171 closed

[2019-12-16 21:49] #509 closed

[2019-12-17 01:24] vhosakot commented on #422
Saw the same error when installing istio `1.3.6`:

[code]

Galley and pilot logs had the following errors:

[code]

Using `--set global.configValidation=false` when installing istio resolved the error for me.

[2019-12-17 01:48] jlewi opened #683 "manifests test structure should mirror manifest directory tree"
The unittests for every kustomize package is currently in
https://github.com/kubeflow/manifests/tree/master/tests

i.e. the manifest  `a/b/c/kustomization.yaml' results in test

`a-b-c_test.go`.

I think a better approach would be to mirror the manifests directory tree under /tests; e.g.

`a/b/c/kustomization.yaml` maps to

`tests/a/b/c/test.go`

One advantage of giving each kustomization manifest

[2019-12-17 02:17] #679 closed

[2019-12-17 23:45] #654 closed

[2019-12-18 03:18] jlewi commented on #361
Results are now showing up in the periodic grid.

postsubmit is still not showing any results even though I just submitted
kubernetes/test-infra#15636
to define a a testgrid entry for the postusmbits.

[2019-12-18 14:36] jlewi commented on #361
Grid is now populated.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-manifests-postsubmit

[2019-12-18 14:36] #361 closed

[2019-12-18 21:18] jlewi opened #686 "KFDef for openshift"
We would like a KFDef and kfctl compatible install process for openshift.

@vpavlin has a WIP PR: opendatahub-io/manifests#4

Related: @animeshsingh 's doc about a kubeflow operator http://bit.ly/kubeflow-operator

/cc @animeshsingh @pdmack

[2019-12-19 22:38] animeshsingh commented on #686
/assign @vpavlin

Any chance we can PR this back to KF master itself? Would it need to be on OpenDataHub fork?

[2019-12-19 23:25] krishnadurai commented on #680
/assign @krishnadurai

[2019-12-20 08:00] mortezaalizadeh commented on #422
I have the same problem with istio 1.4.2 and the above workaround fixed my issue, but have no idea whether it is the right thing to do. Here is the way I install my istio using helm:

`    kubectl create namespace istio-system

    helm install istio-init \
        istio.io/istio-init \
        --set app-version="1.4.2" \
        -n istio-system \
        --wait

    kubectl wait \
        --for=c

[2019-12-20 08:11] vpavlin commented on #686
@animeshsingh Yes, we definitely will contribute it back, but we are basing it on 0.7.0 to make sure things are not changing under our hands and when we are happy with it, we will contribute it back upstream and rebase it also on/for master. After that we will continue any other development upstream

[2020-01-06 14:26] jlewi commented on #375
@jbrette or anyone else interested in trying to test this out with 1.16?

[2020-01-06 19:58] jlewi commented on #343
Bump to P0 because this is required for KF 1.0.

It looks like there is an Application resource here:
https://github.com/kubeflow/manifests/tree/master/profiles/overlays/application

@kunmingg can we mark this as fixed or is there more work to be done?

[2020-01-06 21:50] jtfogarty commented on #23
/kind question

[2020-01-06 21:51] jtfogarty commented on #306
/kind feature

[2020-01-07 00:43] jtfogarty commented on #566
/area dex
/area istio
/kind feature
/priority p2

[2020-01-07 00:51] jtfogarty commented on #425
/area kfctl

[2020-01-07 00:54] krishnadurai commented on #566
area/auth

[2020-01-07 00:54] krishnadurai commented on #566
/area auth

[2020-01-07 00:55] krishnadurai commented on #566
/area onprem

[2020-01-07 00:55] krishnadurai commented on #566
/area on-prem

[2020-01-08 22:27] jtfogarty commented on #391
/kind feature

[2020-01-08 22:31] jtfogarty commented on #167
/area jupyter
/kind bug
/priority p2

[2020-01-08 22:33] jtfogarty commented on #145
/area jupyter
/kind bug
/priority p1

[2020-01-08 23:02] jtfogarty commented on #527
/area kustomize

[2020-01-08 23:04] jtfogarty commented on #231
/area kustomize

[2020-01-08 23:05] jtfogarty commented on #538
/area kustomize
/kind bug
/priority p2

[2020-01-08 23:07] jtfogarty commented on #386
/area kustomize
/kind feature
/priority p2

[2020-01-08 23:07] jtfogarty commented on #233
/area kustomize

[2020-01-08 23:08] jtfogarty commented on #232
/area kustomize

[2020-01-08 23:08] jtfogarty commented on #232
/kind feature

[2020-01-08 23:09] jtfogarty commented on #229
/area kustomize
/kind feature

[2020-01-08 23:10] jtfogarty commented on #130
/area kustomize
/kind feature
/priority p2

[2020-01-08 23:11] jtfogarty commented on #123
/area kustomize
/kind feature

[2020-01-08 23:13] jtfogarty commented on #122
/area kustomize
/kind feature

[2020-01-08 23:20] jtfogarty commented on #636
/area authentication

[2020-01-08 23:22] jtfogarty commented on #636
/area istio

[2020-01-08 23:23] jtfogarty commented on #636
/area front-end

[2020-01-08 23:25] jtfogarty commented on #616
/area front-end
/kind feature
/priority p2

[2020-01-09 11:53] yanniszark commented on #145
This seems like an old issue which was fixed some time ago but was never closed.
Closing...
/close

[2020-01-09 11:53] #145 closed

[2020-01-09 14:24] yanniszark commented on #644
@krishnadurai it would be great if we could write that down in a doc.
In addition, I think it's better to refrain from doing manual work, since we want to be able to try different options and easily view the diffs with git to see what has changed.

I'm also a bit sceptical about `helm convert`.
I'm worried that it could introduce bugs.

I believe it would be better to just store the yaml blob that

[2020-01-09 14:29] xaniasd commented on #644
please keep in mind that helm charts will be deprecated in the future (see [here](https://istio.io/docs/setup/install/helm/)). recommended way is to dump the manifests with `istioctl manifest generate`

[2020-01-09 16:35] camille-rodriguez commented on #543
Same situation here, what should we do if it fails repeatedly? The webhook seems ready but it goes into the same error every time (failed calling webhook). The retries always fail.

[2020-01-11 01:45] kunmingg opened #701 "Host manifests release on public read-only GCS"
Currently manifests are fetched through `https://github.com/kubeflow/manifests/archive/master.tar.gz`
It caused problems like: https://github.com/kubeflow/kfctl/issues/167

Switch to GCS might improve manifests availability.

Besides that GCS will also unblock user from private VPC network.

[2020-01-11 01:47] krishnadurai commented on #701
Thanks @kunmingg for filing this. We should look to support:

1. GCS based manifests archives for versioned releases.
1. GitHub archives for pulling from master or other branches.

[2020-01-12 20:19] yanniszark commented on #616
Closing since all PRs were merged.
/close

[2020-01-12 20:19] #616 closed

[2020-01-13 11:07] #636 closed

[2020-01-14 22:24] jtfogarty commented on #629
/kind feature
/area logging
/priority p2

[2020-01-14 22:25] jtfogarty commented on #625
/area argo

[2020-01-14 22:27] jtfogarty commented on #619
/area kfctl
/kind feature
/priority p2

[2020-01-14 22:28] jtfogarty commented on #618
/kind feature
/area front-end
/priority p2

[2020-01-14 22:30] jtfogarty commented on #587
/area engprod
/kind bug
/priority p1

[2020-01-14 22:31] jtfogarty commented on #548
/kind feature
/area pipelines
/priority p2

[2020-01-14 22:35] jtfogarty commented on #547
/area api
/kind feature
/priority p2

[2020-01-14 22:37] jtfogarty commented on #539
/area kustomize
/kind feature

[2020-01-14 22:38] jtfogarty commented on #525
/kind feature
/area engprod
/priority p2

[2020-01-14 22:39] jtfogarty commented on #522
/area front-end
/priority p2

[2020-01-14 22:40] jtfogarty commented on #521
/area engprod

[2020-01-14 22:41] jtfogarty commented on #520
/kind feature
/area engprod
/priority p2

[2020-01-14 22:42] jtfogarty commented on #512
/area engprod
/kind feature
/priority p2

[2020-01-14 22:43] jtfogarty commented on #486
/area engprod
/kind feature
/priority p2

[2020-01-14 22:44] jtfogarty commented on #485
/kind feature
/area operator
/priority p2

[2020-01-14 22:45] jtfogarty commented on #484
/area operator
/kind feature
/priority p2

[2020-01-14 22:46] jtfogarty commented on #481
/area operator
/kind feature
/priority p2

[2020-01-14 22:48] jtfogarty commented on #449
/kind bug
/area kustomize
/priority p2

[2020-01-14 22:49] jtfogarty commented on #423
/kind feature
/area docs
/priority p2

[2020-01-14 22:50] jtfogarty commented on #422
/area engprod
/kind bug
/priority p2

[2020-01-15 04:04] sarahmaddox commented on #644
/cc @krishnadurai and @yanniszark

[2020-01-15 20:00] jtfogarty commented on #420
/kind bug
/area engprod
/priority p2

[2020-01-15 20:03] jtfogarty commented on #417
/area kustomize
/kind feature

[2020-01-15 20:05] jtfogarty commented on #411
/kind feature
/area testing
/priority p1

[2020-01-15 20:06] jtfogarty commented on #395
/area docs
/kind bug
/priority p2

[2020-01-15 20:08] jtfogarty commented on #385
/kind question
/area operator
/priority p2

[2020-01-15 20:09] jtfogarty commented on #384
/area engprod
/kind feature
/priority p2

[2020-01-15 20:11] jtfogarty commented on #326
/area engprod

[2020-01-15 20:12] jtfogarty commented on #317
/area engprod

[2020-01-15 20:14] jtfogarty commented on #296
/kind feature
/area testing

[2020-01-15 20:16] jtfogarty commented on #288
/area kustomize
/kind feature

[2020-01-15 20:18] jtfogarty commented on #284
/area engprod
/kind feature
/priority p1

[2020-01-15 20:19] jtfogarty commented on #284
/area testing

[2020-01-15 20:21] jtfogarty commented on #256
/area kustomize
/kind bug
/priority p1

[2020-01-15 20:22] jtfogarty commented on #222
/kind feature
/area engprod
/prioritiy p2

[2020-01-15 20:24] jtfogarty commented on #190
/area testing
/kind feature

[2020-01-15 20:25] jtfogarty commented on #164
/area engprod
/kind feature

[2020-01-15 20:27] jtfogarty commented on #147
/area kustomize
/kind feature

[2020-01-15 20:29] jtfogarty commented on #136
/area engprod
/kind feature

[2020-01-15 20:30] jtfogarty commented on #24
/area docs
/kind feature

[2020-01-16 04:50] jlewi commented on #296
Closing this as obsolete since we are now onto 0.7.

[2020-01-16 04:50] #296 closed

[2020-01-17 09:06] mhausenblas opened #2841 "SMI support"
/kind feature

Currently, Kubeflow has a hard-wired dependency on Istio. In practice, folks have different service meshes in use. In the past couple of months, the [Service Mesh Interface](https://smi-spec.io/) (SMI) has established itself as the de-facto standard for service mesh interoperability.

Supporting SMI as a first class citizen in would make Kubeflow more pluggable and hence flexible, f

[2020-01-21 14:05] jlewi commented on #599
@krishnadurai and @yanniszark any update on this ? What is the remaining work that needs to be done for 1.0?

[2020-01-21 14:17] jlewi commented on #326
@jtfogarty this looks like an issue with pipelines.
/area pipelines
/remove-area engprod

[2020-01-21 14:18] jlewi commented on #587
With 0.7 are we still using a fixed node port for the ingress gateway?

[2020-01-21 15:48] Bobgy commented on #326
/assign @Bobgy
That's a good point!
I will pick up this issue

[2020-01-22 06:42] jlewi opened #724 "kfam manifest needs to be updated to work with the new distroless image"
Updating the kfam image is failing in kubeflow/manifests#707 with the error

[code]

The problem is
kubeflow/kubeflow#4625

changed the path of the binary when we switched to a distroless image

[2020-01-22 11:07] krishnadurai commented on #599
@jlewi Here's the status:

- Dex Plugin implementation needs to be updated with Unit Tests. https://github.com/kubeflow/kfctl/pull/130

- Manifests for issuing certificates for 'DOMAIN' or LoadBalancer IP needs to be implemented.

- I've raised a PR in Dex to accept environment variables for StaticPasswords. This allows our Dex Plugin to programmatically set secrets for Dex deployment to consume.

[2020-01-22 12:09] yanniszark commented on #587
@jlewi we still are, looking at the Istio manifests:
https://github.com/kubeflow/manifests/blob/master/istio/istio-install/base/istio-noauth.yaml
https://github.com/kubeflow/manifests/blob/master/istio-1-3-1/istio-install-1-3-1/base/service.yaml

In addition, I don't see any code anywhere depending on these values.
Do you think we could get rid of them?

[2020-01-23 17:23] agoloAbbas opened #736 "gcp deployment manifests seems to use AWS metadata endpoint"
tried [documentation](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) to deploy kubeflow  0.7

[code]
[code]

[2020-01-23 17:25] cliveseldon opened #737 "Cert-manager not in all kfdefs"
cert-manager is only in kfctl_istio_dex.yaml

Seldon and KFServing need certs for the operator webhooks.

Should cert-manager be added to all kfdefs?

[2020-01-23 20:00] #724 closed

[2020-01-24 00:20] #343 closed

[2020-01-26 03:12] jtfogarty commented on #737
/area operator
/priority p2

[2020-01-26 03:17] jtfogarty commented on #736
/platform gcp
/area kubectl

[2020-01-27 00:20] tjmonsi commented on #736
I am also having this error. Anyway to fix it?

[2020-01-27 05:03] johnugeorge commented on #136
currently, only one version is added in manifests.

[2020-01-27 05:03] johnugeorge commented on #136
/close

[2020-01-27 05:03] #136 closed

[2020-01-27 13:23] jlewi commented on #599
Thanks @krishnadurai; how's this coming?

We've cut the 1.0-branch so changes will need to be pulled into that branch either via cherry-picks or rebasing the branch

[2020-01-27 18:23] jlewi commented on #737
#717 will need to be cherry-picked into the 1.0-branch of manifests if we want it to be included.

[2020-01-27 18:40] jlewi commented on #23
Bump.
(Kick the kubeflow triage GitHub Action because triage conditions should be satisfied.)

[2020-01-28 04:44] jlewi opened #757 "Unpin GKE from 1.14.8 once a fix for workload identity is released"
Follow on to kubeflow/kubeflow#4693 GKE has a bug in the latest version of GKE so we are pinning
to 1.14.8.

We will need to revert these changes once a fixed version of GKE is released otherwise we will get
broken when 1.14.8 is no  longer available.

Here's a link to the release notes
https://cloud.google.com/kubernetes-engine/docs/release-notes#january_24_2020

PRs that we need to revert: #741

[2020-01-28 14:35] nrchakradhar commented on #652
@devgrok @Jeffwan Can you please help understand the usage of AWS-ALB-ingress controller along with Istio. What is the functional separation these two are providing. I assume that Istio is not completely bypassed by this configuration.

[2020-01-28 17:28] jlewi opened #773 "Presubmit tests for KFam and Profile controller are failing blocking update on 1.0 branch"
Here are two PRs updating the profile controller and kfam API on the 1.0-branch to the latest images.

#762
#769

The tests are failing for these images. A whole bunch of other PRs were merged so I think it maybe specific to these applications.

This is blocking the 1.0 RC kubeflow/kubeflow#4685

@kunmingg Could you please investigate whether this is a test flake or actual bug?

/assign @kunmingg

[2020-01-28 18:55] jlewi opened #774 "Get rid of KFDef kustomize magic?"
Right now KFDef provides the following functionality

1. The ability to list a set of kustomize packages to be deployed
1. The ability to set parameters for each of those applications
1. The ability to combine multiple overlays like mixins (see [comment](https://github.com/kubeflow/kubeflow/issues/3490#issuecomment-579395304))

Could we get rid of this magic and rely more on straight kustomize.

*

[2020-01-28 22:29] kunmingg commented on #773
fix merged

[2020-01-28 22:29] #773 closed

[2020-01-29 02:34] jlewi commented on #774
From a release stand point I think it could be very useful if we had overlays for each version e.g.
if we structured our kustomize apps

[code]

v1.1.0 could  potentially use v1.0.0 as its base.

One of the motivations here is to reduce the cost of maintaining release branches.

Right now there is a bunch of work that needs to be done to update the release branch for each application e.g.
  1. Bum

[2020-01-29 03:11] jlewi opened #792 "Retag notebook images to v1.0 and update the configmap"
We should retag our existing jupyter images to be v1.0 and then update the configmap that lists them for the jupyter web app.

Rebuilding the docker images I think only makes sense if we are bumping the TF versions and thus the base images. Ideally we would do that but I don't think we should block on it.

[2020-01-29 06:04] jlewi opened #794 "Latest tf-job-operator image doesn't work with kustomize manifest; binary is wrong"
Here's the PR attempting to update the docker image.

https://github.com/kubeflow/manifests/pull/787#issuecomment-579608145 error is.
[code]

[2020-01-29 06:05] jlewi commented on #794
See here
https://github.com/kubeflow/tf-operator/blob/92389064014d3e661e1a69cb9a33cb996e493e10/build/images/tf_operator/Dockerfile#L17

[2020-01-29 06:10] jlewi commented on #794
#795 will need to be cherry picked onto the release branch.

[2020-01-29 06:50] jlewi opened #796 "Update KF pipelines for the KF 1.0 release"
The kustomize package for pipelines hasn't been updated since November
https://github.com/kubeflow/manifests/tree/master/pipeline

What version of pipelines should we ship with KF 1.0

/cc @Bobgy

[2020-01-29 07:59] Bobgy commented on #796
@jlewi Can you share detailed timeline? If we would like to update, how long can you wait for this?

Considering some recent requests to use latest KFP in KF. I think this is important to do.

[2020-01-29 08:02] Bobgy commented on #796
@jlewi A quick question: will `user-gcp-sa` still be available in KF 1.0? That will affect how much work we need to do?

[2020-01-29 08:35] kimwnasptd opened #797 "Update Jupyter Webapps config for GPUs"
In order for users to be able to modify the UI's default GPU values we need to add the corresponding section to webapps config map.

/assign kimwnasptd
/priority p0
/kind feature

[2020-01-29 11:05] WillBeebe commented on #543
@camille-rodriguez I'm seeing the same behavior as you.

[code]

[2020-01-29 13:11] jlewi opened #799 "metadata deployment on master is broken; missing secret metadata-db-secrets"
On master (and likely 1.0).

The metadata deployment is broken. A lot of containers can't start because the secret `metadata-db-secrets` is missing.

Attached is the output of kubectl describe for one such pod.

[metadata-deployment-54ff5d695d-j949l.txt](https://github.com/kubeflow/manifests/files/4128115/metadata-deployment-54ff5d695d-j949l.txt)

/assign @zhenghuiwang

[2020-01-29 14:00] SebBlin opened #800 "Dex container to update in manifest"
I'm using Dex authentication, with authentication delegated to another OIDC IDP.

In the configmaps of dex, I configured `getUserInfo: true` to make dex retrieve the claim 'name' but it fails with the message `Failed to authenticate: missing "name" claim`.

The current installation of dex is pointing to the container gcr.io/arrikto/dexidp/dex:4bede5eb80822fc3a7fc9edca0ed2605cd339d17 (in the file d

[2020-01-29 14:06] krishnadurai commented on #800
@SebBlin we will soon switch to the standard container. This was done at that time to include a feature we had to release in Dex. This feature was merged later into Dex's release.

[2020-01-29 14:16] jlewi commented on #796
@Bobgy we are trying to cut by the end of this week.  The behavior of secrets hasn't changed with respect to 0.7

[2020-01-29 14:20] jlewi commented on #796
@Bobgy I sent you kubeflow/manifests#802 to update master. I would suggest getting that checked in to make it easy to begin testing the latest release to see what problems we hit.

[2020-01-29 17:32] jlewi opened #806 "Cert-manager causing test flakes due to deployment errors"
I'm noticing test flakes in presubmits deploying Kubeflow related to the cert-manager

[code]

The addition of cert-manager is recent: #717

/cc @cliveseldon

[2020-01-29 17:36] jlewi commented on #806
Here's a link to a failed test
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/802/kubeflow-manifests-presubmit/1222524579784691712/

If its flaky in tests its presumably flaky for users.

I think we might want to avoid installing cert-manager by default on the 1.0 branch until we have this resolved.

@cliveseldon is cert-manager a requirement for Seldon?

[2020-01-29 17:49] jlewi opened #807 "Update Metadata Docker images for Kubeflow 1.0?"
Do we need to update the docker images used by metadata for 1.0 or are the images in
https://github.com/kubeflow/manifests/blob/master/metadata/base/kustomization.yaml

Up to date.

Once kubeflow/testing#587 we should be able to just add the requisite specs to that file to auto-build and update the docker images used by metadata.

/assign @zhenghuiwang
/cc @avdaredevil

[2020-01-29 19:15] krishnadurai commented on #806
@jlewi This might happen due to the size of the test clusters. Can we check if these servers are able to deploy cert-manager pods in 'cert-manager' namespace within the test cluster?

[2020-01-29 22:41] cliveseldon commented on #806
@jlewi @krishnadurai cert-manager is presently the production requirement for seldon and kfserving. To remove it we would need a way to inject certs into the webhooks used by seldon and kfserving. I believe there is a script that is part of kubeflow that could be used for this maybe? As @krishnadurai says can we do some checks to ensure it is cert-manager causing the issue?

I saw in local testing

[2020-01-29 22:53] cliveseldon commented on #806
@jlewi @krishnadurai Actually makes sense. As the seldon resources has a cert-manager Certificate resources which would cause the cert-manager webhook to be called. So obviously this would fail until cert-manager is running.

Only solution I see is if cert-manager needs to be up and running before any cert-manager resources are applied.

As this is just a internal cert for a webhook maybe the best

[2020-01-29 23:42] zhenghuiwang commented on #799
After reproducing this issue, I tried to manually kustomize apply the `db` overlay. Then the secret was created.

I guess there is a bug in the kfctl apply logic of merging/applying the overlays and found this issue and a pending fix:
https://github.com/kubeflow/kfctl/issues/156
https://github.com/kubeflow/kfctl/pull/187

[2020-01-30 00:05] zhenghuiwang commented on #807
For Metadata Go backend, there isn't any change since v0.7 so no need to build a new image for KF1.0.

For MLMD gRPC server, the manifests file is just updated to use the latest version v0.21.1.

Automatically building the images for frontend and backend is a good prerequisite, but I guess it is not blocking KF1.0 releases.

[2020-01-30 01:22] Bobgy commented on #796
/cc @Ark-kun do you want to integrate metadata writer to kf 1.0?

[2020-01-30 03:38] yuzisun commented on #806
@cliveseldon in kfserving e2e tests I had to sleep 2 minutes for cert manger to be ready before installing kfserving manifests.

[2020-01-30 08:47] cliveseldon commented on #806
@jlewi Does kfdef/kfctl allow for certain manifest to be deployed and ready before others?

[2020-01-30 08:53] WillBeebe commented on #800
Hi @SebBlin , I'm looking at the quay.io dex repo and I don't see that tag.
https://quay.io/repository/coreos/dex?tab=tags

I also tried to pull it and no-dice.

[code]

I see the dex repo has been active in the past two years...

[2020-01-30 08:54] WillBeebe commented on #800
Doh, just figured it out. `s/dex/dexidp/`

https://github.com/dexidp/dex/releases

I'll open a PR.

[2020-01-30 09:45] krishnadurai commented on #806
@cliveseldon It generally follows the order declared in the KFDef, apart from applying LegacyOrderingTransform.

Refer: https://github.com/kubeflow/kfctl/issues/65

[2020-01-30 09:49] cliveseldon commented on #806
Thanks @krishnadurai So if retries is the accepted behaviour as described in https://github.com/kubeflow/kfctl/issues/65 can we just increase the number of retries to allow for more exponential backoff?

[2020-01-30 09:58] krishnadurai commented on #806
@cliveseldon I'm not sure if the reason for failure is the amount of waiting time required for deployment. An alternative reason for failure could be that the cert-manager pods don't have enough resources to be deployed in the cluster and are failing.

[2020-01-30 10:13] cliveseldon commented on #806
@krishnadurai OK yes it would be good to test that hypothesis. But also note @yuzisun and my testing on time for cert-manager to become available.

[2020-01-30 17:07] jlewi commented on #794
kubeflow/manifests#810 is updating to auto-built image.

[2020-01-30 17:16] jlewi commented on #796
The 0.2.0 images have been merged onto master.

Looks like the APP CR still needs to be updated.

[code]

[2020-01-30 17:19] jlewi commented on #796
I did a quick smoke test of pipelines 0.2.0 on master and everything looked good so I'm going to go ahead and cherry pick it on the 1.0 branch.

[2020-01-30 20:06] jlewi commented on #794
#810 was merged. So we just need to verify its working on the 1.0 branch.

[2020-01-30 20:11] jlewi commented on #796
This has been merged to the 1.0 branch.

We should still update the application resources.

[2020-01-30 20:12] jlewi commented on #796
@Bobgy @richardsliu do we have some automation to update the version and instance tags? it looks like there are quite a few places that would need to be updated.

[2020-01-30 21:21] zhenghuiwang commented on #799
Verified this issue is fixed by kubeflow/kfctl#156

[2020-01-30 22:52] jlewi opened #818 "Need to modularize scope manifests tests to reduce flakiness"
Right now when we submit a PR to manifests we end up triggering tests for all applications (e.g. ones that have them).

That's unnecessary. As an example in kubeflow/manifests #4699 we are modifying only the jupyter-web-app manifests but we end up triggering tests for pytorch.

This is not scalable and will just make the tests more flaky as we add more applications.

Modifications to manifests for

[2020-01-30 22:53] jlewi commented on #818
related to kubeflow/kfctl#57 - kfctl is overly reliant on expensive E2E tests.

[2020-01-31 00:07] jlewi commented on #806
kfctl has backoff and retry logic
https://github.com/kubeflow/kfctl/blob/c5c55f6d1b79e285f28fa433d6e4e2e739cefb63/pkg/kfapp/kustomize/kustomize.go#L188

It looks like this should be retrying for 5 minutes
https://github.com/kubeflow/kfctl/blob/7a62e58ebf2d844391005d6bc51fc32ac2d5be2c/pkg/utils/k8utils.go#L75

So if it is simply a matter of waiting for the cert manager to become available hopefully

[2020-01-31 00:23] jlewi commented on #806
Here are the logs for the build deploy step

Note you need to ignore the leftmost timestamps; those are the timestamps which stackdriver applied when injesting the logs. I think pytest is buffering logs so those timestams are all messed up.

We do see retries though. It looks like the first error is.

[code]

The inner time stamp which we can trust is that this is happening at 14:34.

The second t

[2020-01-31 00:43] Bobgy commented on #796
Not anything I know.

[2020-01-31 03:20] jlewi commented on #806
I looked at the event logs. The pod for the certmanager webhook is
cert-manager-webhook-7bd54f5d57-j5xhg

Here are the event logs for that pod
[webhook.event.logs.csv.txt](https://github.com/kubeflow/manifests/files/4137417/webhook.event.logs.csv.txt)

The container restarted once but after that it looks like it started and was fine.

Here are the pod logs
[cert-manager-webhook-7bd54f5d57-j5xhg.lo

[2020-01-31 03:23] jlewi commented on #806
Looks like the deployment is defined here.
https://github.com/kubeflow/manifests/blob/7d36e486210eeec8504d67cb1b1855c1ffc9bd35/cert-manager/cert-manager/base/deployment.yaml#L101

[2020-01-31 03:31] jlewi commented on #806
Here are the logs from a healthy certmanager-webhook

[code]

[2020-01-31 03:43] jlewi commented on #794
I deployed from the 1.0 branch. The operator was using image
 image: gcr.io/kubeflow-images-public/tf_operator:v1.0.0-g92389064

And it started up fine.

Logs

[code]

[2020-01-31 03:43] #794 closed

[2020-01-31 18:15] cliveseldon commented on #806
Source issue: https://github.com/jetstack/cert-manager/issues/2537

[2020-02-01 01:13] jlewi commented on #792
It looks like we have tensorflow 1.15 images now.

Here are some images I tagged with v1.0.0; hyperlink should be to the full image

* [gcr/images/kubeflow-images-public/GLOBAL/tensorflow-1.15.0-notebook-cpu]
* [gcr.io/kubeflow-images-public/tensorflow-1.15.0-notebook-gpu](gcr.io/kubeflow-images-public/tensorflow-1.15.0-notebook-cpu@sha256:8f3231a18d7795991f897f3361bc7a6dfec83a7f533772d16960430b7f

[2020-02-02 19:10] jlewi commented on #806
@cliveseldon Do you know what resource is triggering the call to the "webhook.cert-manager.io"?

Is deploying the cert-manager itself triggering calls to its own webhook? That seems like it
would be a circular dependency.

It looks like kfctl lacks some helpful logging that would make it clear what application was being
deployed when the error occurred.
https://github.com/kubeflow/kfctl/blob/c5c55

[2020-02-02 19:41] Jeffwan commented on #652
@nrchakradhar  alb-ingress-controller is used to manage external traffic and expose more features like authentication on LB level. Technically, this is unnecessary and user and use some other authentication solutions like dex (software level) to manage access. To AWS, we'd like to use this because ALB is more powerful and reliable

[2020-02-02 19:58] jlewi commented on #806
Actually I don't think we can ignore the errors. My assumption is that these errors are triggered by validating or admission webhooks. So the resources (probably certificates) wouldn't be created in this case. As a result if we ignore the errors the application would end up in a corrupt state.

I sent out kubeflow/kfctl#211 to bump the timeout and improve logging.

[2020-02-02 20:00] marziman commented on #375
@jlewi I think we will run into that by the way. Maybe @svilenvul we can take a look into it. As we need to make it run.

[2020-02-02 20:07] WillBeebe opened #832 "Seldon Manifests _only_ support kubernetes 1.15"
The last Seldon operator [manifests](https://github.com/kubeflow/manifests/blob/c4f51b1cc0b4854b6f6180d5a3bb021dd65691a8/seldon/seldon-core-operator/base/resources.yaml#L3522) only support Kubernetes 1.15.

API reference [here](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-objectselector)

The error you'd see trying to apply these on ol

[2020-02-02 23:14] jlewi commented on #832
We will want to cherry-pick #833 into the Kubeflow 1.0 branch.

[2020-02-02 23:20] jlewi commented on #736
This looks like an issue with workload identity see kubeflow/kubeflow#4693

The fix should be to pin to a working version of GKE. If you use the 0.7.1 configs it should already be fixed.

[2020-02-02 23:20] #736 closed

[2020-02-02 23:38] jlewi commented on #806
Here are the logs from a deploy using kubeflow/kfctl#211 which has improved logging
[kubeflow-kfctl-presubmit-kfctl-go-iap-211-5f27b3e-7488-1cc0-1476697611.log.txt](https://github.com/kubeflow/manifests/files/4145705/kubeflow-kfctl-presubmit-kfctl-go-iap-211-5f27b3e-7488-1cc0-1476697611.log.txt)

The logs show that the webhook error occurs deploying the cert-manager application.

[code]

Should de

[2020-02-02 23:42] jlewi commented on #806
It looks like the cert-manager has a ClusterIssuer for Kubeflow
https://github.com/kubeflow/manifests/blob/d4354a01a1edf122d4e3633cc9c2ae727a42ff12/cert-manager/cert-manager/overlays/self-signed/cluster-issuer.yaml

So I suspect this is triggering the webhooks for the issuers and that's why it fails if the webhooks aren't ready.

Should we make the Kubeflow ClusterIssuer its own kustomize package?

[2020-02-03 00:08] nrchakradhar commented on #652
@Jeffwan Thanks for sharing this information.

[2020-02-03 16:59] krishnadurai commented on #806
@jlewi  That's an alternative, though when would we deploy the ClusterIssuer. Would we look to have a job to monitor when the webhook is ready?
Another alternative is to disable the webhook until this issue is resolved in cert-manager (possibly 0.14 release).

[2020-02-03 17:49] jlewi commented on #807
Thanks @zhenghuiwang so is there any remaining work for 1.0 or can we close this issue?

[2020-02-03 18:00] jlewi commented on #806
@krishnadurai What are the webhooks for? Are they just validating webhooks? I assume if we disable them we increase the likelihood that people submit invalid CertManager resources?

A longer term solution might be kfctl reconcile semantics kubeflow/kfctl#214. Right now the way retry's work is that we keep retrying an application until it succeeds or we timeout.

With kubeflow/kfctl#214 idealy if a

[2020-02-03 18:48] #807 closed

[2020-02-03 18:50] jlewi commented on #799
@zhenghuiwang Has this been cherry picked into a kfctl RC yet?

[2020-02-03 18:52] zhenghuiwang commented on #807
https://github.com/kubeflow/kfctl/pull/204 is the cherry-pick, but tests failed.

[2020-02-03 18:57] zhenghuiwang commented on #799
https://github.com/kubeflow/kfctl/pull/204 is the cherry-pick but not merged due to the tests failed.

[2020-02-03 20:04] cliveseldon commented on #806
Seldon has MutatingWebhooks which are needed at present for proper functioning. I'd second a solution that keeps webhooks.

[2020-02-03 21:24] jlewi opened #834 "Make sure all the application versions are set correctly"
It looks like KFServing Application versions are currently tracking KF versions
https://github.com/kubeflow/manifests/blob/d1b3765d09c4175a8e8189ca840c3700a2b5efe5/kfserving/kfserving-install/overlays/application/application.yaml#L13

https://github.com/kubeflow/manifests/blob/6dfd70cad6e9c68496ed175b9f774f12a79da7c0/kfserving/kfserving-install/overlays/application/application.yaml#L13

That is pr

[2020-02-04 01:16] richardsliu commented on #834
/cc @kkasravi

The `app.kubernetes.io/version` label is currently being used to identify the kubeflow version associated with each application. As part of the upgrade process we look for expired resources (e.g. labelled with "v0.7.0") and delete them.

If we want to make this version represent the application-specific version (as opposed to the overall Kubeflow version), we need to rethink how upg

[2020-02-04 01:22] richardsliu commented on #796
I use this script for the rest of the applications: https://github.com/kubeflow/manifests/blob/master/hack/update-instance-labels.sh

[2020-02-04 05:53] jlewi commented on #792
Confirmed this is working with a 1.0 cluster deployed from
https://github.com/kubeflow/manifests/tree/861868c
![tfnotebooks](https://user-images.githubusercontent.com/777219/73717785-9af2cf00-46cf-11ea-8611-33e8a4c98c9e.png)

[2020-02-04 06:05] #792 closed

[2020-02-04 07:44] krishnadurai commented on #806
@jlewi There are two webhooks:

1. Validating Webhook, which validates the cert-manager resources
1. Mutating Webhook, which injects CAs into cert-manager resources. This would have to be done through other automation.

Since we have several components which might use Mutating Webhooks, we will have to retain it.

Let us see if increasing the timeouts work.

[2020-02-04 13:38] jlewi commented on #599
@krishnadurai and @yanniszark can we close this out or is there more work to be done?

[2020-02-04 13:56] jlewi commented on #796
Might be worth writing a quick python script that adds a little bit more control.

[2020-02-04 14:48] camille-rodriguez commented on #543
@WillBeebe I eventually fixed that issue by making sure that the kubernetes-master pod was able to access the cert-manager-webhook pod on port 6443. It was a firewall issue

[2020-02-04 15:27] yanniszark commented on #599
@jlewi I believe @krishnadurai wanted for the Dex plugin to make it into 1.0.
I'm not sure if that is realistic given that https://github.com/kubeflow/kfctl/issues/214 is not implemented yet.

In addition, there is this issue for updating the docs: https://github.com/kubeflow/website/issues/1592

[2020-02-04 17:05] SebBlin commented on #774
The magic feature of having multiple overlays and combining them is a **"really great feature"** and should be kept.
I use it to build my own repo that contain all my personnal customization to apply during the deployment process.

Here is an exemple below for Dex :
Currently Dex is able to delegate authentication to an external OIDC IDentity Provider and this is something I want to use, but this

[2020-02-04 17:49] jlewi commented on #806
I'm going to mark this as fixed.

The increased timeout should be in the latest kfctl RC.
https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.3

I think the longer term fix is to implement reconcile semantics kubeflow/kfctl#214 so that we don't block creation of other resources while waiting for the cert-manager to become available.

[2020-02-04 17:49] #806 closed

[2020-02-04 18:09] jlewi commented on #834
@richardsliu  Is it going to be confusing to users if the application version doesn't refer to the version of the application itself rather than Kubeflow?

Here's a oneliner to show all application versions

[code]

My expectation is that if a user does this they see the version of the individual applications.

Kubeflow is itself an application which is the owner reference of a bunch of applicatio

[2020-02-04 19:34] swiftdiaries commented on #806
Tried out the new RC and it comes up just fine, thanks for the quick fix !

[2020-02-04 21:10] zhenghuiwang commented on #799
The fix was cherry-picked in kfctl `v1.0-rc3` release:
https://github.com/kubeflow/kfctl/commit/cba38248608412141110ddf53ef9c18e173195d0

[2020-02-04 21:10] #799 closed

[2020-02-04 23:12] jamesthegiantpeach opened #852 "spark-operator contains a default SA but no default CRB and CR"
AFAIK the spark-operator manifests base has spark-sa for SparkApplications to use, but it doesn't have any default bindings or roles.

Should these be added? IMO a reasonable clusterrole should be default such that sparkapplications can be immediately applied if using the default spark-sa.

[2020-02-05 00:20] jlewi commented on #799
Here's a list of pod confirming they all come up

[pods.txt](https://github.com/kubeflow/manifests/files/4156810/pods.txt)

This was deployed with
https://github.com/kubeflow/manifests/tree/32aba35
kfctl:  kfctl-v1-0-rc-2-13-g521fcfe

[2020-02-05 00:23] jlewi commented on #832
Here's the seldon mutating webhook from
https://github.com/kubeflow/manifests/tree/32aba35

The namespace selector is set and there is no object selector

[seldon-mutating-webhook-configuration-kubeflow.yaml.txt](https://github.com/kubeflow/manifests/files/4156822/seldon-mutating-webhook-configuration-kubeflow.yaml.txt)

[2020-02-05 00:23] #832 closed

[2020-02-05 01:36] richardsliu commented on #834
We should fix the following labels:
[code]

Anything else?

[2020-02-05 01:38] richardsliu opened #857 "Metadata version in application labels is incorrect"
Currently metadata component is labelled v1.0.0. Metadata should have its own versioning (separate from Kubeflow version).

See https://github.com/kubeflow/manifests/issues/834 for more context.

[2020-02-05 01:38] richardsliu commented on #857
/cc @zhenghuiwang

[2020-02-05 01:39] richardsliu opened #858 "Katib application label is incorrect"
Currently katib component is labelled v1.0.0. Katib should have its own versioning (separate from Kubeflow version).

See #834 for more context.

/cc @johnugeorge

[2020-02-05 02:30] jlewi commented on #834
@zhenghuiwang What version should we use for metadata?
@richardsliu what version should we use for katib?

[2020-02-05 02:33] jlewi commented on #834
1.0 cluster deployed at
https://github.com/kubeflow/manifests/tree/86522ed

[code]

[2020-02-05 02:35] jlewi commented on #834
https://master.kubeflow.org/docs/reference/version-policy/

[2020-02-05 09:18] devgrok opened #861 "oidc-authservice: parameterize auth scopes"
Some oidc providers don't support the `groups` scope, allow the requested auth scope to be changed.

For example AWS Cognito Identity Pool doesn't define it as a scope, see [Cognito: Allowed OAuth Scopes](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-app-idp-settings.html).
Instead it sends it via `cognito:groups` in the [Access Tokens](https://docs.aws.amazon.com/co

[2020-02-05 13:22] jtfogarty commented on #861
/platform aws
/area usage
/priority p2

[2020-02-05 21:21] jlewi opened #869 "GCP and AWS Change ingress resources to networking.k8s.io/v1"
See: https://github.com/kubeflow/kubeflow/issues/4680

https://github.com/kubeflow/manifests/blob/830e1a0c87befdaec217564efb2b06ddc02a0cd6/gcp/iap-ingress/base/ingress.yaml#L1

Need to upgrade to networking.k8s.io/v1 to support newer versions of Kubernetes.

Ref: kubeflow/manifests#375

It looks like this was introduced in 1.8 so there shouldn't be any blocker to upgrading our ingresses now
https:

[2020-02-05 22:16] devgrok commented on #652
To expand on what @Jeffwan said:
The AWS-ALB-ingress creates an Application Load Balancer (ELB v2) that at the basic level provides what  K8s Service ClusterIP --> load balancing between the running instances.

It definitely doesn't skip istio - the configuration points all the traffic at the IngressGateway service
The kubeflow's aws-alb-ingress is just set to forward the traffic to the istio-ingr

[2020-02-05 22:25] jlewi commented on #834
On master
https://github.com/kubeflow/manifests/tree/19cb353

[code]

[2020-02-06 02:43] kunmingg commented on #774
+1 for remove kfdef magic.

- Maintaining non-standard kustomize feature is non-trivial cost.
- Our manifest repo should allow user to apply them with `kustomize` CLI directly. With `kfctl` logics user will get different results from `kfctl` vs `kustomize`

@SebBlin
If we have solid use cases that need merging overlays feature, we can open PR to kustomize repo directly so the feature becomes kusto

[2020-02-06 03:44] jlewi commented on #834
https://github.com/kubeflow/manifests/tree/129b889

Versions looks good.

[code]

[2020-02-06 03:44] #834 closed

[2020-02-07 02:25] nrchakradhar commented on #652
Thanks @devgrok

[2020-02-07 04:06] jlewi commented on #757
@kunmingg lets verify #882 on master before cherry-picking onto 1.0 branch. Lets try to leave the cluster up for a while to ensure we don't have problems when it has been running for a while.

[2020-02-07 04:22] jlewi commented on #774
@SebBlin Thanks. Can't you achieve what you want in Kustomize? i.e. it sounds like you want to define an overlay which would be applied to the Kubeflow Dex manifest. So your overlay would just declare
the Kubeflow Dex manifest as its base.

Kustomize supports chaining; i.e.  A -> B -> C

  * Where B & C are overlays
  * And  B is using A as a base, and C uses B as its base

What Kubeflow implement

[2020-02-07 04:25] jlewi commented on #774
This is the feature request in Kustomize for mixin support : kubernetes-sigs/kustomize#759

[2020-02-07 12:28] Bobgy commented on #326
@yanniszark Can you provide some reference?

After trying to edit a mysql deployment, I found the behavior is: first the existing pod terminates, then the new pod starts. It doesn't seem like an issue.

Also, data is actually stored in the persistence volume mounted in the pod. We have only one persistence volume with ReadWriteOnce. So I think there could never be a case multiple replicas corrupti

[2020-02-07 12:55] yanniszark commented on #326
ReadWriteOnce refers to the Node, not the Pod.
Multiple Pods can use a ReadWriteOnce PVC, as long as they are on the same Node.
See: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes

The only controller that *guarantees* only 1 instance of each member of the application is running at any time, is the StatefulSet.
With deployments, there can be situations where 2 Pods ma

[2020-02-07 14:14] Bobgy commented on #326
@yanniszark I found this documentation https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/

It uses a deployment with `type: Recreate` to make sure there's only one pod in this deployment (exactly the same as our mysql deployment). It seems that's a valid use-case for deployment. Can you provide any references if there could be any issues to this setup?

I'm

[2020-02-07 14:40] yanniszark commented on #326
@Bobgy yes, I'm aware of this piece of documentation. Thanks for pointing to the source of confusion.
I argue that it's outdated and should be converted to use StatefulSet.
The StatefulSet provides the following guarantees to stateful software: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#using-statefulsets

My main argument is that Deployment does not guarantee that only

[2020-02-07 15:44] Bobgy commented on #326
@yanniszark Thanks for the extra explanation! Can you elaborate more on what edge cases for my curiosity? If possible, I'd like links that explains the problems in examples. Because according to https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/#updating, `strategy: type: Recreate` already guarantees at most one pod is running.

For stateful sets, it seems t

[2020-02-07 15:45] Bobgy commented on #326
Also I tried editing mysql deployment to have replica of 2.
[code]
The new instance couldn't mount the same PV. It seems k8s can guarantee ReadWriteOnce PV is only mounted by one pod.

[2020-02-07 15:55] yanniszark commented on #326
I believe the Pods were scheduled in different Nodes, that's why the mount failed.
Multiple Pods can mount a ReadWriteOnce volume, this is something we have tested and seen in action.

You'd have to dive into the code of the Deployment controller for that.
The thing here is that Deployments aren't meant to satisfy this kind of uniqueness guarantee.
This is not a goal and as such, I don't expect pe

[2020-02-07 19:25] #858 closed

[2020-02-07 19:26] #857 closed

[2020-02-09 02:03] acesir commented on #599
I am closely looking at this issue as it is something we need in our AWS environment, particularly referring to the option of passing the DOMAIN envar in order to generate a valid cert based on the domain/load-balancer exposure with the deployment. Does PR #600 actually implement the functionality described here or is there further work to be done on Dex @krishnadurai

[2020-02-09 11:05] krishnadurai commented on #599
@acesir

Both of the above tasks will look to provide 'DOMAIN' environment variable. Expect this to be completed within a few weeks. We are not looking for this to be a part of 1.0.

[2020-02-10 20:37] Jeffwan commented on #869
/cc @Jeffwan

[2020-02-10 20:38] Jeffwan commented on #852
I can help on this issue. It should.
/cc @Jeffwan

[2020-02-10 20:41] Jeffwan opened #889 "Upgrade AWS component versions for 1.0 - ALB Ingress, CSI plugin, device plugin, cluster version"
It's been a while aws components version have not been upgraded.

- ALB Ingress -> v1.1.5
- CSI plugin -> We are not sure about this, CSI has breaking changes on 1.14 clusters. Consider two version?
- GPU device plugin -> 1.0.0-beta4
- FluentD-cloud-watch -> 1.7.3-debian-cloudwatch-1.0
- FluentD configuration
- cluster version -> 1.14

[2020-02-10 23:49] jlewi opened #891 "Kubeflow 1.0 - default-editor is missing permission to create virtual services"
I tried to create a virtual service from a notebook running in a Kubeflow 1.0 cluster.

This resulted in an RBAC error

[code]

It looks like we have edit roles
https://github.com/kubeflow/manifests/blob/806766e0013ebfe7e60ab7f8d66b24cd5e532550/istio/istio/base/cluster-roles.yaml#L25

But it looks like the group might be wrong. I think we need it to be "networking.istio.io"

The following appears

[2020-02-10 23:49] devgrok commented on #652
That manifest (`Kind: Ingress`) provides configuration for the aws-alb-ingress-controller, which creates resources in AWS with little or no modifications to the kubernetes resources.
It creates an Application Load Balancer, Target Group, Security Groups and registers the EC2 instances with the Target Group by instance-id and port (the NodePort).

The NodePort it refers to is already existing and c

[2020-02-11 04:42] jlewi opened #894 "Replace Deployment Manager with KCC"
Opening this issue to track using KCC instead of Deployment Manager on GCP.

This should allow us to create a more Kubernetes native approach to managing all of the infrastructure and ultimately create a better GitOps story for Kubeflow

[2020-02-11 06:15] Ark-kun commented on #796
JFYI: For successful deploymentof the Metadata Writer service, the name of the gRPC Metadata Service needs to be the same in KFP and KF. @elikatsis wanted to make a change for that.

[2020-02-11 15:34] jlewi commented on #796
@Ark-kun and @elikatsis thanks. I don't consider that release blocking although I'd like to have that working. Lets open up a separate issue to track.

[2020-02-11 15:49] jlewi opened #897 "Enable Metadata Writer for KFP"
See this comment
https://github.com/kubeflow/manifests/issues/796#issuecomment-584491877

KFP and metadata need to be configured correctly to enable the metadata writer service.

/cc @elikatsis @Ark-kun

[2020-02-11 15:51] jlewi commented on #796
Filed: kubeflow/manifests#897

[2020-02-11 15:51] #796 closed

[2020-02-11 15:55] jlewi commented on #757
@kunmingg any luck verifying this?

[2020-02-11 16:14] jlewi commented on #599
@krishnadurai and @yanniszark any update on this? How close are to updating this?

[2020-02-11 17:01] Softsapiens commented on #543
@camille-rodriguez could you share your fix, please? I'm getting the same msg as @WillBeebe and you saw.  I'm working with minikube and kfctl_k8s_istio.v1.0.0.yaml

thanks in advance!

[2020-02-11 17:17] camille-rodriguez commented on #543
@Softsapiens So in my case it is a deployment on multiple servers with charmed-kubernetes, and I had to request a firewall port to be opened for communications between the kubernetes-master nodes and the cert-manager-webhook (since they were in different subnets). I'm unsure how it works in minikube. When I do testing with kubeflow, I typically deploy it with microk8s on an ubuntu vm

[2020-02-11 18:23] Jeffwan commented on #869
EKS doesn't support 1.16 yet and this will be visited later.

[2020-02-11 21:55] vpavlin commented on #375
We just hit this with our custom KF 0.7 on OpenShift 4.3 as that got rebased on Kubernetes 1.16 - any plans on backporting the changes to 0.7, or is this only intended to be forward compatible?

[2020-02-11 22:18] vpavlin commented on #774
For someone new starting with Kustomize and kfctl, the magic the latter adds is quite hard to get handle on - @jlewi is what you described above explained anywhere in KF docs? It makes sense like this, but it was not straightforward when I started with Kubeflow and since I always fell back to Kustomize doc it got even more confusing as it did not match what I was able to learn there:-)

So my 2c -

[2020-02-11 22:31] mattnworb commented on #774
+1 to @vpavlin. Only a subset of Kubernetes users are familiar with kustomize in the first place, and it will always be an even smaller subset who will understand kfctl’s modifications to kustomize.

[2020-02-11 23:45] kunallimaye opened #900 "Typo in README.md"
Fix spelling for independently in the first paragraph.

[2020-02-11 23:51] kunallimaye commented on #900
PR #901 for a quick fix

[2020-02-12 00:40] #652 closed

[2020-02-12 01:10] jlewi commented on #757
@gabrielwen could we use our notebook xgboost_synthetic test to verify that this is working?
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

* Does the notebook E2E test depend on workload identity or is it using some other form of auth?

   * I think its using workload identity https://github.com/kubeflow/examples/blob/master/xgboost_synthetic/testing/job.yaml but lets v

[2020-02-12 03:19] MnrGreg commented on #375
Still experiencing an issue with the Seldon CRD on K8S 1.16.2. All other manifests seem fine.

[code]

The spartakus deployment is up-to-date and running fine:
[code]

Just seems the Seldon CRD needs updating.

[code]

kubeflow manifest: https://github.com/kubeflow/manifests/raw/master/kfdef/kfctl_k8s_istio.yaml

[2020-02-12 06:32] #889 closed

[2020-02-12 06:51] cliveseldon commented on #375
We could create a 0.7 PR to just update the apiVersions that need updating for Seldon.
Have you checked Kubeflow 1.0 RC to ensure its 1.16 compatible?

[2020-02-12 11:46] Bobgy commented on #326
@yanniszark Sorry, forgot about this for a few days.

I can try with a cluster with only one node then. Will update here.

It's a breaking change considering manifest upgrade. So I want to avoid it unless I find real-world reasons.

[2020-02-12 15:02] #900 closed

[2020-02-12 16:00] AlexBulankou commented on #894
Perhaps worth clarifying that this refers to [Config Connector for K8s](https://cloud.google.com/config-connector/docs/overview) that just announced [General Availability](https://cloud.google.com/blog/products/containers-kubernetes/config-connector-bridges-kubernetes-gcp-resources).
At this time Config Connector [supports about 70+ GCP resources](https://cloud.google.com/config-connector/docs/ref

[2020-02-12 16:59] vpavlin commented on #385
Should this be closed since cert-manager has been updated and added to some/all? of the KFdef configs?

[2020-02-12 18:02] gabrielwen commented on #757
@jlewi
turns out periodic test points to auto-deployed cluster that is not the latest.  The most recent test was run on `kf-master-0212-921` which points to the `907d9dc` where the most recent deployed cluster should be `kf-master-0212-8de `, which uses the latest commit of `9eeab3e`

could you point me to the codes for the new auto-deployment service?  it seems to be a whole lot different than I

[2020-02-12 18:04] discordianfish opened #904 "Move database from katib-controller base to overlay"
Similar to #673, the database shouldn't be included in katib-controller to allow using an external database.

[2020-02-12 18:05] discordianfish commented on #904
I've already started working on this and should be able to submit a PR tomorrow.

[2020-02-12 18:12] SebBlin commented on #774
@jlewi hello.
it would be fine if this feature is supported directly by kustomize. I agree it would be better not to include this sort of code so specific to kfctl.
At least, it is interesting to keep the posibility to declare the public repo, as well as a private and merge both ; this feature les complex, this juste some older copy at the right place.

regards
Sébastien

[2020-02-12 19:06] jlewi commented on #757
@gabrielwen Could it be that when the latest run ran against kf-master-0212-921 that was the correct cluster? i.e. did the cluster kf-master-0212-8de exist it? Was it ready?

More than 1 auto-deployed cluster can exist at a time. In particular, we won't tear down an existing cluster, until a newer cluster has been created, and we have allowed enough time to pass O(hours) to assume that all tests h

[2020-02-12 19:06] Jeffwan opened #905 "Support external mysql database for metadata and pipeline"
Currently, we use PersistVolume based mysql database for these projects and upgrade and performance becomes a challenges.

One solution is to use external mysql database, we can add overlays and make this as another option for users.

Address https://github.com/kubeflow/kubeflow/issues/4546

[2020-02-12 19:16] Jeffwan commented on #905
/cc @Jeffwan

[2020-02-12 19:17] MnrGreg commented on #375
@cliveseldon yes, the documentation still reflects `Kubeflow 1.0` being incompatible with `K8S 1.16`. [minimum-system-requirements](https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements)

When deploying the master Kubeflow manifests with `kfctl v1.0-rc.3-1-g24b60e8` yesterday, the Seldon CRD was the only component which failed to deploy.

[2020-02-12 21:50] gabrielwen commented on #757
The notebook ran successfully against kf-master-0212-921, but I think we need to stop using cluster name in selection:
https://github.com/kubeflow/testing/issues/608

[2020-02-12 23:07] jlewi commented on #757
@gabrielwen Thanks; my concern is that the test might be swallowing errors; e.g. there are errors but its not being reported. So what I'd like to do is get the output notebook and be able to manually view it; just to verify it.

I believe papermill writes the output to an .ipynb file.

So we just need to grab that file off pod volume. There's two ways we could do this

1. papermill supports gcs so

[2020-02-12 23:51] gabrielwen commented on #757
kk, will take a look at papermill.

- turns out we are not selecting by deployment names.  We are actually using insertTime so I think it should be fine.  Let me double check it when we have more than 1 clusters at the same time.
- we are swallowing failures during presubmit, so the failures will still show up in periodic tests:
https://github.com/kubeflow/examples/blob/e91e9c0df3126d1adde625614cb

[2020-02-13 02:18] jlewi commented on #891
I verified this is fixed by running the notebook kubeflow/examples#723 in a cluster deployed at
https://github.com/kubeflow/manifests/tree/096f312

[2020-02-13 02:18] #891 closed

[2020-02-13 15:46] cliveseldon commented on #375
Which kfdef are you using?

[2020-02-13 16:07] yanniszark commented on #861
Hi @devgrok, can you elaborate a bit on why you need the `groups` scope?
Currently, the oidc-authservice doesn't have any group integration.
The oidc-authservice only adds a header for the user id, which it retrieves from a claim in the OIDC JWT.
The user id claim can be configured.

[2020-02-13 18:50] rafaelbarreto87 opened #911 "Can't login after deploying Dex manifests to a private GKE cluster"
I'm currently trying to deploy the Dex version of Kubeflow 1.0RC (https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_istio_dex.v1.0.0.yaml) to a GKE _private cluster_. Since private GKE clusters don't have internet access, I edited the manifests to point to copies of the images moved to our private gcr.io repository. The deployment finishes. however, when I try to load Ku

[2020-02-13 18:54] rafaelbarreto87 commented on #911
Some additional logs:

[code]

[2020-02-14 04:29] MnrGreg commented on #375
I was using https://github.com/kubeflow/manifests/raw/master/kfdef/kfctl_k8s_istio.yaml

and pointing repos to:

[code]

since using https://github.com/kubeflow/manifests/raw/master/kfdef/kfctl_k8s_istio.v1.0.0.yaml
with

[code]

I haven't seen the Seldon CRD issue. `kfctl apply` goes though fine.

[2020-02-14 06:37] jlewi commented on #599
@krishnadurai and @yanniszark ping?

[2020-02-14 06:39] jlewi commented on #757
I did a spot check of a master cluster

Cluster had been up for 4 hours.
and was running 1.14.10-gke.22

[code]

So it looked good.

#735 also gives me confidence we can trust the tests.

So lets go ahead and cherry-pick it.

[2020-02-14 06:41] jlewi commented on #757
@kunmingg cherry pick is #912

[2020-02-14 07:19] krishnadurai commented on #599
@jlewi
For 1.0 we should be able to release this config as-is and without the Dex Plugin. We need to get the docs changed to reflect the new name according to this issue:

kubeflow/website#1592

[2020-02-14 08:17] cliveseldon commented on #375
@MnrGreg
The rc.0.tar had the old version of Seldon from 0.7 release as the updates were not yet cherrypicked to the release branch

[2020-02-14 22:21] jlewi commented on #757
#912 is merged.

[2020-02-14 22:21] #757 closed

[2020-02-14 22:22] jlewi commented on #599
Thanks @krishnadurai so it sounds like we can close this as soon as the docs are submitted.

[2020-02-15 20:16] holdenk commented on #852
This PR is maybe related - https://github.com/kubeflow/manifests/pull/661/files ?

[2020-02-16 04:14] devgrok opened #920 "Remove or update kubeflow/v1alpha1 references in docs"
There's some documentation examples that sill used the old api version (`kfdef.apps.kubeflow.org/v1alpha1`) and refer to old configurations like `componentParams`.

I only looked for references to `componentParams` as I was surprised by it until I searched around and out it was the old kfdef format.

Namely:
* https://github.com/kubeflow/manifests/blob/9eeab3ee045b85e90f236b7dcccbdf5997722bfb/READ

[2020-02-16 06:17] devgrok commented on #861
I was just defaulting to what was there to try and minimise the change.

In theory just `email` should be enough from what i can see from https://github.com/arrikto/oidc-authservice/tree/master -- from memory i can't remember seeing any OIDC providers requiring scope=profile to access email, though I've got a vague memory of seeing it for another attribute.
@ChanYiLin @yanniszark should be able to

[2020-02-17 00:48] holdenk commented on #543
I ran into this today on minikube with v1.0.0-istio and kfctl 1.0-rc4

[2020-02-17 00:52] holdenk commented on #543
Oh to be clear it *did retry* but not enough. I manually re-ran it and then it continued the deployment.