[2020-08-28 10:16] ReyRen commented on #959
[code]
@tomalbrecht
 Hello, when I followed yours settings to add into the /etc/kubernetes/manifests/kube-apiserver.yaml, I would get `The connection to the server 10.10.10.207:6443 was refused - did you specify the right host or port?`. I think this is the apiserver key error. But how can I resolve that without terminating current cluster? And why would that happened?

thanks

[2020-08-28 14:26] yanniszark opened #1523 "Remaining use of vars in manifests and the problems they cause"
We are moving towards having our manifests buildable with plain kustomize (without kfctl).
With `kfctl`, we used `vars` extensively. However, this presented many issues, as it disallowed composing packages. See:
https://github.com/kubeflow/manifests/issues/1007

The following variables still remain in the stacks uber-kustomization:
https://github.com/kubeflow/manifests/blob/6dcebbe263bc98c62aee9bf

[2020-08-29 01:16] jlewi commented on #1523
@yanniszark I would probably recommend just using a kpt/kustomize function. In part because we are already using them on GCP.

We already have a kustomize function for transforming the gateway on all virtual services.
https://github.com/kubeflow/kfctl/tree/master/kustomize-fns/virtual-service

We could extend that to handle changing the cluster suffix.

[2020-08-29 13:45] arshashi commented on #1390
Can someone update on the issue please.  This seems to be an issue/bug with cert-manager v0.15.

To fix one issue, Upgraded cert-manager which by default comes with kfv1.1 from -0.11 to 0.15 and with v0.15 also this hasn't fixed.

[2020-08-31 18:35] jlewi commented on #1519
Deployment manager is no longer supported starting with Kubeflow 1.1.
With Kubeflow 1.1 we have switched to using GKE release channels.
The fix in this case would probably be to install Kubeflow 1.1.

[2020-08-31 21:51] shadowmodder commented on #968
this is still a bug in the updated version to date.

[2020-09-01 04:50] caffeinism opened #1535 "deploy with istio-1.7"
New features are continuously being added to istio, but istio1-3-1 is still used in kubeflow.

The incompatible parts of istio 1.3 and istio 1.7 in kubeflow are

- sni_hosts property change to sniHosts
- ClusterRbacConfig, ServiceRole and ServiceRoleBinding change to AuthorizationPolicy.

I think it's silly to keep istio out of date to keep this legacy.

[2020-09-01 10:56] arshashi commented on #1390
@Ark-kun can you please spare sometime on this issue?

[2020-09-01 14:52] virgoaugustine opened #1537 "Deployment manager configs are no longer used starting with Kubeflow 1.1."
Deployment manager configs are no longer used starting with Kubeflow 1.1.
We should probably delete this.
The CNRM configurations use GKE release channels.

_Originally posted by @jlewi in https://github.com/kubeflow/manifests/pull/1529#issuecomment-683953758_

[2020-09-02 03:11] jlewi commented on #1520
Did you follow the troubleshooting guide?
https://www.kubeflow.org/docs/gke/troubleshooting-gke/#troubleshooting-ssl-certificate-errors

Are you hitting: kubeflow/kubeflow#5048 ?

[2020-09-02 03:49] #1169 closed

[2020-09-02 13:47] yassine-labidi commented on #1520
Hi @jlewi
Yes I did follow the troubleshooting guide. And it didn't help much to figure out the problem.
I am not sure if it is [kubeflow/kubeflow#5048](https://github.com/kubeflow/kubeflow/issues/5048). If it is, is there where a workaround to fix it (and would be a way to validate it is issue 5048) ?

[2020-09-03 06:02] zhangchunsheng opened #1542 "kubeflow 1.1 can't work with k8s 1.8"
kubeflow 1.1 can't work with k8s 1.8

[2020-09-03 10:05] whalecold opened #1543 "kubeflow 1.1.0 install failed when use 1.18 or higher kubernetes"
The seldon CRD [APIV3Schema](https://github.com/kubeflow/manifests/blob/ed615418ef15e54c9a68979d8d2fc45e17bab7b1/seldon/seldon-core-operator/base/resources.yaml#L2490) is invalid in the kubernetes of 1.18，Could we set the `protocol`  field to `Required` ? Alternative, using the v1 CRD API.

Ref: https://github.com/kubernetes/kubernetes/issues/91395#issuecomment-633261523

[2020-09-04 05:05] zhangchunsheng commented on #1542
That is not so good to do release code. The release version has too many bugs on k8s 1.8.

[2020-09-04 05:05] #1542 closed

[2020-09-04 11:49] #1212 closed

[2020-09-06 02:22] 814HiManny commented on #1496
I have encountered the same issue. In my case I have followed the [kfctl_istio_dex.v1.1.0.yaml](https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_istio_dex.v1.1.0.yaml) installation instructions. This configuration references:
[code]

which references `https://github.com/kubeflow/manifests/blob/v1.1-branch/common/centraldashboard/base_v3/kustomization.yaml`

this kustomi

[2020-09-07 04:28] danasaur opened #1545 "kubeflow deploy fail error gzip: invalid header filename="kfconfig/types.go:524""
Running on EKS with cloud9

I went step by step exactly through the following three tutorials:

https://www.eksworkshop.com/020_prerequisites/
https://www.eksworkshop.com/030_eksctl/
https://www.eksworkshop.com/advanced/420_kubeflow/

got to https://www.eksworkshop.com/advanced/420_kubeflow/install/

$ kfctl apply -V -f ${CONFIG_FILE}

<img width="1196" alt="Screen Shot 2020-09-05 at 5 22 08 PM" s

[2020-09-07 08:48] kimwnasptd commented on #1509
In order to also make the CPU/RAM inputs simpler and more intuitive for the user we could only permit number inputs in the form for such fields.

[2020-09-07 08:53] kimwnasptd commented on #1509
Also here are the docs regarding the correct string values for RAM
https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory

[2020-09-08 14:03] AshokKuramdasu commented on #1489
Hi Team, Please provide steps to connect to keycloak from kubeflow as need to login keycloak users.

[2020-09-08 17:07] jtfogarty commented on #1371
/priority p2

[2020-09-08 17:08] jtfogarty commented on #1468
/priority p2

[2020-09-08 17:09] jtfogarty commented on #1471
/priority p2

[2020-09-08 17:33] jtfogarty commented on #1489
/priority p2

[2020-09-08 17:42] jtfogarty commented on #1508
/priority p2

[2020-09-08 17:56] jtfogarty commented on #1244
/priority p1

[2020-09-08 17:57] #1537 closed

[2020-09-09 04:39] thesuperzapper opened #1547 "argo-workflows should be top-level in kfdef files"
Users may already have an install of `argo-workflows` installed in their Kubernetes cluster.

Therefore, we should move the `argo` out of the `./stacks/*/kustomization.yaml` and into the root `./kfdef/*.yaml`

This is similar to what we already do for `isio` and `cert-manager`, and will let providers include **newer versions** of `argo-workflows`.

[2020-09-09 04:40] thesuperzapper commented on #1547
Tagging pipeline people: @Bobgy @IronPan @rmgogogo

[2020-09-09 07:21] rmgogogo commented on #1547
How about remove the existing installation and then KF?
Or to different namespace for isolation?

[2020-09-09 07:33] thesuperzapper commented on #1547
@rmgogogo, what are you saying?

I am talking about making it easier for users to NOT deploy the manifests described in: [manifests/argo/*](https://github.com/kubeflow/manifests/tree/master/argo), and instead make use of an existing argo-workflow installation.

Unless you are saying current-state is not that big of an issue because we are installing the `argo-workflows` controller into the `kubefl

[2020-09-09 08:14] rmgogogo commented on #1547
I think we are talking same thing.

1. CRD is shared cross cluster
2. You have an existing Argo operator installed.
3. You install KF but it also contains an Argo operator.
4. You prefer move it so that KF installation can use existing Argo.

Right?

My concern is that it's possible certain Argo version is not tested together with Pipeline. That's why I give previous reply.

@Bobgy may give better

[2020-09-09 10:27] #1509 closed

[2020-09-09 13:00] Hmr-ramzi opened #1548 "Argo manifest with kubeflow namspace hardcoded"
Is it possible to change the namespace in the argo manifest files (for example the deployment.yaml) to keep a generic namespace instead of hadcoding it to 'kubeflow' ?

[2020-09-09 14:05] mttcnnff opened #1549 "What's the proper convention for customizing kubeflow in a maintainable way?"
I understand that you can use kfctl to generate kustomization.yaml files and then edit the generated files in the /kustomize directory but this doesn't seem maintainable as if I rerun kfctl it will overwrite that /kustomize directory, which could be a problem when you want to change the upstream repo from which you pull config for something like an upgrade down the road.

Is there anyway to genera

[2020-09-10 01:12] Bobgy commented on #1549
@mttcnnff This is exactly the reason why we built kubeflow/gcp-blueprint.
Some explanation in https://github.com/kubeflow/gcp-blueprints/issues/123.

GCP is now the only platform following this pattern. I'm interested if other platforms want to follow.

[2020-09-10 03:23] #60 closed

[2020-09-10 03:23] #86 closed

[2020-09-10 04:29] Bobgy commented on #1547
I agree with @rmgogogo in that the argo configmap is highly-coupled to Kubeflow Pipelines: https://github.com/kubeflow/manifests/blob/3fd1c711430b6d676b93cdf6008e1baa75bcd89d/argo/base/params.env

But the upgrade problem is a valid ask, I believe we should think about a way people can come and customize things in stacks too. They might want to upgrade KFP, KFServing, etc, because Kubeflow release

[2020-09-10 04:30] Bobgy commented on #1547
@thesuperzapper we can bring this topic to deployment wg's discussion

[2020-09-10 14:06] mttcnnff commented on #1549
@Bobgy Can you explain a bit more of how this pattern works? I'm on AWS but more than happy to contribute to get this in a better place

[2020-09-10 16:59] jlewi commented on #1514
https://github.com/danisla/cloud-endpoints-controller

[2020-09-11 01:40] thesuperzapper commented on #1549
I make use of argo-cd.

**Here is what I do:**
1. create a private git repo (for all the following steps)
1. use `kfctl` to generate the top-level `kubeflow/xxx/kustomization.yaml` files which reference, `.cache/manifests-1.1-branch/...`.
1. create yaml patch files with the changes I need for my cluster (like dex `config.yaml` ConfigMap)
1. add these yaml to the corresponding  `kustomization.yaml`

[2020-09-11 01:43] thesuperzapper opened #1550 "upgrade from dex v2.22.0"
Currently we are using an old version of dex (`v2.22.0`), we should upgrade this.
https://github.com/dexidp/dex/releases

[2020-09-11 01:44] thesuperzapper commented on #1550
I guss @krishnadurai @swiftdiaries are the main people who might want to discuss this.

[2020-09-11 05:08] thesuperzapper opened #1551 "istio: Upgrade Istio version and stop using deprecated Istio RBAC policy"
We really need to remove our dependency on these resource as they are [removed in Istio 1.6](https://istio.io/latest/blog/2019/v1beta1-authorization-policy/):
* `ClusterRbacConfig`
    * found in: `./istio/istio/base`
* `ServiceRole`
    * found in: `./istio-1-3-1/istio-install-1-3-1/base`
* `ServiceRoleBinding`
    * found in: `./istio-1-3-1/istio-install-1-3-1/base`

---

Also note: there is an

[2020-09-11 05:10] thesuperzapper commented on #1551
People who might be interested: @krishnadurai @lluunn @swiftdiaries

This is an important issue, as we will start seeing more and more users with Istio 1.6 already installed on their K8S, which will mean they are unable to install Kubeflow.

[2020-09-11 13:13] mttcnnff commented on #1549
@thesuperzapper this sounds good, at the end of the day you're using kfctl once to generate everything and then from there on using kustomize? Never to run kfctl again?

[2020-09-11 15:11] swiftdiaries commented on #1550
I think there's some amount of exploratory work required to check if there will be breaking changes and address backwards compatibility with older versions.
Is the Dex V2 API changes part of the latest v2.25.0?

[2020-09-11 15:32] swiftdiaries commented on #1551
I think going forward from istio 1.6, we might possibly look at updating just the Istio related manifests (post-Istio install ones). I'm seeing users installing Istio with `istioctl` or the operator. And considering the divergence with the networking setup across different providers/clusters and the associated Istio installation process, we won't be able to support ***every*** variation.

I'm thin

[2020-09-11 18:09] jtfogarty commented on #1551
/priority p1

[2020-09-11 18:11] jtfogarty commented on #1548
/priority p1

[2020-09-11 18:17] jtfogarty commented on #1285
/priority p1

[2020-09-11 22:10] #1168 closed

[2020-09-11 22:10] #1191 closed

[2020-09-14 01:41] thesuperzapper commented on #1535
related to: #1548

[2020-09-14 02:28] thesuperzapper commented on #1549
@mttcnnff yep, you only use `kfctl` once per major Kubeflow version (which is important for git-ops, as you should be storing exactly the YAML you expect to be in your cluster, explicitly in your repository).

Because the purpose of having multiple environments is usually testing dev/prod, I would recommend having completely seperate folders under a repo to store the `./kustomize/` folders for eac

[2020-09-14 05:04] thesuperzapper opened #1552 "upgrade knative-serving"
We are currently using a very old version of knative-serving `v0.11.2`, we should consider upgrading:
https://github.com/knative/serving/releases

Files are found at `./knative/*`.

[2020-09-14 05:05] thesuperzapper commented on #1552
Relevant owners who should disuss:  @adrian555 @animeshsingh @krishnadurai @Tomcli @yuzisun

[2020-09-14 09:28] thesuperzapper opened #1553 "all distributions of Kubeflow 1.1 have incorrect container images"
Currently, this repository (both `master` and `v1.1-branch`) have the incorrect images for some components of kubefow.
As far as I can see, this should affect all stacks at least partially, including: GCP, AWS, Azure, IBM, Vanilla K8S.

Most of these errors have occurred because the stacks have moved to the `base_v3` versions of the components, whereas the maintainers/bot has only updated the `bas

[2020-09-14 09:28] thesuperzapper commented on #1553
@jlewi you might want to be across this

[2020-09-14 09:33] #566 closed

[2020-09-14 09:44] thesuperzapper opened #1554 "Improve repo structure and delete outdated manifests"
This repository is extremely messy and is a horrible user experience. The mess has caused us real issues, as we botched the 1.1 release due to a lack of visibility of what is even in the manifests (See: #1553).

When paired with the almost complete lack of docs relating to `Kubflow 1.1` this leaves Kubeflow near impossible to install, just take a look at recent-issues (across all the repos), and o

[2020-09-14 13:09] tomalbrecht commented on #1543
Same here on k3s using https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.v1.1.0.yaml

[code]

[code]

[2020-09-14 14:58] mttcnnff commented on #1549
@thesuperzapper Wow thank you so much! This is super enlightening!

[2020-09-14 15:19] jlewi commented on #1554
I think this is relevant to the discussion in kubeflow/community#402; particular clarifying the responsibility between application owners, the proposed deployments WG and the platform owners.

I think the lack of structure, and code accumulation in kubeflow/manifests is an outcome of lack of clear ownership/responsibilities.

[2020-09-14 19:38] mttcnnff commented on #1549
@thesuperzapper what if I do want to edit what's inside the .cache, for instance if I don't want to create an aws-alb-ingress-controller bc I already have one in my cluster?

[2020-09-15 00:51] thesuperzapper commented on #1554
/priority p1

[2020-09-15 01:00] thesuperzapper commented on #1553
/priority p0

[2020-09-15 01:07] thesuperzapper commented on #1554
/remove-platform gcp

[2020-09-15 01:19] thesuperzapper opened #1555 "AWS Kubeflow 1.1 kfdef files are missing from master"
Currently, the following files are missing from `master` but are present in `v1.1-branch`, this means users may not be able to find them:
- `./kfdef/kfctl_aws.v1.1.0.yaml`
- `./kfdef/kfctl_aws_cognito.v1.1.0.yaml`

This relates to PR #1434 being into `v1.1-branch` rather than  `master`.

@Jeffwan I assume you want to fix this?

[2020-09-15 01:20] thesuperzapper commented on #1555
/assign @Jeffwan

[2020-09-15 01:31] thesuperzapper commented on #1549
@mttcnnff I assume you are using [kfctl_aws.v1.1.0.yaml](https://github.com/kubeflow/manifests/blob/v1.1-branch/kfdef/kfctl_aws.v1.1.0.yaml)? (Which I see is missing from the `master` branch of this repo, so I raised #1555)

I personally comment out resources for installing `istio`, `cert-manager` from my kfdef files before I run ` kfctl build -V -f ./kfctl_xxx.yaml`, as I install them outside of

[2020-09-15 01:55] thesuperzapper commented on #1496
For those following, it looks like the Kubeflow 1.1 release was botched quite badly (from a manifest perspective), I raised issue #1553

[2020-09-15 04:42] thesuperzapper commented on #1554
I also believe we longer need the concept of a 'distribution' (in the form we currently have it), as this was primarily made to support GCP deploying a full K8S stack with Kubeflow on top.

If you look at Slack/GitHub-Issues you will see most users are installing Kubeflow on existing clusters of all types: GKE, AKS, EKS, native-k8s. __We need to focus on supporting them!__

To facilitate this, I p

[2020-09-15 04:43] thesuperzapper commented on #1554
@kubeflow thoughts?

[2020-09-15 05:34] mameshini commented on #1554
Agile Stacks distribution of Kubeflow is available here: https://github.com/agilestacks/stack-ml-eks
It is open source and it can be merged with Kubeflow repository in the future.  We have taken a path of GitOps and customized the Kubeflow manifests to get more control over all components that are part of Kubernetes platform: dex, istio, letsencrypt, cert-manager, mysql, knative, ceph, csi plugin.

[2020-09-15 05:55] thesuperzapper commented on #1554
Another option (instead of Part 1) is that we discontinue the manifests repo entirely, and store the manifests for each component in the same repository as the component code.

However, I see a few issues with that approach:
*  Non-Kubeflow components, like `seldon-operator`, `spark-operator` will be homeless.
   * (But I guess you could argue those should just go in the 'Generic' distribution rep

[2020-09-15 06:25] alfsuse commented on #1554
What if we do split non-Kubeflow components and group them into a sort of "extension/plugin" repo? This way we would have the following:

- Main Core Repo: the core KF components
- Core Extension Repo: centraldashboard, jupyter-web-app
- Other Extension Repo: seldon-op,spark-op, vendor specific-ops

This way the experience would result in a simpler and lighter installation for the core components

[2020-09-15 07:20] chetanoruganti opened #1556 "enabling notebook culling feature in notebook controller by setting required env verables as part of notebook controller manifest"
/kind question

By default in notebook controller culling feature is disabled or set to false .
To enable it notebook controller expects env variable ENABLE_CULLING set to true .
is it a good idea to add overlay for culling in the notebook manifest to set the  env variable ENABLE_CULLING in notebook controller deployment and getting this env from KDef.yaml notebook manifest kustomizeConfig  as par

[2020-09-15 08:00] thesuperzapper commented on #1556
More generally, we are talking about how to improve the Kubeflow install process (See: #1554)

But for now you can just modify the `./kustomize/kubeflow-apps/kustomization.yaml` which is generated when you run `kfctl build -f kfdef_xxx.yaml`, with a `patchesStrategicMerge:` field.

[2020-09-15 09:57] chetanoruganti commented on #1556
Thanks you @thesuperzapper

[2020-09-15 13:26] DavidSpek commented on #1543
I'm currently attempting to deploy kubeflow 1.1.0 using kfctl on a charmed kubernetes 1.19 cluster and seem to have the same issue. I am still working out how to enable istio support in the cluster so I'm not sure if that is contributing to this issue or not.

[code]

[2020-09-15 14:41] DavidSpek commented on #1543
I managed to get Charmed Kubernetes configured in a way that it supports istio with kfctl. The somewhat solution can be seen in the second part of my comment [here](https://github.com/juju-solutions/bundle-kubeflow/issues/240#issuecomment-692758081).

[2020-09-15 14:51] erikerlandson commented on #1554
a bit of a nit, but what is the benefit of pre-release repo, compared to just branching/tagging for releases?

[2020-09-15 15:31] connorlwilkes commented on #1551
Yes this would be very useful for my use case. Profile Controller also has this issue in that it uses v1alpha1 RBAC Istio API that is removed in 1.6+ (see https://github.com/kubeflow/kubeflow/issues/5301).

[2020-09-15 15:58] Jeffwan commented on #1554
I don't think we need to refactor the entire repo. This repo has been used since 0.6. If user have some problems, we can address them separately. The major reason it looks messy recently is because components growing and v3 stack migration.

Seems all the problem you describe can be resolved by having a KFDef manifest with minimum components?  From user's point, they are not supposed to look at al

[2020-09-15 17:06] jzhoucliqr commented on #1554
I totally agree that we need better support for existing clusters. From what I can tell, most of the errors happen when there are conflicts with components already installed on existing cluster, like cert-manager. For this case, the admin who installs kubeflow does need to look at all components to do customizations.

On the other hand, I'm thinking maybe another reason we only see issues when ins

[2020-09-15 18:55] connorlwilkes commented on #1554
On this topic, is there a clear list of what components are core, what components are optional and of those components which are managed by Kubeflow and if they aren't what versions of the external components are compatible with which version of Kubeflow?

[2020-09-15 23:49] rmgogogo commented on #1554
/cc @Bobgy

[2020-09-16 00:54] thesuperzapper commented on #1554
I am seeing some confusion about why we need to create a new repo, rather than just use this existing one.

It's because this new repo will be completely different in both code and layout. It will ONLY HAVE Kubeflow component manifests, which are organised cleanly into folders. Distributions like GCP/AWS would live in their own repos, but the Kubeflow project would only be responsible for the '[Ge

[2020-09-16 00:56] thesuperzapper commented on #1551
This is extremely relevant to the discussion about separating non-Kubeflow manifests (like `istio`) into the responsibility of 'distributions'.

See the discussion in Issue: #1554

[2020-09-16 07:17] veggiemonk commented on #1554
It's all good points @thesuperzapper made. I agree :+1:

It's best for the project to focus on KubeFlow rather than half the CNCF Landscape + KubeFlow.

Also, my experience on trying to install KubeFlow on GKE was a total disaster as I did not need half of what was in the manifest and the other half, I'm still trying to figure out why do I need this ?

As far as I understood, Kubeflow is an archit

[2020-09-16 07:56] alfsuse commented on #1554
To @veggiemonk and @thesuperzapper comments, when a user installs KF over an existing cluster may have specific requirements like Istio or Dex versions so the need of customize the manifests before time to add/remove/change is there and from the UX experience is not that great because doing that way rise the risk of human errors a lot.

I personally like @Jeffwan approach here

But so I think we n

[2020-09-16 08:34] DavidSpek commented on #1543
Related: https://github.com/kubeflow/kfserving/issues/1070

[2020-09-16 09:17] sakaia commented on #1545
I hope this kind of workaround is supported (kfctl: support relative local repos in config #3712)[https://github.com/kubeflow/kubeflow/issues/3712]

[2020-09-16 09:37] connorlwilkes commented on #1136
@jlewi if no one else has picked this up I don't mind giving it a go? Seems fairly straight forward

[2020-09-16 22:42] swiftdiaries commented on #1554
To give some context for the approach with `kfctl` and `KFDef`, initially we had a ksonnet based deployment that configured Kubeflow in an entirely transparent manner. By that what I mean is that it was multi-step and you could modify and customize individual components in any way that a user wanted to.

There was some friction with the tooling itself and how it used `ksonnet/jsonnet` over helm /

[2020-09-16 22:58] swiftdiaries commented on #1554
Now to addressing the issue, I see two requests:
- Modular applications
- Removing debt in the repo

I think the work the done with `v3 kustomize` is a good starting point for us to build towards manifests which are configurable.

And also, there were will always be people who want a simple installation process. I think in the past we went for a "low bar, high ceiling" approach where we want (most

[2020-09-17 01:16] jlewi commented on #1553
@thesuperzapper I would suggest breaking this issue upto into specific issues for each each application and assigning it to the application owners. Application owners are responsible for ensuring their manifests are shipping the right docker image release.

[2020-09-17 01:26] jlewi commented on #1553
I spot checked the date of the commits of two of the images:
(TFJob) Jun 22 - https://github.com/kubeflow/tf-operator/tree/a2ae7bff612bf26d0b05a54ddcfc6a400a5c8e89
(Jupyter Web app) Feb 6 - https://github.com/kubeflow/kubeflow/tree/d9be4b9e
(Notebook controller)  Feb 25 - https://github.com/kubeflow/kubeflow/tree/f39279c0

The apps cd pipeline looks like it has entries to update the base_v3 entry

[2020-09-17 02:09] jlewi commented on #1554
The concept of a "distribution" arises because a one size fits all (or even most) approach won't work.

One of the problems we encountered early on is that trying to create a configuration that works every where leads to a suboptimal experience.

A simple example, not every K8s cluster has a default storage class. So how should we configure Jupyter by default? Should jupyter use a default storage

[2020-09-17 04:14] thesuperzapper commented on #1554
@jlewi

**Just a few points:**
* Nothing I have proposed will prevent vendors from making their own "distribution", but I believe **the Kubeflow project itself** should focus on making a "generic distribution" as its primary asset, rather than fragmenting like we have now.
   * NOTE: I am not saying this "generic distribution" would be a one-size-fits all (quite the opposite), I am saying it would

[2020-09-17 04:18] thesuperzapper commented on #1554
@jlewi Also Regarding outdated images (See: #1553), at least part of this issue was clearly caused by the fact that component owners are overwhelmed by the current state of this repo

[2020-09-17 04:48] sakaia commented on #1545
For my workaround, I make web server as a workaround and works.
Download file

[code]

On deployment server

[code]

Edit kfctl_k8s_istio.v1.0.2.yaml

[code]

[2020-09-17 13:06] jlewi commented on #1554
Repositories and projects need OWNERs. Any new project/repo would require WG sponsorship. The most likely WG would be the deployments WG. So any progress on a new repo is blocked on formation of that WG.

Of course anyone is free to fork or create their own repo outside the Kubeflow org.

In the interim, we can make incremental progress towards overhauling the structure of this repo through a seri

[2020-09-17 20:13] HassanOuda commented on #1390
@Ark-kun @Bobgy no updates on this?

[2020-09-18 10:16] yanniszark commented on #1554
@thesuperzapper thanks for putting this together!

I agree that the current manifests repo leaves a lot to be desired. We have managed to make it work by creating an end-to-end pure GitOps process building on top of this repository, but not depending on it, and this is how we are now building both MiniKF and our multi-node, enterprise deployments. But note that this was a significant effort that w

[2020-09-18 14:15] jlewi commented on #1136
@connorlwilkes That would be fantastic!

[2020-09-18 15:15] jlewi commented on #1553
@thesuperzapper Can you and the other proposed notebook lead fix this for notebooks?

[2020-09-18 15:15] jlewi commented on #1553
/assign @thesuperzapper

[2020-09-20 19:56] #1078 closed

[2020-09-20 19:56] #1023 closed

[2020-09-20 19:56] #1043 closed

[2020-09-21 05:40] thesuperzapper commented on #1553
For anyone who comes across this issue and needs a fix, add this to your `images` section inside `./kustomize/kubeflow-apps/kustomization.yaml` which was generated by `kfctl build`:

[code]

[2020-09-21 06:05] Utkagr commented on #1290
@adrian555 I'm using latest kfctl release now https://github.com/kubeflow/kfctl/releases/tag/v1.1.0 with https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.yaml.
But it can't seem to work either. After a lot of tries, it fails with this error,
[code]

[2020-09-21 06:46] Utkagr commented on #1290
I tried using the latest manifest from v1.1 branch but couldn't get any luck either. https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_k8s_istio.v1.1.0.yaml
[code]

[2020-09-21 08:12] connorlwilkes commented on #1136
@jlewi brilliant. I may come back with some queries on current implementation and approach.

[2020-09-21 17:02] adrian555 commented on #1290
@Utkagr In general, during the Kubeflow deployment,  it is expected to see such message several times

```WARN[0278] Encountered error applying application cert-manager:  (kubeflow.error): Code 500 with message: Apply.Run : error when creating "/tmp/kout510042550": Internal error occurred: failed calling webhook "webhook.cert-manager.io": the server is currently unable to handle the request  filen

[2020-09-22 05:15] Utkagr commented on #1290
@adrian555 Sure, thanks.

[2020-09-22 05:23] Utkagr opened #1565 "setup kubeflow issue with istio manifest with v1.1 release branch"
Hi,

I'm using latest kfctl release (https://github.com/kubeflow/kfctl/releases/tag/v1.1.0) and master's istio manifest https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.yaml on an on-prem kubernetes cluster.
At the end of the installation, I'm getting the following error. All the pods are in running state, though. Can anyone please explain what's happening? Thanks already!

[2020-09-22 12:42] Utkagr commented on #1565
Also, I can't see kfserving pods which means that the complete installation failed with the error mentioned above while the pods that are running were installed correctly.

[2020-09-22 13:25] AshokKuramdasu commented on #1489
Please update on keycloak and kubeflow integration?

[2020-09-22 13:40] jlewi commented on #1496
The Kubeflow release ships whatever application versions are available in the manifests. If the manifests aren't up to date then we ship an older version. It is application owners responsibility to ensure their changes make it into the KF release.

/cc @lalithvaka

[2020-09-22 13:51] subodh101 commented on #1496
I updated the kubeflow with master version and set `registration-flow=true`. However, it didn't work. I can retry just incase that problem is fixed. It is a very important issue at the moment as we are running too many namespaces without any reason.

[2020-09-22 16:32] jzhoucliqr commented on #1565
any reason you choose the manifest from master branch? maybe you should try from the v1.1 release branch:  https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_k8s_istio.v1.1.0.yaml

[2020-09-23 06:49] Utkagr commented on #1565
@jzhoucliqr I tried using the manifest from v1.1 release branch but facing this issue.
[code]
I remove caches and kustomize directories before applying manifests. I do `rm -r ${KF_DIR}`, remove all the namespaces and delete leftover resources described in this issue as well. https://github.com/kubeflow/kubeflow/issues/3767

[2020-09-23 06:54] Utkagr commented on #1565
Here're the complete logs
[code]

[2020-09-23 18:10] jzhoucliqr commented on #1565
can u please double check your kfctl version?

$ kfctl version

[2020-09-23 22:30] swiftdiaries opened #1568 "Merge auto PRs made by the kubeflow-bot"
We currently have around [19 open PRs](https://github.com/kubeflow/manifests/pulls?q=is%3Apr+is%3Aopen+auto+PR+author%3Akubeflow-bot) made by the @kubeflow-bot.

These are all image tag updates after changes have been merged into the respective applications.
It is the responsibility of the application OWNERs / WG OWNERs to go through these PRs after every change is merged to follow-through with th

[2020-09-23 23:16] PatrickXYS commented on #1568
Some of the autoPR are redundant or out-of-dated.

Let's keep up with latest auto PR for one component.

E.g, we got several tf-operator PR, only merge the latest PR and close other PRs is good enough.

[2020-09-24 00:43] thesuperzapper commented on #1568
Also, are these auto-PRs even aware of the new `base_v3` manifests?

[2020-09-24 17:26] HassanOuda commented on #1390
I figured out the issue, if you are using Rancher kubernetes, then you have to add this extra configuration to enable CSR approval which will create the webhook secrets and mutatingwebhook and make cache server work.

https://github.com/cockroachdb/cockroach/issues/28075#issuecomment-420497277

[2020-09-26 11:36] DavidSpek commented on #1390
It seems some of the reports here might be related to this issue: https://github.com/kubeflow/pipelines/issues/4505.

[2020-09-26 12:12] DavidSpek commented on #1535
Related to: https://github.com/kubeflow/kubeflow/issues/5313

[2020-09-26 19:44] jbottum commented on #1505
@chetanoruganti Hi, did you get this resolved?   which environments are you deploying into i.e. GCP, AWS ?

[2020-09-28 09:10] majorinche opened #1569 "RBAC: access denied for ml-pipeline-ui"
try to visit ml-pipeline-ui, but report RBAC: access denied error

previously, i can visit, only after i enable the feature about "tokenrequest"

kfctl version
kfctl v1.1.0-0-g9a3621e

k8s version: 1.17.9

[root@d0404 kubeflow]# kubectl get pod -n kubeflow -o wide | grep ml-pipeline-ui
ml-pipeline-ui-7db96549d8-n9bcg                          2/2     Running   0          29m   10.233.93.144    d040

[2020-09-28 13:34] jlewi commented on #1553
@thesuperzapper ping? What's the plan for notebooks?

[2020-09-28 13:38] jlewi commented on #1568
@PatrickXYS I believe the auto push pipeline is only keeping one PR open for a given target. Do you have an example of PRs that are outdated or duplicated?

@thesuperzapper yes they are. See [comment](https://github.com/kubeflow/manifests/issues/1553#issuecomment-693752428) and the linked PR kubeflow/manifests#1479 for Jupyter which shows it is updating v3.

[2020-09-28 17:30] jtfogarty commented on #1568
/priority p1

[2020-09-28 17:38] jbottum commented on #1569
Hi @majorinche, what platform are you running on i.e. AWS, GCP ?

[2020-09-28 18:42] jtfogarty commented on #1556
/priority p1

[2020-09-28 20:50] majorinche commented on #1569
standard k8s, installed on bare mental

[2020-09-29 00:21] thesuperzapper commented on #1553
@jlewi, other than fixing it for Kubeflow 1.2, we don't have a plan right now.

Can I ask why we have chosen to use a branch like `v1.1-branch` rather than tags on `master` (which are immutable)?

The current `kfdef` files directly clone that branch (with any changes which may have been added), which makes it quite hard for us to release a patched version of `1.1` without pulling the rug out from

[2020-09-29 05:22] Utkagr commented on #1565
@jzhoucliqr thanks for the hint! Somehow, I was using v1.0.2. I fixed that and it worked but I ran into this https://github.com/kubeflow/manifests/issues/959
I'm setting it up on on-prem 4 node k8s cluster so I'm a bit skeptical about editing kube-apiserver since I'm not sure about it's impact on the other services.
Here's the output for `kubectl get events -n kubeflow`

[code]

[2020-09-29 05:39] jzhoucliqr commented on #1565
I guess there is no other way around but to change the apiserver flags. Usually those changes are fine, should not cause issue on existing services, only a couple of seconds downtime for the apiserver to restart.

[2020-09-29 15:21] jlewi commented on #1553
@thesuperzapper I'm not sure what you are referring to. We do have immutable tags for each specific patch release.
https://github.com/kubeflow/manifests/tags

We use branches as opposed to immutable tags on master because following standard practice we want to allow the releases and masters to evolve independently in case of need to support fixes.

[2020-09-29 15:23] jlewi commented on #1553
@thesuperzapper @kimwnasptd what's the plan for getting the manifests on master upgraded?

[2020-09-30 05:32] Utkagr commented on #1565
Okay. I tried following that and I'm getting the same error mentioned here. https://github.com/kubeflow/manifests/issues/959#issuecomment-682447046 Could you guide me here? I'm not an expert in k8s.

[2020-09-30 08:59] chetanoruganti commented on #1505
Hi @jbottum , using on-premise cluster .
In the jupyter-web app base Kustomization file role.yaml & role-binding.yaml are included but  look like this resources are not really need(service account mentioned in role-binding is not created as part of any yaml) . service account created in service-account.yaml is bound to clusterrole and clusterrole binding .
**Looks like some cleanup is needed on th

[2020-09-30 09:10] Utkagr commented on #1565
@jzhoucliqr I was able to fix that issue. Now istio pods are all up. All the pods are running now but my katib-db-manager pod is going CrashloopBackOff; logs say
[code]

[2020-09-30 11:59] kimwnasptd commented on #1553
@jlewi I'll take a look at the current open PRs that update the controller and jupyter web app and test the latest built tags. If they work as expected then I'll move on with merging the corresponding PRs and closing the older ones.

[2020-09-30 18:36] arshashi opened #1571 "Internal error occurred: failed calling webhook "webhook.cert-manager.io": the server"
I am building onpremise cluster wherein i encountered cert issue whille installing kubeflow v1.1. In one of my cluster after multiple retries of cert-manager, the kf def completed installation and then I upgraded cert-manager v0.11 to v0.16 to make it work.

Whereas with the new cluster which i am building now, After multiple retires of cert-manager, it is not completing the installation but fails

[2020-10-01 05:32] thesuperzapper opened #1573 "most Application Resource Selectors are Incorrect"
Most of the Application `matchLabels` don't match the Resources they should.

This is partially caused by not merging auto-PRs as raised here: #1568

I think we can reduce the complexity of these label selectors significantly, but this is really a symptom of the mess in this Repo, and highlights a need to clean it up, as raised here: #1554

A few quick examples (NOTE: there are MANY more, as prett

[2020-10-02 00:12] jzhoucliqr commented on #1565
can u check if the volume created successfully for katib-mysql ?
kubectl get pvc -n kubeflow

if the katib-mysql pvc is pending, do a kubectl describe pvc katib-mysql -n kubeflow to see what's the reason why volume cant be created.

[2020-10-02 00:23] jzhoucliqr commented on #1571
is the cert-manager-webhook pod within cert-manager namespace running?

[2020-10-02 02:28] Utkagr commented on #1565
@jzhoucliqr I checked the PVCs. They're all bound.
[code]

[2020-10-02 07:42] arshashi commented on #1571
@jzhoucliqr It doesnt get created at all. After multiple retries, installation fails with an error.   Attached entire installation logs
[kf-installation-logs.txt](https://github.com/kubeflow/manifests/files/5316557/kf-installation-logs.txt)

[2020-10-02 09:39] linkvt commented on #1343
Seems like this is still an issue, see e.g. https://github.com/kubeflow/manifests/blob/c728bc737cfadc2816ecd50c5c96ee59cd1d9b1a/istio/istio-install/base/istio-noauth.yaml#L14289

[2020-10-03 00:23] jzhoucliqr commented on #1565
compared with my setup, this log from katib-mysql pod looks suspicious. I don't see this in my setup.

2020-09-30T08:22:02.975759Z 0 [ERROR] [MY-011947] [InnoDB] Cannot open '/var/lib/mysql/datadir/ib_buffer_pool' for reading: No such file or directory

[2020-10-03 05:04] #991 closed

[2020-10-03 15:17] jbottum commented on #1565
Hi @Utkagr , did you get this resolved ?  Note - You might join the Thursday On-Prem SIG calls and discuss with others.

[2020-10-04 22:53] jbottum commented on #1348
Hi @Utkagr did you get this resolved ?   Have you looked at MiniKF ? it has a team supporting it.   https://www.arrikto.com/s/6c15b060-62f8-4c9b-9364-8e2a6b4ade53/?submissionGuid=fd86e035-2011-4de4-a090-ad2c76c0cf74

[2020-10-05 07:32] Utkagr commented on #1565
@jzhoucliqr I checked the describe of katib-sql pod and found this issue https://github.com/kubeflow/katib/issues/1212.
Not sure what the issue is. Could it be related to ceph rdb provider like mentioned here? https://github.com/kubeflow/katib/pull/988#issuecomment-623072410

[2020-10-05 07:34] Utkagr commented on #1348
@jbottum I deleted my Minikube setup and I'm continuing with an on-prem setup now. Hence, will close the issue for now.

[2020-10-05 07:34] #1348 closed

[2020-10-05 09:53] Utkagr commented on #1565
I restarted it. But it's not working.

[2020-10-05 18:02] jzhoucliqr commented on #1565
possibly.

[2020-10-05 18:54] jbottum commented on #1392
Hi @desaintmartin is this resolved?  which platform are you deploying into i.e. AWS, GCP, on-prem ?

[2020-10-05 20:14] jbottum commented on #1363
Hi @bharath0208 did you get this resolved ?   which platform (GCP, AWS, On-Prem) are you deploying on to ?

[2020-10-05 21:25] jbottum commented on #1545
Hi @danasaur did you get this resolved ?

[2020-10-06 05:44] subodh101 commented on #1496
The problem was with the centraldashboard base version.
[This](https://github.com/kubeflow/manifests/blob/master/stacks/gcp/kustomization.yaml#L9) calls the stack gcp.
Which further calls the [base_v3](https://github.com/kubeflow/manifests/blob/c728bc737cfadc2816ecd50c5c96ee59cd1d9b1a/common/centraldashboard/overlays/stacks/kustomization.yaml#L10).
[base_v3](https://github.com/kubeflow/manifests/b

[2020-10-06 06:53] thesuperzapper commented on #1496
As a temporary workaround for Kubeflow 1.1, you can do what I mentioned at: https://github.com/kubeflow/manifests/issues/1553#issuecomment-695910339

[2020-10-06 07:30] desaintmartin commented on #1392
It has been resolved by manually editing the deployment manifest. I'm using kubeflow 1.0 on gcp and on-prem.

[2020-10-07 01:44] jtfogarty commented on #1571
/priority p1

[2020-10-07 10:34] arshashi commented on #1571
@jtfogarty thanks for setting the issue as priority p1.   Is there any BKM's to be followed if the servers where we install kubeflow are behind firewall? I have set the required proxies to access required pages.    I don't see any communication errors while installing kubeflow except that " Internal error occurred: failed calling webhook "webhook.cert-manager.io": the server" error message.

[2020-10-07 16:46] jtfogarty commented on #1571
@arshashi cert-manager is pulled from quay.io/jetstack is this open through your proxy?  it might not be whitelisted

[2020-10-07 16:53] arshashi commented on #1571
@jtfogarty After multiple retries on kubeflow installation and failed to complete the setup, I removed all kubeflow components as suggested by @krishnadurai and then installed cert-manager v0.15. I found that from our network, we were not able to reach quay.io.   SO we pulled the image from quay into our own repository and configured cert-manager. Post which all the workloads were in active state.

[2020-10-08 12:47] Brajen259 commented on #152
I am stuck with this issue as well. new to kubernetes. @yanniszark  yanniszark who do we fix it?

[2020-10-08 13:05] jlewi commented on #1496
Duplicate of kubeflow/kubeflow#4889

[2020-10-08 13:05] #1496 closed

[2020-10-08 14:08] kelvins opened #1577 "Add network and subnetwork to the ContainerCluster manifest"
It would be great to add `network` and `subnetwork` properties to the `ContainerCluster` manifest (management):

https://github.com/kubeflow/manifests/blob/c728bc737cfadc2816ecd50c5c96ee59cd1d9b1a/gcp/v2/management/cluster/cluster.yaml#L5-L23

For example:

[code]

These new values should also be included in the `set-values` command from the `Makefile`.

[2020-10-08 15:14] kelvins opened #1578 "Add a way to set networkRef and subnetworkRef to ContainerCluster (cnrm)"
Similar to the issue https://github.com/kubeflow/manifests/issues/1577, it would be great to add a way to set `networkRef` and `subnetworkRef` properties to the `ContainerCluster` manifest (cnrm):

https://github.com/kubeflow/manifests/blob/c728bc737cfadc2816ecd50c5c96ee59cd1d9b1a/gcp/v2/cnrm/cluster/cluster.yaml#L17-L62

Since `networkRef` and` subnetworkRef` have multiple properties (`external`,

[2020-10-08 17:57] Jeffwan commented on #1555
I will add it back.

[2020-10-08 18:00] Jeffwan commented on #1555
We can close this issue now

[2020-10-08 18:00] #1555 closed

[2020-10-08 18:33] Jeffwan commented on #1553
This is a good point.. I think last release didn't handle v1.1-branch assets well. We fixed few issues in the past like profile-controller and training images. It's WG owner's responsibility to update them before the release. This definitely needs more collaboration

[2020-10-13 15:39] naveensrinivasan opened #1581 "The image gcr.io/ml-pipeline/visualization-server is hardcode within the source code"
We are deploying kubeflow within `eks` and we want to pull all the images from our own repo in `ecr`. We were able to utilize the `Kustomize`, but we ran into an issue with https://github.com/kubeflow/manifests/blob/5cc6fd3ca0eac7c46aad116c04713d6944f249fd/pipeline/installs/multi-user/pipelines-profile-controller/sync.py which uses images from `gcr.io` and it is hardcoded. Are there any workaround

[2020-10-15 03:02] chongchuanbing opened #1583 "kustomize build error"
[code]

tools:
kfctl  v1.1
kustomize v3.2.1
manifests v1.1.0

The error info:

2020/10/15 10:59:10 got file 'cluster-role.yaml', but '/Users/chongchuanbing/Downloads/kubeflow_manifests/.cache/manifests/manifests-1.1-branch/application/application/base/cluster-role.yaml' must be a directory to be a root
Error: accumulating resources: recursed accumulation of path '../../.cache/manifests/manifests-1

[2020-10-15 05:51] Utkagr commented on #1565
Resolved using https://github.com/kubeflow/katib/issues/1212

[2020-10-15 05:51] #1565 closed

[2020-10-16 16:59] Jeffwan commented on #1362
/assign @PatrickXYS
/cc @mttcnnff

[2020-10-17 09:16] Ark-kun commented on #1099
/reopen
Kubeflow Pipelines does not work well with Argo < 2.4
Some people have issues since they install KFP from Kubeflow and get old Argo version.

[2020-10-19 13:28] jlewi commented on #1578
Can you use kustomize and an overlay?

[2020-10-19 13:30] jlewi commented on #1577
Did you consider just defining an overlay with kustomize to do this type of customizaiton?

kustomize uses a template free approach which makes it easy to define unanticipated customizations.

[2020-10-19 13:30] jlewi commented on #1578
Duplicate of #1577

[2020-10-19 13:30] #1578 closed

[2020-10-19 13:31] jlewi commented on #1573
/assign @thesuperzapper

@thesuperzapper What is your plan for fixing this for notebooks?

[2020-10-19 13:50] kelvins commented on #1577
Thank you @jlewi. Yes, we ended up using a kustomize overlay to include it, but we spent several minutes trying to figure out how to do that, since it wasn’t very clear.

This is just a suggestion, but maybe using `kpt` to set these values would be easier to other people facing a similar issue.

[2020-10-19 22:16] jlewi commented on #1577
@kelvins Any suggestion about how we can document the use of overlays better?

Is there a particular reason why you think these values are ripe for additional kpt substitutions? I think we want to use kpt substitutions sparingly otherwise we just end up templatizing the entire manifest as a set of key values.

So I lean towards a high bar; i.e. only those values that almost all users need to set (

[2020-10-19 23:53] kelvins commented on #1577
:thinking: Perhaps including a section about this specific use case (for example, "Setting custom network and subnetwork") in a FAQ or Troubleshooting section (or even in the GKE documentation) would be sufficient.

So I lean towards a high bar; i.e. only those values that almost all users need to set (e.g. project, name, location).

I understand. It makes sense to use the values ​​most used by us

[2020-10-20 06:47] #326 closed

[2020-10-21 00:56] Jeffwan commented on #1573
Let's solve all the labels issue in 1.2 release

[2020-10-21 11:56] EKami opened #1589 "Deployment on aws eks mysql error"
**What steps did you take and what happened:**
I followed the tutorial [here](https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/#deploy-kubeflow) with a Kubernetes cluster 1.18. I also applied this [fix](https://github.com/kubeflow/website/issues/2206#issuecomment-698234904) which can be found in [this config](https://gist.githubusercontent.com/EKami/0396ee83e39556c07be69d7ec51a322f/raw/cc

[2020-10-21 13:30] jlewi commented on #1577
Thanks. Feel free to open an issue about adding to an FAQ; or hopefully people looking for an answer will come across this issue.

[2020-10-21 13:30] #1577 closed

[2020-10-21 14:42] EKami opened #1590 "ETA on the new doc for Kubeflow 1.1.0?"
The doc says:
[code]

but doesn't give any insights on what has changed or how a newcomer like me should approach this project.
Is there any ETA on the release of the new doc? Thank you.

[2020-10-21 23:12] jbottum commented on #1590
@EKami Hi, where are you trying to install i.e. on-prem, AWS, GCP ?   Have you looked at MiniKF as a way to get started quickly ?   https://www.arrikto.com/f/get-minikf/

[2020-10-22 05:37] EKami commented on #1590
Hello @jbottum . I tried minikf locally but I'm really looking to install Kubeflow on AWS EKS, not locally :)

[2020-10-25 12:48] EKami commented on #543
I have exactly the same issue randomly popping up when I install Kubeflow on my EKS cluster =/ . Any workaround for when I install Kubeflow with [this configuration](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_aws.v1.1.0.yaml)? Thanks

[2020-10-26 15:29] solarist commented on #1099
We do too. We have installed a full on-prem installation of 1.1, and still see that the executor image is `argoexec:v2.3.0`, as well the one set in the workflow-controller-configmap.

[2020-10-28 22:10] PatrickXYS commented on #1421
/freeze-lifecycle

[2020-10-29 05:58] Jeffwan commented on #1590
@EKami Have you checked kubeflow.org. 1.1 has been rolled out for long time. https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

[2020-10-29 05:58] Jeffwan commented on #1590
/cc @PatrickXYS

[2020-10-29 05:59] Jeffwan commented on #1589
/cc @PatrickXYS

[2020-10-29 05:59] Jeffwan commented on #1581
/cc @Bobgy

[2020-10-29 05:59] Jeffwan commented on #1573
I will make a change for this issue.

/assign @Jeffwan

[2020-10-29 06:00] Jeffwan commented on #1569
/cc @Bobgy

[2020-10-29 06:01] Jeffwan commented on #1568
I will close outdated PR and only leave most up-to-date one in the list.

/assign @Jeffwan

[2020-10-29 06:02] Jeffwan commented on #1508
based on our test in the past, 1.16 is supported and we update a few breaking api changes for 1.16 in 1.1 release. I think this can be marked as done.

[2020-10-29 06:03] Jeffwan commented on #1508
I think we need a doc update in website project

[2020-10-29 06:04] Jeffwan commented on #1508
See https://github.com/kubeflow/manifests/issues/869 https://github.com/kubeflow/manifests/issues/585  https://github.com/kubeflow/manifests/issues/585

I will close the issue and feel free to reopen

[2020-10-29 06:04] #1508 closed

[2020-10-29 06:54] EKami commented on #1590
@Jeffwan I did, I tried to install it for 2 weeks on aws but I was constantly facing issues with the various pods crashing so I ended up giving up.

[2020-10-29 15:38] PatrickXYS commented on #1590
Though we don't have Kubeflow-Kubernetes version matrix, but at least I have tried on 1.17 EKS cluster, it works fine.

Will try on 1.18

[2020-10-29 17:15] nakfour opened #1596 "Failed Validation Resource Tests When using Kustomize patches and patchesJson6902"
As part of the Openshift stack in #1567 we are using `patches` and `patchesJson6902`. Running the tests from the manifest test folder fails with error

[code]

Our patches in the kustomize file looks like this
[code]
katib-controller-deployment.yaml

[code]

This could be related to kpt issue that was never resolved here: https://github.com/GoogleContainerTools/kpt/issues/506
What is the workaroun

[2020-10-29 18:59] Jeffwan opened #1597 "Manifests 1.2 release"
Please help link all 1.2 release related issues here.

- Openshift kubeflow/manifests#1567

[2020-10-30 15:18] jlewi commented on #1234
@PatrickXYS looks like this hasn't been fixed yet; do we want to try to fix for KF 1.2?

[2020-10-30 15:22] PatrickXYS commented on #1234
@jlewi I would target a patch version to fix this, maybe 1.2.1

[2020-10-30 15:27] jlewi commented on #1553
@kubeflow/wg-notebook-leads and @thesuperzapper Any update on this for notebooks? Do you have a plan for getting the notebook manifests updated before the release?

[2020-11-02 23:17] mukul-shaunik-nokia opened #1602 "Getting error when trying to open Kubeflow UI with istio 1.4"
Kubeflow version - 1.1.0
When trying to access kubeflow UI with istio version 1.4 getting the following error in the browser after the authentication goes through and browser is redirected to central dashboard
`upstream connect error or disconnect/reset before headers. reset reason: connection termination`

[2020-11-02 23:18] mukul-shaunik-nokia commented on #1602
/cc @hemantha-kumara

[2020-11-03 09:52] Bobgy commented on #1569
This is a current limitation: https://www.kubeflow.org/docs/pipelines/multi-user/#in-cluster-api-request-authentication.
You can find more discussion and some vision how this limitation will be removed in https://github.com/kubeflow/pipelines/issues/4440.

[2020-11-03 09:52] #1569 closed

[2020-11-03 09:54] Bobgy commented on #1581
@naveensrinivasan Recommend go ahead and fork `sync.py` to suit your own needs. It is designed this way to allow easy forking.

[2020-11-03 09:54] #1581 closed

[2020-11-03 23:49] thesuperzapper commented on #1597
I am trying to link blocking issues in the Kubeflow 1.2 GitHub project: https://github.com/orgs/kubeflow/projects/41

[2020-11-04 00:00] Jeffwan commented on #1597
@thesuperzapper Thanks! I got updates from serving/pipeline/automl. Do you have some updates on notebook?

[2020-11-04 01:42] Jeffwan commented on #1568
I clean up most PRs and also assign something I can not handle to right WG. I will double check the list before the rc release

[2020-11-04 16:50] kimwnasptd commented on #1553
@jlewi @Jeffwan for the controller we have #1570 which I propose to drop, since the changes were introduced from an irrelevant PR. So the controller should be the current ones.

For the web app the we have #1531, which contains @thesuperzapper's changes for Tolerations and affinity. Merging this PR alone will not suffice since we will need to also make a follow up PR to update the jupyter web app'

[2020-11-04 19:55] jlewi opened #1608 "Remove use of ksonnet in tests"
ksonnet was deprecated over a year ago the tests should no longer be using ksonnet to define tests.

Related to #774

[2020-11-04 19:56] jlewi commented on #1608
/cc @yanniszark @PatrickXYS

[2020-11-04 20:04] PatrickXYS commented on #1608
/assign

[2020-11-04 20:05] jlewi commented on #1608
We have stock Tekton pipelines for go and py unittests so it should be pretty straightforward to add them.

just copy what we do in kubeflow/testing
https://github.com/kubeflow/testing/blob/master/prow_config.yaml#L16

[2020-11-04 20:22] jlewi commented on #1553
Thanks @kimwnasptd for the update. Do you have a plan for how you will publish docker images going forward?

[2020-11-05 19:06] #538 closed

[2020-11-06 02:21] jlewi opened #1613 "Should we remove E2E tests from manifests repo"
This test
https://github.com/kubeflow/manifests/blob/3f9398f926cc117eedc214ca5fa1c8412fb605c4/prow_config.yaml#L15

I'm not sure why we still have it. See #818 for more context about fixing the test.

Also see the recent discussion [here](https://github.com/kubeflow/manifests/pull/1609#pullrequestreview-523934468)

/cc @PatrickXYS @kubeflow/wg-manifests-leads

[2020-11-08 15:00] #1438 closed

[2020-11-09 03:13] Bobgy commented on #1613
Totally agree, I'd suggest moving the e2e test to postsubmit/periodic, because it is slow and can be flaky.

Previously we had a unit test for manifests repo by just generating all the targets and compare with snapshots. I think that's better for unit testing, because it makes all effects of the changes visible. Right now, after https://github.com/kubernetes/test-infra/pull/19833, we are losing th

[2020-11-09 17:42] PatrickXYS commented on #1613
We are not losing the unit test, we still enable it in AWS CI, https://github.com/kubeflow/manifests/blob/master/prow_config.yaml#L9-L15

But I agree that we need to think about E2E test, propose some optimization etc. I'll discuss this topic after 1.2

[2020-11-12 04:05] berndverst commented on #1596
I'm seeing something potentially related (also getting an error with MappingNode vs SequenceNode) even just generating the tests as I am trying to add the Azure stack to the master branch in #1633

[code]

[2020-11-12 04:06] berndverst commented on #1596
/cc pvaneck

[2020-11-12 04:08] berndverst commented on #1596
@pvaneck @Jeffwan FYI - perhaps you know what to do here.

[2020-11-12 05:32] Jeffwan commented on #1596
What's the kustomize version you are using?

[2020-11-12 07:31] pvaneck commented on #1596
@berndverst Yea, double check the kustomize version, as you might be using a later version. If so, just download [this one](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.2.1 ) for your system. Test generation is a bit finicky if not on the v3.2.1 version right now.

[2020-11-12 17:24] berndverst commented on #1596
I'm definitely on a newer version. Thanks for pointing that out!

[2020-11-16 07:49] #1553 closed

[2020-11-16 08:00] thesuperzapper commented on #1573
/open

This is still an issue for some components, https://github.com/kubeflow/manifests/pull/1646 only fixed it for wg-notebook owned components.

[2020-11-16 08:00] thesuperzapper commented on #1573
/reopen

[2020-11-16 13:28] Bobgy opened #1649 "inconsistent labels across different kubeflow components"
https://github.com/kubeflow/manifests/pull/1647#discussion_r523984370

It seems that distributions sometimes refer to application overlay and sometimes refer to base_v3, causing different components to have different labels.
Because we are already making breaking changes in https://github.com/kubeflow/manifests/pull/1647, we should take the chance to get a consistent label set.

cc distribution ow

[2020-11-16 13:39] yanniszark commented on #1649
@Bobgy is this for 1.2? For 1.3, we'll be refactoring the manifests according to https://github.com/kubeflow/community/blob/master/wg-manifests/charter.md, in order to re-use the upstream ones. Should we tackle it as part of the 1.3 effort?

[2020-11-16 16:16] Bobgy commented on #1649
Makes sense to me targetting 1.3
So I think we should leave https://github.com/kubeflow/manifests/pull/1647 not cherry picked, because it's not worth it if we need to do a breaking change again in 1.3

[2020-11-16 16:47] PatrickXYS commented on #1649
@yanniszark I think it's okay to put it on 1.3.

But I would like to have some patch versions of 1.2, e.g, 1.2.1, 1.2.2, etc. This is to help develop some lightweight features before major release e.g, 1.3.

Who will be taking care of 1.2 patch versions, and what's our plan to support in that way? I'd like to help as well

/cc @Jeffwan

[2020-11-16 17:59] Jeffwan commented on #1649
The issue was from v1.1 the time community migrate to v3 manifest. Labels were not taken care of carefully. This could be either under 1.2 minor version release scope or 1.3. We need to figure out what's the impact and how users reply on them. If that's a breaking change, I would suggest to postpost to 1.3 release cycle as well

[2020-11-16 23:31] Bobgy commented on #1649
We've known in the past it's a breaking change, because deployment label selector is an immutable field.

Shall we revert the cherry pick https://github.com/kubeflow/manifests/pull/1648?

[2020-11-16 23:41] thesuperzapper commented on #1649
@Bobgy #1648 doesn't include the commit we are talking about from #1647

[2020-11-17 00:31] PatrickXYS commented on #1608
I'm not sure what's the best practice to move forward, Tekton Pipeline / ArgoCD / other solutions. (I'm experimenting those solutions)

As of now, WG folks have experience in using Argo Workflow, and it should give them more confidence in adopting ArgoCD afterwards.

Tekton Piepline is another tool for CI/CD, but I can't tell the strong reason to move with Tekton pipeline instead.

[2020-11-17 03:41] Bobgy commented on #1573
Thanks for raising the issue! I'll fix it for KFP

[2020-11-17 05:23] Bobgy commented on #1649
@thesuperzapper thanks, sorry I mistook another commit as the PR.

Then we can tackle this by manifest WG

[2020-11-17 10:19] yanniszark commented on #1608
@PatrickXYS I think we have tests in both Argo and Tekton at this point.
IMO, this warrants a separate issue to go over the current situation and see what are the alternatives.

In Kubernetes controller, we have found that E2E testing with k3d has been immensely useful, as it's super fast.
The downside is that we need admin privileges to run docker-in-docker.

[2020-11-17 15:11] andreyvelich commented on #1379
/reopen
/lifecycle frozen
/cc @gaocegege @johnugeorge

[2020-11-17 23:46] #1468 closed

[2020-11-18 00:46] Jeffwan commented on #1362
Remove from 1.2 kanban. @PatrickXYS  will determinate the support plan

[2020-11-18 03:48] thesuperzapper commented on #1568
/close

The CI bot which builds images is broken https://github.com/kubeflow/testing/issues/812.

But we have cleared the backlog of these PRs.

[2020-11-18 03:48] #1568 closed

[2020-11-18 16:30] nakfour opened #1660 "Seldon: Creating seldondeployment from KF 1.2 gives error: x509: certificate signed by unknown authority"
Hi
I am following the example for seldon listed here: https://www.kubeflow.org/docs/components/serving/seldon/ after installing seldon on Kubernetes 1.17 using this kfdef: https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.v1.2.0.yaml

When creating the SeldonDeployment in the seldon namespace, I get this error
[code]

[2020-11-18 20:30] dfarr commented on #1583
I am seeing the same behaviour, is there is a specific version of kustomize we should be using?

[2020-11-18 21:48] Jeffwan commented on #1660
/cc @kubeflow/wg-serving-leads

[2020-11-18 22:03] cliveseldon commented on #1660
We have seen this error when a reinstall happens and the `mutatingwebhookconfiguration` and `validatingwebhookconfiguration` are not updated so they don't get the new certificate.

[2020-11-18 22:29] cliveseldon commented on #1660
I just tried installing kubeflow with `https://github.com/kubeflow/manifests/blob/v1.2-rc.1/kfdef/kfctl_k8s_istio.yaml` and changed the uri to `https://github.com/kubeflow/manifests/archive/v1.2-rc.1.tar.gz`

This worked.

However, https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.v1.2.0.yaml doesn't see to contain Seldon @Jeffwan  ?

[2020-11-19 05:52] Jeffwan commented on #1597
We will just use https://github.com/kubeflow/kubeflow/issues/5371 to track the issues. Close this one

[2020-11-19 05:52] #1597 closed

[2020-11-19 06:38] Bobgy commented on #1573
After taking a look, I think the selector is correct for KFP.

[2020-11-19 06:59] Jeffwan commented on #1573
@Bobgy Thanks for the confirmation.  Then we don't have pending PR for this issue

[2020-11-19 07:15] Jeffwan commented on #1660
@cliveseldon I don't think there're maintainers for this manifest. we probably like to deprecate in the future.  platform owners will own what packages they like to integrate into the manifests.

/cc @kubeflow/wg-manifests-leads

[2020-11-19 07:59] cliveseldon commented on #1660
@Jeffwan But I'm just wondering why it can't stay like the generic one with all components until that time.
@nakfour I'm not sure given above how Seldon was installed if its not in this manifest

[2020-11-19 08:26] thesuperzapper commented on #1573
@Bobgy, are you sure?

It looks like the [Application](https://github.com/kubeflow/manifests/blob/master/pipeline/installs/generic/application.yaml#L12) is selecting `app.kubernetes.io/application: kubeflow-pipelines`, but [commonLabels](https://github.com/kubeflow/manifests/blob/master/pipeline/installs/generic/kustomization.yaml#L4) only has:
- `app.kubernetes.io/name: kubeflow-pipelines`
- `app

[2020-11-19 08:28] thesuperzapper commented on #1573
@Jeffwan I am pretty sure [katib also has this issue](https://github.com/kubeflow/manifests/blob/master/katib/katib-controller/overlays/application/application.yaml#L60), who should we cc?

[2020-11-19 08:31] Bobgy commented on #1573
My mistake. lol, the names are too similar.

[2020-11-19 08:37] Bobgy commented on #1573
Sent https://github.com/kubeflow/manifests/pull/1663 to fix this

[2020-11-19 08:52] Jeffwan commented on #1573
@thesuperzapper  We should ask @andreyvelich to help fix the label

[2020-11-19 10:09] connorlwilkes opened #1666 "kfserving metrics server service has incorrect selector"
The KFserving metrics server service has the following selector:
[code]
This is incorrect, as per the kfserving-controller-manager stateful set (and other related services) the correct selector should be:
[code]
This shouldn't impact the system but will prevent prometheus scraping. Happy to fix this

[2020-11-19 15:44] PatrickXYS commented on #1660
It can, but there's no one to help maintain/test the manifest, then we're not sure of its availability.

[2020-11-19 16:20] nakfour commented on #1660
@cliveseldon its in the stack
[code]
https://github.com/kubeflow/manifests/blob/master/stacks/kubernetes/kustomization.yaml#L26

[2020-11-19 18:15] andreyvelich commented on #1573
@thesuperzapper Do you mean we should leave only `component` and `name` here:
https://github.com/kubeflow/manifests/blob/338b1241a2214e898a0f9cd5a70ee11e9556c272/katib/katib-crds/overlays/application/application.yaml#L59-L63

Since we are using only them here:
https://github.com/kubeflow/manifests/blob/338b1241a2214e898a0f9cd5a70ee11e9556c272/katib/components/katib-crds/kustomization.yaml#L10-L11

[2020-11-19 19:15] uipo78 opened #1667 "Azure installation error: TLS match must have at least one SNI host"
I'm attempting to deploy kubeflow on an AKS v1.18.8 cluster, but encountered the following error:

[code]

This is the KfDef file that I `kfctl apply -f`'ed:

[code]

Note that I removed the cert-manager components since it'd blow away the cluster's pre-existing cert-manager instance.

Not sure where I should post this issue (here or in the main `kubeflow` repo), so let me know if I should move it

[2020-11-19 19:33] cliveseldon commented on #1660
I've replicated the issue with https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.v1.2.0.yaml while https://github.com/kubeflow/manifests/blob/v1.2-rc.1/kfdef/kfctl_k8s_istio.yaml worked.

[2020-11-19 19:50] cliveseldon commented on #1660
The problem is the kustomize variables are not being updated when called from the `stacks/kubernetes` folder.
In particualar in the webhook there is
[code]

These variables are not updated.

They are defined in
https://github.com/kubeflow/manifests/blob/master/seldon/seldon-core-operator/base/kustomizeconfig.yaml

The file https://github.com/kubeflow/manifests/blob/master/stacks/kubernetes/kustomi

[2020-11-19 19:51] PatrickXYS commented on #1660
Let's try to avoid using master branch's manifest, since they are not stable and vulnerable.

Stick with Release branch 1.0/1.1/1.2 is a good solution.

[2020-11-19 22:18] cliveseldon commented on #1660
https://github.com/kubeflow/manifests/blob/v1.2-rc.2/kfdef/kfctl_k8s_istio.v1.2.0.yaml will have the same issue

[2020-11-20 00:02] Jeffwan commented on #1660
@cliveseldon https://github.com/kubeflow/manifests/blob/338b1241a2214e898a0f9cd5a70ee11e9556c272/stacks/kubernetes/kustomization.yaml#L26

it uses `../../seldon/seldon-core-operator/overlays/application` which defines https://github.com/kubeflow/manifests/blob/338b1241a2214e898a0f9cd5a70ee11e9556c272/seldon/seldon-core-operator/base/kustomization.yaml#L6-L7

[2020-11-20 00:06] Jeffwan commented on #1660
@cliveseldon https://github.com/kubeflow/manifests/blob/v1.2-rc.1/kfdef/kfctl_k8s_istio.yaml this is not well maintained.

It's not kustomize v3 compatible any more. Does https://github.com/kubeflow/manifests/blob/v1.2-rc.2/kfdef/kfctl_k8s_istio.v1.2.0.yaml work?

[2020-11-20 00:31] thesuperzapper opened #1668 "Migrate away from DockerHub"
As of November 2nd 2020, DockerHub is now enforcing [rate limits for public images](https://www.docker.com/increase-rate-limits).

As Kubeflow is used by many companies, it is quite likely that we will exceed these limits, we should aim to have all the default images in this repo hosted on a reliable source.

In past we have used GCR, but Google seems hesitant to continue donating to Kubeflow, so

[2020-11-20 00:35] thesuperzapper commented on #1668
/p 1

The main offenders in this repo are:
* katib
* argo
* istio
* seldon

[2020-11-20 00:37] thesuperzapper commented on #1668
/priority 1

[2020-11-20 00:41] thesuperzapper commented on #1668
@kubeflow/wg-automl-leads

[2020-11-20 01:05] thesuperzapper commented on #1573
@andreyvelich I have raised https://github.com/kubeflow/manifests/pull/1669 to fix this issue for katib, which you can review

[2020-11-20 02:27] Jeffwan commented on #1573
em. If we are confident, we can bring it back to 1.2-branch

[2020-11-20 08:02] cliveseldon commented on #1660
It seems the `ValidatingWebhookConfiguration` does not have its variables converted while the `MutatingWebhookConfiguration` does. I can replicate this with `kfctl build -d` locally which produces
[code]

[code]

Using kustomize directly seems to work but I was using kustomize v3. If I can't work out why its happening I will hardwire these values as they can be set without variables as kubeflow is

[2020-11-20 12:07] rochaporto commented on #1583
Same here. Any luck?

[2020-11-20 16:29] tamera-lanham commented on #1136
@connorlwilkes Have you made progress on this? It would be quite useful for my team

[2020-11-20 17:12] #1660 closed

[2020-11-20 17:42] dfarr commented on #1583
I updated the manifests to kustomize v3 in #4785, seems to solve the issue for me

[2020-11-20 22:23] DavidSpek commented on #1543
This has been resolved in Kubeflow 1.2 as it uses an updated version of Seldon.

[2020-11-21 03:06] #1491 closed

[2020-11-21 05:56] #1543 closed

[2020-11-23 18:28] PatrickXYS commented on #1421
It's not yet pain in the deletion

/close

[2020-11-23 18:28] #1421 closed

[2020-11-24 02:56] PatrickXYS commented on #1498
I think manifest will still use prow for testing.

/close

[2020-11-24 02:56] #1498 closed

[2020-11-24 21:41] pvaneck commented on #1666
Seems like this issue is also in the kfserving repository from which the kferserving.yaml here is based: https://github.com/kubeflow/kfserving/blob/master/config/rbac/auth_proxy_service.yaml

I'd say go ahead and open a PR there to fix it if you can, then we can update it here as well.

[2020-11-25 03:18] PatrickXYS commented on #1668
Hi all, we'd love to help as well.

Alongside with public ECR registry launching next month, we'll be starting some migration work as well

/priority p1

[2020-11-25 03:25] PatrickXYS opened #1674 "Clean up stale repo branches"
We should clean up kubeflow/manifests branches except for formal release branches, thus, I collected data points as below:

https://github.com/kubeflow/manifests/branches/all

Otherwise, it's weird to end-user that other branches exist alongside the release branches

[code]

/cc @kubeflow/wg-manifests-leads

[2020-11-25 05:43] PatrickXYS commented on #1674
/priority p2

[2020-11-25 07:19] Jeffwan commented on #1674
Thanks @PatrickXYS driving this. I think you should have write access to this repo and non of these branches are active. You can remove them

[2020-11-25 14:29] jlewi commented on #1136
A quick suggestion for anyone interested in picking this up; create a profile and then just dump all the K8s resources for the namespace.

[code]

That would probably provide a good starting point.

I would then turn that into a kpt package using the kpt CLI tool. Something like

[code]

kpt provides a real nice way to make it reusable.

At least that's what I plan on doing if I find myself blocke

[2020-11-25 16:39] PatrickXYS commented on #1674
Looks like I don't have access to delete protected branches

![image](https://user-images.githubusercontent.com/23116624/100256516-c0202a80-2ef9-11eb-94f8-f10e539145d2.png)

[2020-11-25 18:30] Jeffwan commented on #1674
@PatrickXYS Yeah, if some branches can not be deleted. I think it's fine for someone with permission to clean up later. Not a big deal

[2020-11-26 09:50] slenky opened #1676 "Azure OIDC authentication doesn't work in KF 1.2"
Hi folks,

## Summary
According to the [documentation](https://www.kubeflow.org/docs/azure/authentication-oidc/), I tried to get an Azure authentication working.
I have an external domain configured with https, istio gateways also works on 443, and all the properties configured inside `stacks/azure/application/oidc-authservice`.

When I try to login it brings me to Azure login website and after ac

[2020-11-26 16:46] PatrickXYS commented on #1676
@berndverst  Can you help with this issue?

[2020-11-27 01:32] PatrickXYS commented on #1364
Seems like OpenShift is still left behind

[2020-11-27 20:40] berndverst commented on #1676
/assign berndverst sudivate yilun-msft

Thanks @PatrickXYS.

@sudivate @yilun-msft can you help take a look to see why it doesn't deploy? It may be related due to changes to v1.2 or my re refactoring to get the test generation to complete.

I'm on vacation away from home through Tuesday, so unfortunately can't investigate until then.

[2020-11-27 20:51] berndverst commented on #1676
@slenky can you also share your istio version please? At least 1.6.x needs to be installed in the istio-system namespace

[2020-11-28 23:53] #1097 closed

[2020-11-30 05:26] berndverst commented on #1676
@slenky there were lots of issues in the v1.2 deployment -- apparently I didn't define two variables throughout which led to most VirtualService definitions to be invalid -- hence Istio didn't route requests correctly. I must not have checked those changes in before 😇. Sorry for the inconvenience!

Once https://github.com/kubeflow/manifests/pull/1679 is merged, try deploying again with the v1.2 de

[2020-11-30 07:04] yilun-msft commented on #1676
Hi @yanniszark, similar to what you have suggested, as is shown in the screenshot, the `USER_CLAIM` was set to `email`. Shall we roll out the authservice again or any more steps to take?

[2020-11-30 08:01] slenky commented on #1676
Hi @berndverst , thanks a lot!

I've added those 2 variables into the `stacks/azure/kustomization.yaml` and now all the VirtualServices have the correct paths. However, it's doesn't resolve my issue :)

I am using a default Istio version from `kfctl_azure_aad.v1.2.0.yaml` - 1.3.1 . Would you suggest me to try out 1.6.* ?

[2020-11-30 12:32] slenky commented on #1676
On Istio 1.6.14 it never gets me to authentication window.
[https://pastebin.com/a0L3FsDJ](Logs from ingressgateway)

[2020-11-30 14:24] slenky commented on #1676
Reverted back Istio to 1.3.1. Now I'm trying to configure a more recent version of oidc-authservice and getting the same 504 but with more decent output:
[code]

[2020-11-30 19:20] sudivate commented on #1676
@slenky  looks like your token is missing the `email` claim. Based on the type of user `email` can be optional.
Can you try below :
1. Update registered app manifest to set "accessTokenAcceptedVersion": 2
1.  Under your registered app go to "Token configuration" -> "Add an optional claim" and select `email`
![image](https://user-images.githubusercontent.com/28938855/100653753-b897c180-32fd-11eb-8d

[2020-11-30 19:44] sylus commented on #1676
@zachomedia we got this working on ours maybe something we can assist with and help document so we don't have to maintain our own contaner?

[2020-12-01 14:14] slenky commented on #1676
@sudivate still getting the same error with same output, unfortunately :(

[2020-12-01 16:17] sudivate commented on #1676
@slenky can you try enabling `email` for both id tokens and access token. If possible can you verify here https://jwt.ms/ with the tokens returned from AAD carry `email` claim

[2020-12-01 18:28] slenky commented on #1676
@sudivate first part of the code is `?code=0.ATkA`, AFAIU **0** here means that Azure AD doesn't even return a proper header. The rest of the `code` also doesn't seems to be somehow related to JWT.

What steps did I taken to create an App Registration:
1. Added a Redirect URL: https://mydomain/login/oidc
2. Added optional claims `email` to ID and Access
3. Used a `Accounts in this organizational d

[2020-12-01 23:36] #1382 closed

[2020-12-02 01:30] PatrickXYS commented on #1668
https://aws.amazon.com/blogs/aws/amazon-ecr-public-a-new-public-container-registry/

ECR Public Registry launched today!

[2020-12-02 03:40] berndverst commented on #1667
Was Istio preinstalled already? If so, which version? The AAD / multi user integration right now must deploy the bundled Istio 1.3.1. All distributions of Kubeflow have very strong ties to specific older Istio versions for multi-tenancy at this time.

By the way, download the v1.2 manifest again because I had to make a fix after the release - it is slightly different.

What is your Istio version a

[2020-12-02 03:40] berndverst commented on #1667
/assign berndverst

[2020-12-02 13:28] slenky commented on #1676
So, I finally got this working.

The reason was that the users did not have their mail in the ‘Email’ field on Profile page - it was only specified in ‘User Principal Name’; however that setup worked well for us with Dex and Gitlab Omniauth.
¯\_(ツ)_/¯
![image](https://user-images.githubusercontent.com/1599647/100878486-eeca7200-34b2-11eb-87d1-444f2cdd1adf.png)

Thanks to everyone for the help!

[2020-12-02 13:28] #1676 closed

[2020-12-04 07:31] adrian555 opened #1687 "[IBM] update jupyter-web-app in ibm stacks/application"
The `stacks/ibm/application/jupyter-web-app` was added at the time the base jupyter-web-app's base_v3 version did not work for our stack. With the issue #1686, we need to investigate a better approach for this application with ibm stack. If the current base_v3 version works then we can also switch to use that too.

[2020-12-04 07:32] adrian555 commented on #1687
cc @animeshsingh @pvaneck @evan-hataishi

[2020-12-04 21:43] #1517 closed

[2020-12-06 05:04] #1523 closed

[2020-12-07 02:36] sajid-moinuddin commented on #1549
@thesuperzapper thanks for sharing! this is genius !!!!

[2020-12-07 02:47] thesuperzapper commented on #1549
@sajid-moinuddin I will try get this added to the docs on https://www.kubeflow.org/docs/

[2020-12-07 02:59] sajid-moinuddin commented on #1549
@thesuperzapper looking deeper into it, do you really need to maintain copies of .cache , kustomize charts for dev/stg/prod ? could you have a `base` with the kfctl generated charts and override them on dev/stg config ?

[2020-12-07 04:47] thesuperzapper commented on #1549
@sajid-moinuddin perhaps you could, but the point of storing the `.cache` folder is to  prevent changes to your `dev` environment having __any__ effect on your `prod` environment.

Also note, we make changes to the `kubeflow/manifests` branches after release, for example `1.2-branch` has been updated a few times since Kubeflow 1.2, and `kfctl build` will always take the latest from GitHub.

[2020-12-07 04:49] sylus commented on #1549
If this is helpful I documented also how I was doing this which I think is close to this as well:

https://github.com/kubeflow/kubeflow/issues/5440

[2020-12-07 11:08] karlschriek opened #1690 "Unable to roll out KF1.2 with S3 backend store for Pipelines"
I trying to figure out at the moment how I can replace cluster-bound PVCs on EKS with S3 backend storage. My understanding is that for this I need to configure Minio to use S3 instead of a local PVC.

I guess what we need in the  end is an "aws" install  here: https://github.com/kubeflow/manifests/tree/master/pipeline/minio/installs

Some initial work seems to have been done on setting the secrets

[2020-12-07 11:08] karlschriek commented on #1690
@PatrickXYS @Jeffwan

[2020-12-07 17:26] karlschriek commented on #1690
Closing this as I just found that https://github.com/kubeflow/pipelines/issues/3405 isn't resolved yet

[2020-12-07 17:26] #1690 closed

[2020-12-07 22:46] pvaneck commented on #1687
@adrian555 Hey, I would like to just switch to using the base_v3 directories directly as opposed to the custom setup we have in our stacks directory. This works fine except for the naming [issue](https://github.com/kubeflow/manifests/issues/1285) as mentioned earlier. Do you think it is okay to make the switch regardless?

[2020-12-07 22:59] adrian555 commented on #1687
@pvaneck if this is not going to impact GCP, of course it is the better choice. I would also like to see that the naming is fixed through #1285.

[2020-12-08 17:02] PatrickXYS commented on #1244
This is finished I think

/close

[2020-12-08 17:02] #1244 closed

[2020-12-10 14:45] muthurajr opened #1692 "Metadata Service: Incomplete removal of deployment "deployment""
In the apps file https://github.com/kubeflow/manifests/blob/v1.2.0/metadata/base/metadata-deployment.yaml, deployment "deployment" is removed as part of 1.2.0 release but not removed in the patch https://github.com/kubeflow/manifests/blob/v1.2.0/metadata/overlays/google-cloudsql/metadata-deployment.yaml

This is causing metadata installation to fail when using google-cloudsql.

[2020-12-10 17:03] PatrickXYS commented on #1692
/cc @Bobgy

[2020-12-11 23:07] PatrickXYS opened #1695 "[AWS] Istio 1.3.1 not compatible with Cognito Kubeflow solution"
**TL;DR**

We use [aws-istio-authz-adaptor](https://github.com/kubeflow/manifests/tree/master/aws/aws-istio-authz-adaptor) for authorization for Cognito solution, but this only works in istio 1.1.X, after 1.2, adaptor was removed.

Ref: https://istio.io/latest/news/releases/1.2.x/announcing-1.2/change-notes/#installation-and-upgrade

Side Effects:

* KFServing 0.4.1 require istio 1.3.1+, which doe

[2020-12-11 23:07] PatrickXYS commented on #1695
/cc @karlschriek

I created the issue to keep track and working on it now.

[2020-12-13 00:20] PatrickXYS commented on #1695
Related issue: https://github.com/kubeflow/manifests/issues/1362

[2020-12-13 00:40] PatrickXYS commented on #1362
After a few investigations, we should patch `istio-telemetry` to add two parameters for `mixer`

[2020-12-13 01:40] #1521 closed

[2020-12-13 20:30] thesuperzapper commented on #1547
/cc @kubeflow/wg-deployment-leads

[2020-12-13 20:31] thesuperzapper commented on #1285
/cc @kubeflow/wg-notebook-leads

[2020-12-14 08:16] johnchenghk01 commented on #1590
The doc for use external mysql is outdated with kubeflow 1.1.0

[2020-12-14 22:47] scottcantreid opened #1696 "Deploying with GCP: Issues with persistentvolumes"
Hello, I've followed all of the boilerplate steps that are found in [Kubeflow on Google Cloud Platform](https://www.kubeflow.org/docs/gke/deploy/). I get the following error when I try to run `make apply` for my new cluster:
[code]

For context, here are the contents of the two yaml files in `.build/kubeflow-apps/` that are referenced in the error:

### v1_persistentvolume_minio-pv.yaml
[code]

##

[2020-12-14 22:50] scottcantreid commented on #1696
This seems relevant to #1294 , which was closed a while back

[2020-12-15 04:58] chinmay22897 opened #1697 "Failed to build kubeflow v1.1.0/v1.2.0 due to kustomization.yaml file not found"
/kind bug

**What steps did you take and what happened:**
I am trying to install kubeflow on minikube single node using official guide, so for first I failed in both v1.1.0 and v1.2.0 so tried with older v0.7.0 which got successfully deployed on my minikube cluster so I tried again to deploy the newer versions. First of all I am not able to connect with CONFIG_URI and the manifest uri present in t

[2020-12-15 05:35] PatrickXYS commented on #1697
I don't think there are dedicated folks who maintain `minikube_on_linux`, which is being said it's not maintainable.

[2020-12-15 05:58] PatrickXYS commented on #1573
Removed this issue from 1.2, let's deliver fix by 1.3

[2020-12-15 05:59] PatrickXYS commented on #1554
Let fix this before 1.3

[2020-12-15 10:58] berndverst commented on #1667
You should not need to change anything in the manifests file if you create a new AKS cluster.

I just updated the documentation (PR still pending) to also make it clear that no other Istio installation can coexist. Please give it a try with the new instructions once the change has been merged an is live at kubeflow.org.
https://github.com/kubeflow/website/pull/2413

And you may want to wait anothe

[2020-12-15 11:19] berndverst commented on #1667
One thing to double-check -- where is `cert-manager` installed?

It needs to be in the `cert-manager` namespace and also one related component in the `kube-system` namespace.

[2020-12-15 20:38] scottcantreid commented on #1696
I was able get around this issue by manually creating disks with the required names (`kf-cluster-1-storage-metadata-store` and `kf-cluster-1-storage-artifact-store`). My kubeflow cluster is now live.

I'm leaving this issue open because the documentation for deploying a kubeflow cluster doesn't mention manually launching metadata and artifact-store disks. I imagine that these disks are meant to be

[2020-12-16 17:18] uipo78 commented on #1667
sorry for responding so late.

* yes, istio was preinstalled following [the directions that kubeflow points to](https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-linux). we deployed 1.7.3 at the time.
* cert manager 0.15.2 is installed in the `cert-manager` namespace.

***

we had to remove the cert manager components because kubeflow blew away our

[2020-12-18 06:53] #1471 closed

[2020-12-18 06:53] #1371 closed

[2020-12-18 06:53] #1519 closed

[2020-12-18 06:53] #1516 closed

[2020-12-18 10:26] thesuperzapper commented on #1551
Bump

[2020-12-18 10:27] thesuperzapper commented on #1552
@kubeflow/wg-serving-leads what's you plan for this?

[2020-12-18 11:40] berndverst commented on #1667
Install Istio 1.6.14 or any 1.6.X release please. We've seen some issues deploying Kubeflow with newer versions of Istio.

[2020-12-19 06:34] #1548 closed

[2020-12-22 09:51] chinmay22897 commented on #1697
Can u suggest then any quick way for trying out kubeflow on prem cluster as otherwise it looks kubeflow has now shifted their focus to being more of cloud native solution.

[2020-12-23 01:58] PatrickXYS commented on #1697
Maybe @jtfogarty @RFMVasconcelos have some points on this issue

[2020-12-29 04:17] ElnazBigdeli commented on #1696
@scottcantreid I am running to the same issue, and everything here is pretty new for me. Where should I create this disks?

[2020-12-30 05:51] JoinHands opened #1703 "kfserving，error: Unable to connect to the server: stream error: stream ID 1; INTERNAL_ERROR"
when I exec  "kubectl get inferenceservices -n kubeflow“， get message  "Unable to connect to the server: stream error: stream ID 1; INTERNAL_ERROR”

kubeflow version:   1.2.0
install from kfctl -V -f kfctl_istio_dex.v1.2.0.yaml

kubectl version:
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", Buil

[2020-12-30 07:37] manojlds opened #1704 "On AWS how can I use internal itsio-ingress rather than internet-facing?"
Setup kubeflow based on - https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_aws.v1.2.0.yaml

The Istio ingress is public facing, doesn't have dns, acm cert etc. I see that there is a `secure` overlay but with my minimal understanding of Kustomize, not sure how to use this version or do proper patching.

Trying to do something like this in the config file:

[code]

Gives

[2020-12-31 06:12] manojlds commented on #1704
This issue was useful and I was able to get things sorted - https://github.com/kubeflow/kfctl/issues/140

Closing this.

[2020-12-31 06:12] #1704 closed

[2020-12-31 19:31] #1489 closed

[2021-01-03 14:04] #1535 closed

[2021-01-04 16:22] scottcantreid commented on #1696
Hi @ElnazBigdeli, I used the google cloud console, though I suppose you could create the disk using the `gcloud` command line. Go to https://console.cloud.google.com/compute/disksAdd?_ga=2.211915472.577394515.1609777078-1867275885.1605660962 to create two new disks using the console.
Some things to watch out for:
- Make sure that you give the disks enough space (I decided to give my 50 GB).
- Make

[2021-01-04 16:29] ElnazBigdeli commented on #1696
@scottcantreid Thanks for your reply. I will try that.
I have a side question, I have seen that we can create Kubeflow pipeline on GCP with specifying few things. That will create all the resources for my Kubeflow using AIplatform. My question is having this, should I through the process of deploying the Kubeflow on GCP based on the https://www.kubeflow.org/docs/gke/deploy/?

[2021-01-04 16:33] scottcantreid commented on #1696
I wasn't aware that google's AI Platform has a tool to automatically deploy a kubeflow cluster. The steps seem to be here: https://cloud.google.com/ai-platform/pipelines/docs/getting-started. This looks considerably simpler than following the "Kubeflow on GCP" guide, so I'd say it's worth trying to see if it works for you.

[2021-01-04 16:54] ElnazBigdeli commented on #1696
@scottcantreid Yes, I followed the steps and I created the pipeline. The only question I have in my mind is, if I could create the kubeflow pipeline that easy, that means I would have Kubeflow deployed. However, does this means I have limitations on using any  other services that Kubeflow provides like Katib?

[2021-01-07 20:54] DavidSpek opened #1705 "bundled cert-manager not compatible with Kubernetes <1.16"
After looking into https://github.com/kubeflow/kubeflow/issues/5501#event-4181603464, it seems that the bundled cert-manager installation is not compatible with kubernetes versions lower than 1.16. According to https://cert-manager.io/docs/installation/kubernetes/. For version lower than 1.16 there is a [legacy installation](https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-ma

[2021-01-10 14:22] #1520 closed

[2021-01-10 14:22] #1495 closed

[2021-01-10 14:22] #1505 closed

[2021-01-10 14:22] #1556 closed

[2021-01-11 00:56] james-jwu opened #1707 "Upgrade KFP Istio configuration to v1.6"
Currently KFP uses Istio RBAC policies that is going to be deprecated in v1.6. The policies needs to be upgraded to supported Istio 1.6 in future KF releases.

[2021-01-11 00:57] james-jwu commented on #1707
/cc @Bobgy @capri-xiyue

[2021-01-11 19:42] parthmishra commented on #1696
I ran into this issue as well but for me, the issue stemmed from kubeflow deploying a regional cluster and not regional pds so they weren't found.

I went back and modified my Makefile to use a single zone for LOCATION and ZONE values and then redeployed which resulted in a successful deployment of the cluster zonally. I believe regional deployments are not supported perhaps?

[2021-01-12 00:33] Bobgy commented on #1390
/reopen
/lifecycle frozen

[2021-01-12 10:31] yanniszark commented on #1099
The work for upgrading Argo is tracked in the Kubeflow Pipelines repo.
https://github.com/kubeflow/pipelines/issues/4553
https://github.com/kubeflow/pipelines/pull/4693

[2021-01-12 10:31] #1099 closed

[2021-01-12 10:38] yanniszark commented on #1343
Closing as individual platforms/admins will be able to use kustomize in order to change Istio settings to fit their needs OR install their own Istio.

[2021-01-12 10:38] #1343 closed

[2021-01-12 10:47] yanniszark commented on #1695
@PatrickXYS isn't this issue the same as #1362?
Should we keep only one of the two?

In addition, Mixer is deprecated in later Istio versions. I am not familiar with how you set it up right now, but perhaps I can offer some suggestions as to how to integrate Cognito (as another OIDC provider).
https://www.datacenterknowledge.com/devops/latest-istio-release-removes-single-points-failure-installatio

[2021-01-12 10:52] yanniszark commented on #1549
Hi everyone!

With the formation of the [Manifests Working Group](https://github.com/kubeflow/community/tree/master/wg-manifests), the goal is to provide a catalog of kustomize packages that admins/platforms can:
- Deploy as is.
- Customize for their environment, using kustomize patches and overlays.

AFAIK, virtually all GitOps tools right now work with kustomize, so integration with 3rd-party to

[2021-01-12 11:09] yanniszark commented on #1392
Closing as resolved.

[2021-01-12 11:09] #1392 closed

[2021-01-12 11:11] yanniszark commented on #1476
@crobby we will be targetting later versions as of 1.3, as part of the manifests refactor.
See: https://github.com/kubeflow/community/tree/master/wg-manifests

Closing this as the original issue is resolved.

[2021-01-12 11:11] #1476 closed

[2021-01-12 11:12] yanniszark commented on #1514
Closing as answered

[2021-01-12 11:12] #1514 closed

[2021-01-12 11:19] yanniszark commented on #1583
This is a security warning because a kustomization is trying to include files that are not under the folder or subfolders of the `kustomization.yaml` file. You can make it work with `--load_restrictor=none`. This flag is used so that we can shared files/patches between kustomizations.
http://bit.ly/kf_kustomize_v3

[2021-01-12 11:19] #1583 closed

[2021-01-12 11:23] yanniszark commented on #1550
Planned as part of v1.3 and the manifests refactor:
https://github.com/kubeflow/community/tree/master/wg-manifests

/remove-lifecycle stale
/remove-priority p2
/priority p1

[2021-01-12 11:27] yanniszark commented on #1707
@james-jwu I think this is a pipelines issue and the KFP manifests will live in https://github.com/kubeflow/pipelines.
Should we close this issue for https://github.com/kubeflow/pipelines/issues/4768?

[2021-01-12 11:30] yanniszark commented on #1551
Will be tackled as part of wg-manifests work for v1.3: https://github.com/kubeflow/community/tree/master/wg-manifests

[2021-01-12 11:51] yanniszark commented on #1573
This should be fixed in each app respectively. I wonder if we could perhaps address this with [KRM functions](https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/docs/api-conventions/functions-spec.md), which are a new way to extend `kustomize`. Essentially, we could have a plugin that autogenerates the Application CRD so that we don't have to manually keep it in check.

[2021-01-12 12:02] yanniszark commented on #1608
AFAIK this is the only ksonnet part remaining: https://github.com/kubeflow/manifests/blob/b6e6d9eacc0607536263fdc0172d0776d52fee0e/prow_config.yaml#L8-L15
@PatrickXYS I saw that you did some work in this area, are you aware of what is the remaining test and if it's needed anymore?

[2021-01-12 17:15] PatrickXYS commented on #1608
@yanniszark So for ksonnet, they are responsible for unit test, let me check if I can switch from ksonnet unit test to python unit test

[2021-01-12 17:36] PatrickXYS opened #1708 "[Test] Current test status in kubeflow/manifests repo"
This issue serves as a summary and the main issue to talk about current test status.

**Summary**
Currently, kubeflow/manifests exist with 2 types of general-purpose tests, unit test and E2E test.

1. Unit test: uses deprecated ksonnet to generate unit test Argo workflow (https://github.com/kubeflow/manifests/blob/master/prow_config.yaml#L9-L15)
2. E2E test: uses python generated E2E test Argo wor

[2021-01-12 17:36] PatrickXYS commented on #1708
/cc @kubeflow/wg-manifests-leads

[2021-01-12 17:56] PatrickXYS commented on #1608
Related with https://github.com/kubeflow/manifests/issues/1708

[2021-01-12 18:18] james-jwu commented on #1707
The changes need to be made to files under https://github.com/**kubeflow/manifests**/tree/master/pipeline/installs/multi-user. That's why I opened a new issue under the kubeflow/manifests repo. IIUC the issue needs to be in the same repo as the affected files.

[2021-01-12 18:25] yanniszark commented on #1707
Exactly!

However, as part of the wg manifests effort, the manifest development should happen in the upstream app repo. We will come back soon with an issue for next actions on this plan. I will close this issue once we have the plan. 😄

[2021-01-12 18:50] james-jwu commented on #1707
I am mostly done with the writing and testing fix, and almost ready to submit the PR. Do you want to put this work on hold until the manifests are moved to respective repos?

[2021-01-12 19:22] PatrickXYS commented on #1695
@yanniszark Thanks for reminding of `Mixer is deprecated in later Istio versions.`

Seems like we need to keep up with at least istio 1.6, let me see if I can refactor aws-istio-authz-adaptor.

And yes this is dup of #1362 , we can keep this and close the other one.

[2021-01-12 19:22] PatrickXYS commented on #1362
Close this in favor of https://github.com/kubeflow/manifests/issues/1695

[2021-01-12 19:22] #1362 closed

[2021-01-12 20:29] PatrickXYS opened #1710 "[Manifests Distribution] Distribute and Sync kubeflow app manifests"
From the wg-manifests meeting, we had some discussion about the work that how do we distribute kubeflow application manifests and sync them back to kubeflow/manifests repo.

As we discussed, the rough plan is:

0. Communicate with different wgs about the change
0.0. Define best practices and give an example
0.1. Open issues in respective repositories
1. Move manifests development for each applicat

[2021-01-12 20:29] PatrickXYS commented on #1710
/cc @kubeflow/wg-manifests-leads

[2021-01-12 20:59] 4n4nd opened #1711 "[pipeline] kubeflow pipeline persistent-agent serviceaccount gets the cluster-admin role incorrectly"
In [this cluster-role-binding](https://github.com/kubeflow/manifests/blob/master/pipeline/persistent-agent/base/clusterrole-binding.yaml#L8) the `persistenceagent` serviceaccount is given the cluster-admin clusterrole. I think it was supposed to be the new created [persistenceagent clusterrole](https://github.com/kubeflow/manifests/blob/master/pipeline/persistent-agent/base/clusterrole.yaml).

[2021-01-13 01:46] PatrickXYS commented on #1710
/cc @kubeflow/wg-automl-leads @kubeflow/wg-notebooks-leads @kubeflow/wg-pipeline-leads @kubeflow/wg-training-leads @kubeflow/wg-serving-leads

[2021-01-13 09:31] chinmay22897 commented on #1697
Setup worked now, did some initial setups in minikube differently with environments. Can be closed now, Thank You for help guys.

[2021-01-13 09:31] #1697 closed

[2021-01-13 13:41] yanniszark commented on #1705
@DavidSpek I seriously doubt that's the case. We have successfully installed that cert-manager version (0.11) for quite some time now.

[2021-01-13 13:49] DavidSpek commented on #1705
@yanniszark Also 0.14? As that also has this issue related to it: https://github.com/jetstack/cert-manager/issues/2208.
If the manifests are updated to use the latest version of cert-manager (v1.1), this issue is something we will run into as the docs state:
[code]
Though I think this has a type as there are 2 different CRD instructions given, one for 1.16+ and one for <1.16. This also brings up t

[2021-01-14 05:17] #1711 closed

[2021-01-14 08:47] Bobgy commented on #1707
Let me clarify two points:
1.

I don't think that's necessary, it's also OK to write a PR in kubeflow/manifests repo and claim it was written because of an issue in kubeflow/pipelines repo.

2.
@yanniszark I'll be working on moving KFP manifests (especially multi-user manifests) back to KFP repo. I think @james-jwu is already mostly done with his development. We can let that in and move after that

[2021-01-14 09:28] yanniszark commented on #1707
Yes of course, I wasn't aware that this was a done job. I agree with merging the update now and moving it out later.

[2021-01-14 09:54] Bobgy commented on #1710
Sounds good to me

When do you plan to do step 0?
Manifest WG meetings are not friendly to my timezone, so I'd hope you can share a doc that people can collaborate offline.

[2021-01-14 12:09] Bobgy opened #1715 "Why do we need kubernetes-sigs/application controller in Kubeflow?"
When I was investigating issue: https://github.com/kubeflow/gcp-blueprints/issues/184,

I realized there's a huge volume of logs coming from application controller, and so far I think that's normal behavior, we need a way to change log level, but I don't think it exposed such a config.

However, a bigger question is why is Kubeflow using application controller? Does it solve anyone's problem? It s

[2021-01-14 12:14] Bobgy commented on #1715
Additionally, I think we've got many issues with application maintenance like https://github.com/kubeflow/manifests/issues/1573, no one before `thesuperzapper` noticed the problem seems to be an evidence that no one used it at all.

[2021-01-14 12:15] Bobgy commented on #1715
Sorry, I mentioned the wrong group.
I meant @kubeflow/wg-manifests-leads, not `@kubeflow/wg-deployment-leads`, but maybe it's worth both groups' discussion.

[2021-01-14 17:17] #1608 closed

[2021-01-14 17:17] #1708 closed

[2021-01-14 20:38] gregbarkerdcsg opened #1716 "google cloudsql metadata deployment duplicate definition"
[manifests/metadata/overlays/google-cloudsql/metadata-deployment.yaml](https://github.com/kubeflow/manifests/blob/e1441603ab359b1a816f91882742fc041a5e12f8/metadata/overlays/google-cloudsql/metadata-deployment.yaml#L1) has 2 duplicate deployment definitions. The top one references a deployment named "deployment" and server named "server". The bottom one references the correct deployment, grpc-deplo

[2021-01-14 20:56] PatrickXYS commented on #1716
/platform gcp

/cc @Bobgy  @james-jwu

[2021-01-14 21:19] PatrickXYS commented on #1710
@yanniszark I think we should have:

1. A fully-covered doc about Step 0
2. A Github Project which is created specifically for this manifest distribution project

Not sure if you have any documentation ready

[2021-01-14 22:02] gregbarkerdcsg opened #1717 "private GKE cluster errors"
See GCP GKE [cluster-private-patch.yaml](https://github.com/kubeflow/manifests/blob/e1441603ab359b1a816f91882742fc041a5e12f8/gcp/v2/privateGKE/cluster-private-patch.yaml#L22).

useIpAliases and createSubnetwork are not in the [ContainerCluster spec](https://cloud.google.com/config-connector/docs/reference/resource-docs/container/containercluster). There is a comment a few lines lower mentioning th

[2021-01-14 22:17] yanniszark commented on #1710
@PatrickXYS thanks for opening the issue.

@Bobgy next week is the goal.

Of course.

[2021-01-14 22:28] yanniszark commented on #1715
@Bobgy you ninja'd me there, I was planning to ask this question myself in the doc we're preparing for manifests best practices, as mentioned here: https://github.com/kubeflow/manifests/issues/1710

It could also lead to weird and hard-to-debug issues, like the one seen here:
https://github.com/kubeflow/manifests/issues/540
https://github.com/kubeflow/kubeflow/issues/4767#issuecomment-586752595

I

[2021-01-14 22:54] PatrickXYS commented on #1717
/cc @Bobgy @james-jwu

/platform gcp

[2021-01-15 05:58] Bobgy commented on #1715
Haha, good to know you have also thought of it.

[2021-01-15 11:41] Saul-R commented on #923
Still happening.

Worked around it in a similar way as the description:

[code]

[2021-01-17 20:59] #1363 closed

[2021-01-17 20:59] #1545 closed

[2021-01-17 20:59] #1493 closed

[2021-01-17 20:59] #1369 closed

[2021-01-17 20:59] #1571 closed

[2021-01-18 05:48] Bobgy commented on #1716
Your understanding is correct.

but we removed the entire folder, because the instructions are no longer the recommended process to build that setup.
https://github.com/kubeflow/manifests/pull/1718

[2021-01-18 05:48] #1716 closed

[2021-01-18 10:06] rameshkemp opened #1720 "Configure External Database Using Amazon RDS - Documentation outdated for KF 1.2"
The KF definition details mentioned in the documentation do not hold good for KF v1.2 to configure External Database Using Amazon RDS for Kubeflow Pipeline and Metadata components

Link to document: https://www.kubeflow.org/docs/aws/rds/

[2021-01-18 12:56] karlschriek commented on #1695
@PatrickXYS is this something that can be fairly easily upgraded to what is expected in Istio 1.3.1, since that is currently the version that that seems to be targeted by the rest of the Kubeflow components? Or are you thinking of going directly to a more recent Istio version?

[2021-01-19 00:41] YoungjuWang commented on #959
@ReyRen
Hello, Same case for me with On-premis kubernetes (v1.19.7)

If your cluster is same or similar version with mine You can try this.

I solved this with this solution that change path of 'service-account-signing-key-file' to '--service-account-signing-key-file=/etc/kubernetes/ssl/sa.key'

'/etc/kubernetes/pki' path is symbolic link. So I guessed kube-apiserver cannot follow that. You can tr

[2021-01-19 07:36] AshokKuramdasu commented on #1489
Hi Team,
Please reopen this issue.

[2021-01-19 16:03] PatrickXYS commented on #1489
I don't think there's any folks helping on this issue

What's the proposal we have to maintain another manifests for `keycloak-gatekeeper`, in general, we provide generic manifest and users can use them to customize by themselves.

[2021-01-19 16:24] gregbarkerdcsg commented on #1716
@Bobgy what is the recommended process to build that setup? This, manifests/pipeline/upstream/sample?

[2021-01-20 10:24] Bobgy commented on #1716
We haven't built an example yet, when we release built-in support for using CloudSQL, some difference from the current one:
1. the CloudSQL instance will be provisioned with manifests like other GCP infra
2. instead of using Google service account credentials, we'll leverage workload identity to give the CloudSQL proxy permissions it needs

If you want to deploy with CloudSQL right now, you can ma

[2021-01-20 10:24] Bobgy commented on #1716
@gregbarkerdcsg

[2021-01-20 23:26] arllanos opened #1722 "Upgrade argo to 2.12"
Part of kubeflow/pipelines#5017

Upgrade Argo from 2.3 to 2.12 so Pipelines can support separate artifact repository for each namespace (`artifactRepositoryRef` field in argo workflow manifest)

Note: Although `artifactRepositoryRef` feature seems to be available since 2.9 we are upgrading version 2.12 which will be LTS as mentioned [here](https://github.com/kubeflow/pipelines/issues/4649#issuecom

[2021-01-20 23:27] PatrickXYS commented on #1722
/cc @kubeflow/wg-pipeline-leads

[2021-01-25 12:17] karlschriek commented on #1695
@PatrickXYS anything we can do to help here? It fairly important for us to get this fix in soon!

[2021-01-26 18:01] PatrickXYS opened #1725 "[Test] Migrate kubeflow/manifests to new test-infra"
**Which issue is resolved by this Pull Request:**
Part of https://github.com/kubeflow/testing/issues/861

**Description of your changes:**
Migrate kubeflow/manifests to new test-infra, there's no difference between old test-infra and new test-infra from users' perspective.

[2021-01-26 20:08] #1725 closed

[2021-01-27 00:37] PatrickXYS commented on #1695
@karlschriek I'm in the middle stage of deciding if bumping istio into 1.3.1 or 1.6 above.

The reason I want to bump to 1.6 is because we've seen some kubeflow app started to require higher versions

E.g, https://github.com/kubeflow/manifests/issues/1707

KFP has already started engineering work towards istio 1.6 above.

[2021-01-27 06:53] 15162162323 opened #1727 "about kfctl_k8s_istio.v1.2.0.yaml didnot have istio-crds istio-install?"
in this website: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

**Disabling istio installation - If your Kubernetes cluster has an existing Istio installation you may choose to not install Istio by removing the applications istio-crds and istio-install in the configuration file kfctl_k8s_istio.v1.2.0.yaml**
this context say removing istio-crds istio-install in kfctl_k8s_istio.v1.2.0.y

[2021-01-27 10:52] hemantha-kumara opened #1728 "Xgboost controller is going to error state due to wrong CRD file"
xgboost controller is failing with the below reason

`{"level":"error","ts":1611742542.4809206,"logger":"entrypoint","msg":"unable to run the manager","error":"no matches for kind \"XGBoostJob\" in version \"xgboostjob.kubeflow.org/v1\"","stacktrace":"github.com/go-logr/zapr.(*zapLogger).Error\n\t/go/pkg/mod/github.com/go-logr/zapr@v0.1.1/zapr.go:128\nmain.main\n\t/go/src/github.com/kubeflow/xgboo

[2021-01-27 13:30] karlschriek commented on #1695
Any thoughts on a quick fix that would allow use of 1.3.1 with the current KF 1.2 distribution? I've played around with the '--useAdapterCRDs=true' and '--useTemplateCRDs=true' in the mixer args without really know what that would do, but couldn't get it to work, so I presume more is needed.

[2021-01-27 14:16] yanniszark commented on #1728
@hemantha-kumara thanks for the report. As part of 1.3, the source of truth for manifests will become each app's upstream repo. As such, this issue will be fixed in 1.3.

/priority p1

[2021-01-27 14:18] yanniszark commented on #1722
@arllanos this seems like an issue for the pipelines wg.
cc @Bobgy I think there is a similar issue in pipelines already.
https://github.com/kubeflow/pipelines/issues/4553

[2021-01-27 14:18] #1722 closed

[2021-01-27 17:07] PatrickXYS commented on #1727
It should be `istio-1-3-1-stack`, you need to dig into it and remove istio related installation

[2021-01-28 05:41] Focke-Wulf opened #1729 "Xgboost example error with CRD v1 version"
<img width="1105" alt="2021-01-28 1 33 16" src="https://user-images.githubusercontent.com/26343300/106094933-d8b4f700-616d-11eb-9b4d-83dcb75607b1.png">

Hello
as this log shows the problem when I am trying to use  iris dataset example.

I have already updated v1 crd . and still have this problem

[2021-01-28 08:10] tomalbrecht opened #1730 "How to patch MetalLB with Kustomize?"
I am following [this kubeflow guide](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#expose-kubeflow) and try to translate it into kustomize scripts. Most steps seem easy to translate, but I do not know how to patch `ipAddresses:` into `istio-ingressgateway-certs` with kustomize. Can anyone help me with this (I am quite new to kustomize).

The problem is, that this IP-Adress is only set

[2021-01-28 11:13] yanniszark commented on #1729
Hi @Focke-Wulf. Could you raise this issue in the XGBoost operator repo?
They will be able to help you resolve your issue.

[2021-01-28 11:13] #1729 closed

[2021-02-01 09:09] hossein-rasi opened #1731 "Change AWS ALB security group inbound rules"
Hello guys.

I installed the kubeflow in AWS EKS using AWS Cognito version of the installment and I have access to the kubeflow page using a custom domain. The problem is, kfctl by default is creating a security group that is used for the istio-ingress load balancer and the inbound rule is set to accept traffic from [0.0.0.0/0] which means it is open everywhere.
My question is, how can I modify th

[2021-02-05 13:41] AbelThorne opened #1734 "-V"

[2021-02-05 15:04] PatrickXYS commented on #1734
@AbelThorne Can you describe what your issue is?

[2021-02-05 15:08] AbelThorne commented on #1734
Oh sorry, complete mistake on my part, that's a rogue issue :-)

[2021-02-05 15:08] #1734 closed

[2021-02-05 21:51] yanniszark opened #1735 "Uber Issue: Manifests WG Steps for release 1.3"
## Intro

I know that many are eager to track the progress of the manifests working group,
so I'm opening this issue to document the plan, as was presented in the
wg-manifests meeting on 2021/02/05
([recording](https://drive.google.com/file/d/1_7Se0CoSyEWrI_R9A2W3gtVDorFjwkdd/view?usp=sharing)).

More details about the mission of wg-manifests can be found in its charter:
https://github.com/kubeflo

[2021-02-08 02:06] 15162162323 commented on #1727
thanks

| |
侯海涛
|
|
15162162323@163.com
|
签名由网易邮箱大师定制
On 1/28/2021 01:07，Yao Xiao<notifications@github.com> wrote：

It should be istio-1-3-1-stack, you need to dig into it and remove istio related installation

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-08 17:16] yanniszark opened #1738 "Step 1: Reorganize folder structure"
Part-of: https://github.com/kubeflow/manifests/issues/1735

Currently, the manifests repo is a flat namespace with everything mangled.
We plan to reorganize the folder structure into sections that will reflect the
following properties:
- Applications with their source code in upstream KF maintained by Kubeflow WGs (e.g., notebook-controller)
- Common services (Dex, Istio, Cert-Manager, KNative), m

[2021-02-09 12:02] Mykolaichenko commented on #1695
@PatrickXYS @james-jwu May you share some insight about it? Does the community schedule to fix Istio + Cognito for Pipelines 1.2?

[2021-02-09 18:30] james-jwu commented on #1695
@Bobgy Is anything blocking KFP from upgrading to Istio 1.6 right now?

[2021-02-09 19:47] yanniszark opened #1740 "Step 2: Move manifests development upstream"
Part-of: https://github.com/kubeflow/manifests/issues/1735
Depends-on: https://github.com/kubeflow/manifests/issues/1738

### Background

As part of the work of wg-manifests for 1.3 (https://github.com/kubeflow/manifests/issues/1735), we are moving manifests development in upstream repos. This is the second step of our plan for 1.3.

### Current State

Applications have manifests in two places:
-

[2021-02-10 00:40] yanniszark commented on #1740
I will use the following table to track the progress of issues / PRs:

| Application | WG | Issue | PR |
| --- | --- | --- | --- |
| TFJob Operator | kubeflow/wg-training-leads | https://github.com/kubeflow/tf-operator/issues/1246 | :x: |
| PyTorch Operator | kubeflow/wg-training-leads | https://github.com/kubeflow/pytorch-operator/issues/318 | :x: |
| MPI Operator | kubeflow/wg-training-leads | h

[2021-02-10 17:42] krish0005 commented on #1577
I need exactly that kind of information, since it is hours now i'm trying to figure this out.

I'm trying on Kubeflow 1.2.0 creating the Management Cluster with kpt.

(In the past i was able to do it successfully with Kubeflow 1.0.2 with Kustomize and Kfctl)

I tried this:

[code]
You can see i tried both adding creation of new VPC and Subnet but also to hardcode an existing one i have already cre

[2021-02-11 09:01] Bobgy commented on #1695
No, KFP side is ready

[2021-02-11 10:04] karlschriek commented on #1695
Would there be any blockers for KFServing? Getting Pipelines and KFServing
to work correctly with Cognito were the biggest issues for us in KF 1.2.

On Thu, Feb 11, 2021, 10:01 Yuan (Bob) Gong <notifications@github.com>
wrote:

[2021-02-11 12:47] kelvins commented on #1577
@krish0005 I don't think it will help in your case, but we just created the overlay in the `instance` folder (`instance/gcp_config/cluster.yaml`) and included it as a `resource` in the `kustomization.yaml`. As we already had the `network` and `subnet`, we used the `external` feature, for example:

[code]

[2021-02-11 13:51] Bobgy commented on #1735
This is absolutely awesome! Thank you so much for driving these! @yanniszark

[2021-02-11 15:42] krish0005 commented on #1577
Thanks @kelvins !
I tried your suggestion anyway and sadly it didn't work.

I build from this path: `/home/mykubeflowuser/kubeflow/mykubeflowproject/management/`
Applied your suggestion as following:
[code]
Built, checked, applied:
[code]
The build files reflect my config, but looks like it is ignored.

[2021-02-12 10:01] krish0005 opened #1741 "Cannot deploy Kubefow 1.2.0 in CLI mode: it is not impossible to deploy a custom VPC"
See comments already posted here: https://github.com/kubeflow/manifests/issues/1577#issuecomment-777587661

My cluster.yaml as follows:

[code]

What i get when i build:

[code]

[2021-02-12 10:58] krish0005 commented on #1577
@jlewi  nowhere here it is reported that you need to have a "default" VPC in your GCP project to be able to deploy this product: https://www.kubeflow.org/docs/gke/deploy/project-setup/

[2021-02-12 16:29] PatrickXYS commented on #1741
/cc @Bobgy

Who will be taking care of GCP related issue

[2021-02-15 11:33] munagekar commented on #1549
I created a [repository](https://github.com/munagekar/kubeflow-argocd) demonstrating the approach mentioned in https://github.com/kubeflow/manifests/issues/1549#issuecomment-691775184.

[2021-02-15 12:05] #1738 closed

[2021-02-15 19:05] yanniszark commented on #1715
I prepared a small overview of the application cr in Kubeflow.

**What is it used for:**
- The ability to describe an applications metadata (e.g., that an application like notebook-controller is running). This is why the GKE marketplace demands it.
- Tying all configuration (e.g., CRDs, Deployments, etc) relevant to an App together. It doesn't support cross-namespace references.

**Limitations:**

[2021-02-16 03:56] Bobgy commented on #1715
I agree with that, plus.. we may use kpt live status instead for the monitoring functionality.

[2021-02-16 04:32] Omoong opened #1744 "kubeflow deployment issues with calico"
Im trying to deploy kubeflow on my baremetal kubernetes setup with calico as its cni.
Apparently, cert-manager has compatibility issues with cni and needs to be deployed with webhook.hostNetwork=true option.
Or, just deployed with hostNetwork: true in its yaml file.
here is the link to compatability issue page.
https://cert-manager.io/docs/installation/compatibility/

I attempted to make such chan

[2021-02-16 21:46] gregbarkerdcsg opened #1745 "private GKE"
Following these instructions to deploy to a private GKE cluster - https://www.kubeflow.org/docs/gke/private-clusters/

We ended up with these additional changes:

gcp/v2/privateGKE/cluster-private-patch.yaml
* add nodeLocations attribute for regional clusters configurable with kpt setter
* make enablePrivateEndpoint configurable with kpt setter
* make masterIpv4CidrBlock configurable with kpt sett

[2021-02-17 08:44] #1744 closed

[2021-02-17 16:05] shaikmanu797 opened #1749 "Spark Operator version upgrade commit has been reverted"
Spark operator version has been upgraded as part of v1.0.0 manifests and due to some reverts in v1.1.0 the version was set back to v0.7.0

https://github.com/kubeflow/manifests/blame/v1.0.0/spark/spark-operator/overlays/application/application.yaml -- v1.0.0

https://github.com/kubeflow/manifests/blame/v1.1.0/spark/spark-operator/overlays/application/application.yaml -- v0.7.0

@holdenk @Bobgy @ri

[2021-02-18 01:19] Jeffwan commented on #1735
What's the best practice to manage versions? Not all projects use exact same version syntax as kubernetes versions.. for example, some training operator doesn't have v1.2-branch or v1.3-branch. I assume it's WG owner's responsibility to choose which version goes to kubeflow/manifest just like we did?

[2021-02-18 16:27] henrysecond1 opened #1750 "'kubeflow-pipelines-profile-controller' fails to deploy pods on profile creation when ResourceQuota is set in the profile."
In multi-user mode, it seems like `kubeflow-pipelines-profile-controller` deploy below pods on Kubeflow profile creation.

- `ml-pipeline-ui-artifact`
- `ml-pipeline-visualizationserver`

When `ResourceQuota` is set in the profile, `kubeflow-pipelines-profile-controller` fails to deploy `ml-pipeline-ui-artifact` and `ml-pipeline-visualizationserver` with below error.

[code]

- Related code: [http

[2021-02-18 16:34] PatrickXYS commented on #1750
This would be more like a KFP-specific issue

/cc @Bobgy

Can you help transfer the issue to kubeflow/pipelines?

[2021-02-18 18:04] marziman commented on #1735
2 comments here:
- @yanniszark Why not using a newer version of Istio 1.9, instead of 1.6?
The breaking change will be Authz policies,
and the rest can be upgrade without issues. Istio is providing a new update mechanism, which makes it easier to upgrade

- @Jeffwan Ithink using a version repo might be also a good idea to have a unified versioning with semver

[2021-02-18 19:53] yanniszark commented on #1735
@Jeffwan Exactly. I know some apps follow different versioning / release schemes. The respective WG owner is responsible for choosing the version the want to include.

The version hasn't been decided yet. Please check the last section (Common Questions) in the first message.

[2021-02-20 05:20] Garrybest commented on #959
it works for me. 👍

[2021-02-21 06:56] renuraj18 opened #1751 "kubeflow failed to create notebook server with template error"
Kubeflow version: kfctl v1.2.0-0-gbc038f9
Installation type: On prem
Manifest version: :Latest  1.2.0

Error: while creating new notebook server, its failing with template error

----     ------        ----                  ----                    -------
  Warning  FailedCreate  31s (x16 over 3m16s)  statefulset-controller  create Pod renu-0 in StatefulSet renu failed error: admission webhook "si

[2021-02-23 09:36] Mykolaichenko commented on #1695
What I can do to make it resolved? How I can help?
That's really valuable issue blocks upgrade pipelines to 1.2

[2021-02-23 15:21] yanniszark opened #1753 "Step 3: Upgrade Istio"
Umbrella Issue: https://github.com/kubeflow/manifests/issues/1735

The manifests working group is responsible for certain common services (Dex,
Istio, Cert-Manager, KNative). Out of those, we plan to provide a newer version
of Istio, to leverage the new AuthorizationPolicy API that will be supported
across the board in 1.3.

The work to refactor every component to use Istio AuthorizationPolicy is

[2021-02-24 01:59] pvaneck opened #1754 "Update Knative version"
The current version of Knative is 0.14.3. With Istio being updated soon (https://github.com/kubeflow/manifests/issues/1753), we should also update the versions for Knative serving/eventing to ensure that they work with the new Istio once it lands.

Not sure which version yet, as it will likely depend on the minimum Kubernetes version we decide to support. This issue can be used to track progress o

[2021-02-24 01:59] pvaneck commented on #1754
/assign @pvaneck

[2021-02-24 17:24] yanniszark commented on #1754
@pvaneck thanks for opening an issue to track a future KNative upgrade.
I want to also stress though, that I have tried running KFServing examples with the older KNative serving v0.11 and Istio 1.9 and everything worked fine! Thus, I don't expect this to be a blocker.
That said, I agree that it's good to keep our dependencies up-to-date.

[2021-02-24 20:20] Dimiftb commented on #974
Hi @tomalbrecht and everyone else,

I have a very similar issue to the one described. I've followed the same guide to deploy Kubeflow on a local Kubernetes cluster created with kubeadm.

I needed a more permanent solution than port forwarding so I've set up metal load balancer and tested with dummy nginx server as described in guide https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#expose

[2021-02-25 01:41] pvaneck commented on #1754
@yanniszark Ah good to hear that KFServing worked with even Knative v0.11. From what I've gathered, some KFServing features might need newer versions of Knative-eventing, so probably worth giving both serving and eventing a bump. I did the update from 0.11 to 0.14.3, so I can handle the next update if need be.

[2021-02-25 06:36] tomalbrecht commented on #974
Are you are of this installation? It's much easier: https://www.kubeflow.org/docs/started/workstation/kubeflow-on-microk8s/

But in case you need a deployment with manifests, I assume you are using these manifests, right https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_k8s_istio.v1.2.0.yaml.

- When you setup the loadbalancer, setting the right IP and Hostmame is essent

[2021-02-25 14:05] juliusvonkohout opened #1757 "spartakus-volunter uses incomaptible image"
[code]
This happens because https://github.com/kubeflow/manifests/blob/master/contrib/spartakus/base/deployment.yaml uses gcr.io/google_containers/spartakus-amd64:v1.1.0

The fix is very simple. You just have to add USER xxxx where xxxx != 0 at the end of the dockerfile.
The spartakus project seems to be not longer maintained https://github.com/kubernetes-retired/spartakus
Is there a new upstream

[2021-02-25 16:25] PatrickXYS commented on #1757
I think we can move forward with removing sparktakus for short-term fix since it's not maintained

[2021-02-25 18:10] juliusvonkohout commented on #1757
Alright, how shall we proceed? Should I make a pull request or do you want to?

[2021-02-25 18:51] PatrickXYS commented on #1757
Feel free to send a PR for fixing, you can cc me for review

[2021-02-25 19:53] juliusvonkohout commented on #1757
@PatrickXYS

I do not think that what you suggested in the pull request is the right way to do it. spartakus is installed in https://github.com/kubeflow/manifests/blob/81e5fb6fbcd159a89d9d20ecdc510aed3354f024/distributions/kfdef/kfctl_k8s_istio.yaml#L209
We should remove it there.
It has already been removed from the dex version.

Sadly the non-dex version in master is currently broken
[code]

The

[2021-02-25 23:09] juliusvonkohout commented on #1757
For me it is totally fine to just remove it for plain kubernetes at the moment. So what you call on premises. If you do not have any objections, I will just remove it in that single file.

[2021-02-25 23:12] PatrickXYS commented on #1757
I don't have objections, but if we only target on-prem manifests, that should be fine.

[2021-02-26 23:56] #1745 closed

[2021-03-01 22:00] ReggieCarey opened #1760 "Decouple 3rd Party Components of Kubeflow"
Greetings,

Its great that Kubeflow uses tech like Dex, Istio, Tekton Pipelines, Knative, Argo, etc.

Instead of bundling a specific version of these components (an ANTI PATTERN) instead, provide instructions defining these as pre-requisites or install them from their well known distribution locations (Helm, OperatorHub, etc.) followed by customization as needed by Kubeflow.  The current kustomize

[2021-03-02 15:12] #1757 closed

[2021-03-04 02:48] pvaneck commented on #1753
Istio 1.9 docs mention compatibility with K8s 1.17 - 1.20. Is it safe to say that those deploying KF 1.3 with the manifests in this repo should have at least K8s 1.17?

[2021-03-04 10:53] openthings opened #1761 "may not add resource with an already registered id"
with Kubernetes 1.20.4。

I am using:
[code]

got :

kfctl exited with error: failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: error evaluating kustomization manifest for namespaces: accumulating resources: recursed merging from path '../../.cache/manifests/manifests-1.2.0/namespaces/base': may not add resource wi

[2021-03-05 05:31] dpaks commented on #1753
@yanniszark Istio AuthorizationPolicy is something that I was longing for some time

[2021-03-09 11:36] yanniszark commented on #1753
@pvaneck I have tested with Kubernetes 1.16 successfully! So I am confident that there won't be a problem there as well.

[2021-03-10 00:21] thesuperzapper commented on #1760
Absolutely, this is currently proposed in https://github.com/kubeflow/community/issues/460

The work to refactor the kubeflow/manifests repo https://github.com/kubeflow/community/issues/460, should help with the unbundling work.

[2021-03-13 00:24] juliusvonkohout opened #1764 "As a user i want to create a seldon deployment at the end of a pipeline"
In a multi-user kubeflow installation each user should be able to create seldon AND kfserving deployments inside his namespace.

 for kfserving this is enabled at https://github.com/kubeflow/manifests/blob/f4cca979d3020a04e45db65bc58d7bbfe386ffd6/apps/kfserving/upstream/kfserving-install/base/cluster-role.yaml#L174 AND https://github.com/kubeflow/manifests/blob/f4cca979d3020a04e45db65bc58d7bbfe386

[2021-03-14 08:28] jidemoski commented on #1753
/help
What time can we upgrade istio? I need the new version to upgrade the server. Beauseof  tha envoyfilter can't support subdomain auth

[2021-03-14 08:59] jidemoski commented on #1753
/remove-help

[2021-03-15 11:29] DavidSpek opened #1766 "Keycloak Gatekeeper has been deprecated"
The manifests located at https://github.com/kubeflow/manifests/tree/master/common/dex-auth/keycloak-gatekeeper use `keycloak/keycloak-gatekeeper:5.0.0`. This registry has not been updated in two years and is EOL and no longer maintained. References to this registry have recently also been removed from the keycloak-containers repository: https://github.com/keycloak/keycloak-containers/commit/74d301

[2021-03-17 15:31] yanniszark opened #1769 "Step 4: Consolidate manifests with multiple versions into 1"
Umbrella Issue: #1735

Some manifests (e.g., notebooks controller, katib) have multiple versions. Take
the example of `notebook-controller`:

![diagram_3](https://user-images.githubusercontent.com/6123106/107092215-d86ec880-680b-11eb-9705-e6fd25891104.PNG)

There are the following versions of manifests:
- The ones living in the upstream repo, used in development and testing.
- The `base` and `over

[2021-03-18 17:17] 912988434 opened #1770 "openshift deploy"
Hello, would you like to know whether to deploy on OpenShift 4.6 using https://github.com/kubeflow/manifests/blob/master/distributions/kfdef/kfctl_openshift.v1.2.0.yaml file or using  https://github.com/opendatahub-io/manifests/blob/v1.0-branch-openshift/kfdef/kfctl_openshift.yaml?

[2021-03-18 17:28] PatrickXYS commented on #1770
The openshifthub one should be built on top of kubeflow one

Openshift should have some doc/official page for deploying kubeflow

[2021-03-19 18:01] yanniszark commented on #1769
Here is a matrix with the remaining work:

| App | PR | Merged |
| - | - | - |
| PodDefaults | https://github.com/kubeflow/kubeflow/pull/5719 | :x: |
| Jupyter Web App | https://github.com/kubeflow/kubeflow/pull/5721 | ✔️  |
| CentralDashboard | https://github.com/kubeflow/kubeflow/pull/5720 | ✔️  |
| Profiles + KFAM | https://github.com/kubeflow/kubeflow/pull/5718 | :x: |
| Notebook Controller |

[2021-03-19 21:19] tedhtchang opened #1773 "Contrib: Error deploying feast"
When deploying feast to kubeflow I saw the following error
kustomize build feast/base | kubectl apply -n kubeflow -f -
namespace/kubeflow unchanged
configmap/kf-feast-redis unchanged
configmap/kf-feast-redis-health unchanged
secret/feast-postgresql unchanged
service/kf-feast-postgresql unchanged
service/kf-feast-postgresql-headless unchanged
service/kf-feast-redis-headless unchanged
service/kf-fea

[2021-03-19 21:26] yanniszark opened #1775 "Release 1.3 - Sync manifests from upstream repos"
In order to cut the 1.3 release, we need to sync manifests from the upstream repos. For this reason, the manifests wg needs to gather the git revisions from each upstream repo, in order to sync them here.

| Application | Manifests Path | Upstream Path | Upstream Repo | Revision |
| --- | --- | --- | --- | --- |
| TFJob Operator | apps/tf-training/upstream | manifests | https://github.com/kubeflow

[2021-03-19 21:30] yanniszark opened #1776 "Test manifests and provide instructions with kustomize + kubectl"
Umbrella Issue: https://github.com/kubeflow/manifests/issues/1777

Validate manifests and provide simple installation instructions with kustomize + kubectl.

[2021-03-19 22:05] yanniszark commented on #1775
cc @kubeflow/wg-automl-leads
cc @kubeflow/wg-deployment-leads
cc @kubeflow/wg-manifests-leads
cc @kubeflow/wg-notebooks-leads
cc @kubeflow/wg-pipeline-leads
cc @kubeflow/wg-serving-leads
@kubeflow/wg-training-leads

[2021-03-19 23:32] yanniszark opened #1777 "Umbrella Issue: Release 1.3"
### Steps for Release Candidate

1. Upstream WGs: resolve blocking PRs
    - Docs
        - [x] Move Platforms under Distributions:
            - [x] Google: https://github.com/kubeflow/website/pull/2547
            - [x] Openshift: https://github.com/kubeflow/website/pull/2550
            - [x] IBM: https://github.com/kubeflow/website/pull/2549
            - [x] Azure: https://github.com/kubeflow

[2021-03-19 23:32] yanniszark commented on #1777
cc @kubeflow/wg-automl-leads
cc @kubeflow/wg-deployment-leads
cc @kubeflow/wg-manifests-leads
cc @kubeflow/wg-notebooks-leads
cc @kubeflow/wg-pipeline-leads
cc @kubeflow/wg-serving-leads
cc @kubeflow/wg-training-leads
cc @RFMVasconcelos

[2021-03-19 23:59] #1773 closed

[2021-03-20 17:24] andreyvelich commented on #1379
Katib doesn't use dynamic webhook creation, we can close this.
/close

[2021-03-20 17:24] #1379 closed

[2021-03-22 11:39] #1753 closed

[2021-03-22 12:31] yanniszark commented on #1728
@hemantha-kumara an update on this. XGBoost manifests now live in the respective upstream app repo:
https://github.com/kubeflow/xgboost-operator/tree/master/manifests

[2021-03-22 12:59] yanniszark commented on #1769
Closing as all manifests were consolidated.
/close

[2021-03-22 12:59] #1769 closed

[2021-03-22 13:57] Bobgy commented on #1775
For KFP, let's use https://github.com/kubeflow/pipelines/releases/tag/1.5.0-rc.0 first, and we'll do another release after the remaining last minute fixes are in.

[2021-03-22 18:22] andreyvelich commented on #1775
For Katib we can take: https://github.com/kubeflow/katib/tree/v0.11.0. This is the tag for Katib 0.11 release.

[2021-03-23 10:23] juliusvonkohout commented on #1740
@yanniszark i noticed that e.g. https://github.com/kubeflow/manifests/tree/master/apps/pipeline/upstream/mysql/base is a bit outdated compared to the real upstream manifests. Will you update all manifestes before the 1.3 release or link on the filesystem level to  the upstream repositories?

[2021-03-23 10:31] yanniszark commented on #1740
@juliusvonkohout exactly, please follow this issue for the work of syncing manifests:
https://github.com/kubeflow/manifests/issues/1775

Closing this issue as it is complete

[2021-03-23 10:31] #1740 closed

[2021-03-23 13:43] yanniszark commented on #1766
@DavidSpek I have moved Gatekeeper under `contrib`, since it is not maintained by the Manifests WG.
I don't think any distribution was using it anyway. Should we close this issue now that it was placed under the `contrib` folder, which comes with no guarrantees?

[2021-03-23 13:44] yanniszark commented on #1764
@juliusvonkohout this seems like a request for the seldon folks:
cc @cliveseldon

[2021-03-23 13:54] yanniszark commented on #1707
@james-jwu @Bobgy I understand this is complete right?
Should we close this issue?

[2021-03-23 13:55] hemantha-kumara commented on #1728
@yanniszark  looks like crd.yaml is not correct
I am getting the below error
[code]

[2021-03-23 13:55] yanniszark commented on #1705
As per: https://github.com/kubeflow/website/pull/2451#issuecomment-781601413
The bundled cert-manager IS compatible with K8s < 1.16

[2021-03-23 13:55] #1705 closed

[2021-03-23 13:57] yanniszark commented on #1710
Superceded by:
https://github.com/kubeflow/manifests/issues/1735

[2021-03-23 13:57] #1710 closed

[2021-03-23 13:58] yanniszark commented on #1668
This is the responsibility of each separate WG. Closing this issue...

[2021-03-23 13:58] #1668 closed

[2021-03-23 13:59] yanniszark commented on #1667
We have updated Istio to 1.9.0 for 1.3.
We have also removed the wrong manifests that caused this issue.

[2021-03-23 13:59] #1667 closed

[2021-03-23 13:59] hemantha-kumara commented on #1728
https://github.com/kubeflow/xgboost-operator/blob/master/manifests/base/kustomization.yaml
[code]

the above docker is having changes to work with xgboost crd version v1 but  the crd present in the URL https://github.com/kubeflow/xgboost-operator/blob/master/manifests/base/crd.yaml is having v1alpha1

[2021-03-23 14:00] yanniszark commented on #1666
Fixed in https://github.com/kubeflow/kfserving/pull/1239

[2021-03-23 14:00] #1666 closed

[2021-03-23 14:01] yanniszark commented on #1649
Now that we've:
- Moved manifest development back to upstream repos: https://github.com/kubeflow/manifests/issues/1740
- Consolidated multiple manifests versions into one: https://github.com/kubeflow/manifests/issues/1769

there should be no issue with the `base` and `base_v3` kustomizations going out of sync.

[2021-03-23 14:01] #1649 closed

[2021-03-23 14:02] yanniszark commented on #1613
I believe we've removed e2e tests, so closing...

[2021-03-23 14:02] #1613 closed

[2021-03-23 14:05] hemantha-kumara commented on #1728
Changing the docker version to `gcr.io/kubeflow-images-public/xgboost-operator:v0.1.0` should solve the issue. But this is only a workaround not the fix for the issues present in the xgboost-operator repo
https://github.com/kubeflow/xgboost-operator/issues/108
https://github.com/kubeflow/xgboost-operator/issues/92

[2021-03-23 14:07] yanniszark commented on #1728
@hemantha-kumara I opened an issue in the xgboost-controller repo, since it;s their issue.
Let's continue there: https://github.com/kubeflow/xgboost-operator/issues/115

[2021-03-23 14:07] #1728 closed

[2021-03-23 15:11] pvaneck commented on #1775
For KFServing, can sync with the latest commit on this branch: https://github.com/kubeflow/kfserving/tree/release-0.5 (https://github.com/kubeflow/kfserving/commit/e189a510121c09f764f749143b80f6ee6baaf48b).

[2021-03-23 15:32] PatrickXYS commented on #1775
For tf-operator, we can use latest commit `f564bce4ac856d347ef1e3f8b131d10740d54972` (https://github.com/kubeflow/tf-operator/commit/f564bce4ac856d347ef1e3f8b131d10740d54972)

[2021-03-23 16:08] DavidSpek commented on #1705
@yanniszark Can cert-manager be updated in the manifests? Using version 0.11 instead of 1.2 seems a bit extreme.

[2021-03-23 16:27] Dimiftb commented on #974
Hi @tomalbrecht,

I thought I'd write back to share how my situation resolved in case it helps someone else.

In the end it turned out that the loadBalancer was working correctly and the dashboard and the nginx test service were accessible when I was connected to the network of my company. However, I still couldn't access them from my own machine at home.
I managed to isolate the issue to being un

[2021-03-23 20:57] DavidSpek commented on #1766
Sorry for the late response, GitHub notifications were a bit hectic and I missed this one. Sounds good to me.

/close

[2021-03-23 20:57] #1766 closed

[2021-03-24 04:21] thesuperzapper commented on #1777
@yanniszark

Can we change the description of Step 6 to say: "freeze on `v1.3-branch` in `kubeflow/manifests`"

Also can we add the following dates to the description to help people see

Step 1+2: __Wednesday, EOD, 2021-03-24 [Pacific Time]__
Step 3+4+5: __Monday, EOD 2021-03-29 [Pacific Time]__
Step 6: __Tuesday, EOD 2021-04-06 [Pacific Time]__

[2021-03-24 06:13] Jeffwan commented on #1775
em. I doubt we want to use master commit in official release. Let's have another check if we want to cut a tag and use it in release.

[2021-03-24 06:49] ChanYiLin commented on #1775
@Jeffwan tf-operator's  e2e tests has covered almost every use case, if the commit can pass the case, then I believe we can use the one.

[2021-03-24 10:09] DavidSpek commented on #1775
@yanniszark It seems like you are missing some of the things from the `kubeflow/kubeflow` repo.

Application | Manifests Path | Upstream Path | Upstream Repo | Revision
-- | -- | -- | -- | --
Volumes Web App | **Missing** | components/crud-web-apps/volumes/manifests | https://github.com/kubeflow/kubeflow |  
Tensorboards Web App | **Missing** | components/crud-web-apps/tensorboards/manifests | htt

[2021-03-24 15:53] yanniszark commented on #1775
@DavidSpek thanks! Including them now...

[2021-03-24 18:22] yanniszark commented on #1775
Thanks @DavidSpek, I included the components.
An update on this, Jiaxin will coordinate with @kubeflow/wg-training-leads and provide revisions for the training operators.

[2021-03-25 00:20] Jeffwan commented on #1775
Double check with Yao and seem we don't necessary to use tag here since it is for manifest sync. We just need to make image tag in that commit correct. Agree to use commit directly

[2021-03-25 00:28] Jeffwan commented on #1775
@kubeflow/wg-training-leads Hi team, I give manifest or tag id for all training operators. Please have a check.
For Tf and MPI, I just attach latest master commit. This doesn't mean we will release latest master in v1.3.  For rest of the repos and I did some test and cut a new release.

It means the image tag we defined in manifest in that commit will be deployed in v1.3. For example.

https://git

[2021-03-25 00:33] Jeffwan commented on #1777
https://github.com/kubeflow/xgboost-operator/issues/115 has been addressed. I mark it as done

[2021-03-25 14:15] asahnovskiy opened #1781 "How to update kubeflow from 1.0.2 to 1.2.0?"
Are any docs/tutorials on how to update kubeflow without losing data for Minio and MySql?

[2021-03-26 08:13] anthonyvk commented on #959
https://github.com/istio/istio/issues/24746

Setting value to this worked for me :

jwtPolicy: first-party-jwt

[2021-03-27 09:52] thesuperzapper commented on #1715
@yanniszark  agree with removal, but since its the responsibility of component owners to do this, we should do a quick run through before the 1.3 release to check everyone has removed them

[2021-03-29 03:30] Bobgy commented on #1777
FYI, I think we should add @yanniszark as a member of release-team at the start of the release process: https://github.com/kubeflow/internal-acls/pull/441, so that he would be able to cut releases easily without my help.

[2021-03-29 09:24] Bobgy commented on #1707
It should be, but we haven't finished verifying it in distribution, because we were blocked on profile controller.

/assign @zijianjoy
Is working on verification

[2021-03-31 10:59] thesuperzapper commented on #1777
@yanniszark @kubeflow/wg-manifests-leads just wanted to highlight a MUCH easier (and more sustainable) option than copying all the upstream manifests into `kubeflow/manifests`!

In Kustomize, you can directly reference the upstream repo, at a specific version tag.

For example, referencing `crud-web-apps` in `kubeflow/kubeflow`:
[code]

Should save lots of time/effort!

[2021-03-31 11:00] DavidSpek commented on #1777
@yanniszark Just wanted to let you know that you don't actually need to copy all the upstream manifests into this repo. It is much more user friendly to just reference them. This way, users don't need to dig through the entire mountain of manifests to change what they need, and all they have is a single simple file that they can add their own customizations to (for some common settings people want

[2021-04-01 11:50] connorlwilkes commented on #1777
I seem to recall previously this was impossible due to the fact that folders had bases 'above' them in the directory tree which I don't recall kustomize liking. Not sure at a cursory glance that this is fixed here either?

[2021-04-01 12:02] thesuperzapper commented on #1777
@connorlwilkes nah, thats just because some Kubeflow manifest need the `--load_restrictor none` flag.

We should probably design the manifest to not need this flag @yanniszark?

[2021-04-01 12:05] DavidSpek commented on #1777
@thesuperzapper Actually, only very few manifests need the `--load_restrictor` flag. From what I've seen so far only the Katib manifests need this (and the KNative manifests because the file references were accidentally not removed, see: https://github.com/kubeflow/manifests/pull/1784).

[2021-04-01 12:33] connorlwilkes commented on #1777
But when I have the following kustomization.yaml:

[code]

and I run:
`kustomize build --load_restrictor=none .`

I get the following error relating to 'security issues' which I believe load_restrictor is supposed to ignore:

[code]

[2021-04-01 12:38] DavidSpek commented on #1777
@connorlwilkes Try `--load-restrictor=LoadRestrictionsNone` instead.

[2021-04-01 12:41] connorlwilkes commented on #1777
I am using kustomize version 3.10 FYI. With: `kustomize build --load_restrictor=LoadRestrictionsNone .` I get the same error

[2021-04-01 13:13] yanniszark commented on #1777
@thesuperzapper @DavidSpek @connorlwilkes thanks a lot for the discussion and the suggestions for improvement.
I would love to take a look after we have made the release. Since this is the release tracking issue, could you open a new issue(s) to track the potential improvements?
We can continue the discussion(s) there.

[2021-04-01 13:16] DavidSpek commented on #1777
@yanniszark Once I get a bit further with my work on the manifests I'll create a new issue. I'll also ping you about some other things I've found on slack.

[2021-04-02 16:29] zijianjoy opened #1791 "gcp: Remove distribution/gcp folder from kubeflow/manifest"
We need to move the distribution/gcp folder to `kubeflow/gcp-blueprint`, so this `kubeflow/manifests` only contain the platform-agnostic content of each app.

[2021-04-02 20:25] #1775 closed

[2021-04-02 20:25] #1776 closed

[2021-04-04 10:43] Bobgy commented on #1707
With manifest rc0 cut, we can mark this as closed.

[2021-04-04 10:43] #1707 closed

[2021-04-05 08:05] munagekar opened #1796 "Bundling of Istio & Cert-manager with Kubeflow Manifests"
Kubeflow Manifests should NOT bundle Istio & Cert-Manager, instead these could be listed as dependencies along with recommended versions. Both these applications are distributed as helm charts and can be installed independently.

Installation of Kubeflow on existing clusters is difficult if istio & cert-manager already exist. This would also make it possible to upgrade istio & cert-manager indepen

[2021-04-05 14:48] yanniszark commented on #1796
Hi @munagekar! We have detailed instructions on how to install each Kubeflow component and common service here:
https://github.com/kubeflow/manifests#install-individual-components
If you want to customize your installation, skip the components (e.g., Istio) you don't want and install your own.

[2021-04-05 17:32] zijianjoy opened #1797 "Upgrade to use Kustomize v4+"
From the README of kubeflow/manifests: https://github.com/kubeflow/manifests#prerequisites, it is a prerequisite to use Kustomize `v3.2.0` for building resources. However, Kustomize v4+ is available. Can we upgrade prerequisite to use new version of Kustomize?

One thing that needs to be changed is that: flag name `load_restrictor` is changed in Kustomize v4+, we need to make the following updates

[2021-04-05 18:22] yanniszark commented on #1797
@zijianjoy thanks a lot for opening this issue to switch our target version to latest Kustomize v4.
This was not in our plan for 1.3.0, the reason being that we didn't want to change too many things together.
But it can very well be in our plans for the point release or 1.4. Let's use this issue to track the effort.

[2021-04-05 18:39] #1791 closed

[2021-04-05 19:30] yanniszark opened #1798 "Distributions: Readiness for 1.3 Kubeflow Release"
### Problem Statement

We have a 6 step plan for releasing Kubeflow 1.3: https://github.com/kubeflow/manifests/issues/1777
This issue is for the 6th step: distributions use instructions from wg-manifests for how to use kustomizations and create distributions for 1.3.

| Distribution | Owners | Readiness for 1.3 |
| - | - | - |
| Arrikto EKF | @kubeflow/arrikto | ✔️  |
| Arrikto MiniKF | @kubeflow/

[2021-04-05 20:05] DavidSpek commented on #1798
Guess you can add Kubeflow On-Prem/ArgoFlow/Argo CD to this list with https://github.com/kubeflow-onprem/ArgoFlow and status Ready.
/cc @jtfogarty @tbaums @RFMVasconcelos

[2021-04-05 20:25] nakfour commented on #1798
@yanniszark we plan to update the Openshift distribution, however not sure if one week will be enough, it will depend on the issues we run into.

[2021-04-05 21:20] matty1979 opened #1799 "Error on Kustomize Build"
Trying to run these as normal kustomize files using the example

[code]

Unable to build or run.
However, if I go individually file by file, like

[code]
It works correctly and I have a working kubeflow, installed on my EKS Cluster.

[2021-04-05 23:52] subramaniankarthik opened #1801 "Unable to prevent installing of PyTorch Operator , MXNET and Seldon during kubeflow install locally"
I am trying to install kubeflow 1.2.0 locally and I just want tf-operator to be installed in my kubernetes cluster. For some reason, PyTorch, MXNET, Seldon all get installed. I am not sure how to solve this problem of just having a subset of services installed. Any help is appreciated.

My manifest file is as below

apiVersion: kfdef.apps.kubeflow.org/v1
kind: KfDef
metadata:
  annotations:
    kf

[2021-04-06 03:03] munagekar commented on #1796
@yanniszark Thank you for your response. I tried this out with Kubeflow 1.2 and it didn't work. I will try this out with Kubeflow 1.3.

[2021-04-06 03:03] #1796 closed

[2021-04-06 12:12] RFMVasconcelos commented on #1798
Hi Yannis,

Thank you for leading this so effectively :)

For reference, I am only a small part of the Canonical team, @knkski @evilnick and @DomFleischmann are the stars :) I will create @kubeflow/canonical next week for simplicity in the future.

[2021-04-06 14:42] yanniszark commented on #1798
@DavidSpek sounds awesome! I'd love to include the Argoflow distribution, but I want to ask first. Distributions are usually backed by vendors, who have a commercial interest in supporting and maintaining them. This ensures a good user experience and sufficient support. Who will be the owners of Argoflow? Is Argoflow something that its owners plan to maintain and support throughout the release and

[2021-04-06 15:10] DavidSpek commented on #1798
@yanniszark ArgoFlow is just using the upstream manifests (sometimes with a fix I have implemented), so the maintenance is all in the upstream manifests and Argo CD itself working. Basically, it is automating and simplifying the steps from the README in this repository. I don't think a distribution needs to be backed by a vendor, there can also be a community distribution. Having a commercial vend

[2021-04-06 18:31] HassanOuda opened #1803 "Unable to log in to Dex with kubeflow 1.3"
I have been trying to install Kubeflow 1.3 manifests with all of common/apps using example kustomization provided. Everything was installed successfully and all pods are running. Whenever I port forward the istio ingressgateway, I get this error in the browser:

Bad Request
Invalid client_id ("kubeflow-oidc-authservice").

Not sure what the issue is here. I checked that OIDC authservice does actua

[2021-04-06 18:43] nakfour commented on #1798
@yanniszark yes we are using the KF Operator for our KF distribution  in Open Data Hub on Openshift, we are interested in taking over Kubeflow Operator distribution, however not at the moment. Maybe we can discuss this after KF 1.3 is released.

[2021-04-06 18:44] HassanOuda commented on #1803
If I go back to using id and secret in the staticClients fields in the configmap, this issue goes away.

[2021-04-06 19:00] yanniszark commented on #1803
@HassanOuda did you try to install on a clean cluster?
It's the first time I am hearing of this issue, so I am wondering if perhaps your environment was not clean.
How did you end up resolving this issue?

[2021-04-06 19:17] DavidSpek commented on #1803
@HassanOuda You mentioned you went back to using `id and secret in the staticClients fields in the configmap`, how did you have it configured before that was causing the issues?

[2021-04-06 19:21] DavidSpek commented on #1801
@subramaniankarthik Personally I would recommend installing 1.3 as the installation is much simpler. You mentioned you are installing it locally. I just did a write up on how to install 1.3 locally using a Kind cluster and Argo CD which should be very easy to follow. The components you don't want to install you can just comment out in the [kustomization.yaml](https://github.com/kubeflow-onprem/Arg

[2021-04-06 19:27] DavidSpek commented on #1799
It looks like you are having issues with the cert-manager manifests specifically. Is that indeed the case? You could try the manifests I made that deploy cert-manager 1.2 rather than those in this repo that deploy 0.11. https://github.com/kubeflow-onprem/ArgoFlow/tree/master/cert-manager.

You should just be able to execute `kustomize build github.com/kubeflow-onprem/ArgoFlow/cert-manager | kubect

[2021-04-06 19:32] DavidSpek commented on #1797
I am using Kustomize v4.0.5 for https://github.com/kubeflow-onprem/ArgoFlow and everything works as expected. The `--load_restrictor` flag is also not necessary except for the Katib manifests, which should be fixed and I have a PR open for this already. For the Argo installation I am not using `load_restrictor` (for Katib I am using my fixed version of the manifests) so this can be seen as proof t

[2021-04-06 20:15] DavidSpek commented on #1798
@yanniszark I think it should be: Kubeflow with Argo CD. Also, status can be set to ready.

[2021-04-06 20:20] yanniszark commented on #1799
@matty1979 thanks for opening an issue. Can you give the commands you ran?
Checking out the latest release candidate (`v1.3.0-rc.0`) and running kustomize as per the README:
`kustomize build --load_restrictor=none example`
should work.

Did I misunderstand your problem? What commands are you running? Can you confirm your kustomize version is `3.2.0`?

[2021-04-06 20:28] DavidSpek commented on #1799
I think the issue might be not using the load restrictor flag and targeting https://github.com/kubeflow/manifests/tree/master/common/cert-manager/cert-manager/kubeflow-issuer which needs this flag. This folder seems useless and targeting https://github.com/kubeflow/manifests/blob/master/common/cert-manager/cert-manager/overlays/self-signed directly would remove the need for the load-restrictor fla

[2021-04-06 20:29] HassanOuda commented on #1803
No it wasn't a clean cluster, had kubeflow 1.2 installed before and I tried uninstalling it myself and installing 1.3. instead of using idEnv and secretEnv, I used id and secret and pointed it to a params.env like it was in 1.2 and it worked. When I have time later, i will test again and see why it gave me this error

[2021-04-07 02:20] berndverst commented on #1798
FYI OIDC Auth Service Manifest is broken. PR here: https://github.com/kubeflow/manifests/pull/1805

[2021-04-07 02:51] berndverst commented on #1797
This issue burns me over and over. I am used to installing the latest version of tools and I ran into this again trying to work out the latest

As far as I can tell 3.9.2+ are broken with Knative also:
`kustomize build --load_restrictor=none common/knative/knative-eventing-install/base`

errors with

[code]

The latest version that works for me is 3.9.1 or 3.8.10. I installed and tested about 20 d

[2021-04-07 02:56] berndverst commented on #1797
FYI @DavidSpek with 4.0.5 Knative is also broken as is:

[code]

[code]

@yanniszark
I really think this is a release blocking issue because neither the latest 3.X version nor any 4.X versions of kustomize work. On the one hand we are telling people that `kfdef` is no longer the recommend tool, instead use `kustomize`, on the other hand we don't support any modern versions of `kustomize`.

[2021-04-07 04:23] berndverst commented on #1797
@yanniszark with the PR to remove pointers from the Knative YAML everything seems to be working fine.

I can generate everything with v4.0.5 by running from the example folder you provided:
[code]

[2021-04-07 06:27] zijianjoy opened #1807 "[profile-controller] Move away from using namePrefix in kustomization"
Higher KF 1.3 distribution issue: https://github.com/kubeflow/manifests/issues/1798

Currently profile controller uses `profiles-` in its namePrefix to apply this prefix to all resources. See https://github.com/kubeflow/manifests/blob/master/apps/profiles/upstream/default/kustomization.yaml#L9.

It creates difficulty and confusion to downstream kustomization, because the downstream patches will ne

[2021-04-07 06:39] zijianjoy opened #1808 "[profile-controller] Debug profile controller crashing on GCP deployment"
Higher KF 1.3 distribution issue: https://github.com/kubeflow/manifests/issues/1798

Currently we are debugging an issue on GCP when profile controller attempt to set IAM policy to a profile, it will crash because of strange log.

## Error message

[code]

Summary: From the log, the crash happens when profile controller tries to set up IAM policy for profile. The core error is `panic: runtime erro

[2021-04-07 06:42] Bobgy commented on #1807
Shall we move this issue to kubeflow/kubeflow repo, because profile controller code is there?

but anyway, I feel namePrefix is generally bad, will manifest WG be interested in enforcing everyone to not use it.
/cc @kubeflow/wg-manifests-leads

[2021-04-07 06:56] DavidSpek commented on #1797
@berndverst You are correct. I had forgotten about this one but I had already created a PR to fix this in the KNative manifests 4 days ago.

https://github.com/kubeflow/manifests/pull/1795

Also, you don't need the `--load-restrictor LoadRestrictionsNone` flag so you shouldn't be using it as it disables a security check in kustomize.

[2021-04-07 08:52] DavidSpek commented on #1777
@yanniszark After discussing with @Bobgy it might be a blocking issue for the distributions to not include the new Jupyter Web App which allow for spawning VSCode and RStudio notebook servers due to the use of their respective logos. I'll be looking into a mitigation route for distributions to avoid potential problems here, but they will need to be notified about this.

@Bobgy Also suggested to br

[2021-04-07 09:11] DavidSpek commented on #1798
Cross-posting [my comment](https://github.com/kubeflow/manifests/issues/1777#issuecomment-814732240) here as well as it directly affects distributions.

@yanniszark After discussing with @Bobgy it might be a blocking issue for the distributions to not include the new Jupyter Web App which allow for spawning VSCode and RStudio notebook servers due to the use of their respective logos. I'll be looki

[2021-04-07 11:43] subramaniankarthik commented on #1801
@DavidSpek , thank you for the above suggestion. I have tried implementing the above solution and when I run kubectl apply kubeflow.yaml, it tells me that kubeflow was added to the argoproject , but I don't see a pod running in my namespace. Not sure if I am doing something wrong here

[2021-04-07 11:47] DavidSpek commented on #1801
@subramaniankarthik Could you open an issue on https://github.com/kubeflow-onprem/ArgoFlow so it can be tracked properly? The manifests working group is not related to that deployment so we shouldn't fill up their issues with problems related to that deployment.

[2021-04-07 12:02] yanniszark commented on #1781
@asahnovskiy I don't think we have any such guides. What distribution are you using?
Perhaps the people involved there will be interested to help you migrate.

[2021-04-07 12:43] subramaniankarthik commented on #1801
@DavidSpek , Perfect, I just opened an issue in the ArgoFlow repo along with my issue. Thanks much

[2021-04-07 14:35] matty1979 commented on #1799
I omitted the --load_restrictor=none because it just errored out so I just kept going to see what I could get to work.
Will try installing via argo and will go from there.

[2021-04-07 15:51] berndverst commented on #1797
@DavidSpek I noticed I apparently created 2 PRs that were dupes of yours when they were marked as dupes this morning *sigh*. At least we are getting those issues addressed now!

[2021-04-07 15:53] berndverst commented on #1797
@DavidSpek I found I needed the load restrictor flag for katib when I tried this yesterday. But I saw that this is also being addressed somewhere.

[2021-04-07 16:38] DavidSpek commented on #1797
@berndverst Indeed, Katig should be the only one. I am working with @andreyvelich to remove this requirement in https://github.com/kubeflow/katib/pull/1498.

On my branch with these fixes you can run:
`kustomize build github.com/davidspek/katib/manifests/v1beta1/installs/katib-with-kubeflow-cert-manager?ref=fix-manifests`
And it will build the manifests directly, no need to download them locally.

[2021-04-07 17:26] DavidSpek commented on #1799
@matty1979 Using kustomize and kubectl should work as this is what Argo CD essentially does as well, but it might be easier to manage and debug things with Argo CD (the UI is very powerful). If you need any help you can create an issue [here](https://github.com/kubeflow-onprem/ArgoFlow/issues) or send me a message on Slack and I'll be happy to help you get setup.

[2021-04-07 18:42] matty1979 commented on #1799
Utilizing Argo and the build and actually following instructions, I have it running except knative as it reads as degraded.
Still trying to figure out the ingress for AWS Certs etc, but as far as installation, following this fixes my original issue.

[2021-04-07 18:42] #1799 closed

[2021-04-07 19:23] DavidSpek commented on #1799
@matty1979 KNative it might be the autoscaler causing the app to be set to degraded.
If you click on the KNative application you can see which resources are degraded. You can the click on a resource to see things like events, logs, the deployed manifest, the diff if it is out of sync, etc.
If it indeed is the autoscaler, it just took a while for it to become ready on my cluster. Otherwise you can

[2021-04-07 21:26] nakfour opened #1810 "Unable to install cert-manager for KF 1.3"
while running the commands provided for cert-manager here : https://github.com/kubeflow/manifests#install-individual-components
I bumped into a couple of issues:
1. Both cert-manager and cert-manager-cainjector pods are trying to access resources in namespace kube-system. Looking at the deployment config for cert-manager, I see the ```leader-election-namespace=kube-system``` If Kubeflow installs c

[2021-04-07 21:27] nakfour commented on #1798
@yanniszark bumped into first issue here https://github.com/kubeflow/manifests/issues/1810

[2021-04-08 01:35] moficodes opened #1812 "Using external Auth (APPID) get 403 on notebook and tensorboard creation"
issue from kubeflow: https://github.com/kubeflow/kubeflow/issues/5803

The `APP_SECURE_COOKIES` is not set and is set [in code](https://github.com/kubeflow/kubeflow/blob/master/components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/settings.py#L3) to true by default.

This means until we setup https we wont be able to create notebook or tensorboard on non dex auth.

The error looks

[2021-04-08 04:31] Bobgy commented on #1798
kubeflow/kubeflow#5816 is a common inconvenience for us, I'd like to hear what others think about it.

[2021-04-08 04:44] Bobgy commented on #1797
I want to add another data point that sticking to kustomize 3.2.0 is not a good idea.

See https://github.com/kubernetes-sigs/kustomize/issues/1500#issuecomment-768454468, starting from kubectl release 1.21, it will come with kustomize v3.9. In not far future, people will be able to use a relatively new version of kustomize from kubectl. That can be an onboarding experience improvement if kubectl

[2021-04-08 04:49] Bobgy commented on #1797
@DavidSpek I want to remind you why we decided to use load restrictor none, read https://bit.ly/kf_kustomize_v3. It was introduced mainly because we want people to build reusable patches that people can compose, instead of relying on overlays (which is inheritance model and people cannot compose).

So far, I think https://kubectl.docs.kubernetes.io/guides/config_management/components/ is a feature

[2021-04-08 05:26] Bobgy commented on #1798
@yanniszark we identified root cause for https://github.com/kubeflow/kubeflow/issues/5813, it should affect any distribution using profile plugins -- GCP and AWS, therefore I think it's a blocking issue we need to resolve before the release.

[2021-04-08 07:18] asahnovskiy commented on #1781
@yanniszark I use kfctl_istio_dex.v1.0.2.yaml. Basically, I want to update to 1.2.0 with PV's from currently version 1.0.2 which are used, without losing data, if it is possible.

[2021-04-08 10:20] DavidSpek commented on #1810
@nakfour While this is a problem, the version of cert-manager in this repository is v0.11 while the latest is v1.2. I think you might be better off just installing cert-manager from the upstream manifests (I have a kustomize manifest for this [here](https://github.com/kubeflow-onprem/ArgoFlow/tree/master/cert-manager)).

@yanniszark I think this is the second issue related to cert-manager that I h

[2021-04-08 10:23] DavidSpek commented on #1812
@moficodes Yeah I was expecting a lot of people would run into this. For my distribution I fixed this problem by having the `kubeflow-self-signing-issuer` used by the components to create certificates for the istio ingress-gateway as well and defaulting to HTTPS.

@yanniszark Given that many people are going to run into this issue and most likely create a lot of issues, should I open up a PR for d

[2021-04-08 12:43] yanniszark commented on #1801
@subramaniankarthik I see that you are using Kubeflow 1.2.
I think you will have better luck following the 1.3 Release Candidate guide, which addresses installing each component individually:
https://github.com/kubeflow/manifests/tree/v1.3.0-rc.0#readme

[2021-04-08 12:43] yanniszark commented on #1803
@HassanOuda any updates on this?

[2021-04-08 13:05] HassanOuda commented on #1803
yea I was able to get it to work using original manifests on 1.3 rc. Ill close this.

[2021-04-08 13:05] #1803 closed

[2021-04-08 13:10] matty1979 commented on #1799
Will update with what I find. Already tore down cluster and building a smaller one using spot instances instead of running 24/7

[2021-04-08 13:11] DavidSpek commented on #1799
@matty1979 I forgot to mention that the autoscaler for KNative requires the metrics-server to be installed on the cluster as wel.

[2021-04-08 13:15] matty1979 commented on #1799
Interesting, that's only mentioned in the docs if installing via kind.

[2021-04-08 13:21] nakfour commented on #1810
@DavidSpek I am not sure an updated version of cert-manager will fix this, it might. The issue is with the namespace fields specified in this on the lines referring to kube-system namespace:  https://github.com/kubeflow/manifests/blob/master/common/cert-manager/cert-manager/base/deployment.yaml#L25
https://github.com/kubeflow/manifests/blob/master/common/cert-manager/cert-manager/base/deployment.y

[2021-04-08 13:47] yanniszark commented on #1810
@nakfour thanks for the report! I would like to understand how the environment you are deploying inside is causing cert-manager to fail. First of all, could you confirm that you have all of these three kustomizations installed, as mentioned in the install guide (https://github.com/kubeflow/manifests/tree/v1.3.0-rc.0#cert-manager):

[code]

I have already confirmed that installation to work inside

[2021-04-08 13:54] DavidSpek commented on #1797
@Bobgy I understand why the load-restrictor was useful, but currently only 1 component still needs it (and those manifests are better suited with overlays if you ask me). Indeed the components feature is something I ran into as well, but this cannot be used at this point because for some reason kustomize 3.2.1 is being used (the load restrictor can be using with newer version, and all the manifest

[2021-04-08 14:21] DavidSpek commented on #1799
Good catch, I'll add that to the README.

[2021-04-08 14:26] DavidSpek commented on #1777
@yanniszark There is a regression in the Jupyter Web App that needs fixing so this might be a blocker (fix should almost be ready though).

[2021-04-08 15:05] nakfour commented on #1810
@yanniszark yes my cluster is different, it is on Openshift that does not allow a service to query resources in another namespace and that is why we can see the issue of cert-manager installed on one namespace "cert-manager" and trying to use another namespace "kube-system". If the intention of KF is to install cert-manager in "cert-manager" namespace then this should be fixed. And yes all these K

[2021-04-08 15:15] DavidSpek commented on #1810
@nakfour Out of curiosity, does `kustomize build github.com/kubeflow-onprem/ArgoFlow/cert-manager | kubectl apply -f -` work for you on OpenShift?

[2021-04-08 15:30] nakfour commented on #1810
@yanniszark @DavidSpek changing those two lines to use "cert-manager" namespace did fix the issue. I can include the change to cert-manager deployment in the Openshift PR #1811 if the community is okay with this?

[2021-04-08 15:32] DavidSpek commented on #1810
@nakfour I believe the manifests for cert-manager in this repository were just grabbed from cert-manager upstream in October of 2019. I don't think it is advisable to edit the cert-manager manifests directly as that is how cert-manager 0.11 is expecting them to be. I think the solution is to update cert-manager, as the new manifests are stated to work with OpenShift out of the box.

[2021-04-08 16:00] moficodes commented on #1812
@DavidSpek thanks.

[2021-04-08 16:08] yanniszark commented on #1810
@nakfour thanks for the clarification. So you are saying that the cert-manager Pods can't create ConfigMaps in the kube-system namespace, even though there are RBAC rules allowing them to do so? In that case, I have a final question: Since cert-manager is the same as in previous Kubeflow releases, how did Openshift work in previous releases?

I'm not sure how this worked, since the cert-manager Po

[2021-04-08 16:18] DavidSpek commented on #1810
@yanniszark I think the solution is here obvious, and it is to update cert-manager. I also wonder why this was not done by the manifests working group in the past months as it only took me a maximum of 2 minutes to make the kustomize manifests for the latest version of cert-manager, and most of that time was waiting for the cert-manager website to load to get the deployment URL. I also brought up

[2021-04-08 16:39] nakfour commented on #1810
@yanniszark looking at the rbacs: https://github.com/kubeflow/manifests/blob/v1.2-branch/cert-manager/cert-manager/base/cluster-role.yaml
It does not include configmap resource, and the pods where trying to query configmaps in namespace "kube-system" . The only thing we did differently for KF 1.2 is add the "overlays/application/application.yaml" in our Kustomize, not sure if this made any changes

[2021-04-08 18:17] yanniszark commented on #1812
@moficodes @DavidSpek I see two distinct issues here:

- One for making changes to individual app settings.
- One for using a self-signed certificate by default.

Let me answer each one:

@moficodes to make changes to the default Tensorboard Web App (or other web app), you can use standard kustomize patches.
Here are some example:
https://kubectl.docs.kubernetes.io/references/kustomize/kustomizati

[2021-04-08 18:26] DavidSpek commented on #1812
@yanniszark I think you are making the assumption that everybody is exposing Kubeflow to the outside world. There is like a large group of people that will be used to using the NodePort directly or MetalLB in their on-prem/testing or homelab cluster while trying to setup Kubeflow. All these people will run into this issue, and will create issues because they run into this very problem.
Indeed, exp

[2021-04-08 21:16] subramaniankarthik commented on #1801
@yanniszark , Thanks yannis. Will kubeflow 1.3.0 work with AWS EKS?

[2021-04-08 23:24] Bobgy commented on #1797
Good point! Then I agree it's very useful fixing katib and let everyone stop using the flag, that makes manifest compatible between v3 and v4.

[2021-04-09 09:33] yanniszark commented on #1810
@DavidSpek this solution is not obvious to me. When an issue comes up, we should try to understand its cause. This is the first step we should take regardless of the solution. As for upgrading cert-manager, I will repeat here that since we are at the end of a release, we are only including bug fixes. I agree that a new cert-manager is a good addition, but I would not make it a release blocker unti

[2021-04-09 09:41] DavidSpek commented on #1810
@yanniszark This old version of cert-manager is probably extensively tested with older versions of Kubernetes, but not the latest releases. Furthermore, I find the choice to debug a severely outdated version of a third-party application quite interesting as issues with that application should be handled by the application developers, unless the manifests working group rather fork, fix and maintain

[2021-04-09 09:46] DavidSpek commented on #1812
So I guess the question becomes, is it better to have insecure cookies and HTTP by default and maintainers/users will need to dig through the manifests to fix this, or use secure cookies and HTTPS by default and maitainers/users just need to edit the certificate so it suites their needs. I think following industry best practice would be to have secure cookies and HTTPS as a default.

[2021-04-09 09:50] DavidSpek commented on #1797
@Bobgy For reference, here is the PR for updating the Katib manifests: https://github.com/kubeflow/katib/pull/1498.

[2021-04-09 14:44] nakfour commented on #1810
@yanniszark these are roles and not cluster roles, so they are bound to a namespace, and hence why cert-manager should not be allowed to access configmap resources in "kube-system" namespace.  https://github.com/kubeflow/manifests/blob/master/common/cert-manager/cert-manager-kube-system-resources/base/role.yaml#L3
Here is our cert-manager, which is exactly as the installation instructions https://

[2021-04-09 15:46] yanniszark commented on #1810
I think you are misunderstanding what I am saying. I said that we should understand the reason why our current cert-manager manifests are failing on this particular instance, when they are succeeding everywhere else. After we find that out, we can discuss on the best way forward.

I remember an issue about cert-manager failing in <1.16 installations, which turned out to be a misinterpretation of c

[2021-04-09 18:44] DavidSpek commented on #1798
The fix for the trademark issue described in my previous comment has been created in https://github.com/kubeflow/kubeflow/pull/5823.

[2021-04-09 19:13] nakfour commented on #1810
Thanks @yanniszark yes that made it work. However, I am still not clear that leader election has to happen in kube-system namespace. According to last comment in jetstack/cert-manager#1068 you can override the namespace where leader election happens. I just don't find it a good practice to install in one namespace and create all these resources for leader election in another. Either way we can clo

[2021-04-09 19:17] yanniszark commented on #1810
We should definitely keep this data point as an argument for upgrading cert-manager.

Sure! I think it would be better to track discussions in issues, since we use issues to track work items.
@DavidSpek do you want to open an issue for cert-manager? If not, I can do it as well.

Thanks @nakfour! Closing this issue then, as Openshift is unblocked on this front.

[2021-04-09 19:17] #1810 closed

[2021-04-09 20:07] DavidSpek commented on #1810
@yanniszark I can create another issue about cert-manager, but I would first like to coordinate merging https://github.com/kubeflow/kubeflow/pull/5823 quickly so we can close https://github.com/kubeflow/kubeflow/issues/5821 which is a bigger problem.

[2021-04-09 23:04] yanniszark commented on #1797
@berndverst we have merged all linked PRs necessary in order to use kustomize 4.0.5.
However, I have bumped into what seems a blocking issue in latest kustomize.
The latest kustomize version orders admission webhooks (Validating/MutatingWebhookConfiguration) last.
This means that the installation is now prone to the following race condition:

1. Pods are created before the istio injection webhook,

[2021-04-10 00:24] Bobgy commented on #1797
@yanniszark I think we should better break up installation to several steps to avoid the race condition in the first place. There is no guarantee how long each webhook server takes to start either.

[2021-04-10 01:14] Bobgy commented on #1798
Update for GCP, after resolving https://github.com/kubeflow/manifests/issues/1798#issuecomment-815437471, @zijianjoy and I got KFP and notebooks multi-user mode working on GCP. We are looking into other kubeflow applications.

[2021-04-10 10:11] DavidSpek commented on #1797
I've deployed the manifests manually with Kustomize 4.0.5 as well and have only run into the chicken & egg situation a few times and rerunning the command (instantly) like what is stated in the current instructions solved it.

@yanniszark It looks like there is an existing discussion about the ordering, see https://github.com/kubernetes-sigs/kustomize/issues/821. In particular [this](https://githu

[2021-04-10 16:14] zijianjoy opened #1833 "[KF 1.3] Istio cluster-local-gateway installation has error"
Highlevel tracking: https://github.com/kubeflow/manifests/issues/1798

In order to prepare for GCP distribution of Kubeflow 1.3, we need to make sure kfserving installation is working. Currently we haven't installed cluster-local-gateway in our deployment step, but it is needed based on documentation in [KFServing GCP/IAP Example](https://github.com/kubeflow/kfserving/tree/master/docs/samples/gcp-

[2021-04-11 00:39] Bobgy commented on #1833
@zijianjoy I previously investigated this problem in https://github.com/kubeflow/gcp-blueprints/issues/176#issuecomment-759235650.

I suggest moving this to kubeflow/gcp-blueprints repo, because cluster-local-gateway installation should be in istio-operator definition, so it will probably be Anthos Service Mesh specific.

[2021-04-12 09:16] karlschriek commented on #1798
@kubeflow/aws I would be happy to also test out the AWS distribution and help with any issues. This current code in https://github.com/kubeflow/manifests/tree/master/distributions/stacks/aws looks fairly old. Is there something more recent somewhere?

[2021-04-12 10:23] danishsamad commented on #1754
@pvaneck Any reason for not updating to ver 0.18 (or higher) instead of 0.17? There seem to be a few config options in 0.18 that may come in handy in case of serving.

[2021-04-12 11:53] yanniszark commented on #1797
True, but this is not a problem with the current single command installation right? Because if a webhook Pod is not up yet, then kubectl exits with non-zero code and is retried.

@DavidSpek you are referring to the scenario described by @Bobgy right? That is, trying to create an object while its registered webhook Service does not have any ready Pods yet.

In the scenario I described, I believe re

[2021-04-12 18:05] aaron-arellano opened #1834 "Enable DEX authz in Sidecar Proxy Instead of Ingress Gateway"
Hello Manifests. I am re-opening an issue based on this one from last year: [https://github.com/kubeflow/manifests/issues/1191]. We are still exploring how to configure the EnvoyFilter for DEX authentication to authenticate on kubeflow service sidecars instead of having the filter at the ingress gateway.

Like the previous issue we tried to re-explore Istio documentation but none of the recommenda

[2021-04-12 18:23] yanniszark commented on #1798
@kubeflow/cisco any update on the `kfctl_istio_k8s` distribution?

[2021-04-12 19:59] yanniszark commented on #1812
I agree that people will try to expose Kubeflow over HTTP with NodePort / LoadBalancer / Ingress. Because of that, we need to communicate to users what will happen in this case. In other words, we should amend the wg-manifests readme to tell users:
- You cannot expose Kubeflow web apps over HTTP using NodePort / LoadBalancer / Ingress, but only with port-forward. This is because our web apps use S

[2021-04-12 20:26] pvaneck commented on #1754
@danishsamad I was basing the selected release on the [Knative release principles](https://knative.dev/community/contributing/mechanics/release-versioning-principles/#knative-serving-version-table)  and the desire to ensure compatibility for K8s 1.16 and above since some users are still on 1.16. However once the PR is merged it should be easier for end users to integrate newer versions of Knative

[2021-04-12 21:07] DavidSpek commented on #1812
This causes a huge problem for anybody that does not use their local workstation to setup Kubeflow and moving cluster credentials from one machine to another is a problem due to enterprise security policies. Adding to this, NodePort is used for the default configuration of the Istio ingress-gateway. As such, people will expect to be able to access and use Kubeflow using the NodePort, if only for i

[2021-04-12 22:16] nicksettje opened #1835 "Kubeflow 1.2 oidc-authservice fails to start with self-signed CA cert"
This issue is similar to https://github.com/kubeflow/manifests/issues/1168 but that issue did not resolve the problem of the unknown CA authority.

I am deploying Kubeflow 1.2 on Digital Ocean Kubernetes and trying to enable HTTPS as described in the Kubeflow docs: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#secure-with-https

I deploy Kubeflow directly from https://raw.githubuserco

[2021-04-12 23:30] nicksettje commented on #1835
I should also probably share that I am running Kubernetes 1.20.2

[2021-04-13 05:12] moficodes opened #1837 "Istio Readme references file that does not exist"
https://github.com/kubeflow/manifests/blob/master/common/istio-1-9-0/README.md

split-istio-packages python script in the script folder. Where is this file exactly?

@yanniszark

[2021-04-13 07:23] DavidSpek commented on #1797
@Bobgy @yanniszark The PR to make Katib’s manifests not need the load-restrictor (and some other enhancements/optimizations) has just been merged: https://github.com/kubeflow/katib/pull/1498. It does still need to be picked into the current release branch. After this is done, the load-restrictor shouldn’t be needed for any of the Kubeflow manifests anymore and v3/v4 should both work without issue.

[2021-04-13 08:23] Bobgy commented on #1797
@yanniszark I think we are talking about the same problem, if istio sidecars are not injected, retry doesn't help.

So I suggest separating steps as necessary -- e.g. Istio setup should finish before anything may depend on it. It's ok to not separate steps for race conditions that can be resolved via retry.

[2021-04-13 11:40] DavidSpek commented on #1730
@tomalbrecht I just came across this issue by chance. I believe the Kustomize setup I created for my distribution is probably what you are looking for.
https://github.com/kubeflow-onprem/ArgoFlow/tree/master/metallb

[2021-04-13 11:51] DavidSpek commented on #1549
With the release of 1.3 and the use of bare Kustomize using Argo CD and referencing the upstream manifests directly (no need to copy them in your repo) has made the deployment and customization of Kubeflow a lot easier. I've created a distribution that I am maintaining. The TL;DR setup is as follows:

- fork the repo
- modify the kustomizations for your purpose
- run ./setup_repo.sh <your_repo_for

[2021-04-13 11:57] DavidSpek commented on #1234
@yanniszark It looks like upgrading cert-manager is a long running issue. Given that the 0.11 version of cert-manager is probably not validated on the versions most people are running, and the apparent incompatibility with OpenShift, it might be a good idea to update the manifests for cert-manager. [Here](https://github.com/kubeflow/manifests/pull/1820) is a PR for doing this, I've used this to de

[2021-04-13 11:57] yanniszark commented on #1797
@Bobgy for this:

We already have the step-by-step instructions. From the later message, I see that you are talking about just 2 steps, instead of a full step-by-step installation. This is definitely a possible workaround, but there might still be some webhook configurations that are skipped because of kustomize's new ordering, so we need to look into that carefully if we decide to go down this wa

[2021-04-13 12:01] yanniszark commented on #1837
@moficodes thanks, this is an error in the README. The script is inside the `istio-1-9-0` folder.

[2021-04-13 12:13] yanniszark commented on #1812
@DavidSpek thank you for your input. Let's move forward by providing clear documentation and then we can re-evaluate after the release, according to the feedback that we get.

[2021-04-13 12:13] DavidSpek commented on #1797
Just for reference, I've not seen this issue with the Istio sidecars not being injected and causing problems when deploying with Argo CD. I'm not sure if this is just luck, or if Argo CD is handling this is some way behind the scenes.

[2021-04-13 12:14] DavidSpek commented on #1812
@yanniszark Sounds like a good plan.

[2021-04-13 12:19] yanniszark commented on #1234
@DavidSpek thank you for the PR, upgrading cert-manager is something we definitely want to do after the 1.3 stable release.
At this point, we are at a feature-freeze, so no new features go in, only fixes. In Openshift's case, the issue was that a kustomization was applied to the wrong namespace and everything worked after fixing that mistake: https://github.com/kubeflow/manifests/issues/1810

Than

[2021-04-13 12:26] DavidSpek opened #1838 "Tracking issue: Update cert-manager manifests"
As requested in https://github.com/kubeflow/manifests/issues/1234#issuecomment-818690526 here is a tracking issue for updating the cert-manager manifests. The manifests for cert-manager are severely outdated, originating from October 2019 and being version 0.11. At the time of writing cert-manger 1.3 is the most current version. To avoid comparability problems and for maintainers to need to spend

[2021-04-13 13:24] connorlwilkes commented on #1797
Are manifests going to revert to referencing the 'upstream' manifests through URL's for the next release or is this planned for further in the future? This would drastically reduce the overhead of pulling in all the upstream manifests into this repository, it would simply be a link

[2021-04-13 13:44] DavidSpek commented on #1797
@yanniszark @connorlwilkes After the release I was also planning on starting this discussion. I think this will be particularly useful once I have Renovate properly configured for everything, as the only upkeep would then be merge auto-created PRs. Distributions would then simply for the repo and add their customizations to it, similarly to how people are using my Argo installation now. But indeed

[2021-04-13 14:54] moficodes commented on #1837
The `scripts/` threw me off. Found the file. Closing

[2021-04-13 14:54] #1837 closed

[2021-04-13 15:14] andreyvelich commented on #1798
From our side we will use the default Dex + OIDC installation for Kubeflow 1.3.
I think we can deprecate `kfctl_istio_k8s` and `kfctl_istio_dex`.
cc @ramdootp @amsaha

[2021-04-13 20:22] SoheilSalehian commented on #193
Hi @IronPan I am still getting this on GCP running from OSX, did you ever get a fix for this?

`{Version:kustomize/v4.0.5 GitCommit:9e8e7a7fe99ec9fbf801463e8607928322fc5245 BuildDate:2021-03-08T20:53:03Z GoOs:darwin GoArch:amd64}`

[2021-04-13 21:21] nakfour commented on #1798
For OCP we ran into this issue :https://github.com/kubeflow/kubeflow/issues/5803# , we have a workaround as described in the comment

[2021-04-13 21:34] DavidSpek commented on #1812
@yanniszark Another occurrence of somebody running into this problem while busy with setting up the OpenShift distribution: https://github.com/kubeflow/kubeflow/issues/5803#issuecomment-819062233

[2021-04-14 11:56] #1812 closed

[2021-04-14 12:13] yanniszark commented on #1735
All steps completed, closing issue.

[2021-04-14 12:13] #1735 closed

[2021-04-14 12:53] thesuperzapper opened #1842 "Add requirements to README"
Currently it's unclear what the contract is between this repo and users, I think a "requirements" section in the README would help users understand and use the manifests.

__The main versions we should list are:__
- Min/Max kubernetes Version
- Min/Max kustomize Version
- Min/Max Istio Version
- Min/Max Cert-Manager Version
- Min/Max Argo-Workflow Version

__We should also list any other "requirem

[2021-04-14 12:53] thesuperzapper commented on #1842
@kubeflow/wg-manifests-leads thoughts?

[2021-04-14 13:05] yanniszark commented on #1838
Thanks a lot for opening an issue to track @DavidSpek!

[2021-04-14 13:17] DavidSpek commented on #1797
@yanniszark I've just done a deployment with Argo CD on a fresh Equinix Metal cluster and Istio was failing to deploy as I hadn't set the necessary api-server flags. I see the following event with all the components related to the above conversation sidecar injection and their deployments are failing because of this, but after Istio comes up the deployments come up as well:

[code]

[2021-04-14 13:37] yanniszark commented on #1797
@DavidSpek thanks for the report. I don't think it's relevant to the issue described here (https://github.com/kubeflow/manifests/issues/1797#issuecomment-817017412) right?

[2021-04-14 14:27] titansmc commented on #1842
Hi,
Not sure if this is the right place to ask, but is the usage of a default StorageClass supported ?  I see the PVC have pending state because no StorageClass is being used.

[2021-04-14 15:02] yanniszark commented on #1797
@berndverst I wanted to ask, since you mentioned in your email that:

Did you successfully deploy with kustomize 4.0.5 with the 1-command install and check that the web apps all work? I would have expected you to bump into https://github.com/kubernetes-sigs/kustomize/issues/3794

[2021-04-14 15:22] DavidSpek commented on #1797
@yanniszark The `load_restrictor` flag should probably be removed from the README now that the Katib manifests PR has been merged.

[2021-04-14 15:24] yanniszark commented on #1797
Thanks! Want to create a quick PR? I can review/merge.

[2021-04-14 15:24] DavidSpek commented on #1797
@yanniszark Sure, I'll have it done in a moment.

[2021-04-14 21:26] nicksettje commented on #1835
I realized that the issue is that Kubeflow 1.2 (and 1.3 RC 0) come with the `authservice` Docker image with hash `28c59ef`. Upgrading to `2cb5bf6` made the above code work with HTTPS and self-signed certs

[2021-04-14 21:26] #1835 closed

[2021-04-15 06:08] DavidSpek commented on #1838
@yanniszark As mentioned in the the release channel on Slack, "KFserving requires certmanager to be version 0.12.0 or above". This means cert-manager should probably be upgrading.

[2021-04-15 12:15] yanniszark commented on #1842
@thesuperzapper thanks for opening an issue. Here are some thoughts:

We have validated on 1.17, but other versions should work as well.

We have validated on 3.2.0 and encountered problem moving to v4: https://github.com/kubeflow/manifests/issues/1797

We have validated 1.9.0 (included in manifests). For a range, I would delegate to each individual component.

We have validate 0.11. For a range,

[2021-04-15 13:03] thesuperzapper commented on #1842
@yanniszark While putting this information in this issue is nice, I think we need to add it to the README.

[2021-04-15 13:09] jhattingh opened #1845 "Issue with installing Kubeflow behind proxy"
Hi all,

I would appreciate some assistance. I've been trying to get Kubeflow running behind a proxy, following these steps:
https://www.kubeflow.org/docs/other-guides/kubeflow-behind-proxy/

Ultimately I run into the following issue below:

kfctl build -V -f kfctl_istio_dex.v1.1.0.yaml
INFO[0000] No name specified in KfDef.Metadata.Name; defaulting to kf1.1 based on location of config file: kfctl

[2021-04-15 13:40] yanniszark commented on #1842
Of course. Since you asked for some thoughts, I thought I would provide them :)
I will make a PR later today or tomorrow, if there are no more discussions here.

[2021-04-16 08:18] benjamintanweihao commented on #1549
@DavidSpek This is excellent! How would you _remove_ an application? For example, what would be the steps to remove Katib?

[2021-04-16 08:20] DavidSpek commented on #1549
@benjamintanweihao In https://github.com/argoflow/argoflow/blob/master/kustomization.yaml you would simply comment out Katib and KNative.

[2021-04-16 08:23] benjamintanweihao commented on #1549
Interesting! I tried commenting out Katib only, however it disappeared on the ArgoUI, but I could still see the pods and other Katib resources being deployed. Also, I was still able to access AutoML from the UI.

[2021-04-16 08:26] DavidSpek commented on #1549
@benjamintanweihao Seems like the deletion didn't propagate. If your on Slack I can help you get those deleted and removed the Katib entry from the central dashboard. It's not difficult but I don't want to hijack this issue.

[2021-04-16 08:30] DavidSpek commented on #1798
@yanniszark @PatrickXYS Seems like there is an issue with AwsIamForServiceAccount plugin for the profile controller. https://github.com/kubeflow/kubeflow/issues/5812

[2021-04-16 10:15] DavidSpek commented on #1834
@aaron-arellano Not sure if this is related, but I think you might find it interesting and it is a new feature for Istio 1.9. https://istio.io/latest/blog/2021/better-external-authz/

[2021-04-16 10:16] yanniszark commented on #1798
@DavidSpek I took a look at the issue and I believe it's a duplicate of https://github.com/kubeflow/kubeflow/issues/5813, which we have fixed.

[2021-04-16 13:40] nakfour commented on #1798
@yanniszark an update on OCP distribution, we are about 80% done, I dont think we will be done by Monday. I wanted to see if we can delay the KF 1.3 release since looks like most distributions on the list above are still not ready. If not, do we have a target date for KF 1.3.1 tag so we can have our code tagged?
Also for next release, I wonder if we can do like a two tier release, one for KF and o

[2021-04-16 17:22] RFMVasconcelos commented on #1798
[Green light] - Charmed Kubeflow distribution: We have no pending issues with the manifests and expect to release our distribution within our typical 2 weeks timeframe of upstream to distribution release. @knkski and @DomFleischmann are leading this. cc @yanniszark @castrojo

[2021-04-16 18:25] moficodes commented on #1798
@yanniszark For IBM release for IKS I am about 95% done. Just a couple of minor changes and clean up. Should be done in a few hours.

[2021-04-16 19:23] PatrickXYS commented on #1798
@yanniszark  From AWS side, we're pretty good, 90% done. Should be able to finish the PR by today or over the weekends.

[2021-04-16 21:02] aaron-arellano commented on #1834
We are not on Istio 1.9 atm, thanks for the suggestion but we want to maintain envoy filter (if possible) since this is solution community uses. I think something else should be published that shows how to enable kubeflow auth on services via sidecar.

[2021-04-16 21:04] DavidSpek commented on #1834
@aaron-arellano Kubeflow 1.3 which will be released in the coming week used Istio 1.9, so this will be what the community uses.

[2021-04-16 22:46] aaron-arellano commented on #1834
Our scenario has other services on our cluster and other teams. We don't want to hog auth for the entire ingress, just our kubeflow services. Again, I think it would be really helpful for the community to support authz on a sidecar instead of the entire ingress gateway or at least update documentation on how to achieve this. @DavidSpek, the document you linked still has the `Authorization Policy`

[2021-04-17 09:11] gecube commented on #1845
What I have done:
1. I run kfctl on the cluster with direct internet access
2. kfctl made the directory structure in `/opt/kubeflow` (including .cache catalogue etc.)
3. I copied this `/opt/kubeflow` catalogue to the machine behind proxy.
4. because all manifests are in place, you can safely run `kfctl apply -f ...` and it will install kubeflow components.
5. Also I was forced to rewrite the image

[2021-04-17 09:15] gecube commented on #1838
I checked and I was able to install cert-manager directly from official manifest:
[code]
I made it right before the installation of kubeflow.
But I found that in kubeflow manifest there is ClusterIssuer for KF in cert-manager component.
So we need to
1. disable `cert-manager-crds`, `cert-manager-kube-system-resources` and `cert-manager` components in KfDef file
2. manually create [ClusterIssuer fo

[2021-04-17 09:17] DavidSpek commented on #1838
@gecube If you look at my PR that is exactly what I am doing and includes the needed Kubeflow issuer.

[2021-04-17 09:26] gecube opened #1850 "Installation in air-gap environment"
Hello!

I was playing around the installation of Kubeflow in air-gap environment. I need it because of restrictions applied in our company. There is no possibility to use docker proxy registry to the docker hub, gcr.io and other registries with the source images.

What'd I like to see:

1. script for downloading all necessary images (like [rancher made for it's customers](https://rancher.com/docs/

[2021-04-17 09:48] gecube commented on #1234
I'd like to see the new cert-manager too. As I reported in #1838 I managed to got kube-flow with cert-manager 1.3.0 installation.

[2021-04-17 09:50] gecube commented on #1838
@DavidSpek thanks for you good work! I hope we will be able to use it and see it in upstream ASAP.

[2021-04-17 11:19] DavidSpek commented on #1838
@gecube If you want to use it you can execute `kustomize build  github.com/argoflow/argoflow/cert-manager | kubectl apply -f -`.

[2021-04-18 14:00] ashrafgt opened #1852 "repoRef paths in KfDef files are outdated"
I'm looking to install the components configured in this `KfDef`: https://github.com/kubeflow/manifests/blob/master/distributions/kfdef/kfctl_k8s_istio.yaml

But the `kustomizeConfig.repoRef.path` values do not match the contents of master.

[2021-04-19 01:36] Bobgy commented on #1798
@yanniszark I'm sending a PR to update KFP doc in manifests root README to resolve some confusions.
https://github.com/kubeflow/manifests/pull/1851

[2021-04-19 16:50] yanniszark commented on #1798
Thanks @Bobgy! I merged the README PR, thanks for taking the time to create that one.
For upgrading the kfp manifests to `1.5.0-rc.2`, I'd love to but I think we are too close to the release to do that. A lot of distributions would need to rebase and redo their testing, pushing the release further. I think we should put it in 1.3.1, along with other important changes like upgrading cert-manager an

[2021-04-19 21:08] raffaelespazzoli opened #1853 "[kubeflow v1.3.0-rc.1] cache server certificate secret not being created"
I'm trying installing kubeflow v1.3.0-rc.1 with the official manifests and it seems to me that the manifests for creating the certs for the cache-server are not present.
It is still hard to say for creating for sure as the kustomize composition is still very hard to follow. That said, thanks for having removed kfctl and kfdef.