[2020-02-17 01:02] rafaelbarreto87 commented on #911
Update: after chatting with @yanniszark in the Slack channel, I updated the dex image to the latest version (`quay.io/dexidp/dex:v2.22.0`) and it worked without a problem

Thanks @yanniszark.

[2020-02-17 01:23] holdenk commented on #122
This has been finished.
/close

[2020-02-17 01:23] #122 closed

[2020-02-17 01:59] rafaelbarreto87 opened #923 "istio 1.3.1 configuration not working properly in GKE node pools with GPUs"
/kind bug

**What steps did you take and what happened:**

GKE node pools with GPUs has the following taint: `nvidia.com/gpu=present:NoSchedule`. This prevents `istio-nodeagent` from running in the nodes, which in turns break `istio-proxy`.

Steps to reproduce:

1. Deploy Kubeflow to a GKE cluster with GPU node pool.
2. Try to create a notebook instance requesting a GPU.
3. Observe `istio_proxy` h

[2020-02-17 09:19] krishnadurai commented on #543
/reopen

@holdenk was this because the cert-manager pods were not ready to validate or mutate the ClusterIssuer setup by Kubeflow?
Another cause can be that the pods were ready, but the validation did not happen in spite of the pods being ready though the validation server isn't ready.

Could you please let us know?

[2020-02-17 09:33] yanniszark commented on #911
Glad to hear the issue is fixed 😄
/close

[2020-02-17 09:33] #911 closed

[2020-02-17 10:42] rafaelbarreto87 commented on #911
To be clear, the fix suggested by @yanniszark worked for me, but the issue is actually not fixed in the repository. Other folks in a similar situation will still have the same issue. We need to change it in the repo. I'll see if I submit a PR with the updated version.

[2020-02-17 12:07] yanniszark commented on #911
@rafaelbarreto87 are you sure?
I inspected the Dex manifests and it seems to me that the kustomization changes the image to a new, correct one:
https://github.com/kubeflow/manifests/blob/7809d996e965d45a75288faae053cad2180e4a79/dex-auth/dex-crds/base/kustomization.yaml#L81-L84

Still, we'd like to update the Dex image to an official one now that a release is available, so feel free to open a PR.

[2020-02-17 18:21] krishnadurai opened #924 "Create a separate IngressGateway for KFServing to disable Auth on gateway requests"
KNative probes currently are blocked because of authentication in Auth based Kubeflow setups as described in the following issues:
https://github.com/knative/serving/issues/6829
https://github.com/kubeflow/kfserving/issues/668

A viable temporary solution is to ensure KFServing has its own Ingress Gateway setup without auth.

/cc @yuzisun

[2020-02-17 18:22] krishnadurai commented on #924
/assign @krishnadurai

[2020-02-17 19:19] yuzisun commented on #924
thanks @krishnadurai !

[2020-02-17 19:28] yuzisun commented on #924
FYI this is the guide you can follow to create a separate istio ingress gateway which works with Knative
https://knative.dev/docs/serving/setting-up-custom-ingress-gateway/

[2020-02-17 19:48] krishnadurai commented on #923
/assign @krishnadurai

[2020-02-17 21:08] zhenghuiwang commented on #905
/lgtm

 The metadata part looks good. Do you plan to make it the default overlay for aws?

[2020-02-17 21:39] rafaelbarreto87 commented on #911
Oh. Interesting... I dig a bit and figured out what happened since I started from the latest manifests. Leaving it here since others might run into a similar issue. Since I'm in a private cluster, I had to move all the images to our private cluster. I changed the `dex` image in `kustomize/dex/base/deployment.yaml`, which was pointing to `quay.io/coreos/dex:v2.9.0`, to point to `gcr.io/{MY_PROJECT}

[2020-02-17 21:55] #905 closed

[2020-02-18 02:09] mockdone opened #925 "how to use local tar.gz"
repos:
  - name: manifests
    uri: https://github.com/kubeflow/manifests/archive/v1.0-branch.tar.gz
  version: v1.0.0

how could i use my local tar.gz?
i try to edit this tar.gz,but when i upload it to my gitee and replace this uri with my gitee uri,
i got this error
INFO[0000] Fetching https://mygitee/manifests-1.0-branch.tar.gz to ../.cache/manifests  filename="kfconfig

[2020-02-18 08:33] mockdone commented on #925
之前修改的是cache内的文件，每次apply都不生效；
通过修改缓存下的kustomize内的文件已解决，

[2020-02-18 08:33] #925 closed

[2020-02-19 03:54] mockdone opened #931 "jupyter notebook error"
V 1.0

2020-02-19 03:44:27,160 | kubeflow_jupyter.common.auth | WARNING | No user credentials were found! Make sure you have correctly set the USERID_HEADER in the Jupyter Web App's deployment.
10.16.1.65 - - [19/Feb/2020 03:44:27] "GET /api/namespaces/ddd/notebooks HTTP/1.1" 200 -

http://10.18.5.30/jupyter/api/namespaces/yanggang/notebooks
get:
{log: "User None is not authorized to list kubeflow

[2020-02-19 06:45] jamesthegiantpeach commented on #852
@holdenk ya thanks looks like someone just needs to merge that PR.

[2020-02-19 17:50] IronPan commented on #326
@yanniszark would there be any concrete issue even if there are two mysql pods created at same time in those edge cases, especially the PVC is what actually maintains the state? Do you mind elaborate a little bit?

This discussion is great to have. And just want to point out that, the in-cluster mysql just provides a demo level service guarantee and it's not intended for production. The single pod

[2020-02-19 17:55] IronPan commented on #326
Here is the reference
https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/gcp
https://github.com/e2fyi/kubeflow-aws/tree/master/pipelines

[2020-02-21 02:40] mockdone commented on #931
I solved it by myself

[2020-02-21 02:40] mockdone commented on #931
solved

[2020-02-21 02:40] #931 closed

[2020-02-21 13:34] jlewi commented on #806
Duplicate of #543

[2020-02-21 13:37] jlewi commented on #543
See: #806

It looks like this is a known issue with cert-manager taking a long time to start see:
jetstack/cert-manager#2537

In kfctl 1.0-rc.3 we introduced an increased timeout to try to fix this
https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.3

If you encounter this

1. Ensure using a kfctl newer than 1.0-rc.3 to pick up the increased timeout
1. You should be able to rerun kfctl apply a

[2020-02-23 07:15] Jeffwan opened #945 "AWS OIDC setting can not get email in user claim"
[code]

This is because of
https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/ingress/annotation/#auth-scope

We need to add following scope to override default setting.
[code]

This only affects OIDC setting but not Cognito.

[2020-02-23 07:16] Jeffwan commented on #945
/cc @PatrickXYS

[2020-02-24 03:23] Jeffwan opened #946 "loadBalancerScheme is not replaced in ingress annotation"
Platform: AWS
Branch: master

This is bug from https://github.com/kubeflow/manifests/pull/653,
`loadBalancerScheme` was introduced in the base manifest but there's no params.yaml for base and annotation doesn't get updated. no-auth `kfctl_aws.yaml` is affected.

[code]

[2020-02-24 03:23] Jeffwan commented on #946
/cc @PatrickXYS

[2020-02-25 00:49] xiaohanhuang commented on #543
I am using v1.0-rc.4. Rery kfctl apply didn't work.

[2020-02-25 09:45] krishnadurai commented on #599
/close

We'll create a separate issue for Dex plugin implementation.

[2020-02-25 09:46] #599 closed

[2020-02-25 23:14] #946 closed

[2020-02-26 01:27] amygdala commented on #806
I just hit this, doesn't seem like it's fixed. I'm using `CONFIG_URI=https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_gcp_iap.v1.0.0.yaml` & the `kfctl` for https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.4 (which is `kfctl v1.0-rc.3-1-g24b60e8`)

[2020-02-26 01:29] amygdala commented on #543
I just hit this issue again...
I'm using `CONFIG_URI=https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_gcp_iap.v1.0.0.yaml` & the `kfctl` for https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.4 (which is `kfctl v1.0-rc.3-1-g24b60e8`)

[2020-02-26 02:40] #945 closed

[2020-02-26 09:01] vovkanaz commented on #543
Existing cluster on Hetzner cloud without Loadbalancer...
WARN[0286] Encountered error applying application cert-manager:  (kubeflow.error): Code 500 with message: Apply.Run  Error error when creating "/tmp/kout088206345": Internal error occurred: failed calling webhook "webhook.cert-manager.io": the server is currently unable to handle the request  filename="kustomize/kustomize.go:202"

kfctl ver

[2020-02-26 10:43] krishnadurai commented on #543
@jlewi do we have the frequency of this failure using Spartakus data?

[2020-02-26 15:14] #671 closed

[2020-02-26 16:07] amygdala commented on #543
I'm wondering whether the GKE 'click to deploy' webapp would also be prone to hitting the same issue once it supports KF1, since a re-apply would not be so straightforward in that context.

[2020-02-26 18:26] jlewi commented on #897
@Ark-kun any interest in picking this up?

Some relevant links
https://github.com/kubeflow/pipelines/tree/master/backend/metadata_writer

[2020-02-26 18:45] jlewi commented on #774
@kunmingg has a PR illustrating how we could refactor each application to eliminate the need to combine patches additively.
https://github.com/kubeflow/manifests/pull/873

/cc @kkasravi

[2020-02-26 19:40] stomplee commented on #543
I encountered the exact same issue.  While using an EKS environment on AWS I get that same Code 500 as others have posted above and it goes away after a few retries and everything works.

However on an on-premise system which is air-gapped (meaning I had to go through the tedious process of changing the various YAML config files under the kustomize folder to point to a private repo) it seems the k

[2020-02-26 20:42] elikatsis commented on #897
@jlewi We first need to merge https://github.com/kubeflow/pipelines/pull/3108

[2020-02-26 23:13] duoduo-ai commented on #543
Tried v1.0 release, using https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.0.yaml on existing GKE cluster. Still failed.

[2020-02-27 05:37] krishnadurai commented on #543
@duoduo-ai did you have an older version of cert-manager installed in your cluster?

[2020-02-27 12:49] tomalbrecht opened #959 "MountVolume.SetUp failed for volume "istio-token" : failed to fetch token: the server could not find the requested resource"
Since several days I am not able to deploy kubeflow 1.0 on a clean microk8s install. The Istio-pods won't come up anymore. Can anyone help me with this issue?

## Steps to reproduce:

1. fresh microk8s install (1.14/1.15 produce the same results) as root (sudo): <br>
[code]
2. download kfctl (rc3/1.0.0 produce the same results) as root (sudo):<br>
[code]
3. wait and check - Istio containers won't

[2020-02-27 13:19] krishnadurai commented on #959
@tomalbrecht Seems like your micro-k8s hasn't added extra configurations in Kubernetes API configuration for enabling trustworthy JWT.

The documentation for kfctl-istio-dex.yaml states this in the section:
https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#before-you-start

Here's Istio's blog which will help you set up these API flags:
https://istio.io/blog/2019/trustworthy-jwt-sds/

[2020-02-27 13:40] tomalbrecht commented on #959
@krishnadurai Thanks for your help.

I am not sure if I understand this. I did not change my microk8s installation - I use the same stable Kubernetes 1.14 version (microk8s) since several weeks. Nor I was using an older version. What did change is the kubeflow.yaml. Shouldn't this be done by the kubeflow deployment if it needs it?

However, I tried to follow your mentioned blog entry. I don't have

[2020-02-27 14:14] krishnadurai commented on #959
@tomalbrecht
You might want to set values to these flags:
[code]
Refer: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection

In your`kube-api.yaml` config usually lies in `/etc/kubernetes/manifests/kube-apiserver.yaml`
[code]

Since this is a Kubernetes API server flag, it won't be set by Kubeflow's installer.

[2020-02-27 15:16] tomalbrecht commented on #959
@krishnadurai: Thanks again,  :-)

I must say, that I am a beginner in Kubernetes (still doing a course) and did not find a tutorial for changing these parameters. So thank you for your patience.

I found the right file: `/var/snap/microk8s/current/args/kube-apiserver` and edited it (messed it up to be exact). When I restart the server (`microk8s.stop`and `microk8s.start`) the api-server won't com

[2020-02-27 23:19] nepalineupane commented on #959
I am also wondering what should be the values to these flags? I see all pods under istio-system have their own service accounts on running -- kubectl get sa -n istio-system.

    --service-account-issuer
    --service-account-signing-key-file
    --service-account-api-audiences

[2020-02-27 23:50] nepalineupane commented on #959
@tomalbrecht, may be you can check if the following paths work for you.

- --service-account-signing-key-file=/etc/kubernetes/pki/sa.key
- --service-account-key-file=/etc/kubernetes/pki/sa.pub
- --service-account-issuer=api
- --service-account-api-audiences=api,vault,factors

[2020-02-28 00:57] nepalineupane commented on #959
@tomalbrecht, may be you can check if the following paths work for you.

--service-account-issuer=api
--service-account-signing-key-file=${SNAP_DATA}/certs/server.key
--service-account-api-audiences=api

FYI: https://github.com/linkerd/linkerd2/issues/3260

[2020-02-28 01:05] nepalineupane commented on #959
I am having similar problem after updating kubeflow 0.7 to kubeflow 1.0. I haven't been able to solve it yet. I still have istio pods stuck in ContainerCreating stage.

I went through this https://jpweber.io/blog/a-look-at-tokenrequest-api/ and change values accordingly, but its not working.

[2020-02-28 06:42] tomalbrecht commented on #959
@nepalineupane: Thank you! I'll try this out.

I got 1.0rc4 working about 6 days ago. The problems started the same time when they pinned the manifest to a specific version. Not sure yet, how to get the older version. As soon I figure it out, I'll test it.

https://github.com/kubeflow/manifests/commit/f56bb47d7dc5378497ad1e38ea99f7b5ebe7a950

[2020-02-28 08:21] tomalbrecht commented on #959
@nepalineupane @krishnadurai

**I  set values to these kube-apiserver flags according to your posts** https://github.com/kubeflow/manifests/issues/959#issuecomment-591992935) and (https://github.com/kubeflow/manifests/issues/959#issuecomment-592255738.

```sudo vi /var/snap/microk8s/current/args/kube-apiserver```

and added these configs

then i restarted the cluster:
[code]

after this I deployed

[2020-02-28 09:16] tomalbrecht commented on #959
Trying an older CONFIG_URI did not work out either.

```CONFIG_URI="https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_istio_dex.v1.0.0.yaml"```

[2020-02-28 13:48] tomalbrecht commented on #959
Old 0.7 kubeflow version with kfctl v0.7.1-2-g55f9b2a is deploying.

CONFIG_URI="https://raw.githubusercontent.com/kubeflow/manifests/e7e7145e9cf735fe2f529f59bb9a932d9ef3b02a/kfdef/kfctl_istio_dex.v1.0.0.yaml"

[2020-02-28 13:50] tomalbrecht commented on #959
Old 0.7.1 version does work (using kfctl v1.0-rc.3-1-g24b60e8) with a little workaround for deployment.

`CONFIG_URI=https://raw.githubusercontent.com/kubeflow/manifests/b37bad9eded2c47c54ce1150eb9e6edbfb47ceda/kfdef/kfctl_existing_arrikto.0.7.1.yaml`

[2020-02-28 17:42] eduardovelludo commented on #959
I'm having exactly the same problem.
My cluster is on EC2 and it was created using Kops. I'll try to use the old version like you suggested

[2020-02-28 19:32] vaskokj commented on #959
I've got a Kubespray deployment thats about a month old, 0.7.1 worked, 1.0.0 doesn't and gives this error.

[2020-02-28 21:21] nepalineupane commented on #959
Hope we can get inputs to make the newer version work.

[2020-02-29 12:07] xiezhw3 opened #968 "Fail to create notebook server: unable to fetch Notebook"
When i create notebook server in kubeflow web UI，the notebook status always loading:

![image](https://user-images.githubusercontent.com/4410143/75607013-bf569580-5b2d-11ea-9749-ba9f0294d57b.png)

Env:
[code]

Error of notebook-controller-deployment:
[code]

anonymous ns info:
[code]

kubeflow ns info:
[code]

Event of `statefulset.apps/mynotebook` in anonymous:

[code]

and i found out that env o

[2020-02-29 16:20] DanaHan commented on #959
Same Porblem. I also try microk8s 1.17 version. No luck. I also try to replace kfctl 0.7 version istio  yaml files into kfctl V1.0.0. All pods work well. But when I try to accesss dashboard. Jupyter web service and some other service can not load. So It seems that the  kfctl_istio_dex.v1.0.0.yaml has errors. Any help?

[2020-03-02 08:50] krishnadurai commented on #959
@tomalbrecht Here's some more help in configuring:

This is the configuration for my kubeadm installed on-premise cluster in the file `/etc/kubernetes/manifests/kube-apiserver.yaml`:

[code]

Note my settings for flags:

[code]

I'll try and get my hands on a micro-k8s server and see what these values can be for it.

[2020-03-02 14:03] DanaHan commented on #959
@krishnadurai Thanks for your relay.
I have compared the configure.
The following are difference:

--service-account-issuer=kubernetes.default.svc
--service-account-signing-key-file=${SNAP_DATA}/certs/server.key
--advertise-address=10.x.x.x
--allow-privileged=true
--enable-admission-plugins=NodeRestriction
--enable-bootstrap-token-auth=true
--insecure-port=0
--kubelet-preferred-address-types=Inter

[2020-03-02 16:27] tomalbrecht commented on #959
@krishnadurai: Thank you for https://github.com/kubeflow/manifests/issues/959#issuecomment-593289634. Maybe this hint did the job.

I've cleaned my environment, because I found lots of leftovers from former versions and deployments (e.g. /var/lib/cni/networks/cbr0 and fresh container.d and microk8s install with purged configuration).

After this I've added these two lines to /var/snap/microk8s/cur

[2020-03-02 21:14] vaskokj commented on #959
I'm simply trying to add the configuration settings to my `kube-apiserver.yaml` file. I haven't actually gotten to the point of trying kubeflow yet...(seeing the same problem as the OP). I'm not sure why yours is looking different but in my `kube-apiserver.yaml` which looks like the one in kubernetes https://github.com/kubernetes/kubernetes/blob/v1.15.3/test/fixtures/doc-yaml/admin/high-availabili

[2020-03-03 06:33] DanaHan commented on #959
It's right. These two lines is enough:
--service-account-signing-key-file=${SNAP_DATA}/certs/serviceaccount.key
--service-account-issuer=kubernetes.default.svc

[2020-03-03 06:36] krishnadurai commented on #959
Thanks for confirming @DanaHan. You can close this issue if you think you don't need further help.

[2020-03-03 06:51] tomalbrecht commented on #959
@krishnadurai Now every pod is running. The two lines fixed the problem. Thanks for your help @all

[2020-03-03 06:51] #959 closed

[2020-03-03 08:07] tomalbrecht opened #974 "unable to access kubeflow-dashboard from outside the cluster"
## Steps to reproduce

Setup kubeflow on microk8s as described here: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/ (and adjust istio configuration as described here:  https://github.com/kubeflow/manifests/issues/959)

When all pods came up, use port-forwarding to check the kubeflow dashboard as described here: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#accessing-kubefl

[2020-03-03 08:48] krishnadurai opened #975 "Dex Plugin for kfctl_istio_dex.yaml"
A Dex Plugin is required for kfctl_istio_dex.yaml configuration, to enable the following:

- Allowing us to specify static username and password through ENV variables supplied to kfctl.

- Allowing us to specify DOMAIN for kubeflow central dashboard end-point on which HTTPS certs can be issued on.

/assign

Related to #599

[2020-03-03 09:43] #800 closed

[2020-03-03 12:50] svilenvul opened #976 "Profiles deployment has missing port"
We have installed Kubeflow with the vanilla deployment configuration in the cluster and we have setup Istio routing to it with SDS. After this we got an error in the UI ("Unable to contact Profile Controller").

The access to the `profiles-kfam.kubeflow` service was blocked. I found out that there is no `ports` section in the profiles deployment. When I added the following snippet the problem was

[2020-03-03 15:52] yanniszark commented on #774
Adding another data point to this:

The kustomization structure of kubebuilder (multiple bases) is currently not compatible with kfctl.

[2020-03-04 21:21] Jeffwan opened #983 "Upgrade profile-controller version to v1.0.0-ge50a8531 in v1.0-branch"
AWS implements AwsIAMForServiceAccount profile plugin. in https://github.com/kubeflow/kubeflow/commit/e50a85314649216efcdca0f673adb4f25ea8994d.

CI already pick up this change and release new change. We want to roll out this version. https://github.com/kubeflow/kubeflow/pull/4751

![image](https://user-images.githubusercontent.com/4739316/75923909-ddb4dd80-5e1a-11ea-9467-618e6ae48e86.png)

e50a853

[2020-03-04 21:25] Jeffwan commented on #983
Seems there's auto PR https://github.com/kubeflow/manifests/pull/966 filed here.

[2020-03-04 21:40] Jeffwan opened #984 "Bump pipeline version to 0.2.5 in v1.0-branch"
Pipeline version in Kubeflow v1.0 is 0.2.0 which has been released for 2 months.
I suggest to bump the version to 0.2.5 in v1.0-branch as it contains some performance critical improvements.

Examples:
https://github.com/kubeflow/pipelines/issues/3165

/cc @richardsliu @Bobgy @Ark-kun

[2020-03-04 22:29] Jeffwan commented on #983
PR has been merged and I will close the issue

[2020-03-04 22:29] #983 closed

[2020-03-05 07:02] Bobgy commented on #984
Yep, I think we should do this. I'd like to know others' opinions too.

Related issues include https://github.com/kubeflow/kubeflow/issues/4829

[2020-03-05 13:02] zemarx commented on #931
@mockdone How did you solve it?

[2020-03-05 14:28] yanniszark commented on #375
@MnrGreg did you manage to deploy any of the Kubeflow configurations successfully on K8s 1.16?

[2020-03-05 21:37] MnrGreg commented on #375
@yanniszark yes, with `kfctl_k8s_istio.v1.0.0.yaml` we were able to create all CRDs and deployments on k8s 1.16.2

---
Kubernetes 1.16.2
containerd/cri
PhotonOS 3R2
nfs-client-provisioner v3.1.0-k8s1.11

[2020-03-06 11:13] saschagrunert commented on #375
Can confirm that, works on the latest k8s beta as well (1.18.0-beta.1)

[2020-03-06 15:01] Kyrremann commented on #543
Joining the bandwagon here, I can't get Kubeflow up and running because of the same error.
[code]
Using `https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_istio_dex.v1.0.0.yaml`.

Is webhook.cert-manager.io an external address? Cause then it is stopped by our proxy :/

[2020-03-06 15:11] krishnadurai commented on #543
@Kyrremann `webhook.cert-manager.io` is an internal address. This error occurs when the cert-manager webhook service is not ready to validate or mutate the Kubeflow ClusterIssuer.

[2020-03-06 15:16] Kyrremann commented on #543
@krishnadurai okay. It's up and running
[code]

But it logs a bit strange:
[code]

How is `webhook.cert-manager.io` defined internally?

[2020-03-06 15:57] krishnadurai commented on #543
`webhook.cert-manager.io` is the name of the validating-webhook:

https://github.com/kubeflow/manifests/blob/1a08ab94da1ba920bdc6d2ca2e62da478cca489a/cert-manager/cert-manager/base/validating-webhook-configuration.yaml#L10

[2020-03-06 21:22] swiftdiaries commented on #959
Added this to the docs website in PR:
https://github.com/kubeflow/website/pull/1779

[2020-03-06 21:25] swiftdiaries commented on #974
I think the `443` port is https traffic. The envoy filter for Dex is enabled for the http port at port 80.
Could you try port-forwarding to the istio-ingressgateway service at port 80?

[2020-03-06 23:46] Jeffwan commented on #984
Hi @Bobgy, Not sure any compatibility concerns to use 0.2.5 in v1.0-branch? I think the plan should be use 0.2.5 is master, run some manual tests and if cherry-pick back to v1.0-branch?

[2020-03-08 09:36] rafaelbarreto87 opened #988 "Update ml-pipeline-config ConfigMap to include GroupConcatMaxLen"
Some time ago, https://github.com/kubeflow/pipelines/issues/2310 (in which metrics were not showing up properly in KFP UI) has been fixed by https://github.com/kubeflow/pipelines/pull/2497. However, the needed configuration update didn't make to the manifests. Therefore, as of now, the issue still persists in Kubeflow deployment. We need to include DBConfig.GroupConcatMaxLen in the ml-pipeline api

[2020-03-09 11:00] Kyrremann commented on #543
Okay, I've been trying to dig some more, and I can't quite find out what is wrong. `cert-manager-webhook` is running, and it seems like it may be responding.

Any tips for where I can debug some more? I'm looking through the log for the api-server, but haven't found anything interesting yet.

We do have a proxy, maybe it's trying to communicate with something outside the cluster, and that is faili

[2020-03-09 11:28] tomalbrecht commented on #974
`kubectl port-forward -n istio-system service/istio-ingressgateway 8081:80 --address=0.0.0.0` does not work either. Same result. It takes around 5 seconds, then I get a blank page.

<img width="298" alt="Bildschirmfoto 2020-03-09 um 12 27 31" src="https://user-images.githubusercontent.com/17781570/76209133-6956b180-6201-11ea-82e5-8484cb5b55f7.png">

[2020-03-09 13:28] Kyrremann commented on #543
Adding some more debuging
`$ k describe apiservice v1beta1.webhook.cert-manager.io`
gives me this error
`failing or missing response from https://10.254.132.114:443/apis/webhook.cert-manager.io/v1beta1: bad status from https://10.254.132.114:443/apis/webhook.cert-manager.io/v1beta1: 403`

Which means that cert-manager is running, but the apiserver can't contact it.

[2020-03-09 16:29] xiaohanhuang commented on #968
Saw the same issue with latest deployment

[2020-03-09 23:23] Bobgy commented on #984
I don't think there are any compatibility issues, KFP has been backward compatible from 0.2.0 to 0.2.5

[2020-03-10 00:03] wildermuthn opened #991 "kf-serving gateway for v1.0.0 fails to build with kfctl"
https://github.com/kubeflow/manifests/pull/949 was recently merged into master for a `kf-serving gateway` that fixes `kf-serving` problems. However, `kfctl build` fails with the `gcp_iap_v1.0.0.yaml` due to the `v1.0.0` branch not also being updated with the PR. But It's possible I'm making a mistake here.

Any help is much appreciated, and I'm grateful for the work @krishnadurai has put into this

[2020-03-10 01:42] Jeffwan commented on #984
@Bobgy Cool, thanks for the confirmation. Kindly ping @Ark-kun @rmgogogo for their feedbacks

[2020-03-10 07:56] tomalbrecht commented on #974
Port seems to be reachable from the outside.
<img width="410" alt="image" src="https://user-images.githubusercontent.com/17781570/76291229-fb67c400-62ac-11ea-9760-ed797d56e75c.png">

[2020-03-11 07:18] tomalbrecht commented on #974
I setup an nginx to eliminate network and routing problems. nginix works as expected.
[code]
Right now for me it seems like the ingress-gateway is not working as expected.

[2020-03-11 07:27] Kyrremann commented on #375
This may be the wrong thread, but I'm trying to run Kubeflow on on-prem v1.16, and we're having trouble with the `cert-manager`. The webhook returns 403 when the  api-server tries to communicate with it.

[code]

I've made an issue over at https://github.com/jetstack/cert-manager/issues/2678.

[2020-03-11 11:22] jal06 commented on #991
Looks like I have the same problem with application kfserving-gateway
When applying kfctl_gcp_iap.v1.0.1.yaml :
`kfctl apply -V -f ${CONFIG_URI}`

I get this error :
Error: failed to build kfApp from URI https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_gcp_iap.v1.0.1.yaml: couldn't generate KfApp:  (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize:

[2020-03-11 12:17] krishnadurai commented on #991
@wildermuthn the current master branch of manifests has the new changes for KFServing's new gateway `kfserving-gateway`. Could you please use the master branch's kfdef instead?

@jal06 this fix lies in master branch of manifests. We haven't yet released it as a patch.

[2020-03-11 16:48] wildermuthn commented on #991
@krishnadurai I'm using the master branch, however, the kfdef manifest itself uses the v1 branch here:

https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_gcp_iap.v1.0.0.yaml#L425

This causes `kfctl` to pull from branch `v1` which does not include the definition for the gateway. If `master.yaml` is used, this also breaks since master uses KF .7.

[2020-03-11 19:08] Ark-kun commented on #897
/cc @dushyanthsc

[2020-03-11 19:46] krishnadurai commented on #991
@wildermuthn you could use this file instead, this file does not have a version pinned on it and works with manifests/master branch:

https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_gcp_iap.yaml#L425

[2020-03-12 12:10] tomalbrecht commented on #974
- Same behavior for v1.0.1.
- NodePort ist not accessible either

[2020-03-13 07:14] Lordfourteen commented on #991
I have the same problem when I use kfctl_k8s_istio.v1.0.1.yaml, It seems that released manifests-1.0.1.tar don't contain kfserving-gateway subfile directory. How can I fix it? Just add those file manualy?

[2020-03-13 10:50] NicholaiStaalung commented on #991
Tried installing with that file and i got this error:

I do have owner permissions. I even tried with the organization admin account.

this issue #3003 talks about it and i think it was closed to early as several people stated they have owner permissions and still exhibits the error

[2020-03-13 13:42] tomalbrecht commented on #974
Some additional information. When setting up the cluster with  microk8s v1.15 and Kubeflow 1.0.1 everything works as expected. I am able to connect to the ingress-gateway via Nodeport (Port 31380 for http and 31390 for https).

As soon as I reboot the Server, this way will break. I won't be able to connect via NodePort anymore, even the Service still seems to be a NodePort Service.

[2020-03-13 15:39] NicholaiStaalung commented on #991
I tested a new installation in a sandbox enviroment on GCP that i created which moved past the error i just had. The only difference that between the two enviroments is that i didnt create the production environment that im trying to install kubeflow on. So i guess its not only needed for one to be the project owner, but also the project creator (if there are such thing on GCP). Ill open a new iss

[2020-03-13 15:51] NicholaiStaalung opened #1004 "Not project creator: Code 400 with message: gcp apply could not update deployment manager Error could not update deployment manager entries; Updating kubeflow-storage error(400): BAD REQUEST"
I tried installing gcp_iap on GKE and got into the error in the headline.

My steps where:

Followed the official documentation but replaced CONFIG_URI with https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_gcp_iap.yaml

Other infomation:

Im the project owner on GCP as stated i should be in the documentation, but im not the project creator. I tried deploying in a new sandbox environme

[2020-03-13 16:16] dynofu opened #1005 "spark-operator (v1.0) failed to install sparkapplications CRD"
https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.v1.0.1.yaml

[code]

after kfctl apply, kubeflow installation seems successful but the crds of
[code]
are missing.  use
[code]
seems to have bring the crd back,

not sure if there is a race condition between these resources,
[code]
https://github.com/kubeflow/manifests/blob/master/spark/spark-operator/base/kustomization.yaml#L

[2020-03-13 16:27] dynofu opened #1006 "spark-operator (v1.0) failed to report application status"
https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.v1.0.1.yaml

[code]
after workaround #1005 , it seems to be working, but it looks like it does not report
`status.Application.state` thus even the spark application has succeeded, spark-operator has no idea of the status.

https://github.com/kubeflow/manifests/blob/master/spark/spark-operator/base/sparkapplications.sparkoperat

[2020-03-13 16:57] rehevkor5 opened #1007 "Can't compose generated Kustomizations - due to use of vars"
Due to the use of "vars" in the generated kustomizations, it's not possible to compose the generated kustomizations together in order to use `kubectl -k` to deploy the whole thing plus additional variant info like env-specific stuff. If you do, errors such as "var clusterDomain already encountered" and "error: found 2 resId matches for var {project ~G_v1_ConfigMap {data.project}} (unable to disamb

[2020-03-14 00:24] mehdiasefi opened #1008 "kfctl_k8s_istio.v1.0.0.yaml has 0.7.0 Application labels"
Bug: Seems like wrong application labeling. Instead of 1.0.0 results in 0.7.0 on GCP GKE cluster applications.

I installed kubeflow v1.0.0 using Kfctl and this manifest kfctl_k8s_istio.v1.0.0.yaml. When checking the Application on GKE cluster I see labels are as follows.

apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration

[2020-03-15 19:58] jlewi commented on #1007
Related issue: kubeflow/manifests/issues/774

[2020-03-15 20:03] jlewi commented on #1007
This is one of the disadvantages of vars as noted in: kubernetes-sigs/kustomize#2052

Our biggest use case for vars is for substituting namespace and clusterDomain into virtual services ([example](https://github.com/kubeflow/manifests/blob/4d8b1cb7e6340a69303ce59878fc29f6b3a71a72/jupyter/jupyter-web-app/overlays/istio/virtual-service.yaml#L22)). As suggested in kubernetes-sigs/kustomize#205 using

[2020-03-15 20:07] jlewi opened #1010 "jupyter web app config is defaulting to an old image"
The default is set here
https://github.com/kubeflow/manifests/blob/4d8b1cb7e6340a69303ce59878fc29f6b3a71a72/jupyter/jupyter-web-app/base/config-map.yaml#L24

To an old 0.7 image. It should probably be updated to one of the images listed in the configmap below.
e.g.

https://github.com/kubeflow/manifests/blob/4d8b1cb7e6340a69303ce59878fc29f6b3a71a72/jupyter/jupyter-web-app/base/config-map.yaml#L27

[2020-03-15 20:40] jlewi commented on #375
@Kyrremann yeah that looks like a different issue then this issue. If there is something specific to kubeflow regarding etstack/cert-manager#2678 then I would suggest opening a new issue.

[2020-03-15 21:46] jlewi commented on #317
This has been fixed.

We can now run make from ${MANIFEST_REPO}/tests

[2020-03-15 21:46] #317 closed

[2020-03-15 21:59] jlewi commented on #683
I wonder if this is because we don't have manifests/tests/go.mod;

Maybe if we run the following commands to create one

[code]

[2020-03-15 22:32] jlewi commented on #306
@krishnadurai any update on this? I think I'm going to need these changes to the test infra before I can start refactoring the manifests (e.g. kubeflow/manifests#962) to start removing some of the kfctl magic (#774)

[2020-03-16 00:14] jlewi commented on #306
I created a one off example of what this might look like here:
https://github.com/jlewi/manifests/blob/stacks/tests/jupyter/jupyter-web-app/base_v3/jupyter-jupyter-web-app-base_v3_test.go

Next steps would be

1. Update generate_tests.py to generate YAML files in appropriate directory by running `kustomize build -o`
1. Generate ${PACKAGE}_test.go files for all manifests

[2020-03-16 09:51] krishnadurai commented on #306
/assign

[2020-03-16 10:26] krishnadurai commented on #774
@jlewi @kunmingg

Changing the behaviour of kfctl will make kfdef incompatible across versions, with the change mentioned here:

https://github.com/kubeflow/manifests/pull/873#issue-371679100

Given that we are changing from Kubeflow implementation to be Kustomize friendly:

How are we thinking of being backwards compatible for:

Should we leave out overlays field for backwards compatibility?

[2020-03-16 14:12] jlewi commented on #306
@krishnadurai I think I almost have something working in https://github.com/jlewi/manifests/tree/stacks
which is ready for a PR.

* I've re-written generate.py to run kustomize build

  * https://github.com/jlewi/manifests/blob/stacks/hack/generate_tests.py

* I've created some new test utilities [test_util.go](https://github.com/jlewi/manifests/blob/stacks/tests/test_util.go)
  * To run the tests

[2020-03-16 14:47] jlewi opened #1012 "Presubmits are failing; workflow names are too long"
Here's a failing presubmit
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/1011/kubeflow-manifests-presubmit/1239560778768453632/

The workflow fails to be submitted

[code]

Not sure what changed.

[2020-03-16 15:01] krishnadurai commented on #306
@jlewi I was planning to pick this up and change https://github.com/kubeflow/manifests/blob/master/hack/gen-test-target.sh to a python script.
Though it seems that you have already made the changes splitting resources in an output directory with `kustomize build -o`, which was going to be what I was looking to contribute.

I'll be looking forward to reviewing your work when it is ready.

I'm fine

[2020-03-16 16:54] rehevkor5 commented on #1007
After renaming all vars to be unique across kustomizations, I am seeing now that the same problem exists with configMapGenerator, too. Multiple kustomizations declare a configMapGenerator called "parameters", but the content is different among all of them! I don't understand how this is supposed to work? How can Kubeflow generate the same resource twice, with different content, and still have a pr

[2020-03-16 17:41] jlewi commented on #1007
This is a bug in how our kustomize manifests are structured right now. The way our kustomize manifests are structured doesn't support composing the individual applications.

This works because the params configMapGenerator is doing client side (using kustomize) substitution of vars into manifests. So it doesn't depend on the config map being unique across applications.

There's ongoing work to cle

[2020-03-16 17:51] jlewi opened #1014 "unittests should test kustomizations"
Right now our unittests are basically running "kustomize build" and comparing that to some expected output.

We basically do this recursively for all "kustomization.yaml" files in the repo.

This isn't really effective. What we want to test with unittests is that various kustomizations generate the expected output. Examples of kustomizations we want to validate

* That patches are applied and gene

[2020-03-16 17:53] jlewi opened #1015 "unittests should validate Kubeflow patterns"
We should use unittests to ensure our Kubeflow manifests are adhering to Kubeflow conventions.

For example we should use unittests to validate things like

* Docker images are surfaces in kustomization.yaml
* Application resources have labels set to expected version labels
* "Stacks" (compositions of Kubeflow applications) contain the expected applications
   * e.g. we want to verify that if an a

[2020-03-16 18:36] jlewi commented on #1012
There are no results showing up in the testgrid
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-manifests-presubmit

Link to prow jobs:
https://prow.k8s.io/?repo=kubeflow%2Fmanifests&type=presubmit

[2020-03-16 18:39] jlewi commented on #1012
Successful presubmit from this morning
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/558/kubeflow-manifests-presubmit/1239560906409512960/

Workflows are
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-manifests-presubmit-unit-558-eacc5e3-2960-14f8?tab=workflow
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-manifest

[2020-03-16 19:35] jlewi commented on #818
Similarly, for most tests running an E2E test which actually deploys Kubeflow and verifies it works correctly is probably overkill for a blocking presubmit.

It should probably be sufficient to validate that the generate YAML resources match some expected YAML resources (See #1014).

Once we fix #1014 and have good validation that the generated and expected YAML matches we can probably stop deploy

[2020-03-16 23:28] kunmingg opened #1018 "Publish kfdef compatible on top of ASM cluster"
ASM: https://cloud.google.com/anthos/service-mesh
kubeflow should have kfdef that can be deployed on top of ASM cluster and maintain compatibility betwen kubeflow and ASM.

[2020-03-16 23:54] kunmingg opened #1019 "GCP resource config: publish CNRM resources"
We should publish CNRM resources config so GCP resources can be created through submitting CNRM config to KCC controller.
(Currently GCP resources are created through deploy manager configs)

[2020-03-17 04:08] Bobgy commented on #984
@Ark-kun @rmgogogo pinging again

[2020-03-17 04:44] Bobgy commented on #976
/assign @Bobgy
I will submit a PR for this

[2020-03-17 05:02] Bobgy commented on #976
Related istio issue: https://github.com/istio/istio/issues/15633

With current istio 1.1.6, we must add the port to let mTLS work with kfam, but if we upgrade istio, the requirement will be removed.

However, sounds like declaring the port to this deployment is anyway a good annotation, so I'm going to submit the PR now.

[2020-03-17 16:06] vpavlin opened #1022 "Seldon fails if KF is deployed to a custom namespace"
Kubeflow can be generally deployed to any namespace by specifying `metadata.namespace` in KFDef file.

The current version of Seldon fails though, since the `kubeflow` name is hardcoded in the `resource.yaml`.

e.g.
* https://github.com/kubeflow/manifests/blob/master/seldon/seldon-core-operator/base/resources.yaml#L3473-L3476
* https://github.com/kubeflow/manifests/blob/master/seldon/seldon-core-o

[2020-03-17 16:13] vpavlin commented on #1022
FYI these were my customizations: https://github.com/vpavlin/manifests/commit/a55a038a0cbad0044d845df2704e61929e1a525c

[2020-03-17 16:37] jlewi opened #1023 "Include Tekton in Kubeflow"
Should we include Tekton in Kubeflow distributions?

If we want to start using Tekton more broadly in Kubeflow (e.g. for container building kubeflow/fairing#454), then we will need to think about how we tell users to install it.

Installing Tekton onto an existing cluster is pretty straightforward.
https://github.com/tektoncd/pipeline/blob/master/docs/install.md#installing-tekton-pipelines-on-kube

[2020-03-17 17:40] tomalbrecht commented on #974
We were able to setup Kubeflow v1.0.1 with microk8s v1.15 and LoadBalancer. The Dashboard is available and working. Thus I am closing this issue.

We had no luck installing Kubeflow v1.0.0 nor v1.0.1 on microk8s v1.14.

Maybe the documentation could be updated. There are kubectl commands which should only work in kubernetes 1.15+.

[2020-03-17 17:40] #974 closed

[2020-03-17 18:35] jtfogarty commented on #1022
/area seldon
/priority p1

[2020-03-17 18:54] kunmingg opened #1024 "kubeflow on GCP: upgrade Istio to ASM"
Currently by default kubeflow use Istio 1.1.6 for service mesh.
On GCP we should use ASM which based on Istio 1.4+.
Benefits include:
* leverage new Istio APIs & features
* have a semi-managed service mesh experience

[2020-03-18 01:53] holdenk opened #1029 "kfserving-gateway wasn't included in the 1.0.1 tag but is in the YAML so install fails"
`Error:  (kubeflow.error): Code 500 with message: couldn't copy application kfserving-gateway`

[2020-03-19 03:33] jlewi commented on #774
Here's the doc:
http://bit.ly/kf_kustomize_v3

@krishnadurai
I don't think backwards compatibility is an issue.

For the example you give, what kfctl is doing is actually what kustomize would do.

Here's how I think of it:

[code]

With kfctl we defined a new package D with bases B and C. The way that was interpreted by kfctl was

[code]

We can express this in a kustomization.yaml

[code]

In fac

[2020-03-19 14:40] jlewi opened #1033 "Kustomize transformer to change image registries - to support image mirror"
We'd like to use kustomize to rewrite the registries of certain images. We currently do this with a custom logic in kfctl (see kubeflow/kfctl#3210).

A strawman would be to add a custom transformer that would take a kustomization.yaml like the following

[code]

When applied the transformer would then iterate over all K8s resources and apply the transformation to the image fields as necessary.

Th

[2020-03-19 14:56] jlewi commented on #1007
Anyone interested in exploring a custom transformer/plugin to replace virtual services?

Maybe take a look at the example replacement transformer
https://github.com/kubernetes-sigs/kustomize/blob/master/plugin/someteam.example.com/v1/replacementtransformer/ReplacementTransformer.go

[2020-03-19 15:02] jlewi commented on #1019
@kunmingg do we need this and #894 or should we mark one as a duplicate of the other? Otherwise lets clarify what the issues are tracking.

[2020-03-19 15:08] jlewi commented on #894
@kunmingg has started working on this and I hope we will ship a KCC configuration in the next release 1.1.

The motivation here is providing a strong security (data exfiltration) story for Kubeflow on GCP.

That requires setting a bunch of GKE settings (e.g. private GKE) and we'd like to publish reference manifests.

I would prefer not to continue to invest in deployment manager configs because it

[2020-03-19 19:02] jtfogarty commented on #1029
/priority p1

[2020-03-19 19:03] jtfogarty commented on #1023
/kind feature

[2020-03-19 21:20] jtfogarty commented on #1004
/area gcp
/priority p1

[2020-03-20 21:01] karlschriek opened #1035 "kfserving not included in AWS kfdef 1.0.1"
The most recent [kfdef for AWS](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_aws_cognito.v1.0.1.yaml) does not include KFServing (and also not prerequisites such as KNative). I'm not sure if there is a reason for this, but it would be nice if KFServing were rolled out along with the rest of the Kubeflow components.

@Jeffwan

[2020-03-20 21:03] kunmingg opened #1036 "kfdef on v1.0 branch broken"
`kfctl build https://github.com/kubeflow/manifests/blob/v1.0-branch/kfdef/kfctl_gcp_iap.v1.0.0.yaml`

throws error

`"failed to build kfApp from URI: couldn't generate KfApp:  (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize: kustomize generate failed Error:  (kubeflow.error): Code 500 with message: couldn't copy application kfserving-gateway","time":"2020-03-20T20:49:2

[2020-03-20 21:27] JeffersonH44 commented on #1004
Hello @NicholaiStaalung, you have to check inside deployment manager what is the error. In my case is that in the zone us-east1-b doesn't have k80's so I've change my zone, also you can change you cluster-kubeflow.yaml file to use other GPU

[2020-03-21 01:18] jlewi opened #1038 "Assertion of resources in unittests may not work for other platforms which use "\r\n" for line breaks."
See this comment:
https://github.com/kubeflow/manifests/pull/1016#discussion_r395629724

Here is the original code
https://github.com/kubeflow/manifests/blob/9e6ef8681003c195560fb7b3b75211830c19b7a0/tests/kusttestharness_test.go#L212

@krishnadurai thinks doing string comparison of the YAML will fail on platforms using "\r\n" for line breaks.

@krishnadurai suggests the fix

[code]

[2020-03-23 00:52] #683 closed

[2020-03-23 01:13] Jeffwan commented on #1035
@karlschriek

I will help add to default manifest.

[2020-03-23 01:13] Jeffwan commented on #1035
/assign @Jeffwan

[2020-03-23 17:03] animeshsingh commented on #375
@jlewi looks like based on thread, except for Seldon most of the components are running on 1.16 - is there some formalization for testing et all you are looking at?

[2020-03-23 17:07] cliveseldon commented on #375
@animeshsingh Seldon should run on 1.16

[2020-03-23 17:32] vpavlin commented on #375
Yeah, Seldon in master works fine on OpenShift 4.3 (K8S 1.16)

[2020-03-23 17:54] Jeffwan commented on #1035
I asked @PatrickXYS to pick up work. Thanks.

[2020-03-23 17:54] elikatsis commented on #984
This (important) issue is also resolved in KFP>0.2.0 (included in release 0.2.1): https://github.com/kubeflow/pipelines/issues/2764

[2020-03-23 21:02] Jeffwan commented on #1035
/assign @theofpa
Update: @theofpa will help on this issue

[2020-03-24 04:01] jlewi commented on #1036
@kunmingg Can we close this? Is it fixed by #1037?

[2020-03-24 04:04] jlewi opened #1043 "Why does application controller deployment have an environment variable for project?"
https://github.com/kubeflow/manifests/blob/a8d473a2431bd7afb88834f62751b021c4269817/application/application/base/stateful-set.yaml#L25

I suspect this isn't actually used and is a bug typo from when the manifest was created.

[2020-03-24 05:44] #976 closed

[2020-03-24 18:02] charlesparasa commented on #968
Go the same issue any update on this. Any work around

[2020-03-24 23:31] Bobgy opened #1048 "[Pipelines] Reuse KFP standalone manifests in kubeflow/manifests"
Part of https://github.com/kubeflow/manifests/issues/1062

Depends on http://bit.ly/kf_kustomize_v3

Above mentioned kustomize v3 plan will allow [Kubeflow Pipelines Standalone deployment manifests](https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize) get reused by Kubeflow.

Following OTS strategy:
* set up a bot that syncs kubeflow pipelines standalone manifest changes with a P

[2020-03-25 02:17] Bobgy commented on #984
I'd like to send a PR to update KFP to 0.3.0 instead, because we'd make sure kfp is not broken due to https://github.com/kubeflow/kfctl/pull/131.

KFP 0.3.0 included the fix: https://github.com/kubeflow/pipelines/pull/3305

[2020-03-25 03:37] jlewi commented on #1048
@Bobgy To complete http://bit.ly/kf_kustomize_v3 we will want a single kustomize package that installs all the pipeline applications. Should we base that off the manifest that's currently in kubeflow/manifests/pipelines or should we copy for the kfp standalone manifests?

[2020-03-25 03:42] Bobgy commented on #1048
@jlewi I think copying from kfp standalone manifests is better considering the long term goal.

No matter what, http://bit.ly/kf_kustomize_v3 has to be a big rewrite, so I think it will be cost efficient if we can do both at the same time.

[2020-03-25 03:46] jlewi opened #1052 "Cleanup/refactor manifests after v3 migration is done."
Follow on to #774

As described in http://bit.ly/kf_kustomize_v3  we wanted to overhaul the patterns used in our
kustomize manifests. This was a pretty big refactor so we decided to

* do this incrementally
* Preserve existing behavior
* Try to minimize duplication so we wouldn't have to maintain two sets of resources for every
   application

As a result, the layout of our kustomize packages is a

[2020-03-25 03:46] jlewi commented on #1052
/lifecycle frozen

[2020-03-25 03:46] Bobgy commented on #1048
Some parts of kfp standalone manifests may not be generic enough, I will also structure it using patterns introduced in http://bit.ly/kf_kustomize_v3 to get a good base.

May I ask what would be your rough timeline for kustomize v3 plan, will it be part of KF 1.1? My plan is pretty packed already until end of April, just heads up.

[2020-03-25 03:47] Bobgy commented on #1048
/cc @IronPan

[2020-03-25 03:54] jlewi commented on #306
#1016 has been merged so closing this.

[2020-03-25 03:54] #306 closed

[2020-03-25 07:26] Bobgy commented on #984
I didn't see this issue is about v1.0-branch. Actually I only intend to upgrade to 0.3.0 in master branch, because it was not as heavily tested as 0.2.5. I'd still recommend 0.2.5 for v1.0-branch.

[2020-03-25 07:29] Jeffwan commented on #984
We need to discuss whether we like to cut v1.1-branch. If it's coming soon, it's fine to leave v1.0-branch with existing version

[2020-03-25 07:32] Bobgy commented on #984
@Jeffwan Jeremey mentioned v1.1 is targeted for June, so looks like updating v1.0-branch will be the best option now.

[2020-03-26 22:30] Jeffwan opened #1057 "Is there a way to merge Override in configmap"
I would like to have separate overlays to configure object storage and mysql setting.
https://github.com/kubeflow/manifests/blob/master/pipeline/api-service/overlays/external-mysql/config-map.yaml

Is there's a way to merge configmap content from different overlays?

[2020-03-26 22:39] jlewi commented on #1057
You can do strategic patch merges on ConfigMaps but I think this does a strategic patch merge on the ConfigMap not the file contents. So the patch would have to completely override the file.

I think in kustomize you could define a custom plugin that would define a new type of patch that would apply a patch to the file contents.

[2020-03-26 22:44] Jeffwan commented on #1057
@jlewi Thanks for confirmation. Pipeline has many configurations and I notice it's not very good to override configmap because of this limitation. I will try to check if these pipeline code expose corresponding environment variable. That's straightforward in kustomize.

[2020-03-27 04:05] Bobgy commented on #1048
I can actually adjust my plan accordingly depending on timeline for this. This saves a lot of efforts for KFP and KF's integration.

[2020-03-27 06:17] Bobgy commented on #1048
/assign @Bobgy

[2020-03-27 14:56] #1010 closed

[2020-03-28 04:45] #988 closed

[2020-03-30 23:23] jlewi opened #1062 "Migrate all KFDefs to use Kustomize v3 patterns"
Ref: http://bit.ly/kf_kustomize_v3
        #744

KFDef patterns should follow kf_kustomize_v3 patterns. This means

1. Applications in KFDef should not use the overlays or parameters field
1. There should be an application named "kubeflow-apps" that is a kustomize package
1. Applications should fetch global paramaters from the configmap "kubeflow-config"
1. Applications should fetch application pa

[2020-03-30 23:24] jlewi opened #1063 "GCP KFDef's should follow kustomize v3 patterns"
Ref: http://bit.ly/kf_kustomize_v3
        #1062

GCP KFDef patterns should follow kf_kustomize_v3 patterns. See #1062 for more info.

[2020-03-30 23:25] jlewi commented on #1063
There is a prototype PR in #962.  It is being split up and merged as individual PRs.

[2020-03-31 00:18] jlewi commented on #375
@animeshsingh yes. We need CI. We should be able to look at one or more of our test grids and have confidence that everything is working.
https://k8s-testgrid.appspot.com/sig-big-data

This probably means we need to create a GKE deployment running on 1.16 and run our tests on that.

Alternatively, if we didn't want to use GKE someone would have to invest in CI for deploying some otherway; e.g. usi

[2020-03-31 00:48] jlewi commented on #1014
As part of the kustomize_v3 refactor we will need to refactor a lot of the kustomize packages.
Right now the way our tests are structured its not easy to verify that the refactor doesn't make any changes to the existing packages.

This is because we don't actually have kustomizations similar to the ones generated by kfctl.

It would be useful to start checking in kustomizations representative of t

[2020-03-31 16:59] yanniszark commented on #861
@devgrok I think I now understand what you mean.
The OIDC scopes are configurable with the OIDC_SCOPES envvar (see: https://github.com/kubeflow/manifests/blob/b3f5b41780a01845619884e638f4f6c9183d8fef/istio/oidc-authservice/base/statefulset.yaml#L36-L37)
We don't currently expose that as a var right now unfortunately :/
You can define your own overlay to patch it or expose it as a var in base.

[2020-03-31 18:57] kunmingg commented on #1019
https://github.com/kubeflow/manifests/tree/master/gcp/v2/cnrm

[2020-03-31 18:57] #1019 closed

[2020-03-31 18:58] kunmingg commented on #894
KCC config merged:
https://github.com/kubeflow/manifests/tree/master/gcp/v2/cnrm

[2020-03-31 18:58] #894 closed

[2020-03-31 19:22] kunmingg commented on #1018
fixed by https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_gcp_asm_exp.yaml

[2020-03-31 19:22] #1018 closed

[2020-04-02 15:31] adrian-plutoflume opened #1070 "No source available for istio-adapter"
We're using the AWS cognito setup and hit some issues with the istio-adapter.

More specifically this is using a docker image `seedjeffwan/istio-adapater` but there's no source code available for that (which is not great from a security perspective) but it's also hindering our ability to debug and fix issues ("Email is not verified false" - fixed it for one person, can't see why it's triggering fo

[2020-04-02 17:45] Jeffwan commented on #1070
@adrian-plutoflume sorry for inconvenience , we are in process of public the repo and move image to AWS dockerhub.

You have to make sure email is verified when you create Cognito user because we will use `email` to create a new header and this will be used in authorization.

[2020-04-02 17:45] Jeffwan commented on #1070
Let me public the repo in my personal github and you can debug on your own. This is a mixer adaptor and let me know if you have questions

[2020-04-02 17:46] Jeffwan commented on #1070
I just make it public. Check logic here https://github.com/Jeffwan/authzadaptor/blob/master/authzadaptor.go

[2020-04-03 08:04] adrian-plutoflume commented on #1070
Wow! That was super speedy :-)  Great to hear it's in process - I thought maybe it had just been missed (hence raising a ticket).

[2020-04-03 21:02] jlewi commented on #1070
Can we close this issue?

[2020-04-03 21:05] jlewi opened #1073 "PodDefaults Admission webhook should use cert-manager on GCP"
Right now on GCP the PodDefaults is using a bash script to generate the certificate for the admission webhook
https://github.com/kubeflow/manifests/tree/master/admission-webhook/bootstrap

We should switch to using cert-manager.

I think it makes more sense to just switch to cert-manager then upgrade bootstrap for v3.

The bootstrap package is using vars to do substitution into the configmap.

Blo

[2020-04-03 23:16] Jeffwan commented on #924
@krishnadurai What's the error message? I only see `RBAC: access defnied` in activator pods.

[code]
the cluster IP `10.100.94.110` is the svc object created from inferenceservice.  In my example, `flowers-sample-predictor-default-g9875-private`

Can you help verify it's the same issue?

[2020-04-04 00:01] yuzisun commented on #924
@Jeffwan i think this is the issue when istio RBAC is turned on, can you check if that’s the case ?

[2020-04-04 13:03] adrian-plutoflume commented on #1070
I'm certainly happy if you do, not sure if you want it to track the move to aws public hub (don't think it's needed for that)

[2020-04-04 16:21] TomLaMantia commented on #974
I am having very similar issues, would you please share some more details? Thanks

[2020-04-04 16:52] tomalbrecht commented on #974
The documentation has been updated by the team. But you need to know which points are mandatory and there are still some pitfalls.

Use this doc: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/

important: wait for all pods being up (can take 30 to 45 minutes, depending on your machine)

- install microk8s (version 1.15/stable)
- update Istio configuration, as described [here](https://g

[2020-04-04 21:25] Jeffwan commented on #1070
Yeah. We don't have to track that here. Let's just close this issue.

/close

[2020-04-04 21:25] #1070 closed

[2020-04-05 00:51] Jeffwan opened #1077 "Test make generate failure"
Seem test are refactored recently and I'd like to verify if everything is still working as normal?
Do we change the way to generate tests and run tests? Seems all past test have been moved to `legacy` folder now. Should we do the migration first?

[code]

@jlewi @krishnadurai

[2020-04-05 18:19] jtfogarty commented on #1077
/area testing
/priority p2

[2020-04-05 22:00] jlewi commented on #1077
@Jeffwan It looks like `kustomize build` is segfaulting on your machine. What version of kustomize are you running?

To debug you could run the command that is being executed in a subprocess to get more info on why it failed

[code]

[2020-04-06 00:41] Jeffwan commented on #1077
I am using v3.5.4 now.

[code]

It's trying to build this folder but no `kustomization.yaml` found.

[2020-04-06 09:14] yanniszark opened #1078 "Istio cluster-local-gateway: istio rbac"
I noticed that the Istio cluster-local-gateway doesn't have associated Istio RBAC with it, like the istio-ingressgateway.
This should be fairly simple, like adding this:
[code]

@krishnadurai @ryandawsonuk  what do you think?
Will open a PR if we are in agreement.

[2020-04-06 13:03] krishnadurai commented on #1078
Sure you could add these Istio RBAC rules.

[2020-04-06 13:56] jlewi commented on #1014
Fixed by #1066

[2020-04-06 13:56] #1014 closed

[2020-04-06 14:35] jlewi commented on #1029
It looks like this was reverted in #1073 .
#1027 was the original cherry-pick into the v1.0 branch.

It looks like the v1.0.1 tag is pointing at the broken commit (the one that added the kfserving gateway to the YAMLs)
https://github.com/kubeflow/manifests/releases/tag/v1.0.1
https://github.com/kubeflow/manifests/commit/6cb83f8227daaaa80846e5145521d9b7cadba1a6

Do we not have tests for the 1.0.1 s

[2020-04-06 14:35] jlewi commented on #1036
Duplicate of #1029

[2020-04-06 14:35] #1036 closed

[2020-04-06 14:37] jlewi commented on #1029
#4834 looks like the tracking bug for the 1.0.1 release

[2020-04-06 14:38] jlewi commented on #1029
@richardsliu and @Jeffwan Do you know what the state of the 1.0.1 release is?

[2020-04-06 17:51] richardsliu commented on #1029
This should be fixed in the 1.0.1 release manifests in v1.0-branch.

[2020-04-06 18:27] holdenk commented on #1029
I think this should be fixed since the 1.0.1 tag was re-created with the missing file.

[2020-04-06 18:27] #1029 closed

[2020-04-06 18:46] apryiomka commented on #984
Do we know when this might be merged to Kubeflow v1.0.2 manifest?

[2020-04-07 13:15] jlewi commented on #1077
@Jeffwan because test_data/expected will contain the kustomization.yaml from which expected output is to be generated. See #1066. Currently kustomization.yamls are auto-generated by kfctl. So theren't were any kustomization.yamls in kubeflow/manifests that were representative of the transformations that were actually being applied. So in tests/legacy_kustomizations we checked in kustomization.yaml

[2020-04-07 18:57] Jeffwan commented on #1077
@jlewi

`make test` actually works for me. `make generate-changed-only` doesn't.
I ran `make generate-changed-only` from `${GITHUB_MANIFESTS}/tests`.

`make generate-changed-only` will look for `kustomization.yaml` in the current folder which is `${GITHUB_MANIFESTS}/tests`. Apparently, it doesn't have kustomization.yaml.

Do we still need to `make generate-changed-only` before `make test`?

[2020-04-07 20:45] dilzeem opened #1082 "AWS EKS fluentd-cloud-watch pod missing - can't get worker node group logging"
Trying to follow along here to get the worker node logs:
https://www.kubeflow.org/docs/aws/logging/

Add the fluentd-cloud-watch to `kfctl_aws_cognito.v1.0.0.yaml` but does not get deployed.

The logs from the control logging plane are visible.

Looking at all the pods in all namespaces I can't seem to find fluentd at all. Looking at the `kustomize` and `aws_config` directory there doesn't seem to

[2020-04-07 23:14] Jeffwan commented on #1082
@dilzeem

Sorry about that, we recently have some refactoring and this has been removed.  I will try to add to v1.0.2 version.
User still need to update param.env here and then `kubectl apply -k fluentd-cloud-watch/base`

[2020-04-08 06:45] dilzeem commented on #1082
Sure i figured as much.

Thanks for the quick response :)

[2020-04-08 10:51] SamChb72 opened #1121 "certmanager install has race condition - try to create KF certmanager resources before cert manager is available"
/kind bug

Hello,
little problem with cert-manager during kubeflow install:

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I encounter the problem
kfctl apply -f ${CONFIG} ends with
`
failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: Apply.Run  Error error whe

[2020-04-08 15:23] krishnadurai opened #1084 "Change PR template instructions to reflect new unittests scheme"
The template shows the following checks:

[code]

The newest change to manifests unittests need to use `make generate` instead of `make generate-changed-only`

/assign @jlewi

[2020-04-09 22:34] Jeffwan opened #1089 "What's the usage of tensorboard manifest?"
Seems manifest [tensorboard](https://github.com/kubeflow/manifests/tree/master/tensorboard) is just one tensorboard instance.

logs points to the local directory. I don't know why we need this manifest and how to use it?
https://github.com/kubeflow/manifests/blob/master/tensorboard/base/deployment.yaml#L18

Instead, I think `tensorboard-controller` could be added to manifest?  it helps to reduce e

[2020-04-09 22:35] Jeffwan commented on #1089
If user think this is reasonable. I will do some tests on `tensorboard-controller` and bring manifest here.

Meanwhile, it's better to make sure if we use [tensorboard](https://github.com/kubeflow/manifests/tree/master/tensorboard) or not.

[2020-04-09 23:10] Jeffwan commented on #1084
@krishnadurai

Does `make generate` work properly in your env?  I see some issues and they are documented in  https://github.com/kubeflow/manifests/issues/1077

[2020-04-09 23:49] Jeffwan commented on #1084
Never mind, I change kustomize from v3.5.3 to v3.2.3 and it's working now.

[2020-04-09 23:49] Jeffwan commented on #1077
Never mind, I change kustomize from v3.5.3 to v3.2.3 and it's working now.

[2020-04-09 23:49] #1077 closed

[2020-04-09 23:51] #984 closed

[2020-04-10 00:05] jlewi commented on #1084
@krishnadurai make generate-changed-only and make generate should do the same thing.

The parameter "--all" is no longer used
https://github.com/kubeflow/manifests/blob/f263eb3c28296c036e2985434dc0588aa5f1d336/hack/generate_tests.py#L162

[2020-04-10 00:06] jlewi commented on #1089
Duplicate of #415
We should remove the tensorboard manifest.

[2020-04-10 00:06] #1089 closed

[2020-04-10 00:06] jlewi commented on #1089
Duplicate of #415

[2020-04-10 00:19] jlewi commented on #1048
Yes we are targeting Kubeflow 1.1 which is end of june.

Thanks

[2020-04-10 00:21] jlewi opened #1090 "Argo V3 Kustomize Manifest"
We need a v3 kustomize manifest for Argo.
See:http://bit.ly/kf_kustomize_v3

See #1062 for more info.

@Bobgy will you tackle this as part of #1048

[2020-04-10 00:23] jlewi opened #1091 "kustomize v3 versions for KFServing and KNative"
We need kustomize v3 versions of the KFServing and KNative packages.

See #1062 for more info on what this means.

@yuzisun @animeshsingh @cliveseldon is there someone from KFServing who would be willing to pick this up?

[2020-04-10 00:25] jlewi opened #1092 "v3 versions of katib manifests"
We need v3 versions of the katib manifests

See #1062 for more info on what this means.

@johnugeorge @gaocegege @hougangliu is there someone from the katib effort who would be willing to pick this up?

[2020-04-10 00:35] Jeffwan commented on #1035
/hold

[2020-04-10 01:28] Bobgy commented on #1090
I can start working on these at early May I think.
If no one else has time before that, let me take it.
/assign @Bobgy

[2020-04-10 01:44] Jeffwan commented on #415
@jlewi I can help on this. BTW, do we want  `tensorboard-controller` ? I think that is helpful

[2020-04-10 03:59] #1073 closed

[2020-04-10 04:03] jlewi opened #1095 "v3 version of AWS KFDefs"
See: #1062
AWS KFDefs should follow v3 patterns in order to not depend on kfctl kustomize magic

/cc @Jeffwan

[2020-04-10 04:04] jlewi opened #1096 "v3 version of IBM KFdefs"
See: #1062
IBM KFDefs should follow v3 patterns in order to not depend on kfctl kustomize magic

/cc @Jeffwan

[2020-04-10 04:05] jlewi opened #1097 "v3 version of onprem KFDefs (kfctl_k8s_istio)"
See: #1062
Onprem KFDefs should follow v3 patterns in order to not depend on kfctl kustomize magic

/cc @johnugeorge @yanniszark

[2020-04-10 10:44] rossella opened #1099 "Update Argo manifest to 2.5.0"
When using CRI-O, PNS executor fails with "executor error: Failed to determine pid for containerID xxxxxxxxxxxxx: container may have exited too quickly" .
This is due to https://github.com/argoproj/argo/issues/2095
Updating argo fixes the issue.

[2020-04-10 15:13] rossella commented on #1099
We tested in our environment with argo workflow-controller 2.5.0 and argo-ui 2.4.2.
We had to apply the following changes:
- modify argo/base/custer-role.yaml adding for apiGroups argoproj.io the following resources: cronworkflows and workflowtemplates

Shall we go on and create a PR?

[2020-04-10 18:00] Jeffwan commented on #1095
Thanks. I will check #1062 and get more details on the migration.

[2020-04-11 16:08] Gsantomaggio commented on #1099
I'd add that we ( I and @rossella ) were thinking to split the current Argo deploy in two sections:

- `argo`
- `argo-ui`

Since they are two different repositories.
We are already working on it, please let us know what you think about that, so we can prepare the PR.

Thank you

[2020-04-12 01:13] paravatha commented on #974
@tomalbrecht
Thanks a lot for finding the issues and providing suggestions.
After running these port-forward commands, I am able to to access Dashboard, Katib and Pipleine components on different ports

[code]
I am still not able to access each UI component directly from kubeflow dashboard
It gives
"Sorry, /pipeline/ is not a valid page"
"Sorry, /katib/ is not a valid page"
"Sorry, /metadata/ is n

[2020-04-12 23:16] jlewi commented on #415
Thanks @Jeffwan

I think the tensorboard controller is still a prototype.

kubeflow/kubeflow#3578 is tracking building a web app to manage tensorboard instances. Creating a manifest to deploy the tensorboard-controller would probably be a part of that work; assuming the web app ended up using the controller.

/assign @Jeffwan

[2020-04-13 13:19] krishnadurai commented on #923
/reopen

This implementation needs to be restricted to a particular key and needs to be moved to an overlay.

/assign

[2020-04-13 13:21] krishnadurai commented on #1084
@jlewi following from:

https://github.com/kubeflow/manifests/blob/f263eb3c28296c036e2985434dc0588aa5f1d336/hack/generate_tests.py#L166

Do we intend to suggest users to still use it?

[2020-04-13 14:11] johnugeorge commented on #1097
/cc @krishnadurai

[2020-04-13 15:33] jlewi commented on #1063
The initial stack has been committed. Next steps

* Setup auto deployment of the new stack
* Setup E2E tests to run against this so we can start getting signal about what doesn't work.

[2020-04-13 16:53] Jeffwan commented on #415
@jlewi Get it. I will file a PR to remove tensorboard in kfdef

[2020-04-13 17:06] jtfogarty commented on #923
/area istio
/priority p1

[2020-04-13 22:45] animeshsingh commented on #1091
@jlewi I talked to @adrian555 and he will work on it.

/assign @adrian555

[2020-04-14 00:35] jlewi opened #1103 "kubeflow manifests presubmits are broken due to go modules problems"
Presubmits appear to be failing because of problems with go modules
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/1098/kubeflow-manifests-presubmit/1249800546718584832/

The problem is affecting unittests as well so its not limited to kfctl.

[2020-04-14 01:36] jlewi commented on #1103
For kfctl the build error is

[code]

I couldn't reproduce this  with the unittests running v1.0-rc.0-122-gb5df17f2  (@b5df17f2)

[code]

[2020-04-14 01:42] jlewi commented on #1103
Here are the logs from the failed run of the unittests
[kubeflow-manifests-presubmit-unit-1098-f43d0a4-4832-8322-1000219880.log.txt](https://github.com/kubeflow/manifests/files/4472661/kubeflow-manifests-presubmit-unit-1098-f43d0a4-4832-8322-1000219880.log.txt)

Its unclear what the error was. So maybe it was just a transient issue pulling from github or other sources?

[2020-04-14 02:27] jlewi commented on #1103
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/1098/kubeflow-manifests-presubmit/1249874504440614912/

Tests failed on retry here are the logs
[kubeflow-manifests-presubmit-unit-1098-f43d0a4-4912-1e8c-30619159.log.txt](https://github.com/kubeflow/manifests/files/4472776/kubeflow-manifests-presubmit-unit-1098-f43d0a4-4912-1e8c-30619159.log.txt)

Since I can't reprod

[2020-04-14 02:28] jlewi commented on #1103
gcr.io/kubeflow-ci/test-worker:latest
looks like this hasn't change since February 11.

[2020-04-14 02:33] jlewi commented on #1103
I can repo the issue inside the docker image test-worker:latest

[code]

Locally I'm using

[code]

[2020-04-14 03:12] jlewi commented on #1103
Built a new image using go1.14
gcr.io/kubeflow-ci/test-worker-py3:e9afed1-dirty

[2020-04-14 03:14] jlewi commented on #1103
The unittests build and pass in the newly built go1.14 image

[2020-04-14 07:18] tomalbrecht commented on #974
You have to login first (via dex), so the cookies are set. The istio gateway will forward you then to the main dashboard. From there you can access all other pages. So the endpoints (as far as I understand) should not be accessible without authentication.

`kubectl get services -n istio-system | grep gateway` will show you the gateway service (when you did microk8s enable kubeflow then its called

[2020-04-15 01:40] jlewi commented on #1084
@krishnadurai no. Given the direction we are headed I don't think there's a simple way to only regenerate tests that are affected by the changes.

The parameter is still there only so we didn't have to update all the calling locations at once.

[2020-04-15 16:54] #1035 closed

[2020-04-16 17:11] PatrickXYS opened #1107 "Add aggregated rule for MPI-Operator and MXNet-operator"
When users try to create `mpi-job` and `mxnet-job` resources in Kubeflow Notebook, they'll encounter below issue:

[code]

[Related notebook](https://github.com/aws-samples/eks-kubeflow-workshop/blob/master/notebooks/03_Distributed_Training/03_02_Distributed_Training_MPI_Horovod.ipynb) in our workshop.

This occurs because we simply run `kubectl create -f mpi-job.yaml` in Kubeflow notebook, it use

[2020-04-16 17:13] PatrickXYS commented on #1107
/area operator

[2020-04-16 17:14] PatrickXYS commented on #1107
/assign

[2020-04-16 17:24] terrytangyuan commented on #1107
Sounds good. Thanks for bringing this up!

[2020-04-16 17:49] Jeffwan commented on #1107
Great. This help us unblock user to create more kubeflow resources inside notebook.

[2020-04-17 13:34] terrytangyuan opened #1112 "Add manifests for XGBoostJob"
Part of https://github.com/kubeflow/xgboost-operator/issues/44.

[2020-04-17 15:12] johnugeorge commented on #1092
/assign @andreyvelich

[2020-04-17 16:37] jtfogarty commented on #1097
/priority p2

[2020-04-17 16:38] jtfogarty commented on #1092
/kind feature

[2020-04-17 16:40] jtfogarty commented on #1107
/priority p1

[2020-04-17 16:43] yanniszark commented on #1097
/remove-priority p2
/priority p1

[2020-04-17 17:47] adriangonz opened #1115 "OIDC EnvoyFilter not working with Istio 1.3.1"
**Describe the bug:**

I'm currently trying to set up a cluster with [Istio and Dex](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/) using Istio 1.3.1 instead of Istio 1.1.6 (using the manifests under [`istio-1-3-1`](https://github.com/kubeflow/manifests/tree/4d8b1cb7e6340a69303ce59878fc29f6b3a71a72/istio-1-3-1)). However, I can't get the login flow to work. In particular what I see is

[2020-04-17 17:49] adriangonz commented on #1115
/kind bug

[2020-04-17 20:40] jtfogarty commented on #1115
/area istio

[2020-04-17 21:04] jtfogarty commented on #852
/kind bug
/area engprod
/priority p1

[2020-04-17 21:25] jtfogarty commented on #904
/area katib
/priority p2

[2020-04-17 21:40] jtfogarty commented on #920
/area docs
/priority p2

[2020-04-17 21:49] jtfogarty commented on #924
/area istio
/priority p2

[2020-04-17 21:59] wdhorton opened #1117 "Update SparkApplication CRD"
I deployed Kubeflow 1.0.1, and I'm seeing this log from the sparkoperator:
[code]

I checked the manifests, and it looks like Kubeflow is still using the v1beta1 version of the CRD: https://github.com/kubeflow/manifests/blob/master/spark/spark-operator/base/sparkapplications.sparkoperator.k8s.io-crd.yaml#L1

I believe that updating it to the v1beta2 version will resolve this issue

[2020-04-18 00:50] Jeffwan commented on #1117
That's the custom resource version. spark CRD version is here https://github.com/kubeflow/manifests/blob/master/spark/spark-operator/base/sparkapplications.sparkoperator.k8s.io-crd.yaml#L2522

[2020-04-18 00:52] Jeffwan commented on #1117
spark-operator actually supports two CRD, `scheduledsparkapplications` is different from `sparkapplication`, it's for cron based spark jobs.

Can you check if you have this? https://github.com/kubeflow/manifests/blob/master/spark/spark-operator/base/scheduledsparkapplications.sparkoperator.k8s.io-crd.yaml

kubectl get crds | grep scheduledsparkapplications and check it's version

[2020-04-18 21:55] #1107 closed

[2020-04-19 18:35] PatrickXYS opened #1118 "In-compatibility with Kustomize Go API version"
**What happened:**
Given the PR #962 , we updated manifests `go.mod` file:
From:
[code]
To:
[code]

But we haven't updated `go.sum`, there are only `v3.2.0` dependency paths:

[code]

Thus, when users are trying to build, the error occurs:

[code]

It will not happen if users have already get `sigs.k8s.io/kustomize/v3 v3.2.1` in their GOPATH, but it will result in errors when users don't have corr

[2020-04-19 18:36] PatrickXYS commented on #1118
/area api
/priority p1

[2020-04-19 23:56] jlewi commented on #231
The package is here.
https://github.com/kubeflow/kubeflow/tree/master/metric-collector/service-readiness

[2020-04-20 10:11] Can-Sahin commented on #543
Anyone here having the same issue with AWS EKS. Its solved after I started a cluster with t.large(16gb memory) instance. Turns out resources wasn't enough. I was testing with medium one

[2020-04-20 22:19] jlewi commented on #543
I'm closing this issue because its no longer clear whether one issue or multiple issues are being discussed. Lets try to open specific focused issues for any problems that are still present.

Here are some of the existing relevant issues.

* jetstack/cert-manager#2537 - Cert manager is known to take a long time to start
* kubeflow/manifests#1121 - We have a single kustomize package for installing

[2020-04-20 22:19] #543 closed

[2020-04-21 01:14] jlewi commented on #1118
Thanks @PatrickXYS
Would you be interested in providing a PR to fix this?

[2020-04-21 11:09] yanniszark commented on #1115
Hi @adriangonz!
We have been deploying clusters with Istio 1.3.1 and that exact EnvoyFilter for a while now.
In fact, the last MiniKF has Istio 1.3.1 and uses that EnvoyFilter.
The `kfctl_istio_dex` config uses Istio 1.3.1 by default. Did you make any changes to the KFDef file before deploying?
Can you include your KFDef file here?

[2020-04-21 11:21] adriangonz commented on #1115
I think you are on the money @yanniszark. I was tinkering with the `kfctl_istio_dex` config and it seems I may have removed something important. Using the default one with Istio 1.3.1 seems to work!

Closing this issue now as there doesn't seem to be a problem.

[2020-04-21 11:21] #1115 closed

[2020-04-21 13:04] PatrickXYS commented on #1118
@jlewi Sure, I'll file a PR for fixing this one.

[2020-04-21 15:22] PatrickXYS opened #1125 "Add AWS specific Container Image into jupyter-web-app configMap"
### Issue
Per AWS users' requirements, we want to add aws specific container image into[ jupyter-web-app confiMap](https://github.com/kubeflow/manifests/blob/master/jupyter/jupyter-web-app/base/configs/spawner_ui_config.yaml#L24-L27).

### Action Item
We'll create an overlay in `jupyter-web-app/overlay` folder, and patch jupyter-web-app confiMap with our awsnotebookimage. Meanwhile we'll modify `k

[2020-04-21 15:24] PatrickXYS commented on #1125
/assign

/priority p1
/platform aws

[2020-04-21 18:35] apryiomka opened #1127 "Deploying manifest 1.0.2 on top of 1.0.1 creates a lot of errors with patch"
When applying v1.0.2 manifest on previously deployed v.1.0.1 I see a lot of deployments patching fail like so:
[code]

[2020-04-22 20:50] jlewi commented on #1103
Fixed

[2020-04-22 20:50] #1103 closed

[2020-04-22 20:54] jlewi opened #1131 "commonLabels need to be immutable for upgrades - remove version from commonLabels"
The commonLabels in our kustomize package currently include the application version.
This breaks upgradability because commonLabels are substituted in selectors which are immutable.

This has been raised in a number of issues

As noted in kubeflow/kubeflow#4873; kustomize commonLabels should only be used for immutable labels
https://kubectl.docs.kubernetes.io/pages/app_management/labels_and_annota

[2020-04-22 20:55] jlewi commented on #1127
Duplicate of #1131

[2020-04-22 20:55] #1127 closed

[2020-04-22 22:20] jlewi commented on #1007
[kpt setters](https://googlecontainertools.github.io/kpt/reference/cfg/) might provide another option for making it easy for folks to change the cluster domain.

Is it possible to use kpt setters in a manner compatible with people still using global vars? i.e. could we just set the default value for the setter to "$(clusterDomain)" so that people using kpt setters can change it easily.

[2020-04-23 00:32] kkasravi commented on #1007
@jlewi i'll implement this.

For your comment [above](https://github.com/kubeflow/manifests/issues/1007#issuecomment-599671977), we should have the plugin transformer(s) reference the KfDef to resolve vars and remove all configMapGeneration then a single source of truth is the KfDef config file

[2020-04-23 23:42] #1118 closed

[2020-04-24 01:56] jlewi commented on #1007
@kkasravi what is "this" referring to? Is it kpt setters for clusterDomain?

We currently have two use cases for vars

1. Setting certain variables consistently across multiple kustomize packages (e.g. clusterDomain)
1. Internal subsitutions within a package
    * e.g. Getting kustomize to substitute namespace into some custom resource field

For the second use case vars seem like an ok solution.

[2020-04-24 20:10] kkasravi commented on #1007
An alternate to kpt is kustomize functions which are invoked like `kustomize config set ...`
This is an alpha feature of kustomize and requires `KUSTOMIZE_ENABLE_ALPHA_COMMANDS=true`. However it could potentially solve a number of problems including vars that might work better than a transformer plugin. I need to look at it more closely.

[2020-04-24 20:15] kkasravi commented on #1007
Here is one nice use of kustomize functions `https://github.com/kubernetes-sigs/kustomize/tree/master/functions/examples/application-cr` where the application cr is added to a set of resources.

[2020-04-25 16:23] jlewi commented on #1007
Thanks @kkasravi any solution which requires running a docker image or installing a plugin (".so") seems less preferable to me than a method which just relies on out of box functionality in stock tools like kustomize or kpt.

* I think installing plugins or docker images is going to be a major source of friction (e.g. binary incompatibility, forgettng to install it, how to run images in pods, etc.

[2020-04-25 16:45] jlewi opened #1136 "kustomize package to setup a namespace for using Kubeflow (alternative to profile controller)"
We need a kustomize package that sets up a namespace for using Kubeflow. This package should basically do everything the profile controller is doing. e.g.

* Create default service accounts
* Create role bindings
* Platform specific overlays (e.g. setup workload identity for GCP)

A declarative approach to namespace setup should better support platform teams looking to setup and control kubeflow d

[2020-04-25 23:38] lalithvaka commented on #1136
Some additional features to think about as following
1. Kustomize Declarative approach for ResourceQuota for each namespace
2. Group based profile / namespace support
3. Multi owner support for profile / namespace
2. Externalized enable/disable profile self serv capability - (Enable in Dev Env but disable in Prod)
3. Default resource quota setup for self serv profiles if they are enabled (Declarat

[2020-04-27 17:35] #1092 closed

[2020-04-27 23:51] PatrickXYS commented on #520
I think this has been finished.

/close

[2020-04-27 23:51] #520 closed

[2020-04-28 00:47] jlewi opened #1138 "Owners file for kubeflow/metadata needs to be updated"
The OWNERs file for metadata needs to be updated it looks like the current set of approvers is no longer up to date and responsive.

See #928

[2020-04-28 14:46] discordianfish commented on #1136
In general I like a declarative approach but as described here, it would require some glue I'd prefer we could avoid:

We're using an authenticating (via LDAP) reverse proxy in front of kubeflow that sets trusted user identity headers. That means right now we just need to grant users access to that proxy and when they log in the first time, they can create their namespace. With the proposed change

[2020-04-29 00:02] jlewi commented on #1138
Discussion about metadata future is in kubeflow/metadata#225.
This is probably relevant figuring out who the OWNERs will be.

[2020-04-29 00:08] jlewi commented on #1136
@discordianfish

I don't think its necessarily a one size fits all. If you want to to propose and build out the case for doing things programmatically/automatically that sounds good to me.

On GCP what we are seeing is that

1. Platform teams want to own creating and setting up namespaces
1. GitOps is becoming the pattern of choice for managing infrastructure

Automatic creation probably won't wor

[2020-04-29 00:11] jlewi commented on #1063
For 1.1 we will probably provide a story for deploying on GCP using anthoscli, kpt, and kustomize. This will use/depend on the new V3 manifests.

It remains to be seen whether we will also provide a KFDef.

[2020-04-29 01:10] #1112 closed

[2020-04-29 07:48] discordianfish commented on #1136
Ok makes sense. I think whatever the outcome of this will be, it should be possible to build whatever automation on top.

[2020-04-30 01:25] Jeffwan opened #1142 "kfserving is broken in v1.0.2"
Talked with @yuzisun offline,

Kfserving-gateway revert in #1111 is incomplete, there're still a few references in kfserving and knative.

https://github.com/kubeflow/manifests/blob/v1.0-branch/kfserving/kfserving-install/base/config-map.yaml#L93

https://github.com/kubeflow/manifests/blob/v1.0-branch/knative/knative-serving-install/base/gateway.yaml#L30

This breaks kfserving now.

[2020-04-30 07:46] Gsantomaggio commented on #1099
@rossella I think we can close this issue. See https://github.com/kubeflow/pipelines/pull/3537

[2020-05-01 05:14] #1131 closed

[2020-05-01 11:35] yuzisun opened #1146 "Upgrade KFServing to 0.3 in kubeflow manifest"
KFServing 0.3 release manifest can be found here
https://github.com/kubeflow/kfserving/blob/master/install/v0.3.0/kfserving.yaml

[2020-05-01 16:19] jlewi opened #1147 "Use Application resources to surface links to UIs in GKE applications dashboard"
Below is a screenshot of Kubeflow applications in the GKE Applications dashboard.

![centraldashboard_applications](https://user-images.githubusercontent.com/777219/80866891-1835cd80-8c46-11ea-875a-9a789d2fd0c5.png)

The link in the software column corresponds to the first link in the application resource.
https://github.com/kubeflow/manifests/blob/4307f3765789806c88eb8ea03f64c7810601cb8c/common/c

[2020-05-01 21:12] #1142 closed

[2020-05-04 11:24] yanniszark commented on #375
Can we close this issue now that users have confirmed Kubeflow to be working on 1.16?

[2020-05-04 14:41] jlewi commented on #375
Ideally we'd have a test to verify this. Is anyone willing to work on such a test?

[2020-05-04 15:55] jlewi commented on #1007
It looks like another use case for global vars is `userId`. This is a field used to configure web applications to know what header to look at to get the id of the user.

[2020-05-05 01:21] jlewi opened #1149 "Application v3 manifest - need to separate the application resource from the install of the application controller"
The manifest
https://github.com/kubeflow/manifests/blob/master/application/v3/kustomization.yaml

Includes an application resource.
This creates a possible race condition as we may end up trying to create the application resource before creating the application CRD and we will then get an error like the following.

[code]

To fix this, we should be the application resource describing the applicati

[2020-05-06 01:17] akartsky opened #1151 "AWS : Enable enablePodIamPolicy by default"
## Issue
Currently to [Enable IAM for Service Account](https://www.kubeflow.org/docs/aws/iam-for-sa/#enable-iam-role-for-service-account) we need to modify the [kfctl_aws.v1.0.2.yaml](https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_aws.v1.0.2.yaml) or [kfctl_aws_cognito.v1.0.2.yaml](https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_aws_cognit

[2020-05-06 13:46] jlewi commented on #904
@andreyvelich and @discordianfish I'm closing this because I believe its fixed by #986. Please reopen if I'm missing something.

[2020-05-06 13:46] #904 closed

[2020-05-06 13:47] jlewi commented on #1091
@adrian555 any update on this?

[2020-05-06 17:52] Jeffwan commented on #1151
Thanks for the contribution.

[2020-05-06 21:03] adrian555 commented on #1091
@jlewi yes, I just pushed the PR #1156 above with what I think is needed for the v3 update. Please let me know if I missed something. Thanks.

cc @animeshsingh

[2020-05-06 22:46] snowlover173 commented on #1121
Experienced the same problem in our private subnet.
version 1.0.0, 1.0.1, 1.0.2

I run kfctl build , and make changes to add the network and define that it is a private cluster then kfctl apply {CONFIG_FILE}
the cluster comes up and then after a few times of trys, the webhook certmanager fails:
validatingwebhookconfiguration.admissionregistration.k8s.io/cert-manager-webhook configured
ERRO[0656] P

[2020-05-06 22:53] snowlover173 commented on #1121
The problem for me didn't get resolved by retrying it. Is there anywhere that I need to make changes before running "kfctl apply" ?
as I mentioned I already make some changes to launch it in a private subnet.

[2020-05-07 03:01] jlewi commented on #1062
/cc @animeshsingh

[2020-05-07 04:20] Bobgy opened #1157 "Presubmit tests fail in master"
Steps to reproduce:
1. cd tests
2. make test

I tried `cd tests && make generate`, although some yamls are regenerated `make test` still fails.

/assign @jlewi
Who should be the best person to fix it?

Error log
[code]

[2020-05-07 13:32] jlewi commented on #1157
@Bobgy I think you are the best person.

It looks like in the actual values of the configmap a content suffix hash is included but there isn't one included in the expected value.

Did something change? Is the expected or actual value correct?

[2020-05-07 13:35] jlewi commented on #1157
@Bobgy it looks like the expected value should include the suffix content hash.
https://github.com/kubeflow/manifests/blob/e172590b97b8a06919b26fdaff6e87adc8de2d94/tests/stacks/examples/alice_gcp/test_data/expected/apps_v1_deployment_jupyter-web-app-deployment.yaml#L34

It doesn't look like your PR is changing anything. Is the test correctly reporting the expected value?

[2020-05-07 13:49] jlewi commented on #1157
The periodic tests are failing as well.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-manifests-periodic-master/1258062554102501379

[kubeflow-manifests-periodic-master-unit-1379-e275-538398328.log.txt](https://github.com/kubeflow/manifests/files/4593290/kubeflow-manifests-periodic-master-unit-1379-e275-538398328.log.txt)

That looks like a different error. That looks like the test

[2020-05-08 04:03] Bobgy commented on #1157
@jlewi from postsubmit tests, looks like it started to fail from #1141, can we just revert it and ask @discordianfish to fix it?

[2020-05-08 04:17] jlewi commented on #1157
@Bobgy I think reverting rather than forward fixing is generally a good policy so if you want to go that route I support that.

[2020-05-08 04:24] Bobgy commented on #1157
Thanks, created https://github.com/kubeflow/manifests/pull/1158

[2020-05-08 04:34] jlewi opened #1159 "katib add support for external databases - refactor manifests"
A PR to do this was #1141

This got reverted in #1158 because it broke the tests. The policy is to roll back fix and then forward fix. Apologies @discordianfish .

As discussed [here](https://github.com/kubeflow/manifests/issues/1157#issuecomment-625267395) I think the PR got merged off an old base which didn't include a new test that verifies certain common labels aren't set.

@discordianfish wou

[2020-05-08 05:15] #1157 closed

[2020-05-08 14:59] yassine-labidi opened #1160 "Release versions discrepancy in the UI after upgrading from 0.6 to 1.0.2"
Hi,
We've recently upgraded our kubeflow upgraded from `0.6` to `1.0.2`. And when looked at the ui we noticed, the version that was displayed was `dev_local`.

Here's the link of the manifest we used to perform the upgrade:
https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.2.yaml

And when digging a bit in the source code, it same that discrepancy might co

[2020-05-08 15:56] yassine-labidi commented on #1160
Sorry, this should have been submitted on the kubeflow bug tracker.

[2020-05-08 15:56] #1160 closed

[2020-05-08 17:55] yassine-labidi opened #1161 "Support for IAP on GCP with self-managed GKE infrastructure"
/kind question

**Question:**
Hi,
I do have a kubeflow install on self-managed GKE infrastructure. That makes our preferred manifest for the install: `kfctl_k8s_istio.v1.0.2.yaml`.
I do however want to benefit from IAP and allow friendly domain access to the kubeflow dashboard.
For context, here is the way I went about it to achieve that:

- Creating `kubeflow-oauth` secret (the oauth secret was c

[2020-05-08 20:12] jlewi commented on #1161
The error

[code]
Indicates your kubernetes secret kubeflow-oauth isn't valid.

Your command looks like you got the namespace wrong

[code]

The secret needs to be in the same namespace as the backendconfig; i.e. istio-system.

I would suggest doing

[code]

To check whether client_id is set.

You probably just need to fix the secret.

[2020-05-08 20:54] yassine-labidi commented on #1161
Thanks @jlewi. That helped with the secret. However creating the certificate is stuck on the `provisioning` state. Any pointers there?
[code]

[2020-05-08 20:57] jlewi commented on #1161
Unless you redacted your project the domain name is incorrect. The project should be the actual value of your project.

[2020-05-08 21:00] yassine-labidi commented on #1161
I did redact the project name.

[2020-05-08 21:34] jbottum commented on #1022
@cliveseldon fyi, a seldon kubeflow issue

[2020-05-08 21:58] jlewi commented on #1161
Did you try following the GKE managed certificate troubleshooting guide here
https://www.kubeflow.org/docs/gke/troubleshooting-gke/#troubleshooting-ssl-certificate-errors

[2020-05-09 22:52] jlewi commented on #1024
The GCP blueprint is using ASM. So I'm closing this issue.
https://github.com/kubeflow/gcp-blueprints

[2020-05-09 22:52] #1024 closed

[2020-05-09 23:01] jlewi commented on #1121
@snowlover173 can you please check if the cert-manager webhook pods are running and if not see if you can find any information about why not?

[code]

[2020-05-10 00:05] snowlover173 commented on #1121
@jlewi it seems they are running:
NAME                                                         READY   STATUS    RESTARTS   AGE
cert-manager-564b4bffd7-hwgbh             1/1     Running   1          44h
cert-manager-cainjector-596986f94-h8t4m   1/1     Running   6          44h
cert-manager-webhook-755d75845c-jrkbk     1/1     Running   0          44h

[2020-05-10 00:12] Jeffwan commented on #1095
@jlewi

I am in progress of migrate current manifest to follow v3 pattern. I am a little bit confused on the composition.

Looks like stack gcp has some v3 compatible resources.  https://github.com/kubeflow/manifests/blob/master/stacks/gcp/kustomization.yaml
 and `kfctl_gcp_stacks.experimental.yaml`  also has some manifest like `stack/gcp` and some other components like cert-manager.
https://githu

[2020-05-10 14:14] joepeskett commented on #1121
@jlewi  @snowlover173 I think this is related to a comment I left on #4932.

On private GKE we had a set up a firewall rule as mentioned in cert-manager docs here: https://docs.cert-manager.io/en/release-0.8/getting-started/webhook.html#running-on-private-gke-clusters

Link for firewall rule: https://www.revsys.com/tidbits/jetstackcert-manager-gke-private-clusters/

Apologies if I'm misunderstandi

[2020-05-10 22:42] snowlover173 commented on #1121
@joepeskett Thanks for your comment.
I have seen that document. But did you install it on an existing GKE or through kfctl?
Because it creates firewall rules already, if you use kfctl.

[2020-05-11 15:57] hassanzadeh commented on #1004
Hey @JeffersonH44, how can I check the deployment manager logs?

[2020-05-11 18:59] yassine-labidi commented on #1161
Hey Jeremy,

I went through the troubleshooting items. Here's a compiled list of items:

- Make sure you are a GCP project owner: `check`

- Make sure you are using HTTPS: `check` (as far as domain url as concerned)

- Check project quota page to see exeeded quotas: `check`

- Check deployment manager page for failed deployment: `check`

- Check if endpoint is up: `failed` (dns lookup shows record

[2020-05-11 23:50] jlewi commented on #1161
It looks like there are multiple problems.

1. The iap-enabler pods and update prods permissions errors
    * Based on the error message it looks like they are falling back to VM service accounts. This probably means you didn't configure workload identity correctly.
    * Please refer to the [workload identity docs](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) to make

[2020-05-11 23:58] jlewi commented on #1095
Every platform has the option of being oppinionated about which applications to install. So its not clear that all platforms will want to install all training operators or agree on what the common applications are.

[2020-05-12 13:00] dilzeem commented on #1082
Not sure if it is how I configured. But the fluentd pods are up, but some issue with permissions.

The log files:
[code]

[2020-05-12 18:50] Jeffwan opened #1164 "[AWS] Consider to use dex solution for basic aws manifest"
https://github.com/kubeflow/manifests/blob/master/kfdef/source/master/kfctl_aws.yaml

We used a public application load balancer in the past. With some security concerns, we remove public one and ask user to use port-forward way to check dashboard.

Recently we get a few asks from users on basic authentication, multi-user for [non-cognito manifest]((https://github.com/kubeflow/manifests/blob/maste

[2020-05-12 18:50] Jeffwan commented on #1164
/assign @PatrickXYS

[2020-05-12 19:02] yassine-labidi commented on #1161
Thanks @jlewi for pointing that out. Although I think I might have not framed the context clearly.
Like I said earlier in the issue description, the infrastructure used to install kubeflow is managed separatey through terraform and using  the `kfctl_k8s_istio.v1.0.2.yaml` manifest. To enable `IAP` & `Cloud Enpoints`, I built a configuration off the gcp_iap manifest:
[code]
Then I am simply cherryp

[2020-05-13 09:22] #1159 closed

[2020-05-14 19:11] apryiomka opened #1165 "config-map.yaml: no such file or directory"
Trying to deploy latest master, getting this error:

[2020-05-14 20:16] #1165 closed

[2020-05-14 22:17] apryiomka opened #1166 "Encountered error applying application mpi-operator"
Getting this error installing latest master manifest

[2020-05-14 22:23] apryiomka commented on #1166
it seems like [this](https://github.com/kubeflow/manifests/blob/master/mpi-job/mpi-operator/base/crd.yaml#L1) should be `apiVersion: apiextensions.k8s.io/v1beta1`?

[2020-05-14 22:38] apryiomka commented on #1166
Another formatting error: https://github.com/kubeflow/manifests/blob/master/aws/nvidia-device-plugin/overlays/application/application.yaml#L26

[2020-05-15 00:05] yassine-labidi commented on #1161
Hi @jlewi
After reviewing the installation logs, I found that some vars were never expanded:
[code]
Could that be related to the issues above ?

[2020-05-15 01:19] jlewi commented on #1161
I don't think so.

[2020-05-15 05:31] goanto opened #1168 "AuthService Certificate error while forcing https"
Hi,
    I am using Kubeflow 1.0.2, in my k8s cluster configuration i have made an external LB which points to the istio ingressgateway through HA proxy, without SSL its working smoooth, but when trying to make it with SSL its throwing this error on Authservice and not loading

**level=error msg="OIDC provider setup failed, retrying in 10 seconds: Get https://domainname/dex/.well-known/openid-confi

[2020-05-15 12:17] jlewi opened #1169 "kubeflow istio gateway should be in istio-namespace"
Right now the kubeflow ISTIO gateway is in namespace kubeflow. Based on the [docs](https://istio.io/docs/reference/config/networking/gateway/) it looks like the gateway should be in the same namespace as the pods running the envoy servers at the edge providing ingress to the cluster.

Having the ISTIO gateway in the kubeflow namespace is currently working with Kubeflow 1.0 and ISTIO 1.1.6. I was t

[2020-05-15 12:32] jlewi commented on #1048
@Bobgy any update on this? It would be great to have an updated manifest that we could begin testing with GCP blueprints and multiuser.

[2020-05-15 13:15] yassine-labidi commented on #1161
@jlewi  I went through the suggested steps to attempt a fix:

 * The `iap-enabler` pods and update prods permissions errors
   According to the snapshot below, WI seems fine:

<img width="1300" alt="iap-enabler" src="https://user-images.githubusercontent.com/63303906/82053824-f4ce4200-968b-11ea-8c27-b4ac08496f11.png">

 * Workload Identity for the `iap-enabler` pod seems correctly mapped
[code]

[2020-05-15 13:43] terrytangyuan commented on #1166
Thanks for reporting this. I just submitted the fixes.

[2020-05-15 14:15] #1125 closed

[2020-05-15 15:15] Bobgy commented on #1048
@jlewi Thanks for the reminder. A quick question: is there still any value merging KFP multi user mode to non v3 manifest?

[2020-05-15 16:45] #1166 closed

[2020-05-15 20:12] jlewi opened #1173 "Can we remove the application.so from kubeflow/manifests"
We have a 27mb .so file checked into manifests.
https://github.com/kubeflow/manifests/blob/master/plugins/kustomize/plugin/app.k8s.io/v1beta1/Application.so

Can we get rid of this?

@kkasravi do we still need this?

[2020-05-15 20:28] Jeffwan commented on #1169
Any plan to upgrade istio? 1.1.x is too old and if isito gateway in `kubeflow` doesn't work in higher istio versions, we might want to upgrade istio first. Some other components depends on istio may need corresponding changes.

[2020-05-15 23:41] jlewi commented on #1169
@Jeffwan I think the answer about which version of ISTIO to install will vary from platfom to platform.

On GCP we are planning on switching to ASM (managed ISTIO)  (kubeflow/manifests#1024) . Right now this will install ISTIO 1.4. Really what it means is on GCP ISTIO versioning will be determined by ASM.

This will likely lead to version incompatible issues which we will have to surface upstream

[2020-05-15 23:45] jlewi opened #1174 "Lots of resources have status fields which breaks ACM"
A lot of our K8s resources (e.g. Jupyter CRD) have status set
https://github.com/kubeflow/manifests/blob/d82342c88cb943635d6842db3153f9909181a067/jupyter/notebook-controller/base/crd.yaml#L65

This breaks ACM validation and likely other validation as well. I suspect having status fields breaks apply. So we need to fix this as part of upgrades (kubeflow/kfctl#304)

As part of fixing this we should

[2020-05-16 00:55] jlewi commented on #1174
It looks like the existence of status fields in CRDs is rampant.

Argo doesn't have it
https://github.com/argoproj/argo/blob/master/manifests/base/crds/workflow-crd.yaml

Not seeing it in cert-manager either
https://github.com/jetstack/cert-manager/blob/master/deploy/crds/crd-clusterissuers.yaml

KFServing has it:
https://github.com/kubeflow/kfserving/blob/e25758f6da020e3e8ad63f0880ab95de6af8395b/

[2020-05-16 17:11] shawnzhu commented on #959
FYI only: for those who uses Minikube which doesn't have these required config enabled by default, it will to start Minikube with extra config:

[code]

**Notice**: it only works when creating new VM. doesn't work if the VM has been created already.

Refer: https://github.com/linkerd/linkerd2/issues/3260#issuecomment-525063791

[2020-05-16 18:54] yanniszark commented on #1169
@Jeffwan we already have Istio 1.3.1 committed in manifests, thanks to @krishnadurai.
The `kfctl_istio_dex` config already uses it successfully.

It still works for 1.3.1 (and maybe 1.4, haven't tried though).
However, I see indeed that the docs say:

I wonder if this is a practical issue or a best-practice issue.
Agreed that it would be best to follow the Istio recommendation.
We also need to fin

[2020-05-16 20:16] jlewi commented on #1048
No. I don't think so. I would just putting the new features in the new v3 version of the manifest.

[2020-05-16 20:27] jlewi commented on #1161
You do not appear to have workload identity configured correctly for the IAP enabler pods. It looks like your pod is using the VM service account which is unlikely to have sufficient permission to modify the backend pods.

With the default installation the iap-enabler pod should be using the `kf-admin` service account which should be mapped to the `${KFNAME}-admin@$PROJECT.iam.gserviceaccount.com`

[2020-05-17 11:12] Bobgy commented on #1048
Thanks for confirmation, I guess so. I will try porting kfp standalone to kustomize v3.

[2020-05-18 13:16] jlewi commented on #375
Can we add unittests that verify that we don't have any manifests that violate the restrictions in this issue? So all the issues @jbrette mentioned in his original comment?

I added some validation tests here:
https://github.com/kubeflow/manifests/blob/master/tests/validate_resources_test.go

It should be easy to copy those tests to perform additional validations; e.g. for version.

[2020-05-18 13:21] jlewi commented on #1136
@lalithvaka any interest at taking an initial stab at this issue?

[2020-05-18 13:23] jlewi commented on #897
@elikatsis @dushyanthsc any update on this?

[2020-05-18 13:27] jlewi commented on #1007
@kkasravi Have you had a chance to check whether we can easily add KPT annotations that are backwards compatible with vars substitutions?

[2020-05-18 13:27] jlewi commented on #1023
@animeshsingh WDYT?

[2020-05-18 13:44] elikatsis commented on #897
Hi @jlewi,

I believe MetadataWriter implementation as well as the related KFP manifests are compatible with KF manifests. So it should be easy to extend these manifests to deploy metadata writer.

I'll let @dushyanthsc or @rmgogogo verify.

[2020-05-18 14:03] jlewi commented on #1090
@Bobgy Any update on this?

[2020-05-18 14:10] jlewi commented on #1121
Closing this issue because the race condition should be fixed by #1143.

@joepeskett @snowlover173 the firewall issue seems like a different issue. Please open up a new issue if you are still having trouble.

[2020-05-18 14:12] #1121 closed

[2020-05-18 14:57] jbottum commented on #1168
@geoantony9 Hi Geo, did you get this resolved? what platform are you running (AWS, GCP, on-prem) ?  Which version of K8s?

[2020-05-18 16:23] animeshsingh commented on #1023
+1 and agree to making Tekton the default CI/CD engine being deployed with Kubeflow.

[2020-05-18 17:12] dushyanthsc commented on #897
We updated the manifest to be consistent. Is there anything else required to change on the Metadata (gRPC) deployments to enable metadata-writer @Ark-kun ?

[2020-05-19 00:50] Bobgy commented on #1090
@jlewi I will start on these this week.

[2020-05-19 12:38] nrchakradhar commented on #1169
Thought will add references to the finer documentation and isito issue.
Documentation: Specifically in [Gateway section](https://istio.io/docs/reference/config/networking/gateway/#Gateway)
<img width="602" alt="Gateway" src="https://user-images.githubusercontent.com/38882990/82326624-c093b200-99fa-11ea-9990-a637554d15c1.PNG">
[Istio issue](https://github.com/istio/istio/issues/19970)
[Comment](htt

[2020-05-19 16:16] jlewi commented on #1169
THanks @nrchakradhar  Virtual services can reside in any namespace. We already have virtual services in multiple namespaces. VS  can refer to gateways in other namespaces.

[2020-05-19 16:19] jlewi commented on #1007
It looks like kustomize on master now has an alpha `config` command which supports setters. So it looks like this functionality might be getting upstreamed from kpt.

I haven't checked if this functionality has made it into any of the existing releases. It does not appear to be in kustomize 3.2.1

[code]

[2020-05-19 17:32] apryiomka opened #1182 "jupyter-web-app fails with kustomize build for aws overlay"
[code]

[2020-05-19 17:39] apryiomka commented on #1182
It seems like aws overlay is causing this error...

[2020-05-19 17:59] PatrickXYS commented on #1182
/assign

/cc @Jeffwan

[2020-05-19 20:19] Jeffwan commented on #1182
@apryiomka

Are you testing master? Can you delete `aws` overlay at this moment and have another try?

[2020-05-19 21:55] apryiomka commented on #1182
@Jeffwan , i am not testing master, i am trying to get KFServing fix with master. Since it is not tagged to any release, i have no choice but to deploy master. Removing `aws` overlay does seem to solve the issue. My best guess it is related to this bug in kustomize: https://github.com/kubernetes-sigs/kustomize/issues/1251

[2020-05-19 21:57] apryiomka opened #1183 "KServing terminates inference service pods with readiness probe failure (kfnative v0.11.1)"
The service is deployed like so:
[code]

This is the pod spec:
[code]

[2020-05-19 22:00] apryiomka commented on #1183
Using this mage in the deployment:
[code]

[2020-05-20 04:46] thesuperzapper commented on #538
@yanniszark, I am now unable to use v1.0.2 of this repo with Kustomize 3.5.4 due to this issue.

[2020-05-20 05:09] jlewi commented on #1063
Preliminary blueprints are in: https://github.com/kubeflow/gcp-blueprints

[2020-05-20 17:54] Jeffwan commented on #1182
em. master components have been refactored but it's still using base rather than base_v3 in this case. I have not looked into details yet. AWS overlay was added recently that's why I suggest to remove and see it's working or not. If original kfdef doesn't work, then it could be kustomize issue

[2020-05-20 23:38] apryiomka opened #1191 "oidc authentication EnvoyFilter should not use default ingress"
When we enable authentication, it selects default istio ingress gateway that effectively enables authentication for the entire cluster including the KFServing inference services. Inference services should have their own way of authentication that can be different from the default Kubeflow authentication. For example, we may choose to use single OpenID provider for Kubeflow, but something else, lik

[2020-05-21 00:26] jlewi commented on #1174
This is largely fixed by #1175 and #1179.

The remaining problem is in the istio manifests. I have a prototype of a kustomize function transformer to fix those.

[2020-05-21 00:27] #1174 closed

[2020-05-21 14:00] #1090 closed

[2020-05-23 16:49] jbottum commented on #1183
@yuzisun Hey Dan, is this something the kfserving team would look at?  could you help get it routed to the right folks please?

[2020-05-24 09:23] yuzisun commented on #1183
@jbottum I have discussed with the user on slack this is expected default behavior in KFServing 0.2.2 where the inference service scales down to 0 after 30s without active traffic.

/close

[2020-05-24 09:23] #1183 closed

[2020-05-24 20:55] #1173 closed

[2020-05-25 14:34] shawnzhu opened #1201 "[Dex] Be able to authenticate user against GitHub"
When using `kfctl_k8s_dex.v1.0.2.yaml`, it configures dex with static user `admin@kubeflow.org` which works out of box.

When using it in a real multi-tenant setup, it could delegate user identity store to an external identity provider to improve the authentication UX. E.g., GitHub as a popular solution in both open source community and enterprise.

The implementation is as simple as a new overlay

[2020-05-26 19:47] dan-slinky-ckpd commented on #774
Folks on this ticket might be interested in this KEP https://github.com/kubernetes/enhancements/pull/1803

[2020-05-27 03:18] shawnzhu commented on #1169
IMHO, there're at least 4 places need to change:

1. component `istio/istio`: remove hard coded namespace plus adding a variable named `namespace`:
https://github.com/kubeflow/manifests/blob/299f4669c9e467ad1234f96a6192aca94fc09801/istio/istio/base/kustomization.yaml#L6
2. anywhere that refer to `kubeflow/kubeflow-gatway` no matter virtual-services or ConfigMap, need to use `Istio-system/kubeflow-

[2020-05-28 18:43] yantriks-edi-bice commented on #1142
Is this really closed? Does this mean that kfserving should work in kubflow 1.0.2? I've tried upgrading to 1.0.2 (and yes process completes but cannot verify the version - where is that?) and keep getting the following when creating tfjobs etc.

"failed calling webhook "inferenceservice.kfserving-webhook-server.pod-mutator": Post https://kfserving-webhook-server-service.kubeflow.svc:443/mutate-pod

[2020-05-29 00:51] #1201 closed

[2020-05-29 04:58] supertetelman commented on #991
I'm getting a similar error using the v.1.0.2 version of the `kfctl_k8s_istio.v1.0.2.yaml` config.

[code]
It works fine when I move up to the master branch and use `kfctl_k8s_istio.yaml`

[2020-05-29 12:52] jlewi opened #1212 "Define OWNERs and OWNERs Aliases for kfserving related manifests"
The directories related to KFServing should have OWNERs files granting relevant KFServing folks approval rights to the configurations related to KFServing.

My suggestion would be to leverage [OWNERS_ALIAS](https://www.kubeflow.org/docs/about/contributing/#owners_aliases) since the configurations are spread across multiple files.

We should add an OWNERs file to tests as well
https://github.com/ku

[2020-05-29 12:56] jlewi commented on #1212
/cc @yuzisun @animeshsingh @cliveseldon @ellistarn

[2020-05-29 13:35] #1091 closed

[2020-05-29 14:41] jlewi opened #1213 "Unittest to validate admission web hooks don't apply to themselves"
We've experienced a number of problems in Kubeflow where admission webhooks don't use a namespace or objectselector to prevent the admission hook from applying to itself.

This can cause outages  e.g.

kubeflow/kubeflow#4808
kubeflow/kfserving#568

We should be able to prevent this by ensuring Kubeflow admission hooks use a namespace selector or object selector to prevent them from applying to the

[2020-05-31 23:03] yuzisun commented on #1146
updated  to 0.3 in https://github.com/kubeflow/manifests/pull/1156.

[2020-05-31 23:03] #1146 closed

[2020-06-01 01:05] Bobgy opened #1217 "alice_gcp test data don't pass after `make generate`"
## Steps to reproduce
1. checkout master branch
2.
[code]
3. Error message
[code]

## Env
[code]

[2020-06-01 01:06] Bobgy commented on #1217
/assign @jlewi

[2020-06-01 22:40] jlewi commented on #1217
@Bobgy I'm using

[code]

Can you please try the latest and see if that fixes the issue?

[2020-06-02 02:18] jlewi commented on #774
I'm closing this issue because remaining work is being tracked by kubeflow/manifests#1062

[2020-06-02 02:18] #774 closed

[2020-06-02 02:19] jlewi commented on #1095
@Jeffwan any update on what your plans for 1.1 are?

[2020-06-02 02:21] jlewi commented on #1096
@animeshsingh looks like I cc'd the wrong person. What are your plans regarding installation of KF 1.1? Are you going to recommend people use your operator? Are you going to use the new v3 manifests or the older versions?

[2020-06-02 02:21] jlewi commented on #1097
@yanniszark @krishnadurai any update on this?

[2020-06-02 03:09] animeshsingh commented on #1096
@jlewi what's the date for 1.1 release? Also wouldn't we encourage everyone to move to kustomizev3 manifests if every component is being moved, though only the entry point (kpt, kfctl/kfdef, operator) will differ?

[2020-06-02 09:33] axelborja commented on #386
I think this one is a mandatory feature.

[2020-06-02 14:30] yanniszark commented on #1191
Hi @apryiomka!
You can configure the EnvoyFilter to apply to only a single host.
There is a wide selection of options, you can see them here:
https://istio.io/docs/reference/config/networking/envoy-filter/
Alternatively, you can rollout a separate Istio Gateway for KFServing.
Do these options satisfy your use-case?

[2020-06-02 16:35] apryiomka commented on #1191
@yanniszark link to istio documentation doesn't help. First of all, the current filter is not written in the new format, I would have to rewrite the filter from scratch. The reported issue is describing the current kubeflow behavior that is flowed in my opinion, a link to istio docs doesn't fix anything.

If you have an example of how to rewrite the filter, please share the example or create a PR

[2020-06-02 16:36] terrytangyuan commented on #229
This is done in https://github.com/kubeflow/manifests/tree/master/xgboost-job/xgboost-operator.
/assign

[2020-06-02 16:37] terrytangyuan commented on #229
/close

[2020-06-02 16:37] #229 closed

[2020-06-02 16:41] apryiomka commented on #1191
Currently the filter is applied to the default ingress, adding a gateway that uses the same ingress wouldn't not address the issue. The issue is that we shouldn't apply kubeflow UI filter to the default ingress, but rather to the kubeflow virtual services. The problem with kubeflow virtual services is that they don't inject sidecars meaning we cannot really apply the filter directly to the UI comp

[2020-06-03 12:57] jlewi commented on #1007
@kkasravi You were right about `kpt fns`; it looks like those might be a great solution to a lot of our problems e.g. (kubeflow/kfctl#345). The use of docker images looks like it will be advantageous in some cases (eg. allow for more modularity) but will create problems in some cases (e.g. when trying to deploy from within a docker container).

It looks like `kpt fns` are just go binaries though a

[2020-06-03 13:42] #4 closed

[2020-06-03 13:44] #27 closed

[2020-06-03 13:44] #233 closed

[2020-06-03 14:01] #417 closed

[2020-06-03 14:02] #644 closed

[2020-06-03 14:06] jlewi commented on #1096
kubeflow/kubeflow#5022 is tracking the release. Lets say end of june.

Yes. I would recommend using the V3 manifests because they should address alot of the pain points raised by users.

[2020-06-03 14:25] jlewi commented on #1048
@Bobgy Any update on this?

[2020-06-03 21:00] animeshsingh commented on #1096
Makes sense
/assign @adrian555

[2020-06-04 01:30] Bobgy commented on #1048
@jlewi I'm working on KFP 1.0 release now, will continue after cutting first rc this week

[2020-06-04 09:45] collinarnett opened #1228 "Can't connect to Kubeflow dashboard after following "Microk8s for Kubeflow""
I followed the tutorial on installing kubeflow via microk8s but I'm having trouble accessing the dashboard. I went to the address listed but nothing loads. I'm confused because other guides on the site mention configuring Istio but there is never a configuration step listed in the tutorial. Not sure what to do at this point.

[2020-06-04 16:27] #1228 closed

[2020-06-05 05:58] MrXinWang commented on #1217
I also run into the similar question and found that kustomize v3.2.1 works fine. @Bobgy just FYI.

[2020-06-06 14:08] yanniszark commented on #1168
Hi @geoantony9! The error you're seeing:
`x509: certificate signed by unknown authority`

is most likely because you are using a certificate that's not signed by a trusted authority (e.g., a self-signed certificate). In later versions of the AuthService, you can configure it to trust additional authorities by setting the `CA_BUNDLE` environment variable, which was added by this PR:
https://github.

[2020-06-06 15:01] yanniszark commented on #1191
@apryiomka lots of information here, let me try to answer.

You're right, injecting all components with Istio sidecars is still a work-in-progress. Currently, authentication and authorization in Kubeflow is designed to work at the gateway level. When most components are able to use Istio sidecars, we should be able to discuss solutions that apply at the sidecar level.

Since it's applied at the Ga

[2020-06-08 18:28] jlewi opened #1234 "Upgrade cert-manager to 0.15; add probes to deal with readiness failures during deployment"
It looks like we are currently on cert-manager 0.11. The latest is 0.15. It looks like 0.12 added readiness and liveness probes for the webhook.
https://github.com/jetstack/cert-manager/pull/2245

This might fix issues during deployment. Currently, if we try to create cert-manager resources (e.g. certificates for the kubeflow admission-webhook) then we will get an error like

[code]

Adding kubect

[2020-06-09 05:03] #522 closed

[2020-06-09 05:03] #521 closed

[2020-06-09 05:03] #512 closed

[2020-06-09 05:03] #486 closed

[2020-06-09 05:03] #485 closed

[2020-06-09 05:03] #484 closed

[2020-06-09 05:03] #481 closed

[2020-06-09 05:03] #423 closed

[2020-06-09 05:03] #449 closed

[2020-06-09 05:03] #422 closed

[2020-06-09 05:03] #420 closed

[2020-06-09 05:03] #395 closed

[2020-06-09 05:03] #411 closed

[2020-06-09 05:03] #384 closed

[2020-06-09 05:03] #284 closed

[2020-06-09 05:03] #288 closed

[2020-06-09 05:03] #256 closed

[2020-06-09 05:03] #190 closed

[2020-06-09 05:03] #222 closed

[2020-06-09 05:03] #147 closed

[2020-06-09 05:03] #164 closed

[2020-06-09 05:03] #24 closed

[2020-06-09 05:03] #737 closed

[2020-06-09 05:03] #587 closed

[2020-06-09 05:03] #23 closed

[2020-06-09 05:03] #385 closed

[2020-06-09 08:02] #75 closed

[2020-06-09 08:02] #6 closed

[2020-06-09 08:02] #7 closed

[2020-06-09 08:02] #66 closed

[2020-06-09 08:02] #83 closed

[2020-06-09 08:02] #85 closed

[2020-06-09 08:02] #74 closed

[2020-06-09 08:02] #87 closed

[2020-06-09 08:02] #101 closed

[2020-06-09 08:02] #84 closed

[2020-06-09 08:02] #329 closed

[2020-06-09 08:02] #272 closed

[2020-06-09 08:02] #643 closed

[2020-06-09 08:02] #647 closed

[2020-06-09 08:02] #26 closed

[2020-06-09 08:02] #670 closed

[2020-06-09 08:02] #663 closed

[2020-06-09 08:02] #676 closed

[2020-06-09 08:02] #686 closed

[2020-06-09 08:02] #680 closed

[2020-06-09 08:02] #425 closed

[2020-06-09 08:02] #391 closed

[2020-06-09 08:02] #167 closed

[2020-06-09 08:02] #527 closed

[2020-06-09 08:02] #232 closed

[2020-06-09 08:02] #130 closed

[2020-06-09 08:02] #123 closed

[2020-06-09 08:03] #629 closed

[2020-06-09 08:03] #701 closed

[2020-06-09 08:06] vpavlin commented on #391
@kkasravi I believe this is still an issue for some components, right? And it would still be valuable to do this

[2020-06-09 08:15] yanniszark commented on #566
/reopen
kpt setters may be a good fit for this issue (vs kustomize overlays).

[2020-06-09 09:05] vpavlin commented on #1022
ping @cliveseldon

[2020-06-09 11:02] #625 closed

[2020-06-09 11:02] #619 closed

[2020-06-09 11:02] #618 closed

[2020-06-09 11:02] #548 closed

[2020-06-09 11:02] #547 closed

[2020-06-09 11:02] #539 closed

[2020-06-09 11:02] #525 closed

[2020-06-09 11:30] krishnadurai commented on #1234
@jlewi it looks like this will help the situation with cert-manager readiness. We should look to upgrade to 0.15.
Can kfctl leverage waiting for availability to deploy cert-manager resources?

[2020-06-09 11:34] jlewi commented on #1234
@krishnadurai in principle kfctl can run any arbitrary code.

The approach we are taking with GCP blueprints is much simpler. We just use `kubectl`
https://github.com/kubeflow/gcp-blueprints/blob/5734f2693f89ea45fa0c404bd3330caf70e4cba8/kubeflow/Makefile#L203

So we can call `kubectl wait`. I'm hoping that if the deployment includes readiness probes then `kubectl wait` will wait until its actually

[2020-06-09 11:36] jlewi commented on #1048
Bump to P1 because we need this to make pipelines deployable with blueprints.

[2020-06-09 11:47] Bobgy commented on #1048
@jlewi FYI, I reviewed with Jessie today, she has no problem on the plan. I will start on this tomorrow (got some urgent issues today).

[2020-06-09 11:56] jlewi commented on #1048
Thanks @Bobgy we are trying to target June 19 for cutting the initial RC.

[2020-06-09 12:44] jlewi commented on #1033
This is fixed by #345 which adds a kpt function to perform the transformation.

[2020-06-09 12:44] #1033 closed

[2020-06-09 13:05] jlewi commented on #1063
A couple work items remain to close this out

* #1237 remove the KFDefs to avoid confusion
* Add Katib to the blueprint
* Add pipelines to the blueprint
* Rename https://github.com/kubeflow/manifests/tree/master/stacks/gcp to "generic" or something else
    * It will not be used for GCP
    * It is still useful as an example

[2020-06-11 05:17] Bobgy commented on #1217
Thanks! @jlewi @MrXinWang
verified 3.2.1 works

[2020-06-11 14:19] krishnadurai opened #1244 "Make an E2E test for manifests"
Since #1237 removes the erstwhile GCP cluster-based E2E test. We might need an E2E test to:

1. Ensure that dependencies within the manifest definitions are maintained and are deployed in order.
1. All required custom resources definitions are created before the CRs are applied
1. Ensure that common services defined in manifests remain functional

The bar for this E2E test would be:
1. The test is

[2020-06-11 14:52] jlewi commented on #1217
Thanks @Bobgy I'm going to close the issue.

[2020-06-11 14:52] #1217 closed

[2020-06-11 15:01] #818 closed

[2020-06-11 15:07] jlewi commented on #1244
Per my [comment](https://github.com/kubeflow/manifests/pull/1237#issuecomment-642119697), I think the question is what tests should happen upstream vs. downstream?

For GCP our plan is to move the E2E tests downstream kubeflow/gcp-blueprints#42. We are doing this because I think we need better separation of concerns.

The manifests themselves should largely be owned and maintained by the applicati

[2020-06-15 09:08] krishnadurai opened #1252 "Manifests release 1.1"
Opening this issue to track releasing manifests as part of 1.1.

- Ref: kubeflow/kubeflow#5022
- We will need to
    - [x] Cut a release branch
    - [ ] Generate Manifests for each kfdef

/assign @krishnadurai

[2020-06-15 09:11] krishnadurai commented on #924
/close

[2020-06-15 09:11] #924 closed

[2020-06-15 09:18] krishnadurai commented on #1244
Most of my concerns are deployment concerns.

It may benefit us to have a conformance test with a neutral platform (like KinD) apart from the downstream tests with vendors. This will help us in having a deployment validity check in CI before a merge of a PR to master.

Services like cert-manager, Istio etc fall under this bracket.

[2020-06-15 13:29] jlewi commented on #538
Before we close this out it would be good to add a unittest ala
https://github.com/kubeflow/manifests/blob/master/tests/validate_resources_test.go

To verify we don't use the deprecated syntax in any kustomization.yamls

[2020-06-15 17:48] jlewi commented on #1078
@krishnadurai and @yanniszark Could you provide an update on this? Do we think its going to land for KF 1.1? If not can we down grade it to P2 and remove it?

[2020-06-15 17:51] jlewi commented on #375
Downgrading to P2 and removing from 1.1 since no one is working on the unittests to verify we don't have any incompatible resources.

[2020-06-15 17:56] jlewi commented on #897
Downgrading to p2 and removing from KF 1.1. because it doesn't look like we have a clear owner so it doesn't seem like its going to get completed.

/cc @aronchick @karlschriek

[2020-06-15 17:59] jlewi commented on #1023
Removing from KF 1.1 since no one is working on this.

[2020-06-15 18:02] jlewi commented on #1043
I think we can just remove it

[2020-06-15 18:03] #1063 closed

[2020-06-15 18:03] jlewi commented on #1062
Closing this issue; we have sub issues tracking the remaining work.

[2020-06-15 18:03] #1062 closed

[2020-06-16 01:11] Ark-kun commented on #897
No. Metadata Writer is standalone and should be compatible with the rest of the deployments (after the GRPC vs. HTTP service names were fixed).

[2020-06-16 01:13] Ark-kun commented on #897
@jlewi I think we just need to add the Metadata Writer deployment (deployment, SA, role, binding) manifests to KF.

[2020-06-16 01:15] Ark-kun commented on #897
/cc @rmgogogo @Bobgy

[2020-06-16 01:16] Ark-kun commented on #897
Looks like https://github.com/kubeflow/manifests/pull/1248 fixes this issue.

[2020-06-16 02:24] shawnzhu opened #1254 "Local test is broken"
## Steps to reproduce

1. Checkout master branch
2. Run below commands:

    1. `cd tests`
    2. `make generate-changed-only`
    3. `make test`

All tests should pass but got several failed. e.g.,

[code]

## Possible problem

this should be able be fixed easily after narrowing down to a recent PR #1239

[2020-06-16 13:46] #1254 closed

[2020-06-17 00:10] Tomcli opened #1256 "Should the Knative component also include eventing as an optional overlay?"
/questions
KFServing has use cases for drift and outlier detection that utilize Knative eventing. Should we also maintain the eventing deployment as overlay, so it's align with the our Knative setup?

[2020-06-17 13:11] jlewi commented on #538
Writing the tests as a follow on to #1204 would be a good first issue for anyone interested

[2020-06-17 23:29] jlewi opened #1269 "Makefile generate swallows errors"
https://github.com/kubeflow/manifests/blob/6bc84d9d8661ec6dc74f3e5ac6388a321dc1d2b8/tests/Makefile#L38

As discovered here:
https://github.com/kubeflow/testing/issues/631#issuecomment-645648231

`make generate` doesn't return an error if there is a problem running the python script to generate the tests.

I think the problem is the line

[code]

I think `||` is the logical or operator; so if the L

[2020-06-18 03:03] Bobgy commented on #538
A problem from pipelines is that, pipelines' own kustomize manifests have tried to be compatible with kustomize v2 in kubectl. We are syncing it into kubeflow/manifests/pipeline/upstream as the base for kubeflow manifest to support easy upgrade later.

However, supporting kustomize latest v3 causes incompatibility for `env` vs `envs`. I'm thinking about a way forward.
Maybe we can write a script u

[2020-06-18 13:20] #897 closed

[2020-06-18 13:20] #1048 closed

[2020-06-18 13:54] yuzisun commented on #1256
/cc @cliveseldon

[2020-06-18 13:56] cliveseldon commented on #1256
@Tomcli I think that would make sense to ensure a compatible version of KNative eventing with the installed KNative serving.

+1

[2020-06-18 20:58] adrian555 opened #1285 "fix names for Application and VirtualService in jupyter-web-app/base_v3 and notebook-controller/base_v3"
As mentioned in the [comment](https://github.com/kubeflow/manifests/pull/1246#issuecomment-645103438), open this issue to track.

Basically the current `base_v3` for jupyter-web-app and notebook-controller applications are using `namePrefix` in kustomization.yaml. Hence the name for Application and VirtualService ends up as `jupyter-web-app-jupyter-web-app`. Would like to remove the namePrefix for

[2020-06-19 14:09] #1213 closed

[2020-06-19 14:29] maganaluis commented on #1136
@marcjimz This definitely won't make it into 1.1 but it will simplify the approach we have with GitOps. We can try to tackle this in the upcoming sprints.

[2020-06-19 15:11] andreyvelich opened #1290 "Unable to deploy kubeflow with istio manifest"
I tried to deploy Kubeflow using this manifest: https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_k8s_istio.yaml.

I ran:
1. `kfctl build -V -f https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_k8s_istio.yaml`
2. `kfctl apply -V -f kfctl_k8s_istio.yaml`

I got this error:

[code]

I believe the path to the secret.env is incorrect.

I checked kfctl genera

[2020-06-19 15:25] andreyvelich commented on #1290
Found this: https://github.com/kubeflow/kfctl/pull/356.
New version of kfctl should fix this problem, right @adrian555 ?

[2020-06-19 16:31] jlewi opened #1291 "Bug in AWS manifest should be networking.k8s.io/v1beta1 not v1?"
https://github.com/kubeflow/manifests/blob/92c774b5f0c4b078e8c718870ba983dae0ca3e83/aws/istio-ingress/base/ingress.yaml#L1

Was recently changed in #1245

I think it should be v1beta1

/assign @Jeffwan

[2020-06-19 17:21] adrian555 commented on #1290
@andreyvelich yes, it should be fixed by https://github.com/kubeflow/kfctl/pull/356.

[2020-06-19 18:15] andreyvelich commented on #1290
Thanks @adrian555, after using the latest changes from kfctl master I was able to use master istio config.
I think it would be good to point somewhere that 1.1 Kubeflow release works only with 1.1 kfctl release.

[2020-06-19 18:15] #1290 closed

[2020-06-19 18:49] Jeffwan commented on #1291
/assign @Jeffwan

[2020-06-19 18:49] Jeffwan commented on #1291
Yeah. I think I carelessly brings this problem. Just double check it and It should be `v1beta1`

[2020-06-19 18:50] Jeffwan commented on #1291
Thanks for @jlewi to brings this up. We have not integrated master branch yet.

[2020-06-19 20:10] jlewi opened #1294 "[GCP] Persistent disk name for mysql PV isn't valid"
I tried deploying with GCP blueprints from master. I get the following error

[code]

Here is the contents of `~g_v1_persistentvolume_mysql-pv.yaml`

[code]

@Bobgy How is this supposed to work? How is the PD supposed to get created? Are we using Kubernetes to create the disk? If its created outside of K8s then we probably need a CNRM resource

The name `dls-kf-storage-metadata-store` also looks p

[2020-06-19 22:30] Bobgy commented on #1294
it's supposed to be overridden by a configmap in gcp blueprint instance/kubeflow-app.

dls-kf-storage-metadata-store
this strange value was the original default in manifests, I have no idea what It is either.

I think you'd want kpt setter for it

[2020-06-19 22:32] Bobgy commented on #1294
it's working exactly the same way as minio gcp-pd. I guess maybe I made another mistake

[2020-06-19 22:33] Bobgy commented on #1294
I will fix it next Monday

[2020-06-20 01:32] #375 closed

[2020-06-21 11:29] pingsutw commented on #1269
/assign

[2020-06-21 11:44] pingsutw commented on #1269
It could be closed.
Resolved in https://github.com/kubeflow/manifests/commit/92c774b5f0c4b078e8c718870ba983dae0ca3e83

[2020-06-21 19:42] #1012 closed

[2020-06-22 14:27] jlewi commented on #1252
Looks like the postsubmit tests are failing. Looks like the TFJob operator tests are out of sync.

[kubeflow-manifests-postsubmit-unit-d6a25c6-5684-13a5-1216454708.log.txt](https://github.com/kubeflow/manifests/files/4813760/kubeflow-manifests-postsubmit-unit-d6a25c6-5684-13a5-1216454708.log.txt)

[2020-06-22 14:28] jlewi commented on #1252
@krishnadurai Can you fix the tests and then once the tests are fixed cut the branch?

[2020-06-22 17:35] Jeffwan opened #1298 "Auto PR doesn't change image tag under tests/stack/gcp"
Meet a problem in #1293

[code]

I notice #1270 doesn't update this file `tests/stacks/gcp/test_data/expected/apps_v1_deployment_tf-job-operator.yaml` and my local test failed.

A change a needed to cover `stacks/gcp`

[2020-06-22 17:36] Jeffwan commented on #1298
/assign @jlewi

[2020-06-22 18:12] #1096 closed

[2020-06-22 20:07] jlewi commented on #1252
@krishnadurai looks like the tests are still failing

[code]

Even after #1297; My conjecture is that when you generated the tests you weren't based off of the latest master and as a result you are missing #1284

[2020-06-22 20:21] jlewi commented on #1298
@Jeffwan and @andreyvelich this is WAI

#1270 was opened five days ago. The GCP stack was added after that PR was merged in #1286. This explains why when #1270 ran the GCP stack wasn't updated.

[2020-06-22 20:21] #1298 closed

[2020-06-22 20:28] andreyvelich commented on #1298
@jlewi Thank you, I think you are right.
Can we somehow synchronised the Auto PRs with the current upstream tests?
For example, make sure that Auto PRs is rebasing on the latest upstream commit?

This can help to avoid situation when Auto PR tests is not sync with current upstream branch.

[2020-06-22 20:35] #1294 closed

[2020-06-22 22:03] jlewi commented on #1252
Tests are passing on
https://github.com/kubeflow/manifests/commit/d77107276aaf476aa07d4c9be4ddea8c0fb672c6

We should cut the 1.1 branch on that commit.

[2020-06-23 00:20] jlewi commented on #1298
@andreyvelich This is not an issue with auto PRs. The issue is more general. When the PR was created it was based off the latest commit on master; the same as for a manual PR. Over the course of the lifetime of the PR, changes are merged to master; these won't be on the PR branch unless the user rebases on master.

If we force PRs to be in sync with master then after every PR is merged all open PR

[2020-06-23 00:55] #1291 closed

[2020-06-23 01:10] jlewi commented on #1298
I think this was a weird edge case which should only happen rarely.

The GCP stack was added in #1270; but due to a bug the tests weren't being generated until #1288

[2020-06-23 01:14] jlewi commented on #1252
Branch 1.1. has been cut.

[2020-06-23 01:31] andreyvelich commented on #1298
I am wondering how we can control that cases. And is it a good strategy to create PR to fix unit tests.
For example, if PR was created few days ago and passed the tests, it is not 100% that unit tests will be passed today.

The same situation happened here: https://github.com/kubeflow/manifests/pull/1255. After https://github.com/kubeflow/manifests/pull/1249 got merged, I didn't rerun tests for ht

[2020-06-23 17:18] #1164 closed

[2020-06-24 16:59] yanniszark opened #1321 "ml-metadata image no longer exists, breaking all new installations"
/kind bug

**What steps did you take and what happened:**

Install Kubeflow from any v1.x release.
The metadata deployment uses an image (` gcr.io/tfx-oss-public/ml_metadata_store_server:v0.21.1`) that is no longer available.
Because of this, the metadata component will fail in all existing installations.
In platforms like MiniKF where every component is health checked before continuing, the whole

[2020-06-24 17:49] yanniszark commented on #1321
Raised the issue with the `ml-metadata` folk, @numerology was very helpful and restored the image so our deployments aren't broken anymore.
Also, it seems that ml-metadata doesn't use `v` in front of the tag anymore.
So the new image is `0.21.1` vs `v0.21.1`.

[2020-06-24 17:49] #1321 closed

[2020-06-24 21:21] PatrickXYS commented on #1182
The reason why this fails:

[code]

We need to change this into:

[code]

Otherwise, it will re-deploy `../../base` resources.

But this change induces another issue, I'll keep updated.

[2020-06-25 07:42] Ark-kun commented on #1321
They just did the opposite thing. `0.22.1` was recently removed in favor of `v0.22.1` breaking the KFP tests

[2020-06-25 10:23] #1015 closed

[2020-06-25 12:12] Manvi07 commented on #991
The file `kfctl_gcp_iap.yaml` no longer exists on the master. I get a similar error on version v1.0.2:
[code]

[2020-06-25 15:48] numerology commented on #1321
Yeah...It seems like it was incorrectly purged. Should be recovered now.

[2020-06-25 19:12] vpavlin opened #1323 "Katib is missing finalizers for CRs"
Katib is missing permissions to CRUD finalizers (e.g.  `experiment/finalizers`)

This is necessary for being able to run Katib on OpenShift

[2020-06-26 03:11] #1038 closed

[2020-06-27 17:24] jlewi commented on #869
Should be fixed by #1287

[2020-06-27 17:24] #869 closed

[2020-06-27 17:46] #1269 closed

[2020-06-29 11:17] #1182 closed

[2020-06-29 19:00] supertetelman commented on #1290
It looks like this issue randomly showed up in v1.0.2. I've been using the same script to install Kubeflow and it stopped working due to this error around the 24th. I ran into this issue running v1.0.2.

kfctl: https://github.com/kubeflow/kfctl/releases/download/v1.0.2/kfctl_v1.0.2-0-ga476281_linux.tar.gz
manifest: ttps://raw.githubusercontent.com/kubeflow/manifests/928cf483361730121ac18bc4d0e7a9c

[2020-06-29 23:35] jlewi commented on #1252
@krishnadurai Is there any more work here? Are we just waiting to tag a particular commit as 1.1.0?

[2020-06-30 04:34] krishnadurai commented on #1252
@Jeffwan had mentioned that he wants to patch in a few changes. Otherwise we look good to go for 1.1.0.

[2020-06-30 05:41] adrian555 commented on #1290
@supertetelman by saying `error`, are you referring to the same error reported here?
[code]

If not, could we please have a new issue to track and please provide the detailed error messages. Thanks.

[2020-06-30 11:30] #1323 closed

[2020-06-30 19:04] supertetelman commented on #1290
Yes, that same error message with the same root cause.

I just wanted to update this issue in case someone else hit this trying to deploy the v1.0.2 release on-prem.

[2020-06-30 20:07] #1052 closed

[2020-07-01 13:57] yuzisun opened #1339 "Disable istio sidecar for Knative autoscaler and activator deployment"
KFServing has run into a few issues when autoscaler and activator get injected with istio sidecar, e.g https://github.com/kubeflow/kfserving/issues/912, we also found that sometimes activator has trouble syncing from apiserver when istio sidecar is injected which affects the request path. Per discussion with Knative team, sidecar can also have severe impact on resource usage and throughput, so we

[2020-07-02 00:14] yuzisun commented on #1339
/kind bug

[2020-07-02 00:18] yuzisun commented on #1339
/cc @markusthoemmes

[2020-07-03 09:15] linkvt opened #1343 "Increase istio replicas to 2+ for better availability and because of PodDisruptionBudgets"
/kind bug

**Edit** wups wanted to create this in the manifests repo, please tell me if I should recreate the issue.

**What steps did you take and what happened:**
The PodDisruptionBudgets for istio currently require always 1 pod available while the affected istio deployments have only 1 replica. Draining individual nodes is impossible as the PodDisruptionBudgets would be violated.

**What did yo

[2020-07-03 10:53] Utkagr commented on #1290
[code]
I'm facing the same error.

[2020-07-03 19:06] yuzisun commented on #1339
/reopen

[2020-07-03 19:07] yuzisun commented on #1339
/close

[2020-07-03 19:07] #1339 closed

[2020-07-06 08:18] Utkagr opened #1348 "Can't find a working manifest with kfctl v1.0.2 while trying to setup kubeflow on linux machine using minikube and kfctl"
When I'm using the latest istio manifest from master ([link](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.yaml)), I'm getting the error discussed [here](https://github.com/kubeflow/manifests/issues/1290).
According to the conversation there, this PR https://github.com/kubeflow/kfctl/pull/356 seems to resolve this but the kfctl team hasn't released a version with the late

[2020-07-06 14:40] jlewi commented on #1136
@lalithvaka and @bmorphism any progress on this?

[2020-07-08 05:56] supertetelman commented on #1348
You can try using the istio_dex manifest instead of the istio manifest. That is working fine for me.

[2020-07-08 06:14] Jeffwan opened #1362 "[AWS] Upgrade auth adapter to istio 1.3.x compatible"
AWS cognito solution use mixer adapter to decode JWT token and retrieve userid_header.

In istio 1.2.x , this has been removed and we need to explicitly enable following options in `istio-pilot`.

[code]

We need to either make the configuration change in istio or change auth adapter to 1.3.x compatible way.

Reference:
https://istio.io/latest/news/releases/1.2.x/announcing-1.2/change-notes/

[2020-07-08 06:21] #861 closed

[2020-07-08 13:14] bharath0208 opened #1363 "error evaluating kustomization manifest for dex Error"
Hi All,

I am getting this error when trying to apply this file` kfctl apply -f kfctl_istio_dex.yaml `

[code]

[2020-07-08 15:37] Bobgy opened #1364 "[Pipelines Multi User] integrate with non GCP platforms"
I've merged [the first PR](https://github.com/kubeflow/manifests/pull/1342) for enabling KFP multi user mode.

Platform owners can include this generic module https://github.com/kubeflow/manifests/tree/master/pipeline/installs/multi-user, instead of `pipeline/installs/generic` to test KFP multi user mode right now.

Additional change per platform to integrate with KFP multi user mode:
* KFP api se

[2020-07-08 15:38] Bobgy commented on #1364
/cc @Jeffwan @animeshsingh @yanniszark
Did I miss anyone?

/cc @jlewi
Can you help me notify other platform owners?

[2020-07-08 15:43] Bobgy commented on #1364
Also
/cc @maganaluis
might be able to share his attempts deploying it with istio + dex

[2020-07-08 15:53] Bobgy commented on #1364
https://github.com/kubeflow/manifests/pull/1365 is also a blocker for other platforms

[2020-07-09 00:56] thesuperzapper commented on #1290
@jlewi do we need to do a v1.0.3 release?

[2020-07-09 08:09] Utkagr commented on #1348
I tried with [this](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.yaml) manifest and kfctl v1.0.2-0-ga476281. It failed again. Can you please post your kfctl version and manifest link which worked for you?

[2020-07-09 08:19] Utkagr commented on #1348
However, [this](https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_istio_dex.v1.0.2.yaml) one worked just fine. Thanks!

[2020-07-09 09:14] Utkagr commented on #1348
Hi @supertetelman,

This seemed to work but some of pods in the istio-system namespace are waiting for too long to be created.

I checked logs and found this.
[code]

Any idea on what's happening? It has been more than an hour.

[2020-07-09 10:58] Bobgy commented on #1364
The next PR for securing multi user mode with istio mTLS is https://github.com/kubeflow/manifests/pull/1368.
After this PR, KFP multi user mode is complete. I'll use a separate PR to switch GCP stack to it (already tested the manifest locally, everything works well).

[2020-07-09 13:16] edwardstudy opened #1369 "Master branch failed to deploy on ibmcloud"
Hi folks,

I followed to install kubeflow on ibmcloud: https://www.kubeflow.org/docs/ibm/install-kubeflow/#kubeflow-installation

[code]

I had to hack and use old commit to do that: https://github.com/kubeflow/manifests/tree/3f961d53250665186e4dbab9628c31735540764c

[2020-07-10 04:01] jlewi commented on #1252
Created a Tag from the latest commit
https://github.com/kubeflow/manifests/releases/tag/v1.1-rc.0

[2020-07-10 08:09] ryandawsonuk opened #1371 "seldon manifest needs namespace for istio gateway"
[Currently the istio gateway entry for seldon](https://github.com/kubeflow/manifests/blob/master/seldon/seldon-core-operator/base/resources.yaml#L4721) says `kubeflow/kubeflow-gateway`. @SachinVarghese and I experimented and found that setting this to `kubeflow-gateway` doesn't work if the SeldonDeployments are deployed to any namespace other than kubeflow. Then it needs to be `kubeflow-gateway.ku

[2020-07-10 08:16] cliveseldon commented on #1022
Sorry @vpavlin missed this. Have you tested with 1.1 release candidate

[2020-07-10 08:24] cliveseldon commented on #1022
I see yes the namespace is still hardwired in the manifests so will need to remove.

[2020-07-10 09:58] ryandawsonuk commented on #1022
@vpavlin is this specifically an issue about seldon? Does it not also affect https://github.com/kubeflow/manifests/blob/master/argo/base/deployment.yaml#L8 ?

[2020-07-10 11:53] vpavlin commented on #1022
@ryandawsonuk The issue is not specific to Seldon, but your example is not causing the trouble.

Kustomize is able to override the namespace in many cases, but there are places where it cannot do automatically - like if there is a service reference (`service.namespace.svc` - e.g. https://github.com/kubeflow/manifests/blob/a6755ffa8892c54a37a2e641f7559458eb308c3b/seldon/seldon-core-operator/base/re

[2020-07-10 12:32] cliveseldon commented on #1022
Thanks @vpavlin Any pointers to existing manifests that template with namespace parameter for these cases?

[2020-07-10 16:02] jlewi commented on #1097
@yanniszark @krishnadurai any update on this?

How is the validation of Kubeflow 1.1 going for your platforms?

[2020-07-10 16:05] jlewi commented on #1007
Closing this out because there is no clear work remaining.

I think we might still need to figure out a better solution for clusterDomain and namespace. Lets file a separate more specific issue for that if need be.

[2020-07-10 16:05] #1007 closed

[2020-07-10 22:05] jlewi commented on #1369
/cc @vpavlin @animeshsingh @pdmack @jinchihe @adrian555

[2020-07-10 22:08] animeshsingh commented on #1369
/assign @adrian555 @shawnzhu

[2020-07-10 22:44] adrian555 commented on #1369
@edwardstudy could you please collect some info for me,
* run `kfctl version` to see which version of `kfctl` you have?
* what is your ${KF_DIR}? from the log above, it appears to be `/Users/zidashaw/space/golang/workspace/rel/my-kubeflow`, correct?
* if so, I would expect the manifests cache directory is `${KF_DIR}/.cache`. But the log seems to show that the manifests is cached in `/Users/zidasha

[2020-07-11 04:23] jlewi commented on #1022
@cliveseldon @vpavlin I'm downgrading to P2. I don't consider installing `kubeflow` in non standard namespace to be something that's officially supported. This issue confirms my expectation that the assumption that things are installed in the `kubeflow` is baked into a variety of places.

If application owners want to start fixing those issues, I think that's great. That said unless/until we have

[2020-07-12 19:49] shawnzhu commented on #1369
I can not reproduce this problem with a k8s v1.16.11 by following https://www.kubeflow.org/docs/ibm/install-kubeflow/#kubeflow-installation: and latest `kfctl_ibm.yaml`.

## Steps to reproduce

[code]

Notice that the first few INFO logs right after the _anonymous usage_ section is quite useful to tell whether it creates a  `.cache` directory or invaliates existing cached manifests.

**Tip**: I us

[2020-07-13 11:10] vpavlin commented on #1022
That's fine by me, @jlewi. I mainly submitted this issue to keep track of these since we are going to hit them in Open Data Hub when we start to mix ODH and Kubeflow components - we don't really dictate users to which namespace they should deploynsince we know there are some naming patterns/policies they need to follow in production. I'll keep poking around and will try to help fixing these.

[2020-07-13 13:27] jlewi commented on #1290
@thesuperzapper If you think a 1.0.3 is needed please open an issue and try to find an owner.

[2020-07-13 13:28] jlewi commented on #1290
IIUC the problem is with
https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_k8s_istio.yaml.

And not necessarily all of KF 1.0

/cc @krishnadurai @johnugeorge

[2020-07-13 14:30] jlewi opened #1379 "What to do about dynamic creation of admission hooks and other resources?"
Misconfigured or misbehaving webhooks are an ongoing source of problems see:

* kubeflow/kubeflow#4808
* kubeflow/kfserving#568
* kubeflow/katib#1261

In kubeflow/manifests#1213 we started adding testing to verify that webhooks are well behaved.

However, this only works if an application configures webhooks explicitly as part of its kustomize package.

We have at least two applications (katib, an

[2020-07-13 15:05] yuzisun commented on #1379
@jlewi As of KFServing 0.3 which is in kubeflow 1.1 release branch now the webhook is no longer auto-generated, see [here](https://github.com/kubeflow/manifests/blob/master/kfserving/kfserving-install/base/webhook.yaml).

[2020-07-13 15:06] #1022 closed

[2020-07-13 15:13] andreyvelich commented on #1379
@jlewi I think we can add Katib YAML webhooks as part of Kustomize package. That can also help when we clean-up resources after Kubeflow deletion.
What do you think @gaocegege @johnugeorge ?

[2020-07-13 16:19] ellistarn commented on #1379
For a little bit of insight on this, Kubebuilder 1.0 used dynamic webhooks, so any controller built on that version will have this (Katib, etc). Kubebuilder 2.0 uses static webhooks.

[2020-07-13 19:12] yanniszark commented on #326
/reopen
since this isn't solved.

@IronPan

With strategy `Recreate` in the deployment and only 1 replica, it seems not to present any issues. However, I'm not very comfortable going against Kubernetes guidelines, especially for a Stateful application. For our deployments, we will probably be moving towards using StatefulSets. If you would be open to accepting this contribution upstream, please le

[2020-07-13 23:37] Bobgy commented on #326
my major concern is backwards compatibility.

If kubectl apply --prune or kpt apply can mature, I am okay with the change once we switch to those mechanisms that handle auto GC for obsolete resources.

[2020-07-14 01:23] jlewi commented on #1379
Thanks @ellistarn for the explanation. So it looks like we should probably figure out which controllers if any besides katib are still using dynamic webhooks and get them updated.

[2020-07-14 01:24] jlewi opened #1380 "Katib don't enable metrics collector in kubeflow namespace"
Related to: kubeflow/katib#1261

We currently have it enabled here
https://github.com/kubeflow/manifests/blob/5cc6fd3ca0eac7c46aad116c04713d6944f249fd/namespaces/base/namespaces.yaml#L8

Should we remove it so that the metrics collector webhook can't interfere with pods in the kubeflow namespace?

[2020-07-14 01:24] jlewi commented on #1380
/cc @andreyvelich @johnugeorge

[2020-07-14 05:41] williamyeh opened #1382 "Using local manifests tarball"
Hi,

I'm working on deploying kubeflow in an air-gapped k8s environment.
Got this yaml file from the kubeflow getting started page.
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

Any idea if I could change the second to last line of the yaml file pointing to the path of the yaml file I downloaded locally in my environment?
I have tried path or PATH, but both failed.
Anyone know what k

[2020-07-14 17:35] andreyvelich commented on #1380
@jlewi Does every config to deploy Kubeflow relate on this manifest?
Should we modify kfctl or other tools that deploys Kubeflow?

[2020-07-14 18:17] jlewi commented on #1382
/cc @yanniszark @johnugeorge

[2020-07-14 18:20] jlewi commented on #1380
@andreyvelich I think only GCP blueprints is using that config. I think kfctl might still be hardcoding namespace creation. I think kfctl should move in the direction of using config files so its easier for users to customize but that's a question for the kfctl folks.

[2020-07-14 18:22] jlewi commented on #1252
@Bobgy What cherry-picks do we want to get onto the 1.1 branch for the next GCP rc?

* We need #1385 for knative
* What PRs do we need for multi-user pipelines

[2020-07-14 18:34] andreyvelich commented on #1380
Ok, will remove it.
/assign @andreyvelich

[2020-07-14 18:41] jlewi opened #1386 "validate_tests should not allow an exception to custom definitions to have status"
#1375 added an exception to our unittest to ensure resources don't have status fields to allow customresourcedefinitions to have
status.

https://github.com/kubeflow/manifests/blob/8a9573495aba423a7048e0bc28f6df6309df4544/tests/validate_resources_test.go#L233

I don't think we want to allow status fields.

The original motivation for this test #1179 was to support git ops tools. Having status fiel

[2020-07-14 23:26] amybachir commented on #1363
I ran into the same issue today. I have to say the installation was not smooth at all. I had to mess with a bunch of kustomize files to get it working. Here is how I got through the "data.namespace" issue.

1. remove the namespace variable reference completely from this file kustomize/dex/kustomization.yaml
2. add the following in kustomize/dex/base/kustomization.yaml
[code]

1. add the following

[2020-07-14 23:57] jlewi commented on #415
/lifecycle frozen

[2020-07-15 05:34] Bobgy commented on #1252
@jlewi all required cherry picks for multi-user pipelines are already in. Just double checking we are not publishing the public release right now? I found some issues in https://github.com/kubeflow/pipelines/issues/3241#issuecomment-657963091, and need some time to investigate.

[2020-07-15 07:24] cliveseldon commented on #1386
This looks like its due to https://github.com/kubernetes-sigs/controller-tools/issues/456

[2020-07-15 22:52] maganaluis opened #1390 "cache server failing for KFP multi-user installation"
**Description**
We are trying the Kubeflow with the KFP multi-user installation using Kustomize on a internal deployment stack. All services are working as expected, we are able to login, launch namespaced experiments via the SDK, and deploy with kfserving. We found an issue with the cache server not deploying correctly.

[code]

[code]

These are the logs from the cache deployer:
[code]

**Expect

[2020-07-15 22:56] maganaluis commented on #1390
@Bobgy FYI I created it on the manifests repo.

[2020-07-16 02:51] Bobgy commented on #1390
Thanks @maganaluis!
https://github.com/kubeflow/pipelines/pull/4186 and https://github.com/kubeflow/pipelines/pull/4171 has been merged to fix this. They were released as 1.0.0-rc.5.

We'll mark this resolved when updating kubeflow manifest to KFP 1.0.0.

[2020-07-16 03:46] Bobgy commented on #1390
/assign @Bobgy

[2020-07-16 12:29] fahdrazavi commented on #1290
Can you please share the kfctl version and manifest yaml you used for the deployment?

[2020-07-16 12:45] andreyvelich commented on #1290
@fahdrazavi I was using this manifest: https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_k8s_istio.yaml and this release version for kfctl: https://github.com/kubeflow/kfctl/releases/tag/v1.1-rc.0 should work.

[2020-07-16 22:09] #1386 closed

[2020-07-17 16:40] desaintmartin opened #1392 "Argo Workflow: allow to set default ttlStrategy"
According to https://argoproj.github.io/argo/workflow-controller-configmap/, one can set a default ttlStrategy for Workflows.

Unfortunately, https://github.com/kubeflow/manifests/blob/master/argo/base/config-map.yaml does not allow such customization.

Would it be possible to add a kustomize option to set such a default?

[2020-07-19 17:13] #923 closed

[2020-07-20 07:02] evonit commented on #1363
In my case, simply append one line in kustomize/dex/base/params.env
namespace=auth
It works. got another error though...

[2020-07-20 14:18] jlewi commented on #1252
@Bobgy We need to get the fixes for the KptFiles in kubeflow/gcp-blueprints#89

[2020-07-21 01:53] #1095 closed

[2020-07-21 04:14] #1084 closed

[2020-07-21 13:24] jlewi commented on #1252
On GCP side we got broken by changes in kpt (kubeflow/gcp-blueprints#89). This is now fixed on master.
Master is now green except for 2 tests which appear to be failing due to problems in the tests
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-periodic-master

Plan is to get the fixes for kubeflow/gcp-blueprints#89 cherry-picked into the 1.1 branch and then cut an RC.

[2020-07-21 14:43] jlewi commented on #1380
Fixed by #1387 and #1388

[2020-07-21 14:43] #1380 closed

[2020-07-21 16:59] jlewi commented on #1252
New RC is cut:
https://github.com/kubeflow/manifests/tree/v1.1-rc.1

[2020-07-21 20:08] #1256 closed

[2020-07-21 21:58] supertetelman commented on #1290
Strange, I'm still seeing

[code]

With

[code]

Any idea why I would still be seeing this error on a freshly installed K8S cluster? Or any tips on an easy workaround?

[2020-07-21 22:02] adrian555 commented on #1290
@supertetelman could you run `kfctl version` and verify you are using the latest kfctl? Thanks.

[2020-07-21 23:24] supertetelman commented on #1348
What's the describe from that Pod?

[2020-07-22 03:29] Bobgy commented on #1364
/assign @Jeffwan @animeshsingh @yanniszark @jbottum
FYI, KFP multi user mode verified working properly in Kubeflow 1.1 on GCP, all the work is done.

Recommend going ahead and try integrating it with your platforms, feel free to let me know if there are any blockers.

[2020-07-23 01:05] jlewi commented on #1252
New RC
https://github.com/kubeflow/manifests/releases/tag/v1.1-rc.2

This one is an actual release (tag) and not a branch. This is what we want

[2020-07-24 03:51] Utkagr commented on #1290
The issue occurs with latest kfctl stable release https://github.com/kubeflow/kfctl/releases/tag/v1.0.2 and https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_k8s_istio.yaml as well.

[2020-07-24 05:36] PatrickXYS commented on #1364
AWS test against multi-user KFP here: https://github.com/kubeflow/manifests/pull/1410

[2020-07-24 16:19] adrian555 commented on #1290
@Utkagr please take a look at https://github.com/kubeflow/kfctl/pull/356. If you are using the master branch's kfdef such as `kfctl_k8s_istio.yaml`, you need to use the `kfctl` built from the master branch, not the v1.0.2. Thanks.

[2020-07-24 16:34] PatrickXYS commented on #1364
Also, AWS has tested dex and multi-user KFP and works fine.

[2020-07-24 16:48] animeshsingh commented on #1364
We are going to give it a spin on IBM Cloud
@shawnzhu @adrian555

[2020-07-24 21:54] PatrickXYS commented on #1234
Can we make the change to upgrade cert-manager from `0.11.0` to `0.15.0`? I can help sending a PR for this.

@krishnadurai  @jlewi  @Jeffwan  Any concerns you can share given the update?

[2020-07-24 22:21] PatrickXYS opened #1421 "[AWS] Error when deleting cert-manager application"
When deleting AWS kubeflow deployment, we encountered issue:

[code]

Every single application, we have [5 minutes limitations for deletion](https://github.com/kubeflow/kfctl/blob/master/pkg/kfapp/kustomize/kustomize.go#L424-L431).

Apparently 5 min is not enough for `cert-manager` application. (I didn't look into very details about why it's not enough).

Issue Ref: https://github.com/kubernetes/k

[2020-07-24 22:52] PatrickXYS commented on #1421
/cc @Jeffwan

[2020-07-24 23:21] PatrickXYS commented on #1421
/priority p2

[2020-07-25 01:00] PatrickXYS opened #1424 "Application v3 manifest - Istio and Dex"
Ref: https://github.com/kubeflow/manifests/issues/1062

I wonder if we'll migrate Istio and Dex components to V3. It will be great for us to have at least a `base_v3` directory under the components folder.

By following below principals to establish base_v3 without changing original base+overlay folder:

[code]

Since we AWS side has dependencies on Istio and Dex, there's motivation for us to help

[2020-07-25 01:03] PatrickXYS commented on #1424
/cc @krishnadurai @yanniszark

I can help with the work if you're tied up with 1.1 release.

Also, it would be great if you can share any thoughts on this issue.

[2020-07-25 03:16] #1057 closed

[2020-07-25 03:16] #852 closed

[2020-07-25 03:16] #920 closed

[2020-07-25 13:21] krishnadurai commented on #1234
@PatrickXYS yes you can send in the PR.

[2020-07-25 13:23] krishnadurai commented on #1424
@PatrickXYS I would be glad to accept work on migration.
I can help review.

[2020-07-25 14:06] yanniszark commented on #1424
@PatrickXYS that would be great, thanks!

[2020-07-26 00:11] jlewi commented on #1252
v1.1.0 has been finalized.
https://github.com/kubeflow/manifests/releases/tag/v1.1.0

Note I had to create a tag and not a release because subsequent changes had been cherry-picked onto the branch and GitHub only allows creating a release from the of a branch.

[2020-07-26 00:11] #1252 closed

[2020-07-26 00:16] #231 closed

[2020-07-26 02:20] shawnzhu commented on #1364
I tried a kfdef https://github.com/adrian555/manifests/blob/multi-user/kfdef/kfctl_ibm_dex_multi_user.yaml (Thanks to @adrian555 ) installed on k8s v1.18.6 on IKS, this kfdef ships istio **1.1.6**:

[code]

And the envoyfilter `add-user-filter` to simulate multi-user case via `anonymous@kubeflow.org`. see https://github.com/kubeflow/manifests/blob/baddd858737ea5c7c1f6799221e97ab107213ba7/istio/add

[2020-07-26 02:31] Bobgy commented on #1364
@shawnzhu ibm platform should enable istio sidecar injection in kfdef refer to https://github.com/kubeflow/manifests/blob/baddd858737ea5c7c1f6799221e97ab107213ba7/namespaces/base/namespaces.yaml#L7

[2020-07-26 05:23] Utkagr commented on #1290
@adrian555 how can we install kfctl from the master branch? Can you help me with it?

[2020-07-27 09:07] Junaid-Ahmed94 commented on #1161
Hi @jlewi I am also facing the same issue as  @yassine-labidi. I am using terraform module provided by spotify.  i have done all the things recommended above and can confirm that the account gcloud auth list `$KFNAME-admin` as the service account but yet the logs for iap enabler shows insufficient access.

`ERROR: (gcloud.compute.backend-services.list) Some requests did not succeed:
 - Insufficien

[2020-07-27 15:27] Junaid-Ahmed94 commented on #1161
@yassine-labidi  i am also facing the same issues as you are but i figured out that why the envoy-ingress always shows unhealthy. The health check path is not properly set, I dont know exactly why it happens but this is mentioned in the comments in iap-ingress/base/config-map.yaml (lines 173-184)
You will have to manually set the proper path for healthcheck the path will be `/` just change it to `

[2020-07-27 16:41] yassine-labidi commented on #1161
@Junaid-Ahmed94 Thanks for tagging me in this thread. We ended up changing our initial approach (managing the infrastructure with terraform). It was just too much hassle without a noteworthy benefits. Right now we're using the `gcp` manifest to install kubeflow. It's straightforward with less overhead trying to fill in the missing pieces to make IAP work.

[2020-07-27 18:10] adrian555 commented on #1290
@Utkagr to build from the master branch, you will need to clone the kfctl repo, set up dev environment and build, that will be some effort.

Now since there is a recent rc release is cut in kfctl repo https://github.com/kubeflow/kfctl/releases/tag/v1.1-rc.1, you can get the binary from that link and I think it includes the fix for the problem and should work with the manifests in the manifests rep

[2020-07-28 00:14] Jeffwan opened #1427 "[AWS] Some istio virtual services are created in default namespaces"
new v3 manifest
[code]

Previous manifest

[code]

These are definitely bugs seems `kubeflow` namespace didn't apply on these resources.
That's the reason we see follow errors in main page.

![image](https://user-images.githubusercontent.com/4739316/88604440-41d77880-d02c-11ea-9d8d-21e6b5fa3ccf.png)

Version: v1.1-branch

[2020-07-28 00:14] Jeffwan commented on #1427
/cc @PatrickXYS

[2020-07-28 00:23] Jeffwan commented on #1427
`profiles-kfam` interesting, seems virtual service for kfam name has been changed and AWS V3 is missing `ml-pipeline-tensorboard-ui` as well.

At least, we should bring following vs back to `kubeflow` namespace.

- metadata-grpc
- metadata-ui
- tensorboard

[2020-07-28 01:27] Jeffwan opened #1430 "[AWS] Multi-user pipelines doesn't work for AWS"
There're few things needs to be changed.

1. Pipeline central dashboard return `upstream connect error or disconnect/reset before headers. reset reason: connection failure` which looks at some restrictions on the istio side due to misconfiguration?

I use debug pod pod and seem I am able to fetch pipelines and UI.  Need to find more clues on this issue. Working on it.

2. Python SDK uses http clie

[2020-07-28 04:45] Jeffwan commented on #1430
Problem is below, it should mount volumes and read the values.  There's a problem that only `kubeflow-config` has the `userid-header` and `userid-prefix`. Since configmaps can not be shared across namespaces..This is something we need to improve in the future.. Either use plain txt as env value or replica some info into end user's namespace.

https://github.com/kubeflow/manifests/blob/dcfc9f2a0485

[2020-07-28 05:17] Jeffwan commented on #1430
Checking configurations. Seems multi-user adds lots of security settings.

https://github.com/kubeflow/manifests/blob/dcfc9f2a04854ba2bd7762df6981088f96d9684f/pipeline/installs/multi-user/istio-authorization-config.yaml#L60-L68

After I delete destination rule, central dashboard can talk to ml-pipeline-ui service, I think we need to spend some time understand pipeline mult-user setting and fine tu

[2020-07-28 16:34] shawnzhu commented on #1364
@Bobgy I've tested ☝️ PR where `istio-injection: enabled` is included (Thanks to @adrian555 ). KFP works from UI but I got error message when using KFP SDK from a notebook in my profile namespace:

[code]

I got:

[code]

So I assume the authentication is passed via mTLS since both notebook pod and ml-pipeline.kubeflow.svc pod has sidcars.
Does the RBAC access denied means it requires more rules f

[2020-07-28 18:54] Jeffwan commented on #1364
AWS issues #1430 @Bobgy I didn't follow all the implementation details. Any reason to inject kubeflow namespace and add `DestinationRules`?  I tried to remove destinationRules and UI page works fine. However, I think some multi-user feature might be blocked or restrict due to this.

If there's a checklist to see if multi-user works under expectation under different platforms?

[2020-07-28 18:57] Jeffwan commented on #1364
Another issue I notice is `ml-pipeline-ui-artifact` doesn't use right header. It by default use GCP header, however, it's a little bit to override because configs come from `kubeflow-config` which is in `kubeflow` namespace

[2020-07-28 19:13] animeshsingh commented on #1364
And it seems it's causing other unintended side-effects with KFServing, look at the last comments there.
https://github.com/kubeflow/kfserving/issues/568#issuecomment-664735067

@Jeffwan did you test KFServing at your end within this context?

[2020-07-28 19:45] Jeffwan commented on #1364
We have not tested KFServing with multi-user pipeline yet. Enable injection in kubeflow namespace is kind of breaking change, is the KFServing issue can be resolved under this setting?

[2020-07-28 21:25] Jeffwan commented on #1364
@shawnzhu  em. In this case, for users using KFP client outside the company, does `mTLS` still work?

[2020-07-28 23:58] shawnzhu commented on #1364
The mTLS will happen between `istio-ingressgateway.istio-system.svc` and `ml-pipeline.kubeflow.svc`. it depends on the `istio-ingressgateway` config that whether secure connection from KFP client. it should be just TLS w/o verifying client (e.g., HTTPS).

[2020-07-29 09:11] Junaid-Ahmed94 commented on #1161
@yassine-labidi just for information (and for others who might face the same problems as us). I managed to solve the problems and run the KF instance. I also happen to stumble upon your terraform forked repository so i am assuming you were also using terraform KF module. So below are the things that are important to know.

1. **Enable Workload Identity**: Terraform KF module (spotify) dont have wo

[2020-07-29 11:00] Bobgy commented on #1430
@Jeffwan

It seems you didn't enable istio sidecar injection in kubeflow namespace. If it's enabled, ml-pipeline-ui will enable mutualTLS, so that istio-gateway can correctly talk to it. If not enabled, istio-gateway will assume ml-pipeline-ui needs mTLS and send TLS requests, so it fails to connect.

For `ml-pipeline-ui-artifact` server, those configurations are not needed in fact.
We are also re

[2020-07-29 11:16] Bobgy commented on #1364
Answered some questions in https://github.com/kubeflow/manifests/issues/1430#issuecomment-665597274.
For context of enabling injection in kubeflow namespace: https://github.com/kubeflow/kubeflow/issues/3866.
Things I did to make sure this is not a breaking change: I sent PRs like https://github.com/kubeflow/manifests/pull/712 that added the istio injection false pod annotation to every pod in kube

[2020-07-29 11:21] Bobgy commented on #1364
@shawnzhu

pipelines.pipelines.kubeflow.org                []                  []                     [create get list]
runs.pipelines.kubeflow.org                     []                  []                     [create get list]
but I still get ☝️ error RBAC: access denied

I think you have read design doc for features KFP will implement in the next phase. also /cc @yanniszark who will work on tha

[2020-07-29 11:23] Bobgy commented on #1430
Other questions are answered in https://github.com/kubeflow/manifests/issues/1364.

[2020-07-29 11:25] Bobgy commented on #1364
Can you remind me where kfserving is deployed?
I think Jeremy has moved kfserving to its own namespace in GCP platform.
What is the case for others?

[2020-07-29 18:04] Jeffwan commented on #1364
em. Good to know this is not supported now.. We check [design docs](https://docs.google.com/document/d/1R9bj1uI0As6umCTZ2mv_6_tjgFshIKxkSt00QLYjNV4/edit#heading=h.b3vxor3gcdvs) here and may misunderstand scope at that time, The graph actually shows cli/UI/sdk traffic have to go through the istio ingress gateway. Thanks for clarification.

Technically, once user get authenticated, from pipeline's p

[2020-07-29 18:10] Jeffwan commented on #1430
@Bobgy  Thanks for clarification. Looks in cluster communication is not supported. We will suggest to use a workround to specify the public endpoint instead.

I think all concerns have been addressed and I can close this issue.

[2020-07-29 18:10] #1430 closed

[2020-07-29 19:02] #1427 closed

[2020-07-29 19:11] Jeffwan commented on #1421
I notice following webhooks are not cleaned up. maybe related.  It's very likely not their turn because kfctl is pending on `cert-manager` deletion.

[code]

[2020-07-30 02:01] shawnzhu commented on #1364
I proposed https://github.com/kubeflow/pipelines/pull/4293 to reduce the amount of code changes for all existing KFP samples.

[2020-07-30 07:02] Jeffwan commented on #1362
This is for Kubeflow 1.2.

[2020-07-30 07:03] Jeffwan commented on #1151
This has been addressed in v1.1.0. I will close the issue. Feel free to close it

[2020-07-30 07:03] #1151 closed

[2020-07-30 20:39] crobby opened #1438 "Testing of an overlay that overlays an overlay fails"
Yes, it's sort of an awkward description, but it's accurate.  Let me explain.

For the metadata component, we have defined an overlay for openshift.  That overlay attempts to make an adjustment to the changes that are implemented by the db overlay.

Here's what our overlay (metadata-db-deployment.yaml) looks like
[code]
It works when we deploy, but when I go into the tests folder and run `make gen

[2020-07-30 22:54] animeshsingh commented on #1364
KF notebook sdk issue when using hosts like `istio-ingressgateway.istio-system.svc.cluster.local
https://github.com/kubeflow/pipelines/issues/4297 - let's use this issue as master to compile related issues/PRs @shawnzhu

[2020-07-31 00:45] ssiegel95 commented on #1369
I too am failing to deploy on IBM Cloud with same error. Running your script, I get basically same output you did until:

[code]

[code]

and finally failing with

[code]
Attaching full stdout just in case

[ibm_cloud.log](https://github.com/kubeflow/manifests/files/5004429/ibm_cloud.log)

[2020-07-31 05:28] jlewi commented on #1161
Thanks @yassine-labidi and @Junaid-Ahmed94 can we close this issue?

[2020-07-31 11:25] Junaid-Ahmed94 commented on #1161
Hi @jlewi, the above steps were all I needed to enable the IAP. And I did that multiple times in last 2 days so this ticket can be closed.

[2020-07-31 14:49] ssiegel95 commented on #1369
I got much further by using (duh) the v1.0.2 version of the config file. Still getting the following issue, however:

[code]

[2020-07-31 14:57] shawnzhu commented on #1369
@ssiegel95 I saw a similar case about `2 default StorageClasses were found  filename="kustomize/kustomize.go:202"`.

Since it expects only one default `storageclass`, if there're two default storage classes, it will confuse PVC provisioning like what you saw above.

## FIx

Given document [IBM Cloud Block Storage Setup](https://www.kubeflow.org/docs/ibm/install-kubeflow/#ibm-cloud-block-storage-se

[2020-07-31 17:19] ssiegel95 commented on #1369
great catch @shawnzhu . Thank you!

I did indeed have two:

[code]
The [instructions](https://www.kubeflow.org/docs/ibm/install-kubeflow/#ibm-cloud-block-storage-setup) make mention of setting `ibmc-file-bronze` to false, I had to set `ibmc-file-gold` to false as well.

Everything works now! Thanks again.

[2020-07-31 18:44] shawnzhu commented on #1369
@edwardstudy may I ask if you still have trouble on deploying Kubeflow to IBM Cloud Kubernetes service?

[2020-07-31 20:19] animeshsingh commented on #1364
Related PR - Pass userid-header param to kfam
https://github.com/kubeflow/manifests/pull/1445
thanks @yhwang

[2020-07-31 22:19] Jeffwan commented on #1364
@Bobgy AWS platform doesn't have any issues with multi-user pipeline. We should be good to go. I will send some PRs to pipeline SDK for easy authentication later for AWS. This is not blockers for us in 1.1

[2020-07-31 22:20] Jeffwan commented on #1363
See #1424

[2020-07-31 23:25] animeshsingh commented on #1364
@Bobgy IBM Cloud should be good to go as well.

Docs will be updated [later](https://github.com/kubeflow/website/issues/2069). Additionally, SDK is another area where we may enable an easier authentication with [IBM Cloud Identity and Acces Management](https://cloud.ibm.com/docs/account?topic=account-iamoverview) later.

cc @shawnzhu @adrian555 @jlewi

[2020-08-01 18:57] jlewi opened #1450 "cert-manager namespace missing control plane label"
cert-manager namespace is missing the control plane label
https://github.com/kubeflow/manifests/blob/011c81ec2be8875d8032b79b62340ab924258230/namespaces/base/namespaces.yaml#L12

This can cause deadlock because cert-manager pods might not get deployed because the KFServing admission webhooks aren't valid because they can't get a certificate because cert-manager isn't running.

I think we haven't o

[2020-08-03 02:00] Bobgy commented on #1364
Awesome! Thanks for your hard work integrating pipelines multi user support!
Let's close this issue if no further issues.

[2020-08-04 06:54] Bobgy commented on #1364
/reopen

Keep this open as information for integrating with remaining platforms in https://www.kubeflow.org/docs/started/getting-started/#configuration-quick-reference.

* [ ] kfctl_k8s_istio
* [ ] kfctl_istio_dex
* [ ] openshift

@jlewi do you know who are the stakeholders for these platforms?

[2020-08-04 14:17] #1161 closed

[2020-08-05 02:34] #1138 closed

[2020-08-06 14:00] jlewi opened #1467 "Add VirtualService to allow GCLB health checks and get rid of backend updater statefulset"
We currently use this stateful set as a hack to set the health check for the GCLB
https://github.com/kubeflow/manifests/tree/b3f5b41780a01845619884e638f4f6c9183d8fef/gcp/iap-ingress/base

It looks like there is now a better approach based on creating a virtual service which will just match the health check requests and reroute them to the readiness probe.
https://cloud.google.com/solutions/integra

[2020-08-06 16:08] Jeffwan commented on #1450
Can be closed since PR is merged

[2020-08-06 16:08] #1450 closed

[2020-08-06 16:19] Jeffwan opened #1468 "Port Flink Operator to Kubeflow manifest"
There're two major motivation to bring Flink operator to Kubeflow.

1. Users run real-time or batch data processing Flink jobs on Kubernetes. Bring Flink operator helps these users better connect data pipeline and machine learning pipeline. Beside Flink itself, beam jobs are supported in Flink operator with Flink Beam Runner. Both Beam and Flink users can benefit it.

2. There's need to provides o

[2020-08-06 17:09] #1424 closed

[2020-08-06 17:53] SachinVarghese commented on #1371
@ryandawsonuk I think this is fixed now.

[2020-08-06 17:56] PatrickXYS commented on #1363
I would suggest using stable version manifest, such as `kfctl_istio_dex.v1.0.2.yaml`, master version of manifest synced with master branch and might caused some unpredictable issue.

[2020-08-06 19:54] DavidSpek commented on #1363
After setting the dex namespace as metioned above the following error is related to webhook. It seems like webhook has not yet been migrated to v3. I tried setting `path: admission-webhook/webhook/v3` in kfctl_istio_dex.yaml which did not help. After that I tried editing `admission-webhook/webhook/overlays/cert-manager/kustomization.yaml` and changing
[code]

to
[code]
Sadly this has not resolved

[2020-08-07 04:59] Jeffwan opened #1471 "[AWS] Inject IAM Role to kubeflow-pipeline-viewer"
We can configure kubeflow pipelien to use this service account to run Tensorboard. In the past, we suggest user to inject AWS credential via env. https://www.kubeflow.org/docs/aws/pipeline/#support-tensorboard-in-kubeflow-pipelines

Now, we can use IRSA to simplify the setup. Just attach `kf-user` to `kubeflow-pipeline-viewer`. Once user attach S3 policy to user IRSA, UI have S3 access automatical

[2020-08-07 05:18] Jeffwan commented on #1471
[code]

We can at least reuse credential from `mlpipeline-minio-artifact` like this

[2020-08-07 10:00] DavidSpek commented on #1363
#1097 seems to be related to this as well.

[2020-08-07 19:01] crobby opened #1476 "Running the tests against master fails for me"
I'm looking into setting up the tests to run on our OpenShift ci system, but I'm seeing the following problem when running against master:

Is there something that I'm missing in my steps?  Are these tests ran as part of a PR submission or nightly?

make generate
make test | grep FAIL

[code]

[2020-08-07 22:05] Jeffwan commented on #1471
` "kubeflow-pipelines-viewer"` is from standalone manifest, actually in `kubeflow/manifest`, it has been changed to `default-editor`

[2020-08-07 22:06] Jeffwan commented on #1476
It should give you the detail failure. Could you scroll up and have a check? What's your kustomize version BTW?

[2020-08-08 02:38] #1147 closed

[2020-08-10 03:29] #1149 closed

[2020-08-10 12:40] crobby commented on #1476
kustomize version: {Version:kustomize/v3.8.1 GitCommit:0b359d0ef0272e6545eda0e99aacd63aef99c4d0 BuildDate:2020-07-16T00:58:46Z GoOs:linux GoArch:amd64}

Attaching the output from my run.
[testoutput.txt](https://github.com/kubeflow/manifests/files/5050805/testoutput.txt)

[2020-08-10 14:42] #415 closed

[2020-08-10 19:09] crobby commented on #1476
To me, it looks like maybe it's failing due to some line wrapping in some of the description fields.  Is that plausible?

[2020-08-10 20:07] crobby commented on #1476
Update:  I took a look at one of the images ran for the presubmit test.  It appears to be running an older version of kustomize:
[code]

When I grab that version (3.2.0) and run locally, my make generate && make test does seem to pass.  Are we really targeting that version of kustomize though?  It's nearly a year old.

[2020-08-11 13:36] HassanOuda commented on #1097
Is there any updates on this? I'm trying to leverage Kubeflow 1.1 on prem with istio/dex however there is no kfctl_istio_dex.v1.1.0.yaml version. So I'm using kfctl_istio_dex.v1.0.2.yaml old file but has multiple things missing like leverage pipelines multi-user, xgboost operator, and so on. @jlewi @yanniszark @krishnadurai Is the plan to have this file ready for 1.1?

Thanks.

[2020-08-12 03:33] jazzsir commented on #1382
@williamyeh That's what you should do

name: manifests
uri: file:/PATH/v1.0.2.tar.gz
version: v1.0.2

[2020-08-12 16:02] alfsuse commented on #1392
@desaintmartin did you check manifests/kustomize/base/pipeline/ml-pipeline-persistenceagent-deployment.yaml ? You may want to change:
[code]
That should be  default value equivalent to the
[code]
keep in mind that 86400 is 24 hrs.. I've changed that to 10 seconds to try out and work as expected.

[2020-08-12 18:03] swiftdiaries opened #1486 "Vanilla k8s installation for v1.1"
- [ ] `kfctl_k8s_istio.v1.1.yaml`
- [ ] `kfctl_istio_dex.v1.1.yaml`

Related PRs:

- [ ] https://github.com/kubeflow/website/pull/2112
- [ ] https://github.com/kubeflow/manifests/pull/1484
- [ ] https://github.com/kubeflow/manifests/pull/1483

[2020-08-12 21:10] swiftdiaries commented on #1097
/assign @swiftdiaries

[2020-08-12 21:11] swiftdiaries commented on #1486
Closing in favor of https://github.com/kubeflow/manifests/issues/1097

[2020-08-12 21:11] #1486 closed

[2020-08-13 08:27] Bobgy commented on #538
I implemented a simple `sed` command to patch `env` to `envs` when pulling in KFP manifests: https://github.com/kubeflow/manifests/commit/f5150c5f222ce47e87375cb455fc5f51d4dda2e5#diff-0f3a19cf72b902b67aa1e4b5e85f9662. So far this works without problem.

[2020-08-13 13:13] Hmr-ramzi opened #1489 "Example on how to use keycloak gatekeeper and connect it to redirect to the dashboard"
Hi,

I was wondering if there is an kfdef example that has keycloak-gatekeeper integrated with OIDC authentication to kubeflow.

Thanks!

[2020-08-13 14:03] mcantrell opened #1490 "unknown field "env" in v1alpha1.ProxyConfig"
Running through the GCP getting started guide:

https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#deploy-kubeflow

Running the make-apply step produces the following error:

[code]

Contents of ./upstream/manifests/gcp/v2/asm/istio-operator.yaml

[code]

[2020-08-13 15:22] desaintmartin commented on #1392
Nice, indeed! I was looking for a default but if we have to edit the manifests themselves, I suppose that's ok!

[2020-08-13 15:44] swiftdiaries commented on #1097
/assign @krishnadurai

[2020-08-13 17:19] swiftdiaries opened #1491 "Evolving the generic stack to facilitate resharing across other stacks"
I see a lot of potential for re-use of the generic stack.
The platforms are replicating the generic kustomization and a lot of the applications themselves are again replicated.

I've made a PR for the kfctl_k8s_istio KFDef and how it reuses the generic stack: https://github.com/kubeflow/manifests/pull/1484

[2020-08-13 19:02] jmurphs14 commented on #1490
I am also running into this same error on GCP. Any help would be very much appreciated!

[2020-08-13 21:53] jlewi commented on #538
Per comment: https://github.com/kubeflow/website/pull/2118#issuecomment-673603772

It looks like we are still using old style envs in some packages and this is blocking use of newer versions of kustomize.

I think we should add a test to verify we are not using the deprecated syntax as mentioned above so that we can use the latest kustomize.

[2020-08-13 21:56] jlewi commented on #1490
Can you try using istioctl downloaded from
https://cloud.google.com/service-mesh/docs/archive/1.4/docs/gke-install-new-cluster#preparing_to_install_anthos_service_mesh

I think the istioctl and the asm istioctl might have diverged (I think the one for ASM is being renamed asmctl in later releases).

[2020-08-13 23:52] theophilee commented on #1490
Looks like this solves this issue https://github.com/kubeflow/kubeflow/issues/5212, thanks @jlewi.

I'm running the same guide and `make apply` command as @mcantrell, and running into a kustomize error that is really hard to troubleshoot:
[code]
Any general advice for how to go about troubleshooting this?

Thanks a lot!

[2020-08-14 02:04] jazzsir opened #1493 "Support nodeAffinity"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
There is no way to add nodeAffinaty to deployment/statefulset manifests

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]
. Add kustomize overlay for nodeaffinaty to all manifests including deployments/statefulsets and kfDef.

*

[2020-08-14 12:43] mcantrell commented on #1490
I tried that version and get the same error as @theophilee

[2020-08-14 14:07] jlewi commented on #1490
The kustomize issue looks like kubeflow/manifests#538 ; I think you need to use version 3.2.1 of kustomize

[2020-08-14 14:50] mcantrell commented on #1490
looks like there's no brew formula for 3.2.1 anymore. I'll see if I can track it down or build it from source.

[2020-08-14 14:51] mcantrell commented on #1490
This issue is resolved though. I'm closing it since there's already an issue for the subsequent problems.

[2020-08-14 14:51] #1490 closed

[2020-08-15 02:52] #975 closed

[2020-08-15 02:52] #1117 closed

[2020-08-16 03:25] #968 closed

[2020-08-16 16:34] #1004 closed

[2020-08-17 10:23] connorlwilkes commented on #1490
FYI: https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.2.1

1. Download from here
2. Rename to kustomize
3. chmod +x kustomize
4. mv to somewhere on path

[2020-08-17 17:19] #1082 closed

[2020-08-17 21:11] PatrickXYS opened #1495 "Add support for Managed AWS Kubeflow Deployment"
For now, we already add support for Standalone KFP with S3 and RDS integration.

The goal is to making the similar change to Kubeflow AWS Deployment.

The change will be combined with [kfctl changes](https://github.com/kubeflow/kfctl/issues/398).

[2020-08-17 21:15] PatrickXYS commented on #1495
/assign
/cc @Jeffwan

[2020-08-18 04:00] subodh101 opened #1496 "Registration flow is missing in v1.1.0"
What?
Registration flow feature is missing in the [tag v1.1.0](https://github.com/kubeflow/manifests/blob/v1.1.0/common/centraldashboard/base/params.env)
This feature is needed as per the [documentation](https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#automatic-creation-of-profiles)

[2020-08-18 04:54] subodh101 commented on #1496
Using [master](https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/Makefile#L29) fixes the issue.

[2020-08-18 05:55] subodh101 commented on #1496
The instance is supposed to fetch from [1.1 branch](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#fetch-packages-using-kpt). A little explanation would be appreciated. 🙇

[2020-08-18 23:50] swiftdiaries opened #1498 "Use GitHub Actions for presubmit checks"
The current Prow tests are too bulky for the requirements for the repo.
What do folks feel about a GitHub Action replacing it?

[2020-08-19 00:51] PatrickXYS commented on #1498
I would prefer keep consistent with all the repos.

Which means if we want to use Github action for `kubeflow/manifests`. And we might also want to use it for `kubeflow/kfctl` and other components.

So my suggqestion might be keep Github action and existing Presubmit-Check together, and when they failed, we can check Github Action Results.

But I think it's a breaking change when we migrate Presub

[2020-08-19 06:33] #797 closed

[2020-08-19 06:33] #1005 closed

[2020-08-19 06:33] #1006 closed

[2020-08-19 06:33] #1008 closed

[2020-08-19 09:11] Hmr-ramzi commented on #1489
@krishnadurai any ideas from your side? I would like to integrate keycloak to kubeflow (even if dex is involved no problem)

[2020-08-19 15:38] HassanOuda commented on #1097
@swiftdiaries @krishnadurai Thanks guys for the quick update of this. I have installed using v1.1 istio_dex and I'm getting a different issue related to istio. The istio ingress gateway is not ready and the error is this when I do describe pod -  Readiness probe failed: HTTP probe failed with statuscode: 503

and logs show this
`2020-08-19T15:35:21.981016Z     info    Envoy proxy is NOT ready: con

[2020-08-19 17:12] krishnadurai commented on #1097
@HassanOuda is istio-pilot running?

[2020-08-19 17:21] HassanOuda commented on #1390
Hey @Bobgy, I'm still getting this issue, the secret is missing. I'm using v1.1 branch in manifests.

[2020-08-19 17:43] HassanOuda commented on #1097
okay, I was able to get it to work by changing the parameter in /stacks/kubernetes/application/istio/params.env to ON_WITH_EXCLUSION.

[2020-08-20 00:50] Bobgy commented on #1364
@krishnadurai and @swiftdiaries have integrated KFP multi-user mode in k8s_istio and istio_dex installations: https://github.com/kubeflow/manifests/pull/1484 and https://github.com/kubeflow/manifests/pull/1494.

Openshift is the only one left.

[2020-08-20 01:24] Bobgy commented on #1390
/reopen

[2020-08-20 16:27] chetanoruganti opened #1505 "where do role and role-binding in jupyter-web app manifest getting used ?"
/kind question

The serviceaccount attached to jupyter-web app deployment bound to clusterrole and clusterrolebinding .
In the jupyterweb-app base kustomization
 resources:
- cluster-role-binding.yaml
- cluster-role.yaml
- deployment.yaml
- role-binding.yaml
- role.yaml
- service-account.yaml
- service.yaml

[2020-08-20 20:54] adrshm91 commented on #1390
Same problem here

`MountVolume.SetUp failed for volume "webhook-tls-certs" : secret "webhook-server-tls" not found`

[2020-08-20 21:55] supertetelman opened #1506 "Istio Dex Manifest v1.0.2 is "Unable to fetch Nodes", centraldashboard throwing 504"
I'm trying to deploye the Dex manifest and at some point in the past several weeks something broke and I am now unable to hit the dashboard.

Deployed using this script: https://github.com/NVIDIA/deepops/blob/master/scripts/k8s_deploy_kubeflow.sh

With this manifest (istio_dex v1.0.2 release):  https://raw.githubusercontent.com/kubeflow/manifests/55d1a9c84ca796f9a098bbeec406acbdcfa6aebe/kfdef/kfct

[2020-08-20 22:00] tcarland commented on #1506
I can second this issue, been trying to deploy and troubleshoot this exact issue in my env as well. Using
kfctl v1.1.0-0-g9a3621e  and  kfctl_istio_dex.v1.0.2.yaml.

[2020-08-21 05:15] supertetelman commented on #1506
Looks like this was just a bad combination of `kfctl` and manifest. I was able to get around this by upgrading to the istio_dex v1.1.0 manifest that showed up in `master` a few days ago.

[2020-08-21 05:15] #1506 closed

[2020-08-24 15:46] jlewi commented on #1498
@swiftdiaries

Could you please explain what you mean by too bulky?

Answering the question about what to do about the tests is probably blocked based on figuring out which working group will own this repository and how that will relate to the working group owning the individual applications.

[2020-08-24 18:34] mttcnnff opened #1508 "Does Kubeflow 1.1 support K8s 1.16?"
/kind question
/platform k8s

The docs are outdated on this and don't show an entry for KF 1.1 👇
<img width="1663" alt="image" src="https://user-images.githubusercontent.com/17532157/91082432-a7f8f080-e616-11ea-8b70-00e3ed9acc3b.png">

I know this [issue](https://github.com/kubeflow/manifests/issues/375) exists which is closed, but can't find any final confirmation that 1.1 will run on 1.16

[2020-08-24 21:55] swiftdiaries commented on #1498
Yeah, sure thing. So I was going off of Katib's approach to testing.

- Unit, integration tests:
  - They have [Travis CI](https://github.com/kubeflow/katib/blob/master/.travis.yml) for their Go-based unit tests and   integration tests. They have good mocking to test their APIs.
- E2E tests:
  - They use [Prow] based tests for their e2e examples on presubmits.

My primary intention is to increase

[2020-08-25 12:36] axelgobletbdr opened #1509 "Notebook CRD allows misconfigured notebooks that make the notebook-controller crash"
It is possible to create a Notebook with a configuration that is not accepted by notebook-controller. The current notebook controller will crash when trying to read these resources. This blocks any notebook statefulset from being created.

The problem lies in the resources fields of the pod spec. The cpu and memory fields expected their value to follow this regex: '^([+-]?[0-9.]+)([eEinumkKMGTP]*[

[2020-08-25 13:45] jlewi commented on #1498
Manifests has unittests.
https://github.com/kubeflow/testing/tree/master/tests

And these run just fine under prow/tekton.  If the WG that owns manifests prefers to use GitHub actions or Travis that sounds good to me.

I think we need to figure out which WG owns manifests before we make any changes to the infra so we know who the deciders are.

[2020-08-25 21:42] yassine-labidi opened #1514 "How's the DNS record pointing to the kubeflow domain (gcp_iap manifest) created ?"
/kind question

**Question:**
For a kubeflow installation using the `gcp_iap` version `1.0.2` manifest, how is the DNS record pointing to the `kubeflow.project.cloud.goog` created. Would you be so kind as to mention reference in the code where this record is actually created?

[2020-08-25 22:00] yassine-labidi opened #1516 "Uninstalling kubeflow 1.0.2 (GCP) leaves a dangling ssl certificate"
/kind bug

**What steps did you take and what happened:**
 - Installed kubeflow 1.0.2 (gcp_iap manifest)
 - Then proceeded to uninstall it
 - Listed the ssl certificates:
`gcloud beta compute ssl certificates list`
 - Certificate was still there and active

**What did you expect to happen:**
The ssl certificate would be deleted as part of the uninstall process

**Environment:**

- Kubeflow version

[2020-08-26 08:15] thesuperzapper opened #1517 "`make generate-changed-only` creates diff with no changes"
Currently when I run `make generate-changed-only` I get diffs even when nothing has changed.
It's to do with hashes not being static on the end of configMap names generated by Kustomize.

This is at least partially caused by this commit: https://github.com/kubeflow/manifests/pull/1488/commits/b469c2537b49f50ce99db11f64ace31637d1262c

For example:
* OLD: `~g_v1_configmap_kubeflow-pipelines-profile-

[2020-08-26 19:00] yassine-labidi opened #1519 "GKE 1.14 no longer supported, which breaks installs on GCP for 1.0.2"
/kind bug

**What steps did you take and what happened:**
 Attempted a command line install of kubeflow `1.0.2`. The attempt failed. When querying the deployment manager about the failure we get the trace below:
[code]

It seems support for `gke 1.14` has been dropped:
[code]

**What did you expect to happen:**
The installation process should have succeeded.

**Environment:**

- Kubeflow version:

[2020-08-27 16:05] yassine-labidi opened #1520 "Reinstalling kubeflow (gcp_iap, 1.0.2) on the same endpoint fails to acquire a valid managed certificate"
/kind bug

**What steps did you take and what happened:**

 - I Installed kubeflow with the `gcp_iap` manifest with the endpoint name `kubeflow`. This first install was successful. The managed certificate is successfully created and active. The UI is accessible.
 - After that I delete the previous kubeflow installed, deleted the associated ssl certificate which remained dangling.
 - Then I re-inst

[2020-08-27 19:33] arshashi commented on #1390
same problem here too.  MountVolume.SetUp failed for volume "webhook-tls-certs" : secret "webhook-server-tls" not found
--

Warning | FailedMount | MountVolume.SetUp failed for volume "webhook-tls-certs" : secret "webhook-server-tls" not found | a minute ago
-- | -- | -- | --
Warning | FailedMount | Unable to mount volumes for pod "cache-server-65596854d-9r77s_kubeflow(645871c2-acb6-4a72-a0ee-e1c2

[2020-08-27 23:44] khangtrantri commented on #1390
I have same issue too:

**Environment**
Kebernetes version: 1.15
Kubernetes platform: Rancher
Host OS: Ubuntu 18.04

**Deployment**
kfctl version: `kfctl v1.1.0-0-g9a3621e`
Kubeflow manifest: `kfctl_istio_dex.v1.1.0.yaml`
Kubwflow branch: 1.1

**Logs**
`  Warning  FailedMount  10m (x247 over 9h)   kubelet, kubeflow-worker-1  Unable to mount volumes for pod "cache-server-65596854d-8qg8k_kubeflow(56

[2020-08-28 01:44] Bobgy commented on #1390
/assign @Ark-kun

[2020-08-28 08:58] connorlwilkes opened #1521 "SHA Digest used in knative-install"
It appears that knative-install is using a SHA digest for ref to Docker image rather than a tag. This makes it more difficult to mirror the images across to private repo as you SHA digest will change once image is pulled and then pushed across into private repo. Moreover it appears to break kfctl alpha set-image for some reason also. Instead I would suggest we use tags, upon investigation it would